<div [@routerTransition]>
       
    <app-page-header [heading]="'Generate E-Voucher'" [icon]="'fa-table'"></app-page-header>
    
   <div>
      <form #form="ngForm" (ngSubmit)="formSubmitAddEvoucher(form.value)">
        <div class="col-md-6">
            <br>
  
            <br>
            <label>Product Code</label>
            <br>
            <input type="text" name="product_code" [placeholder]="'product code'" [(ngModel)]="merchant_group" (change)="selected()" (keyup)="getUserIdsFirstWay($event)" id="userIdFirstWay" class="input-style" list="dynmicUserIds" (change)="selected()">
            <datalist id="dynmicUserIds">
               <option *ngFor="let item of product_code_data" [value]="item.value">{{item.label}}</option>
            </datalist>
  
            <br>
            <!-- <label>Product Code</label>
            <form-select name="product_code" [(ngModel)]="selectedLevel" (change)="selected()" [data]="product_code_data" required>
            </form-select> -->
            <br>
            <label>Expired Date</label>
            <br>
            <input class="input-style" [type]="'date'" name="expiry_date" [placeholder]="'expired date'" [(ngModel)]="expiry_date" required>
          
            <br>
            <br>
  
            <label>Quantity</label>
            <br>
            <input class="input-style" name="qty" [placeholder]="'Quantity'"  [type]="'number'" [(ngModel)]="qty" required>
            <br>
            <br>
            <button class="btn rounded-btn" type="submit" [disabled]="form.pristine" [routerLinkActive]="['router-link-active']">Generate</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        </form>
   </div>
   
  </div>
  
   