<div [@routerTransition]>

    <app-page-header [heading]="'Add Product Bulk'" [icon]="'fa-table'"></app-page-header>

    <div>
        <div class="card card-detail">
            <div class="card-header">
                <!-- <button class="btn save_button" (click)="formSubmitAddMember()" type="submit"
                    [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-save"
                        style="transform: translate(-3px, -1px)"></i>Submit</button> -->
                <button class="btn back_button" (click)="backTo()"><i class="fa fa-fw fa-angle-left"></i>Back</button>
            </div>

            <div class="card-content">
                <div class="member-detail">
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Data Pemilik &amp; Data Toko</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">

                                        <label>ID Pelanggan</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.id_pel" [placeholder]="'ID Pelanggan'" autofocus
                                            required>
                                        </form-input>

                                        <label>Nama Toko</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.nama_toko" [placeholder]="'Nama Toko'" autofocus
                                            required>
                                        </form-input>

                                        <label>Nama Distributor</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.nama_distributor" [placeholder]="'Nama Distributor'" autofocus
                                            required>
                                        </form-input>

                                        <label>Alamat Toko</label>
                                        <form-input name="id" [type]="'textarea'" [(ngModel)]="form.alamat_toko" [placeholder]="'Alamat Toko'" autofocus
                                            required>
                                        </form-input>

                                        <label>Nama Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.nama_pemilik" [placeholder]="'Nama Pemilik'" autofocus
                                            required>
                                        </form-input>

                                        <label>No. Telp Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.telp_pemilik" [placeholder]="'No. Telp Pemilik'" autofocus
                                            required>
                                        </form-input>

                                        <label>No. WA Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.no_wa_pemilik" [placeholder]="'No. WA Pemilik'" autofocus
                                            required>
                                        </form-input>

                                        <label>No. KTP Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.ktp_pemilik" [placeholder]="'No. KTP Pemilik'" autofocus
                                            required>
                                        </form-input>

                                        <label>No. NPWP Pemilik</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.npwp_pemilik" [placeholder]="'No. NPWP Pemilik'" autofocus
                                            required>
                                        </form-input>

                                        <label>Alamat Rumah</label>
                                        <form-input name="id" [type]="'textarea'" [(ngModel)]="form.alamat_rumah" [placeholder]="'Alamat Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <label>Desa/Kelurahan Rumah</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.kelurahan_rumah" [placeholder]="'Desa/Kelurahan Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <label>Kecamatan Rumah</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.kecamatan_rumah" [placeholder]="'Kecamatan Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <label>Kabupaten/Kota Rumah</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.kota_rumah" [placeholder]="'Kabupaten/Kota Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <label>Provinsi Rumah</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.provinsi_rumah" [placeholder]="'Provinsi Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <label>Kode Pos Rumah</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.kode_pos_rumah" [placeholder]="'Kode Pos Rumah'" autofocus
                                            required>
                                        </form-input>

                                        <div class="form-group">
                                            <label>Hadiah Dikuasakan</label>
                                            <form-select [(ngModel)]="form.hadiah_dikuasakan" [data]="kuasa_option"></form-select>
                                        </div>

                                        <div class="form-group">
                                            <label>Group</label>
                                            <form-select [(ngModel)]="form.description" [data]="group_desc"></form-select>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <input #addBulk type="file" style="display:none" (change)="onFileSelected($event)"
                                />

                                <div class="card-header">
                                    <h2>Add Product Bulk</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <label>Upload Your File Here</label>
                                        <div class="member-bulk-update-container">
                                            <span *ngIf="selectedFile && prodOnUpload == false">{{selectedFile.name}}</span>
                                        </div>

                                        <div class="form-group uploaded" *ngIf="prodOnUpload == false && startUploading == true && cancel == false">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="container-two-button">
                                            <div class="img-upload" *ngIf="!selectedFile; else upload_image">
                                                <button class="btn btn-upload" (click)="addBulk.click()">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span>upload</span>
                                                </button>
                                            </div>
    
                                            <div class="img-upload" *ngIf="selectedFile">
                                                <button class="btn btn-submit" (click)="addBulkProduct()">
                                                    <i class="fa fa-fw fa-save"></i>
                                                    <span>submit</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <ng-template #upload_image>
                                        <button class="btn btn-upload" (click)="addBulk.click()">
                                            <i class="fa fa-fw fa-upload"></i>
                                            <span>re-upload</span>
                                        </button>
                                    </ng-template>

                                    <div class="col-md-12 col-sm-12 error-msg-upload">
                                        <div *ngIf="errorFile"><mark>Error: {{errorFile}}</mark></div>                       
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <!-- <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Member &amp; Status Member</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">

                                        <label>Password</label>
                                        <form-input name="password" [type]="'password'" [placeholder]="'Password'"
                                            [(ngModel)]="form.password" autofocus required>
                                        </form-input>

                                        <label>Email</label>
                                        <form-input name="email" [(ngModel)]="form.email" [type]="'text'" [placeholder]="'Email'" autofocus
                                            required>
                                        </form-input>

                                        <label>Cell Phone</label>
                                        <form-input name="cell_phone" [type]="'number'" [(ngModel)]="form.cell_phone" [placeholder]="'Cell Phone'"
                                            autofocus required>
                                        </form-input>

                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- <form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)">
                <div class="row">
                    <div class="col-md-6">
                        <label>Full Name</label>
                        <form-input name="full_name" [type]="'text'" [placeholder]="'Full Name'" [(ngModel)]="full_name"
                            required></form-input>

                        <label>Email</label>
                        <form-input name="email" [placeholder]="'Email'" [type]="'text'" [(ngModel)]="email" required>
                        </form-input>

                        <label>Password</label>
                        <form-input name="password" [placeholder]="'Password'" [type]="'password'"
                            [(ngModel)]="password" required></form-input>

                    
                        <label>Cell Phone</label>
                        <form-input name="cell_phone" [placeholder]="'Cell Phone'" [type]="'number'"
                            [(ngModel)]="cell_phone" required></form-input>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>City</label>
                        <form-input name="mcity" [placeholder]="'City'" [type]="'text'" [(ngModel)]="mcity" required>
                        </form-input>
                    </div>

                    <div class="col-md-6">
                        <label>State</label>
                        <form-input name="mstate" [placeholder]="'State'" [type]="'text'" [(ngModel)]="mstate" required>
                        </form-input>

                        <label>Country</label>
                        <form-input name="mcountry" [placeholder]="'Country'" [type]="'text'" [(ngModel)]="mcountry"
                            required></form-input>

                        <label>Address</label>
                        <form-input name="maddress1" [placeholder]="'Address'" [type]="'textarea'"
                            [(ngModel)]="maddress1" required></form-input>

                        <label>Post Code</label>
                        <form-input name="mpostcode" [placeholder]="'Post Code'" [type]="'number'"
                            [(ngModel)]="mpostcode" required></form-input>

                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="gender" [(ngModel)]="gender">
                                <option *ngFor="let d of gender_type" value="{{d.value}}">{{d.label}}</option>
                            </select>
                        </div>


                        <label>Marital Status</label>
                        <form-select name="marital_status" [(ngModel)]="marital_status" [data]="marital_status_type">
                        </form-select>

                        <label>Member Type</label>
                        <form-select name="type" [(ngModel)]="type" [data]="member_type"></form-select>
                    </div>
                </div>

            </form> -->
        </div>
    </div>