<div class="fbt" *ngIf="!bast_mode">
    <div class="col col-xl-12">
        <div class="layout-card">
            <div class="header-custom">
                <label class="label-custom">{{table_title}}</label>
                <div class="dropdown-header">
                    <a class="btn right" (click)="toggleColoumnCheck()" [ngClass]="'toggle-'+columnCheck">
                        <i class="fa fa-check-square"></i>
                        Column
                    </a>
                    <a *ngIf="options.addMultipleLable" routerLink="/administrator/orderhistoryallhistoryadmin/receipt"
                        [routerLinkActive]="['router-link-active']" class="btn right">
                        <i class="fa fa-print"></i>
                        <span>{{ 'Print Label' }}</span>
                    </a>
                    <a *ngIf="options.addForm" routerLink="./add" [routerLinkActive]="['router-link-active']"
                        class="btn right">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'Add New' }}</span>
                    </a>
                    <a *ngIf="options.addBulk" routerLink="./add-bulk" [routerLinkActive]="['router-link-active']"
                        class="btn right">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'Add Bulk' }}</span>
                    </a>
                    <a *ngIf="options.bulkUpdate" routerLink="./add-bulk" [routerLinkActive]="['router-link-active']"
                        class="btn right">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'Bulk Update' }}</span>
                    </a>
                    <a *ngIf="options.updateInvoice" routerLink="./update-invoice" [routerLinkActive]="['router-link-active']"
                        class="btn right">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'Update No. Invoice' }}</span>
                    </a>
                    <a *ngIf="options.addFormGenerate" routerLink="./generate"
                        [routerLinkActive]="['router-link-active']" class="btn right">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'Generate' }}</span>
                    </a>

                    <a *ngIf="options.filterForm" routerLink="./add" [routerLinkActive]="['router-link-active']"
                        class="btn">
                        <i id="search" class="fa fa-search"></i>
                        <span>{{ 'Search Filter' }}</span>
                    </a>
                    <!-- <a *ngIf="options.salesRedemption" (click)="autoBast()" class="btn right"><i class="fa fa-download"></i>BAST</a> -->
                    <a *ngIf="options.bastReport" (click)="autoBast()" class="btn right"><i class="fa fa-download"></i>BAST</a>
                    <a (click)="onClickDownload($event)" class="btn right"><i class="fa fa-download"></i>Download Excel</a>
                    <a *ngIf="options.setCompleteMember" (click)="setCompleteMember()" class="btn right"><i class="fa fa-address-card"></i>Set Complete Member</a>
                    
                    <!-- Approve Button -->
                    <button *ngIf="options.approveButton" (click)="approveOrder()"
                        class="btn btn-approve right">
                        <i class="fa fa-check"></i>
                        <span>{{ 'Approve Selected' }}</span>
                    </button>

                    <!-- Remove fron Packing List Button -->
                    <button *ngIf="options.removePackinglist" (click)="removeFromPackingList()"
                        class="btn btn-remove right">
                        <i class="fa fa-times"></i>
                        <span>{{ 'Remove from Packing List' }}</span>
                    </button>

                    <!-- Remove fron Packing List Button -->
                    <button *ngIf="options.cancelProduct" (click)="cancelSelectedProduct()"
                        class="btn btn-remove right">
                        <i class="fa fa-times"></i>
                        <span>{{ 'Cancel Selected Product' }}</span>
                    </button>
                </div>
            </div>
            <div class="card mb-3">
                <!-- INI COLUMN CHECKBOX -->
                <div class="card-header" *ngIf="columnCheck">
                    <span class="cb-coloumn" *ngFor="let cb of table_header;let c = index;">
                        <mat-checkbox color="primary" (click)="checkedColumn()" [(ngModel)]="cb.visible" value="{{cb.label}}"
                            id="{{cb.label}}">
                            {{cb.label}}
                        </mat-checkbox>
                    </span>
                </div>
                <div *ngIf="options.filterForm" class="card-header">
                    <div *ngFor="let filForm of options.filterForm">

                        <div class="col-md-3 float">

                            <!-- <app-date-picker [label]="filForm.label"></app-date-picker> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="card-body table-responsive" style="background-color:#2F3545;
                        color: #627190;"> -->
                <div class="card-body table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <div *ngIf="options.check_box">
                                <div *ngFor="let data of list_data" class="btn-group">
                                    <button type="button" class="btn btn-primary"
                                        (click)="removeFromList(data)">{{data}}</button>
                                </div>
                            </div>
                            <tr>
                                <th *ngIf="tableFormat.show_checkbox_options">
                                    <mat-checkbox (change)="checkedAll()" [(ngModel)]="activeCheckbox" type="checkbox"
                                        name="cbox"></mat-checkbox>
                                </th>
                                <th class="custom-table-border">No.</th>
                                <th *ngFor="let row of table_head;let i = index;">
                                    <div class="head" (click)="orderChange($event, row.data_row_name)">{{row.label}}
                                        <i *ngIf="orderBy[row.data_row_name] && asc==true"
                                            class="fa fa-caret-down"></i>
                                        <i *ngIf="orderBy[row.data_row_name] && asc==false"
                                            class="fa fa-caret-up"></i>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th *ngIf="tableFormat.show_checkbox_options"> </th>

                                <ng-container *ngIf="showSearch">
                                <th></th>
                                <th *ngFor="let row of table_head;let i = index;">
                                    <div *ngIf="row.type == 'number'">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <select (change)="valuechange($event, row)"
                                                    [(ngModel)]="form_input[row.data_row_name].option">
                                                    <option [ngValue]="'equal'">=</option>
                                                    <option [ngValue]="'greater_than'">&gt;</option>
                                                    <option [ngValue]="'less_than'">&lt;</option>
                                                    <option [ngValue]="'greater_than_or_equal'">&ge;</option>
                                                    <option [ngValue]="'less_than_or_equal'">&le;</option>
                                                    <option [ngValue]="'range'">range</option>
                                                </select>
                                            </div>
                                            <input *ngIf="form_input[row.data_row_name].option != 'range'"
                                                class="form-control" type="text"
                                                [(ngModel)]="form_input[row.data_row_name].value" placeholder="find"
                                                (keyup)="valuechange($event, row)">
                                            <div class="form-control"
                                                *ngIf="form_input[row.data_row_name].option == 'range'">
                                                <input type="text" [(ngModel)]="form_input[row.data_row_name].from"
                                                    placeholder="range from" (keyup)="valuechange($event, row)"> -
                                                <input type="text" [(ngModel)]="form_input[row.data_row_name].to"
                                                    placeholder="range to" (keyup)="valuechange($event, row)">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="row.type == 'string' " class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'value_po' " class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'form_nama_penerima'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'image' " class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <!-- <div *ngIf="row.type == 'penerima'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'pemilik'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div> -->
                                    <div *ngIf="row.type == 'product'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'productcode' " class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'productdesc'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'productname'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf=" row.type == 'productcat'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'productmerc'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf=" row.type == 'productqty'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'productunit'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'producttotal'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'productweight'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'productdim'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <div *ngIf="row.type == 'escrow-d' || row.type == 'escrow-c'" class="search-string">
                                        <i class="fa fa-search search-field"></i>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="form_input[row.data_row_name]" placeholder="find"
                                            (keyup)="valuechange($event, row)">
                                    </div>
                                    <span *ngIf="row.type == 'list'">
                                        <select (change)="valuechange($event, row.data_row_name)"
                                            [(ngModel)]="form_input[row.data_row_name]">
                                            <option [ngValue]="''" selected="selected">-empty-</option>
                                            <option *ngFor="let h of row.options" [ngValue]="h.value">{{h.label}}
                                            </option>
                                        </select>
                                    </span>
                                    <span *ngIf="row.type == 'list-escrow'">
                                        <select (change)="valuechange($event, row.data_row_name)"
                                            [(ngModel)]="form_input[row.data_row_name]">
                                            <option [ngValue]="''" selected="selected">-empty-</option>
                                            <option *ngFor="let h of row.options" [ngValue]="h.value">{{h.label}}
                                            </option>
                                        </select>
                                    </span>
                                    <span *ngIf="row.type == 'list-escrow-status'">
                                        <select (change)="valuechange($event, row.data_row_name)"
                                            [(ngModel)]="form_input[row.data_row_name]">
                                            <option [ngValue]="''" selected="selected">-empty-</option>
                                            <option *ngFor="let h of row.options" [ngValue]="h.value">{{h.label}}
                                            </option>
                                        </select>
                                    </span>
                                    <div *ngIf="row.type == 'date'" class="date-picker-wrapper">
                                        <!-- <ngb-datepicker #d></ngb-datepicker> -->
                                        <div class="date-picker-overlay" *ngIf="toggler && toggler[row.data_row_name]">
                                            <div class="dpicker">
                                                <ngb-datepicker #d
                                                    (select)="datePickerOnDateSelection($event, row.data_row_name)"
                                                    [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden">
                                                </ngb-datepicker>
                                                <div style="float: right">
                                                    <a class="btn ok" (click)="dateToggler(row.data_row_name)">OK</a>
                                                    <a class="btn clear"
                                                        (click)="dateClear($event, row.data_row_name, row)"> <span
                                                            class="fa fa-trash"></span> clear</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #t let-date="date" let-focused="focused">
                                            <span class="custom-day" [class.focused]="focused"
                                                [class.range]="datePickerOnDateIsRange(date, form_input[row.data_row_name])"
                                                [class.faded]="datePickerOnDateIsHovered(date, form_input[row.data_row_name]) || datePickerOnDateIsInside(date, form_input[row.data_row_name])"
                                                (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                            </span>
                                        </ng-template>
                                        <!-- <input (select)="onDateSelection($event)" class="form-control" (click)="d.toggle()" placeholder="yyyy-mm-dd"
                                                        name="dp"
                                                        /> -->
                                        <!-- <button class="input-group-addon" (click)="d.toggle()" type="button">
                                                            <span class="fa fa-calendar"></span>
                                                        </button> -->
                                        <em
                                            *ngIf="typeof(form_input[row.data_row_name]) == 'string' || !form_input[row.data_row_name]">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="form_input[row.data_row_name]"
                                                placeholder="search date here" (click)="dateToggler(row.data_row_name)">
                                        </em>

                                        <a class="btn"
                                            *ngIf="typeof(form_input[row.data_row_name]) == 'object' && form_input[row.data_row_name].from "
                                            (click)="dateToggler(row.data_row_name)">
                                            <span *ngIf="form_input[row.data_row_name].from">
                                                {{form_input[row.data_row_name].from}} </span>
                                            <span *ngIf="form_input[row.data_row_name].to"> -
                                                {{form_input[row.data_row_name].to}} </span>

                                        </a>
                                    </div>
                                </th>
                            </ng-container>
                            </tr>
                        </thead>
                        <tbody *ngIf="showLoading">
                            <tr>
                                <td [attr.colspan]="table_head.length+2">
                                    <div class="sk-fading-circle">
                                        <div class="sk-circle1 sk-circle"></div>
                                        <div class="sk-circle2 sk-circle"></div>
                                        <div class="sk-circle3 sk-circle"></div>
                                        <div class="sk-circle4 sk-circle"></div>
                                        <div class="sk-circle5 sk-circle"></div>
                                        <div class="sk-circle6 sk-circle"></div>
                                        <div class="sk-circle7 sk-circle"></div>
                                        <div class="sk-circle8 sk-circle"></div>
                                        <div class="sk-circle9 sk-circle"></div>
                                        <div class="sk-circle10 sk-circle"></div>
                                        <div class="sk-circle11 sk-circle"></div>
                                        <div class="sk-circle12 sk-circle"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="options.type=='row-text' && !showLoading">
                            <tr *ngIf='!table_data || table_data.length < 1 '>
                                <td [attr.colspan]="table_head.length+2">
                                    <div>Data Empty</div>
                                </td>
                            </tr>
                            <tr *ngFor="let data of table_data; let i = index;">
                                <!-- <div>
                                    {{data.id_pel}}
                                </div> -->
                                <td *ngIf="tableFormat.show_checkbox_options">
                                    <mat-checkbox name="cbox" (change)="getValueofCheckbox(this)"
                                        [(ngModel)]="checkBox[i]" value="{{data[options.row_id]}}">
                                    </mat-checkbox>
                                </td>

                                <td (click)="clickedRowTable(data[options.row_id], data)">
                                    {{i + 1 + ((currentPage -1) * pageLimits )}}</td>
                                <td (click)="clickedRowTable(data[options.row_id], data)"
                                    *ngFor="let row of table_head" [ngClass]="row.data_row_name"> 
                                    <div *ngIf="!options.check_box">
                                        <span
                                            *ngIf="isString(data[row])">{{stripHtml(data[row.data_row_name]) | slice:0:150}}</span>
                                        <span
                                            *ngIf="!isString(data[row])">
                                         <!-- heru's note 
                                            So in this part i change the logic to match the escrow transaction logic
                                            + and - will be replaced by some string , also for debit & credit 

                                            **the data will be presented in the tableas normal string if the row.type != list-escrow -->
                                        <ng-container [ngSwitch]="row.type">
                                            <ng-container *ngSwitchCase="'list-escrow'">
                                                <ng-container [ngSwitch]="stripHtml(data[row.data_row_name])">
                                                    <ng-container *ngSwitchCase="'+'">Debit</ng-container>
                                                    <ng-container *ngSwitchCase="'-'">Kredit</ng-container>
                                                    <ng-container *ngSwitchCase="'withdrawal'">Withdrawal</ng-container>
                                                    <ng-container *ngSwitchDefault></ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'list-escrow-status'">
                                                <ng-container [ngSwitch]="stripHtml(data[row.data_row_name])">
                                                    <ng-container *ngSwitchCase="'PENDING'"><button class="pending">{{stripHtml(data[row.data_row_name]) }}</button></ng-container>
                                                    <ng-container *ngSwitchCase="'SUCCESS'"><button class="success">{{stripHtml(data[row.data_row_name]) }}</button></ng-container>
                                                    <ng-container *ngSwitchCase="'HOLD'"><button class="hold">{{stripHtml(data[row.data_row_name]) }}</button></ng-container>
                                                    <ng-container *ngSwitchCase="'REFUND'"><button class="refunded">{{stripHtml(data[row.data_row_name]) }}</button></ng-container>
                                                    <ng-container *ngSwitchCase="'REJECT'"><button class="rejected">{{stripHtml(data[row.data_row_name]) }}</button></ng-container>
                                                    <ng-container *ngSwitchDefault>-</ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'escrow-d'">
                                                <ng-container *ngIf="!include(stripHtml(data[row.data_row_name]))">
                                                    <span>{{stripHtml(data[row.data_row_name]) }}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'escrow-c'">
                                                <ng-container *ngIf="include(stripHtml(data[row.data_row_name]))">
                                                    <span style="color:red">{{stripHtml(data[row.data_row_name]) * -1 }}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'penerima'">
                                                <ng-container>
                                                    <span>{{penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'pemilik'">
                                                <ng-container>
                                                    <span>{{pemilik(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'nama_toko'">
                                                <ng-container>
                                                    <span>{{nama_toko(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'id_toko'">
                                                <ng-container>
                                                    <span>{{id_toko(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'member_desc'">
                                                <ng-container>
                                                    <span>{{member_desc(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'dikuasakan'">
                                                <ng-container>
                                                    <span>{{dikuasakan(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'no_wa'">
                                                <ng-container>
                                                    <span>{{no_wa(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'alamat_kirim'">
                                                <ng-container>
                                                    <span>{{alamat_kirim(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'shipping_date'">
                                                <ng-container>
                                                    <span>{{shipping_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'product'">
                                                <ng-container>
                                                    <span>{{product(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productcode'">
                                                <ng-container>
                                                    <span>{{productcode(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productdesc'">
                                                <ng-container>
                                                    <span>{{productdesc(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productname'">
                                                <ng-container>
                                                    <span>{{productname(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productcat'">
                                                <ng-container>
                                                    <span>{{productcat(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productmerc'">
                                                <ng-container>
                                                    <span>{{productmerc(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productqty'">
                                                <ng-container>
                                                    <span>{{productqty(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productunit'">
                                                <ng-container>
                                                    <span>{{productunit(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'producttotal'">
                                                <ng-container>
                                                    <span>{{producttotal(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productdim'">
                                                <ng-container>
                                                    <span>{{productdim(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'productweight'">
                                                <ng-container>
                                                    <span>{{productweight(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'total_quantity'">
                                                <ng-container>
                                                    <span>{{total_quantity(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'quantity'">
                                                <ng-container>
                                                    <span>{{quantity(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'product_code'">
                                                <ng-container>
                                                    <span>{{product_code(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'product_name'">
                                                <ng-container>
                                                    <span>{{product_name(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- shipping info -->
                                            <ng-container *ngSwitchCase="'on_process_date'">
                                                <ng-container>
                                                    <span>{{on_process_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'on_delivery_date'">
                                                <ng-container>
                                                    <span>{{on_delivery_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- <ng-container *ngSwitchCase="'input_awb_date'">
                                                <ng-container>
                                                    <span>{{input_awb_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container> -->
                                            <!-- points -->
                                            <ng-container *ngSwitchCase="'point_balance'">
                                                <ng-container>
                                                    <span>{{point_balance(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'expire_date'">
                                                <ng-container>
                                                    <span>{{expire_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- member address -->
                                            <ng-container *ngSwitchCase="'penerima_hadiah'">
                                                <ng-container>
                                                    <span>{{penerima_hadiah(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'telp_penerima'">
                                                <ng-container>
                                                    <span>{{telp_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'alamat_penerima'">
                                                <ng-container>
                                                    <span>{{alamat_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'kelurahan_penerima'">
                                                <ng-container>
                                                    <span>{{kelurahan_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'kecamatan_penerima'">
                                                <ng-container>
                                                    <span>{{kecamatan_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'kota_penerima'">
                                                <ng-container>
                                                    <span>{{kota_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'provinsi_penerima'">
                                                <ng-container>
                                                    <span>{{provinsi_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'kode_pos_penerima'">
                                                <ng-container>
                                                    <span>{{kode_pos_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- end of member address -->

                                            <!-- start of input form data -->
                                            <ng-container *ngSwitchCase="'form_id_pel'">
                                                <ng-container>
                                                    <span>{{form_id_pel(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_business_id'">
                                                <ng-container>
                                                    <span>{{form_business_id(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_nama_toko'">
                                                <ng-container>
                                                    <span>{{form_nama_toko(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'reference_no_length'">
                                                <ng-container>
                                                    <span>{{reference_no_length(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'data_complete'">
                                                <ng-container>
                                                    <span>{{data_complete(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_nama_distributor'">
                                                <ng-container>
                                                    <span>{{form_nama_distributor(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_alamat_toko'">
                                                <ng-container>
                                                    <span>{{form_alamat_toko(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_nama_pemilik'">
                                                <ng-container>
                                                    <span>{{form_nama_pemilik(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_ktp_pemilik'">
                                                <ng-container>
                                                    <span>{{form_ktp_pemilik(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_foto_ktp_pemilik'">
                                                <ng-container *ngIf="validURL(form_foto_ktp_pemilik(data[row.data_row_name])); else empty_image">
                                                    <div style="display:flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                                                        <div style="display:flex; align-items: center; justify-content: center; width: 150px;">
                                                            <pdf-viewer 
                                                                *ngIf="checkFileType(form_foto_ktp_pemilik(data[row.data_row_name])) == 'document'"
                                                                [src]="form_foto_ktp_pemilik(data[row.data_row_name])"
                                                                [render-text]="false"
                                                                [original-size]="false"
                                                                [page] = "1"
                                                                [show-all]="false"
                                                                style="width: 100%; height: 100%">
                                                            </pdf-viewer>
                                                        </div>
                                                    </div>
                                                    <img *ngIf="checkFileType(form_foto_ktp_pemilik(data[row.data_row_name])) == 'image'" class="image-autoform" src={{form_foto_ktp_pemilik(data[row.data_row_name])}} />
                                                </ng-container>
                                                <ng-template #empty_image>
                                                    <ng-container>
                                                        <span>empty</span>
                                                    </ng-container>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_npwp_pemilik'">
                                                <ng-container>
                                                    <span>{{form_npwp_pemilik(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_foto_npwp_pemilik'">
                                                <ng-container *ngIf="validURL(form_foto_npwp_pemilik(data[row.data_row_name])); else empty_image">
                                                    <div style="display:flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                                                        <div style="display:flex; align-items: center; justify-content: center; width: 150px;">
                                                            <pdf-viewer 
                                                                *ngIf="checkFileType(form_foto_npwp_pemilik(data[row.data_row_name])) == 'document'"
                                                                [src]="form_foto_npwp_pemilik(data[row.data_row_name])"
                                                                [render-text]="false"
                                                                [original-size]="false"
                                                                [page] = "1"
                                                                [show-all]="false"
                                                                style="width: 100%; height: 100%">
                                                            </pdf-viewer>
                                                            <img *ngIf="checkFileType(form_foto_npwp_pemilik(data[row.data_row_name])) == 'image'" class="image-autoform" src={{form_foto_npwp_pemilik(data[row.data_row_name])}} />
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-template #empty_image>
                                                    <ng-container>
                                                        <span>empty</span>
                                                    </ng-container>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_telp_pemilik'">
                                                <ng-container>
                                                    <span>{{form_telp_pemilik(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_wa_pemilik'">
                                                <ng-container>
                                                    <span>{{form_wa_pemilik(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_email_pelanggan'">
                                                <ng-container>
                                                    <span>{{form_email_pelanggan(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_alamat_penerima'">
                                                <ng-container>
                                                    <span>{{form_alamat_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_hadiah_dikuasakan'">
                                                <ng-container>
                                                    <span>{{form_hadiah_dikuasakan(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_nama_penerima'">
                                                <ng-container>
                                                    <span>{{form_nama_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_group'">
                                                <ng-container>
                                                    <span>{{form_group(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_cluster'">
                                                <ng-container>
                                                    <span>{{form_cluster(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_group_mci'">
                                                <ng-container>
                                                    <span>{{form_group_mci(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_ktp_penerima'">
                                                <ng-container>
                                                    <span>{{form_ktp_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_foto_ktp_penerima'">
                                                <ng-container *ngIf="validURL(form_foto_ktp_penerima(data[row.data_row_name])); else empty_image">
                                                    <div style="display:flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                                                        <div style="display:flex; align-items: center; justify-content: center; width: 150px;">
                                                            <pdf-viewer 
                                                                *ngIf="checkFileType(form_foto_ktp_penerima(data[row.data_row_name])) == 'document'"
                                                                [src]="form_foto_ktp_penerima(data[row.data_row_name])"
                                                                [render-text]="false"
                                                                [original-size]="false"
                                                                [page] = "1"
                                                                [show-all]="false"
                                                                style="width: 100%; height: 100%">
                                                            </pdf-viewer>
                                                            <img *ngIf="checkFileType(form_foto_ktp_penerima(data[row.data_row_name])) == 'image'" class="image-autoform" src={{form_foto_ktp_penerima(data[row.data_row_name])}} />
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-template #empty_image>
                                                    <ng-container>
                                                        <span>empty</span>
                                                    </ng-container>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_npwp_penerima'">
                                                <ng-container>
                                                    <span>{{form_npwp_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_foto_npwp_penerima'">
                                                <ng-container *ngIf="validURL(form_foto_npwp_penerima(data[row.data_row_name])); else empty_image">
                                                    <div style="display:flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                                                        <div style="display:flex; align-items: center; justify-content: center; width: 150px;">
                                                            <pdf-viewer 
                                                                *ngIf="checkFileType(form_foto_npwp_penerima(data[row.data_row_name])) == 'document'"
                                                                [src]="form_foto_npwp_penerima(data[row.data_row_name])"
                                                                [render-text]="false"
                                                                [original-size]="false"
                                                                [page] = "1"
                                                                [show-all]="false"
                                                                style="width: 100%; height: 100%">
                                                            </pdf-viewer>
                                                            <img *ngIf="checkFileType(form_foto_npwp_penerima(data[row.data_row_name])) == 'image'" class="image-autoform" src={{form_foto_npwp_penerima(data[row.data_row_name])}} />
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-template #empty_image>
                                                    <ng-container>
                                                        <span>empty</span>
                                                    </ng-container>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_wa_penerima'">
                                                <ng-container>
                                                    <span>{{form_wa_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'form_gopay_penerima'">
                                                <ng-container>
                                                    <span>{{form_gopay_penerima(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- end of input form data -->
                                            <!-- start of additional info -->
                                            <ng-container *ngSwitchCase="'bast'">
                                                <ng-container>
                                                    <span>{{bast(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'surat_kuasa'">
                                                <ng-container>
                                                    <span>{{surat_kuasa(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'bast_date'">
                                                <ng-container>
                                                    <span>{{bast_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'invoice_no'">
                                                <ng-container>
                                                    <span>{{invoice_no(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- Delivery Detail -->
                                            <ng-container *ngSwitchCase="'awb_number'">
                                                <ng-container>
                                                    <span>{{awb_number(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'delivered_date'">
                                                <ng-container>
                                                    <span>{{delivered_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'delivery_date'">
                                                <ng-container>
                                                    <span>{{delivery_date(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'last_shipping_info'">
                                                <ng-container>
                                                    <span>{{last_shipping_info(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'receiver_name_sap'">
                                                <ng-container>
                                                    <span>{{receiver_name_sap(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'relation_name'">
                                                <ng-container>
                                                    <span>{{relation_name(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- Cancel Detail -->
                                            <ng-container *ngSwitchCase="'cancel_detail'">
                                                <ng-container>
                                                    <span>{{relation_name(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- New Invoice Finance -->
                                            <ng-container *ngSwitchCase="'value_invoice'">
                                                <ng-container>
                                                    <span>{{value_invoice(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'value_po'">
                                                <ng-container>
                                                    <span>{{value_po(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'date_invoice'">
                                                <ng-container>
                                                    <span>{{date_invoice(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!--  -->
                                            <!-- product sales order new -->
                                            <ng-container *ngSwitchCase="'product_quantity'">
                                                <ng-container>
                                                    <span>{{product_quantity(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'product_redeem'">
                                                <ng-container>
                                                    <span>{{product_redeem(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'product_code_redeem'">
                                                <ng-container>
                                                    <span>{{product_code_redeem(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'product_price_redeem'">
                                                <ng-container>
                                                    <span>{{product_price_redeem(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!--  -->

                                            <!-- address detail -->
                                            <ng-container *ngSwitchCase="'receiver_name'">
                                                <ng-container>
                                                    <span>{{receiver_name(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'shipping_address'">
                                                <ng-container>
                                                    <span>{{shipping_address(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'phone_number'">
                                                <ng-container>
                                                    <span>{{phone_number(stripHtml(data[row.data_row_name]))}}</span>
                                                </ng-container>
                                            </ng-container>
                                            <!-- -->

                                            <ng-container *ngSwitchCase="'usr_mngt'">
                                                <ng-container>
                                                    <div *ngFor="let item of data[row.data_row_name] | keyvalue">
                                                        <b>{{item.key}}</b> : {{usr_mngt(stripHtml(item.value))}}
                                                        <br><br>
                                                    </div>


                                                    <!-- <div *ngIf="data[row.data_row_name]['usr_mngt']"><b>User Management : </b>{{usr_mngt(stripHtml(data[row.data_row_name]['usr_mngt']))}}<br><br></div>
                                                    <div *ngIf="data[row.data_row_name]['dynamix_sbi']"><b>Dynamix SBI : </b>{{dynamix_sbi(stripHtml(data[row.data_row_name]['dynamix_sbi']))}}</div> -->
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'variation'">
                                                <ng-container>
                                                    <span [innerHTML]="variation(stripHtml(data[row.data_row_name]))"></span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'dimensions'">
                                                <ng-container>
                                                    <span [innerHTML]="dimensions(stripHtml(data[row.data_row_name]))"></span>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container *ngSwitchCase="'images_gallery'">
                                                <ng-container *ngIf="validURL(images_gallery(data[row.data_row_name])); else empty_image">
                                                    <img class="image-autoform" src={{images_gallery(data[row.data_row_name])}} />
                                                </ng-container>
                                                <ng-template #empty_image>
                                                    <ng-container>
                                                        <span>empty</span>
                                                    </ng-container>
                                                </ng-template>
                                            </ng-container>



                                            <ng-container *ngSwitchCase="'image'">
                                                <ng-container *ngIf="validURL(data[row.data_row_name]); else empty_image">
                                                    <img class="image-autoform" src={{data[row.data_row_name]}} />
                                                </ng-container>
                                                <ng-template #empty_image>
                                                    <ng-container>
                                                        <span>empty</span>
                                                    </ng-container>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                {{stripHtml(data[row.data_row_name]) }}
                                            </ng-container>
                                        </ng-container>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <button *ngIf="options.check_box" class="btn submit_button" (click)="submit()"><i
                                    class="fa fa-fw fa-save"></i> submit</button>
                            <tr *ngIf="errorLabel">
                                {{errorLabel}}
                            </tr>

                        </tbody>
                        <tbody *ngIf="options.type=='image'">
                            <tr class="{{options.type}}">
                                <td [colSpan]="table_head.length">
                                    <div class="img_dt_prp" *ngFor="let data of table_data"
                                        (click)="clickedRowTable(data[options.row_id], data)">
                                        <div>
                                            <div class="image_wrapper">
                                                <img [src]="data[options.image_data_property]" />
                                            </div>
                                            <div>{{data['name']}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <nav class="pagination-head" aria-label="Page navigation example">
                <label class="show-entries">Showing
                    <select [(ngModel)]="pageLimits" (change)="pageLimitChanges($event)"
                        id="pagesLimiter" class="btn btn-outline-primary order-btn">
                        <option *ngFor="let order of pagesLimiter; let i = index" [ngValue]="order.id">
                            {{order.name}}
                        </option>
                    </select> data</label>
                <ul class="pagination justify-content-end example">

                    <li class="page-item start" *ngIf="currentPage != 1">
                        <a class="page-link next" (click)="onChangePage(currentPage = 1)"><<
                        </a>
                    </li>

                    <li [class]="currentPage == 1 ? 'page-item start':'page-item'">
                        <a class="page-link next" (click)="onChangePage(currentPage - 1)">&lt;</a>
                    </li>

                    <li *ngFor="let tp of pageNumbering; let i = index;" class="page-item">
                        <a *ngIf="tp=='...'" [ngClass]="'dotter'" class="page-link">{{tp}}</a>
                        <a *ngIf="isCurrentPage(tp) == 'current-page'" [ngClass]="'page-link '+isCurrentPage(tp)"
                            class="page-link">{{tp}}</a>
                        <a *ngIf="isCurrentPage(tp) != 'current-page' && tp!='...'" class="page-link"
                            (click)="onChangePage(tp)">{{tp}}</a>

                    </li>
                    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                    <li [class]="currentPage == pageNumbering[pageNumbering.length - 1] ? 'page-item end':'page-item'">
                        <a class="page-link next" (click)="onChangePage(currentPage + 1)">&gt;</a>
                    </li>
                    <li class="page-item end" *ngIf="currentPage != pageNumbering[pageNumbering.length - 1]">
                        <a class="page-link next" (click)="onChangePage(currentPage = total_page)"> >> </a>
                    </li>
                </ul>
                <ul class="pagination justify-content-end">
                    <li></li>
                    <!-- <li>Data 1-100 </!-->
                </ul>
            </nav>
        </div>

    </div>
</div>

<table class="undisplayed" border="1" id="reportTable" #reportTable>
    <thead>
        <div *ngIf="options.check_box">
            <div *ngFor="let data of list_data" class="btn-group">
                <button type="button" class="btn btn-primary" (click)="removeFromList(data)">{{data}}</button>
            </div>
        </div>
        <tr>
            <th>NO.</th>
            <th *ngFor="let row of table_head;let i = index;">
                <div class="head" (click)="orderChange($event, row.data_row_name)">{{row.label}}
                    <i *ngIf="orderBy[row.data_row_name] && asc==true"
                        class="fa fa-caret-down"></i>
                    <i *ngIf="orderBy[row.data_row_name] && asc==false"
                        class="fa fa-caret-up"></i>
                </div>
            </th>
        </tr>

    </thead>
    <tbody *ngIf="options.type=='row-text'">

        <tr *ngFor="let data of table_data; let i = index;" >

            <!-- <span *ngIf="options.check_box">
                            <input type="checkbox" [(ngModel)]="data.selected"
                                (change)="toggleCheck($event, data.member_id)">
                            {{stripHtml(data.member_id) }}
                        </span> -->
            <td (click)="clickedRowTable(data[options.row_id], data)">{{i + 1 + ((currentPage -1) * pageLimits )}}</td>
            <td (click)="clickedRowTable(data[options.row_id], data)" *ngFor="let row of table_head">
                <div *ngIf="!options.check_box">
                    <span *ngIf="isString(data[row])">{{stripHtml(data[row.data_row_name]) | slice:0:150}}</span>
                    <span *ngIf="!isString(data[row])">{{stripHtml(data[row.data_row_name]) }}</span>
                </div>
            </td>
        </tr>
        <button *ngIf="options.check_box" class="btn submit_button" (click)="submit()"><i class="fa fa-fw fa-save"></i>
            submit</button>
        <tr *ngIf="errorLabel">
            {{errorLabel}}
        </tr>

    </tbody>
    <tbody *ngIf="options.type=='image'">
        <tr class="{{options.type}}">
            <td [colSpan]="table_head.length">
                <div class="img_dt_prp" *ngFor="let data of table_data"
                    (click)="clickedRowTable(data[options.row_id], data)">
                    <div>
                        <div class="image_wrapper">
                            <img [src]="data[options.image_data_property]" />
                        </div>
                        <div>{{data['name']}}</div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="bast_mode" class="print_container">
    <app-bast [data]="salesRedemp" [thisParent]="this"></app-bast>
</div>
<iframe [src]="srcDownload"></iframe>
