<div class="_container">
    <div class="col-md-12">
        <div class="card" id="card-transaction">
            <div class="div-transaction" *ngIf="myBalance">
                <div id="transaction">
                    <img src="assets/images/withdrawal.png" class="logo">
                    <label>Current Balance : <br /></label>
                    <span><strong>{{myBalance | currency: 'Rp'}}</strong></span>
                    <button class="btn btn-outline-primary withdraw" (click)="checkAccount()"
                        [routerLinkActive]="['router-link-active']">Withdraw</button>
                </div>

                <!-- <div class="searchbar">
                    <div id="search">
                        <span style="padding-right:10px;">Search</span>
                        <input type="text" style="height: 50%;" class="form-control"
                            placeholder="Search">
                    </div>
                    <div id="search">
                        <span style="padding-right: 10px;">Type</span>
                        <select class="form-control" [(ngModel)]="type">
                            <option *ngFor="let t of types" [ngValue]="t.value">{{t.name}}</option>
                        </select>
                    </div>
                    <div id="search">
                        <span style="padding-right:10px;">Status</span>
                        <select class="form-control" [(ngModel)]="status">
                            <option *ngFor="let s of status" [ngValue]="s.value">{{s.name}}</option>
                        </select>
                    </div>


                    <button class="common-button blue-fill download">Download</button>


                </div> -->
            </div>
        </div>
    </div>
    <br />
    <div class="money-table">
        <app-form-builder-table [searchCallback]="[service, 'searchEscrowtransactionLint',this]"
        [tableFormat]="tableFormat" [table_data]="EscrowData" [total_page]="totalPage">

      </app-form-builder-table>
        <!-- <table>
            <tr>
                <th>No</th>
                <th>Dates</th>
                <th>Descriptions</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let data of EscrowData; let i = index" (click)="callDetail(data._id);" style="cursor:pointer;">
                <td>{{number[i]}}</td>
                <td>{{data.created_date}}</td>
                <td>{{data.description}}</td>
                <td><strong *ngIf="data.how_much > 0">{{data.how_much| currency: 'Rp '}}</strong>
                    <strong *ngIf="data.how_much <= 0">-</strong>
                </td>
                <td><strong *ngIf="data.how_much < 0" style="color:red;">-
                        ({{(data.how_much * -1)| currency: 'Rp '}})</strong>
                    <strong *ngIf="data.how_much >= 0">-</strong>
                </td>



                
                <td>{{data.current_balance | currency : 'Rp '}}</td>
                <td *ngIf="data.type == '+'">Debit</td>
                <td *ngIf="data.type == '-'">Credit</td>
                <td *ngIf="data.type == 'withdrawal'">{{data.type}}</td>
                <td *ngIf="data.type == 'hold'">{{data.type}}</td>
        
                <td *ngIf="data.transaction_status == 'PENDING'">
                    <button class="pending">{{data.transaction_status}}</button>
                </td>
                <td *ngIf="data.transaction_status == 'SUCCESS'">
                    <button class="success">{{data.transaction_status}}</button>
                </td>
                <td *ngIf="data.transaction_status == 'HOLD'">
                    <button class="hold">{{data.transaction_status}}</button>
                </td>
                <td *ngIf="data.transaction_status == 'REFUND'">
                    <button class="refunded"> {{data.transaction_status}}</button>
                </td>
                <td *ngIf="data.transaction_status == 'REJECT'">
                    <button class="rejected"> {{data.transaction_status}}</button>
                </td>
                <td *ngIf="data.transaction_status == '-' "> {{data.transaction_status}} </td>
            </tr>
        </table> -->

    </div>
    <!-- <div class="div-footer" *ngIf="EscrowData && EscrowData.length!=0" style="margin-top:10px;float:right;">
        <div class="pagination">
            <button class="btn" (click)="onChangePage(currentPage = 1)">
                &laquo; </button> <button class="btn" (click)="onChangePage(currentPage - 1)">
                &lsaquo; </button> <button *ngFor="let tp of pageNumbering" class="btn"
                (click)="onChangePage(tp)">{{tp}}
            </button>
            <button class="btn" (click)="onChangePage(currentPage + 1)">&rsaquo;</button>
            <button class="btn" (click)="onChangePage(currentPage = total_page)">&raquo;</button>
        </div>
    </div> -->
</div>


<div id="myModal" class="modal {{setPin}}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" (click)="closeDialog()">&times;</span>
        </div>
        <div class="modal-body">
            <h3>Register Pin</h3>
            <span><strong> Input 6-Digit number. Remember, don't use predictable combinations of numbers
                    like date of birth, etc</strong></span>
        </div>
        <div class="modal-body">
            <div class="form-group">

                <!-- <input placeholder="Password" (click)="errorMessage = false" [type]="hide ? 'password' : 'text'"
                [(ngModel)]="form.password" name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide" style="background:transparent; border: none;">
                <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> -->

                <div class="wrapper-input">
                    <label>Set Pin</label>
                    <input type="password" class="form-control" [(ngModel)]="pin.new_pin" size="6" maxlength="6"
                        pattern="[0-9]" [type]="hide ? 'password': 'text'" inputmode="numeric">
                    <label>Retype New Pin</label>
                    <input type="password" class="form-control" [(ngModel)]="pin.repeat_new_pin" size="6" maxlength="6"
                        pattern="[0-9]" [type]="hide ? 'password': 'text'" inputmode="numeric">
                    <label>Password</label>
                    <input type="password" class="form-control" [(ngModel)]="pin.password" pattern="[0-9]"
                        [type]="hide ? 'password': 'text'" inputmode="numeric">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
                <button class="btn btn-primary" type="submit" id="button-verify" (click)="verify()">Verify</button>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>












<!-- <div class="_container">
      <div class="col-md-12" style="background-color:white;">
        <div class="menu-bar" *ngIf="myBalance" >
            My Current Balance : <strong>{{myBalance | currency: 'Rp '}}</strong> 
            <a class="common-button blue-fill withdraw" routerLink="./withdrawal" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-arrow-alt-circle-down	"></i>Withdraw</a>
        </div>
        <div *ngIf="EscrowData&&pointstransactionDetail==false">
          <app-form-builder-table [searchCallback]="[service, 'searchEscrowtransactionLint',this]"
            [tableFormat]="tableFormat" [table_data]="EscrowData" [total_page]="totalPage">

          </app-form-builder-table>
        </div>
      </div>
      </div> -->
