<div >
    <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'">PO Number Report</app-page-header>
    <div *ngIf="Orderhistoryallhistory && orderhistoryallhistoryDetail==false && mci_project == false && !errorMessage">
        <app-form-builder-table 
        [table_data]="Orderhistoryallhistory"
        [searchCallback]="[service, 'searchReportBasedOnPO',this]" 
        [tableFormat]="tableFormat"
        [total_page]="totalPage"
        >
        </app-form-builder-table>
    </div>

    <div *ngIf="Orderhistoryallhistory && orderhistoryallhistoryDetail==false && mci_project == true && !errorMessage">
        <app-form-builder-table 
        [table_data]="Orderhistoryallhistory"
        [searchCallback]="[service, 'searchReportBasedOnPO',this]" 
        [tableFormat]="tableFormat2"
        [total_page]="totalPage"
        >
        </app-form-builder-table>
    </div>

    <div *ngIf="errorMessage" class="error-message">
          <div class="text-message">
          <i class="fas fa-ban"></i>
          {{errorMessage}}
          </div>
    </div>
</div>
  