<div [@routerTransition]>
    <app-page-header [heading]="'Order Detail for '+ orderhistoryDetail.order_id" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="orderhistoryDetail" class="success-detail">
        <app-orderhistorycomplete-edit [back]="[this, 'editThis']" [detail]="orderhistoryDetail">
        </app-orderhistorycomplete-edit>
    </div>
</div>


<!-- <div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <button class="btn edit_butt                                                                                                                                                                                                                                                                                                                                                                                                                                             on" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="orderhistorysuccess-detail">

            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Order History Success Details </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Order date</label>
                                <div name="created_date">{{detail.created_date}}</div>
                                <label>Expired date</label>
                                <div name="payment_expire_date">{{detail.payment_expire_date.in_string}}</div>
                                <label>User Id</label>
                                <div name="user_id">{{detail._id}}</div>
                                <label>Status</label>
                                <div name="transaction_status">{{detail.status}}</div>
                                <label>Total Price</label>
                                <div name="billings.sum_total">{{detail.billings.sum_total}}</div>
                                <label>Bank Name</label>
                                <div name="bank_via">{{detail.payment_detail.payment_via}}</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Shipping Info</h2>
                        </div>
                        <div class="card-content">
                            <label>Receiver Name</label>
                            <div name="buyer_detail.name">{{detail.buyer_detail.name}}</div>
                            <label>Cell Phone</label>
                            <div name="buyer_detail.cell_phone">{{detail.buyer_detail.cell_phone}}</div>
                            <label>Order ID</label>
                            <div name="order_id">{{detail.order_id}}</div>
                            <label>User Email</label>
                            <div name="buyer_detail.email">{{detail.buyer_detail.email}}</div>
                            <label>Alamat</label>
                            <div name="Address">{{detail.buyer_detail.address}}</div>
                            <div class="col-md-12" *ngIf="!detail.shipping_info">
                                no shipping info
                            </div>
                            <div class="col-md-12" *ngIf="detail.shipping_info">
                                <ul>
                                    <li *ngFor="let si of detail.shipping_info">
                                        <label>{{si.label}} - {{si.created_date}}</label>
                                    </li>
                                    <label>Awb Receipt</label>
                                    <div name="detail.awb_receipt">{{detail.awb_receipt}}</div>
                                    <label>Shipping Services</label>
                                    <div name="detail.shipping_services">{{detail.shipping_services}}</div>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Uploaded Transfer Photo</h2>
                        </div>
                        <div class="card-content">
                            <div>{{detail.uploaded_receipt}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-content">
        <div class="orderhistorysuccess-detail">
            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Order Summary </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <h3> Product List</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Note to Merchant</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dp of detail.products">
                                            <td>{{dp.product_code}}</td>
                                            <td>{{dp.product_name}} @ {{dp.fixed_price}}</td>
                                            <td>{{dp.note_to_merchant}}</td>
                                            <td>{{dp.quantity}}</td>
                                            <td>{{dp.total_product_price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <table>
                                    <col style="width:84%"/>
                                    <thead>
                                        <tr>
                                            <th>Shipping Cost</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Shipping Cost</td>
                                            <td>{{detail.billings.shipping_fee}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />

                                <table>
                                    <col style="width:84%"/>
                                    <thead>
                                        <tr>
                                            <th>Unique Amount</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Unique Amount</td>
                                            <td>{{detail.unique_amount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>

                                <table>
                                    <col style="width:84%"/>
                                    <thead>
                                        <tr>
                                            <th>Additional Billings</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bd of detail.additionalBillings">
                                            <td>{{bd.product_name}}</td>
                                            
                                            <td>{{bd.value}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br/>

                                <table>
                                    <col style="width:84%"/>
                                    <thead>
                                        <tr>
                                            <th> Sum Total </th>
                                            <th> Total </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Sum Total</td>
                                            <td>{{detail.sum_total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="edit">
    <app-orderhistorysuccess-edit [back]="[this, 'editThis']" [detail]="detail"></app-orderhistorysuccess-edit>
</div> -->