<div [@routerTransition]>

  <app-page-header [heading]="'Email'" [icon]="'fa-table'"></app-page-header>

  <div *ngIf="Email&&emailDetail==false">
        <app-form-builder-table
        [table_data]  = "Email"
        [searchCallback]= "[service, 'searchEmailLint',this]"
        [tableFormat] = "tableFormat"
        >

        </app-form-builder-table>
  </div>
  <div *ngIf="emailDetail">
    <app-email-detail [back]="[this,backToHere]" [detail]="emailDetail"></app-email-detail>
</div>

</div>

