<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" xmlns="">
  <div class="list-group">
    <div class="nested-menu child-menu">
      <li class="new-line">
        <a routerLink="/admin-management/admin" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <span class="new-line">{{ 'Admin' | translate }}</span>
        </a>
    
        <a routerLink="/admin-management/admin-group" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <span class="new-line">{{ 'Admin Group' | translate }}</span>
        </a>
      </li>
    </div>
  </div>