.bg-delete {
  background-color: #ffe3f3;
  padding: 10px;
}
.col-md-6 {
  max-width: 100%;
}
.detail-form {
  margin-top: 40px;
  color: white;
}

.image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #679;
  flex-direction: column;
  border: 3px solid #679;
  border-radius: 10px;
  background-color: #252c39;
  min-height: 125px;
  margin: 20px;
  padding: 50px;

  .logo-upload {
    width: 150px;
  }
}
.uploading-file {
  opacity: 0.5;
  filter: grayscale(1);
}

.uploading-file.true {
  opacity: 1;
  filter: grayscale(0);
}
.uploaded-image {
  margin: 0px auto;
  width: auto;
  padding: 50px ;
  height: auto;
  cursor: pointer;
  .text-fileupload{
    display: block;
    text-align: center;
    cursor: pointer;
    color: #2480fb;
    margin-top: 10px;
  
  }
  .img {
    width: 100%;
    min-height: 348px;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

    .editor-tool {
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .img:hover .editor-tool {
    opacity: 0.9;
  }
}
::ng-deep .form-control{
  background-color: #679 !important;
  color:white !important;
  font-size: 0.9rem !important;
  
}

::ng-deep .ck .ck-editor__main .ck-editor__editable{
  background-color: #679 !important;
  color:white !important;
  font-size: 0.9rem !important;
}
.header-add {
  display: flex;
  flex-direction: row;
  padding: 20px 15px 0px 15px;
  color: white;
  h3 {
    font-size: 1.5rem;
  }
  i {
    font-size: 30px;
    margin: 0px 15px;
  }
}
hr.new1 {
  border-top: 1px solid white;
  margin: 15px;
}
.banner-picture {
  padding: 15px 15px 0px 15px;
  h3 {
    color: white;
    font-size: 20px;
    padding-left: 10px;
    border-left: solid 6px #2381fb;
  }
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
.card-detail {
  > .card-header {
    position: relative;
    .back_button {
      position: absolute;
      margin-top: -4px;
      margin-left: -10px;
      background-color: transparent;
      color: #555;
      height: 30px;

      padding: 0px 10px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      i {
        font-weight: bold;
      }
    }
    .edit_button {
      position: absolute;
      top: 7px;
      background-color: #555;
      color: #fff;
      height: 30px;
      padding: 0px 10px 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-weight: bold;
      }
      right: 10px;
    }
  }
  .card-content {
    padding: 15px;
    > .col-md-12 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  // .image{
  //     h3{
  //         font-size: 12px;
  //     }
  //     .card-content{
  //         img{
  //             max-width: 100%;
  //             width: 100%;

  //         }
  //     }
  // }

  h1 {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    text-align: center;
    margin-bottom: 0px;
  }
  .form{

  .card {
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    .card-header {
      background-color: white;
      margin: 0px;
      padding: 0px;
      border-left: 3px solid #2480fb;
      label {
        margin: 20px 10px;
        font-weight: bold;
        font-size: 20px;
      }
    }

    .uploaded {
      border-top: 1px solid #ccc;
    }
  }

  }
  .banner-detail {
    form-select[name="status"] .form-group form-input{
      margin-bottom: 0px;
      background-color: #679;
    }
    label {
      margin-top: 10px;
    }
    label + div {
      background: #f0f0f0;
      font-weight: norma;
      padding: 10px;
      border: 1px solid #ccc;
      margin-bottom: 15px;
      min-height: 27px;
      font-size: 12px;
      color: #666;
    }

    .card-header {
      background-color: #555;
      h2 {
        color: white;
        font-size: 15px;
        line-height: unset;
        height: unset;
        margin: 0px;
        text-transform: capitalize;
      }
    }
  }
}
.ck{
  min-height: 200px;
}
.td-active {
  .btn-active{
    background: red;
  }
}
.button-container {
  text-align: center;
  margin-top: 30px;
  .btn {
    width: 100px;
    color:white;
  }
  .btn-save{
    background-color: #2381fb;
    margin-left : 10px;
  }
  .btn-cancel{
    background-color: red;
    margin-right : 10px;
  }
}
input[type="file"] {
  display: none;
}
#formbar {
  color : black;
}