<div *ngIf="data" class="card card-detail">
    <div class="card-header" id="header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        
    </div>
    <div class="card-content">
        <div class="orderhistoryallhistory-detail">
            <div class="form-group head-one row">
                <div class="col-md-6">
                    <label class="order-id"><strong>{{data.record_id}}</strong> |
                        <span class="buyer-name" style="color:#0EA8DB" (click)="gotoMerchant(data.merchant_username)"><strong>
                                {{data.merchant_name}}</strong></span></label>
    </div>
                <div class="col-md-6" style="font-size: 20px;">
                    <button mat-raised-button color="primary" class="btn btn-primary prints" (click)="prints()">Print Detail<i
                        class="fa fa-print" aria-hidden="true"></i></button></div>
              
                            
            </div>
            <div class="row">
                <div class="form-group col-md-6" style="font-size: 20px;">
                    <label><span style="color: #0EA8DB;font-weight: bold;">Request Date : </span>
                        <strong><span>{{data.created_date | date:'dd MMM yyyy'}}</span><span> |
                            </span>{{data.created_date | date: 'hh:mm:ss a'}}</strong></label>
                </div>
               
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-content">
                            <div class="form-group"><img style="width: 40px;border-radius: 20px;height: 40px;"
                                    src="{{data.image_owner_url}}" alt="Locard Icon">
                                <span class="buyer-name" style="color:#0EA8DB" (click)="gotoMerchant(data.merchant_username)"><strong>
                                        {{data.merchant_name}}</strong></span> </div>
                            <div class="col-md-12">
                                <div class="product-group">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="card mb-2">
                                                <!-- <div class="money-container" *ngIf="data.type == 'withdrawal'">
                                                    <div class="icon-container">
                                                        <i style="color : #3E8CF3;
                                                background-color: #DAF0FE;" class="icon-my-money-merchant"></i>
                                                    </div>
                                                    <div class="number-container">
                                                        <span>Current Balance</span>
                                                        <br>
                                                        <label
                                                            style="color : #3E8CF3">{{data.current_balance | currency: 'Rp ' }}</label>
                                                    </div>
                                                </div> -->
                                                <div class="money-container"
                                                    *ngIf="data.type =='+' || data.type == '-'">
                                                    <div class="icon-container">
                                                        <i *ngIf="data.type == '+'" style="color : #36BE60;
                                                background-color: #BBE9C9;" class="icon-balance-increase"></i>
                                                        <i *ngIf="data.type == '-'" style="color :#CB97A3;
                                                background-color: #FCECEF;" class="icon-withdrawal-request"></i>
                                                    </div>
                                                    <div class="number-container">
                                                        <span *ngIf="data.type == '+'">Balance Increase</span>
                                                        <span *ngIf="data.type == '-'">Balance Decrease</span>
                                                        <br>
                                                        <label *ngIf="data.type == '+'"
                                                            style="color : #36BE60">{{data.how_much  | currency: 'Rp ' }}</label>
                                                        <label *ngIf="data.type == '-'"
                                                            style="color : #D9446B">{{data.how_much * -1 | currency: 'Rp ' }}</label>
                                                    </div>
                                                </div>
                                                <div class="money-container" *ngIf="data.type == 'hold'">
                                                    <div class="icon-container">
                                                        <i style="color :  rgb(137, 0, 190); background-color:rgb(176, 57, 223) ;"
                                                            class="icon-balance-increase"></i>
                                                    </div>
                                                    <div class="number-container">
                                                        <span>Balance In Hold</span>
                                                        <br>
                                                        <label
                                                            style="color : rgb(176, 57, 223) ">{{data.how_much* -1 | currency: 'Rp ' }}</label>
                                                    </div>
                                                </div>
                                                <!-- <div class="money-container" *ngIf="data.type != 'withdrawal'">
                                                    <div class="icon-container">
                                                        <i style="color : #3E8CF3; background-color: #DAF0FE;"
                                                            class="icon-my-money-merchant"></i>
                                                    </div>
                                                    <div class="number-container">
                                                        <span>Current Balance</span>
                                                        <br>
                                                        <label
                                                            style="color : #3E8CF3">{{data.current_balance | currency: 'Rp ' }}</label>
                                                    </div>
                                                </div> -->
                                                <div class="money-container buyer-detail"
                                                    *ngIf="data.type == 'withdrawal'">
                                                    <div class="icon-container">
                                                        <i style="color : #CB97A3;
                                                    background-color: #FCECEF;" class="icon-withdrawal-request"></i>
                                                    </div>
                                                    <div class="number-container">
                                                        <span>Withdrawal Request</span>
                                                        <br>
                                                        <label *ngIf="data.transaction_status == 'REFUND'"
                                                            style="color : #D9446B">{{data.how_much | currency: 'Rp '}}</label>
                                                            <label *ngIf="data.transaction_status != 'REFUND'"
                                                            style="color : #D9446B">{{data.how_much * -1 | currency: 'Rp '}}</label>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card mb-2" style="height: 96.5%;">
                                                <div class="card-content">
                                                    <strong>Description :</strong>
                                                    <p>{{data.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="buyer-detail" *ngIf="data.type == 'withdrawal'">
                                    <div class="form-group">
                                        <div class="spacing">
                                            <label id="buyer-detail">Invoice Detail</label>
                                            <table id="custom_table">
                                                <tr>
                                                    <th>Notes</th>
                                                    <th>Debit</th>
                                                    <th>Credit</th>
                                                    <th>Balance</th>
                                                </tr>
                                                <tr>
                                                    <td>Saldo Awal</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>{{data.prev_balance | currency: 'Rp '}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Penarikan Dana</td>
                                                    <ng-container [ngSwitch]="data.transaction_status">
                                                        <td *ngSwitchCase="'REFUND'">{{data.how_much | currency: 'Rp'}}
                                                        </td>
                                                        <td *ngSwitchDefault>-</td>
                                                    </ng-container>
                                                    <ng-container [ngSwitch]="data.transaction_status">
                                                        <td *ngSwitchCase="'REFUND'">-</td>
                                                        <td class="red-text" *ngSwitchDefault>
                                                            {{data.how_much*-1 | currency: 'Rp'}}</td>
                                                    </ng-container>


                                                    <td>{{data.current_balance | currency: 'Rp '}}</td>
                                                </tr>
                                                <ng-container *ngIf="data.additional_transaction">
                                                    <tr
                                                        *ngFor="let additional of data.additional_transaction;let last = last">
                                                        <td>{{additional.description}}</td>
                                                        <ng-container [ngSwitch]="additional.type">
                                                            <td *ngSwitchCase="'+'">
                                                                {{additional.how_much | currency: 'Rp '}}</td>
                                                            <td *ngSwitchDefault>-</td>
                                                        </ng-container>
                                                        <ng-container [ngSwitch]="additional.type">
                                                            <td *ngSwitchCase="'-'" class="red-text">
                                                                {{additional.how_much*-1 | currency: 'Rp '}}</td>
                                                            <td *ngSwitchDefault>-</td>
                                                        </ng-container>
                                                        <td [class.last]="last">
                                                            {{additional.current_balance | currency: 'Rp'}}</td>
                                                    </tr>
                                                </ng-container>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="buyer-detail" *ngIf="data.type == 'hold'">
                                    <div class="form-group">
                                        <div class="spacing">
                                            <label id="buyer-detail">Invoice Detail</label>
                                            <table id="custom_table">
                                                <tr>
                                                    <th>Notes</th>
                                                    <th>Debit</th>
                                                    <th>Credit</th>
                                                    <th>Balance</th>
                                                </tr>
                                                <tr>
                                                    <td>Saldo Awal</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>{{data.prev_balance | currency: 'Rp '}}</td>
                                                </tr>
                                                <!-- <tr>
                                                    <td>Pendapatan dari transaksi order </td>
                                                    <ng-container [ngSwitch]="data.transaction_status">
                                                        <td *ngSwitchCase="'REFUND'">{{data.how_much | currency: 'Rp'}}
                                                        </td>
                                                        <td *ngSwitchDefault>-</td>
                                                    </ng-container>
                                                    <td></td>
                                                    <td>{{data.how_much | currency: 'Rp '}}
                                                    </td>
                                                </tr> -->
                                                <tr>
                                                    <td>HOLD - Pendapatan dari transaksi order</td>
                                                    <td></td>
                                                    <td class="red-text">{{data.how_much | currency: 'Rp'}}</td>
                                                    <td class="last"><span>{{data.current_balance | currency: 'Rp'}}</span></td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="buyer-detail"
                                    *ngIf="data.type == 'withdrawal' && data.transaction_status == 'PENDING'">
                                   
                                    <div class="form-group">
                                        <div class="spacing">
                                            <label class="additional-text" (click)="additional = !additional">Tambah
                                                Biaya Lain-lain
                                                <span><i *ngIf="additional" class="material-icons">
                                                        keyboard_arrow_down
                                                    </i><i *ngIf="!additional" class="material-icons">
                                                        keyboard_arrow_up
                                                    </i></span>
                                            </label>
                                        </div>
                                        <div *ngIf="additional" class="col-md-12" style="padding: 0;">
                                            <div class="card" style="padding: 20px;">
                                                <div class="add-charge">
                                                    <label id="buyer-detail" style="margin: 0">Penambahan Biaya
                                                        Lain-lain</label>
                                                    <button class="common-button blue-fill"
                                                        (click)="onAddClick()">Confirm</button>
                                                </div>
                                                <div class="top-line"></div>
                                                <div class="row" *ngFor="let add of adds;let i=index">
                                                    <div class="col-md-6">
                                                        <span>Notes*</span>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="add.description" id="basic-url"
                                                                aria-describedby="basic-addon3">
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>Nominal*</span>
                                                        <div class="input-group mb-3">
                                                            <span style="align-self: center;">Rp. </span>
                                                            <input type="number" class="form-control"
                                                                [(ngModel)]="add.value" id="basic-url"
                                                                aria-describedby="basic-addon3">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>Condition*</span>
                                                        <div class="input-group mb-3">
                                                            <select class="form-control" style="height: 100%;"
                                                                [(ngModel)]="add.type" id="basic-url">
                                                                <option value="+">Debit (+)</option>
                                                                <option value="-">Credit (-)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="errorLabel!==false">
                                                    <span class="red-text">{{errorLabel}}</span> 
                                                 </div>
                                                <div>
                                                    <label (click)="addInputCharges()" style="color:#0EA8DB">+ Tambah
                                                        Field</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            
                <div class=" col-md-4" *ngIf="data.type == 'withdrawal'">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h2>Status</h2>
                            <button
                                *ngIf="data.withdrawal_status == 'PENDING' || data.transaction_status == 'PENDING'&& !change"
                                class="save change" (click)="change = true">Change Status</button>
                        </div>
                        <div class="card-content">
                            <label>Status :
                                <strong><span
                                        style="color:#0EA8DB">{{data.withdrawal_status || data.transaction_status}}
                                    </span></strong></label>
                            <br>
                            <div *ngIf="change">
                                <label>Status</label>
                                <div *ngIf="data.withdrawal_status == 'PENDING' || data.transaction_status == 'PENDING' && change"
                                    name="transaction_status" class="status-button-container">
                                    <button class="common-button option paid" (click)="onpaidclick()" target="_blank">
                                        <span *ngIf="isClicked"><i class="material-icons">
                                                done
                                            </i></span>Release</button>
                                    <button class="common-button option cancel" (click)="oncancelclick()"
                                        target="_blank"><span *ngIf="isClicked2"><i class="material-icons">
                                                done
                                            </i></span> Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2" *ngIf="data.withdrawal_bank_detail">
                        <div class="card-header">
                            <h2>Merchant Bank Account Information</h2>
                        </div>
                        <div class="card-content">
                            <label>Bank Name </label> : <span>{{data.withdrawal_bank_detail.bank_name}}</span><br/>
                            <label>Bank Code </label> : <span>{{data.withdrawal_bank_detail.bank_code}}</span><br/>
                            <label>Account Number  </label> : <span>{{data.withdrawal_bank_detail.bank_account}}</span><br/>
                            <label>Account Name</label> : <span>{{data.withdrawal_bank_detail.account_name}}</span><br/>
                            
                        </div>
                    </div>
                </div>
                <div class=" col-md-4" *ngIf="data.type == 'hold'">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h2>Status</h2>
                            <button
                                *ngIf="data.withdrawal_status == 'HOLD' || data.transaction_status == 'HOLD' && !change"
                                class="save change" (click)="change = true">Change Hold Status</button>
                        </div>
                        <div class="card-content">
                            <label>Status :
                                <strong><span
                                        style="color:#0EA8DB">{{data.withdrawal_status || data.transaction_status}}
                                    </span></strong></label>
                            <br>
                            <div *ngIf="change">
                                <label>Status</label>
                                <div *ngIf="data.withdrawal_status == 'HOLD' || data.transaction_status == 'HOLD' && change"
                                    name="transaction_status" class="status-button-container">
                                    <button class="common-button option paid" (click)="onpaidclick()" target="_blank">
                                        <span *ngIf="isClicked"><i class="material-icons">
                                                done
                                            </i></span>Release</button>
                                    <button class="common-button option cancel" (click)="oncancelclick()"
                                        target="_blank"><span *ngIf="isClicked2"><i class="material-icons">
                                                done
                                            </i></span> Refund</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2" *ngIf="data.withdrawal_bank_detail">
                        <div class="card-header">
                            <h2>Merchant Bank Account Information</h2>
                        </div>
                        <div class="card-content">
                            {{data.withdrawal_bank_detail.bank_name}}
                        </div>
                    </div>
                </div>
             
            </div>
            
        </div>
    </div>
</div>

<div id="myModal" class="modal {{popUpForm}}">
    <div class="delete-container">
        <div class="modal-top">
            <span class="close" (click)="onDoneNew()">&times;</span>
        </div>
        <div *ngIf="isClicked" class="dialog">
            <div class="release">
                <label *ngIf="data.type == 'withdrawal' && !saveAdd">Apakah Anda Yakin Untuk Melakukan "Release" Dana
                    ?</label>
                <label *ngIf="data.type == 'hold'">Apakah Anda Yakin Untuk Melakukan "Release" Hold Dana ?</label>
                <label *ngIf="data.type == 'withdrawal' && saveAdd">Apakah Anda Yakin Untuk menambahkan biaya lain-lain
                    ?</label>
            </div>
            <div class="form-group uploaded" *ngIf="loading">
                <div class="loading">
                  <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                  </div>
                </div>
              </div>
            <div class="button-container" *ngIf="!loading">
                <button *ngIf="data.type == 'withdrawal' && !saveAdd" class="button-modal paid"
                    (click)="onConfirmRelease()">OK</button>
                <button *ngIf="data.type == 'withdrawal' && saveAdd" class="button-modal paid"
                    (click)="onConfirmAdd()">OK</button>
                <button *ngIf="data.type == 'hold'" class="button-modal paid"
                    (click)="onConfirmHoldRelease()">OK</button>
                <button class="button-modal blue-outline" (click)="onDoneNew()">Cancel</button>
            </div>
        </div>
        <div *ngIf="isClicked2" class="dialog">
            <div class="reject">
                <label>Reject Note <span style="
                color:red">*</span></label>

            </div>

            <textarea [(ngModel)]="rejectNote" (ngModelChange)="valueCheck()" style="margin-bottom: 5vh;"></textarea>

            <div class="button-container">
                <button class="button-modal red-outline" (click)="onDoneNew()">Cancel</button>
                <button *ngIf="data.type == 'withdrawal'" class="button-modal" (click)="onConfirmReject()"
                    [disabled]="!textClicked" [class.cancel]="textClicked">Reject</button>
                <button *ngIf="data.type == 'hold'" class="button-modal" (click)="onConfirmHoldRefund()"
                    [disabled]="!textClicked" [class.cancel]="textClicked">Refund</button>
            </div>
        </div>

    </div>
</div>