
.red-text {
    color : red;
}
.card-detail{
    >.card-header{
        position: relative;
        min-height: 48px;
        margin-top: 40px;
        .back_button{
            position: absolute;
            margin-top: -4px;
            margin-left: -5px;
            background-color: transparent;
            color: #555;
            height: 30px;
            
            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            i{
                font-weight: bold;
            }
        }
        
    }
    table{
        .end {
            text-align: end;
        }
        .center {
            text-align: center;
        }
        .last {
            font-weight: bolder;
            font-size: 17px;
        }
        
        width: 100%;
        // border-collapse: collapse;
        // border: 1px solid #333;
        font-size: 14px;
        box-shadow: 5px 5px 10px #999;
        border-radius: 5px;
        text-transform: capitalize;
        overflow:hidden;
        td{
        //  border-style:solid;
        //  border-color: #333;
         border-width: 0px 1px   0px 0px;
         padding: 15px;
         vertical-align: top;
         em{
             display: block;
             margin-left: 5px;
             font-size: 10px;
             font-style: italic;

         }

        }
        td.qty{
            text-align: center;
            height: 100%
        }
        td.price{
            text-align: right;
        }
        
        td.priceBil{
            color:red;
            text-align: right;
        }

        td.fee{
            text-align:right;
        }

        td.priceTot{
            // border-top: 1.5px solid #eaeaea;
            text-transform: uppercase;
            font-weight: bolder;
            text-align:left;
        }

        td.priceTotal{
            // border-top: 1.5px solid #eaeaea;
            text-align:right;
            font-weight: bolder;
        }

        th{
            background-color: #F2F2F2;
            color:#545454;
            // border: 1px solid #333;
            padding: 15px;
            // text-align: center;
            font-weight: bold;
            text-transform: capitalize;
            // border-radius: 10px;
        }

        // th.product{
        //     text-align: left;
        //     // display: flex
        // }

        // th.qty{
        //     text-align: center;
        // }

        // th.ut{
        //     text-align: center;
        // }

        // th.price{
        //     text-align: center;
        // }
    }

    table.services{
        // border-right: 3px solid black;
        border-collapse: collapse;
        text-align: center;

    }
    th.product {
        text-align: left;
        // display: flex
    }

    th.qty {
        text-align: center;
    }

    th.ut {
        text-align: center;
    }

    th.price {
        text-align: center;
    }

    .card-content{
        padding: 15px;
       .status-button-container {
           display: flex;
           justify-content: space-between;
           .option {
               background-color: white;
               width: 45%;
               color: grey;
               border: grey 1px solid;
           }
           .paid {
            background-color: blue;
            border-color: blue;
            color: white;
           }
           .cancel {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
           }
       }
        >.col-md-12{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
    h1{
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }
    .orderhistoryallhistory-detail{
       
        label{
            margin-top: 10px;
        }
        .head-one{
            line-height: 33px;
            border-bottom: 1px solid #333;
            label.order-id{
                font-size: 18px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            label.buyer-name{
                font-size: 24px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                color:#0EA8DB;
            }
           
        }
        .buyer-detail{
            border-top: 1.5px solid #eaeaea;
            label#buyer-detail{
                font-size: 20px;
                font-weight: bolder;
                color:#0EA8DB;
                .buyer-name{
                    // font-weight: bold;
                    font-size: 12px;
                }
            }
            label.additional-text {
                font-size: 18px;
                font-weight: bold;
                color:#0EA8DB;
                > span{
                    align-self: center;
                }
            }
        }
       
        .product-group{
            padding-bottom: 25px;
            .money-container {
                padding: 20px;
                .icon-container > i {
                    border-radius: 50%;
                    
                    padding: 3px;
                    font-size: 45px;
                    

                }
                display: flex;
                .number-container {
                    margin-left: 20px;
                    padding-top: 2px;
                label { 
                    margin : 0px;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
            }
            
            
            // border-radius: 10px;
        }
     
        .card-header{ 
            background-color: white;
            border-left: 3px solid blue;
            h2{
                color: #555;
                font-size: 20px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;
        
            }
        }
        .awb-list{
            float: left;
            width: 100%;
            display:flex;
            flex-direction: row;
            overflow:hidden;
            align-items:end;
            .awb{
                font-size: 11px;
                // margin-top: 10px;

            }
            .input-form {
                width: 100%;
            }
        }
        
    }
}
.button-modal{
    font-size: 15px;
    border-radius: 5px;
    display: inline-flex;
    min-width: 250px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    padding: 3px 7px;
    text-decoration: none !important;
}
.paid {
    background-color: blue;
    border-color: blue;
    color: white;
   }
   .cancel {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
   }


.red-fill {
    background-color: red;
}
.printLabel{
    text-align: center;
}

 #line {
     border-right: 1px solid black;
     height: 20px;
 }

//  .btn-print{
//      background-color: #2aad2c;
//      border-radius: 10px;
//      color:white;
//      width: 50%;
//      text-align: center;
//  }

.spacing{
    font-size: 14px;
    // text-transform: capitalize;
}

textarea{
    width:100%;
    height: 100px;
    border-radius: 5px;
    // border-top: 1px solid;
}

#cancel-note{
    margin-top: 20px;
}                              

.payer{
    text-align: left;
    font-weight: bold;
    padding:initial;
    
     table{
         td{
             color:#0EA8DB;
         }
     }
}

#header{
    margin-top: 0px;
}

.save{
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 8px 6px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 14px;
    margin: -34px -7px;
    // cursor: pointer;
    float: right;
    border-radius: 5px;
}
.change{
    background-color: blue !important;
}

.edit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: -31px 3px;
    // cursor: pointer;
    float: right;
    border-radius: 5px;
}

.done{
    background-color: blue;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: -31px 3px;
    // cursor: pointer;
    float: right;
    border-radius: 5px;
}
.delete-container {
    margin: 0px auto;
    background: white;
    width: 40%;
    border-radius: 20px;
    padding: 10px;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black;
    .dialog {
      padding: 17px;
      text-align: center;
      .reject { 
          text-align: left;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 4%;
      }
      .release {    
          text-align: center;
          font-weight: bold;
          font-size: 25px;
          margin-bottom: 4%;
        
      }
      .blue-outline {
          border: blue solid;
          background: white !important;
          color: blue;
      }
      .red-outline {
        border: red solid;
        background: white !important;
        color: red;
    }
      .button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
      }
    }
    
  }
  .modal-top {
    background-color: white;
    .close {
      color: black;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
  }
.modal.false {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal.true {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
   
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    margin-left: 256px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

textarea{
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.add-charge {
    display: flex;
    justify-content: space-between;
}

.top-line {
    border-top: 1.5px solid #eaeaea;
    margin-top: 4vh;
    margin-bottom: 3vh;
}

@media print {
    .prints {
        display: none !important;
    }
    @page {
      size: A4 landscape;
      margin: 0.4mm 0.4mm 1.65mm 0.4mm;
      display: block;
    }
   
}  

