.container-swapper-option {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .button-container {

      border: 2px solid #ddd;
      border-radius:8px;
      button {
        color: #ddd;
        background: white;
        font-size: 14px;
        border-radius: 8px;
      }
      button.true {
       
        background: #2480fb;
        border-radius: 8px;
        color: #ddd;
      }
    }
  }