<!-- 
<div [@routerTransition]>
  <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Products">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchProductsLint']" 
        [table_title]="table_title" [table_data]="Products" [options]="formOptions" [table_header]="table_headers" [table_row]="table_rows">
            
        </app-form-builder-table>
  </div>
  </div>

  -->
<div [@routerTransition]>
      <div *ngIf="prodDetail">
            <app-page-header [heading]="'Merchant ' + [prodDetail.merchant_name]" [icon]="'fa-table'"></app-page-header>
            <app-merchant-detail [back]="[this,backToHere]" [detail]="prodDetail"></app-merchant-detail>
      </div>
      <div *ngIf="prodDetail==false">
            <app-page-header [heading]="'Merchant'" [icon]="'fa-table'"></app-page-header>
      </div>
      <div class="col-md-3 col-sm-3">
            <div class="pb-framer">
                  <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">

                  </div>
                  <span *ngIf="progressBar<58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                  <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>

            </div>

      </div>
      <div class="col-md-3 col-sm-3">
            <div *ngIf="errorFile" class="error_label"><mark>Error: {{errorFile}}</mark></div>
      </div>
      <!-- <input type="file" (change)="onFileSelected($event)" accept=".csv,.xlxs" style="color: white"/>
            <button class="btn rounded-btn" (click)="onUpload()" >Upload</button>
            <button class="btn rounded-btn-danger" (click)="cancelThis()" >Cancel</button> -->
      <br><br>
      <div *ngIf="Products&&prodDetail==false">
            <app-form-builder-table 
            [table_data]="Products"
            [searchCallback]="[service, 'getMerchant',this]"
            [tableFormat]="tableFormat" 
            [total_page]="totalPage">

            </app-form-builder-table>
      </div>
      <!-- <div *ngIf="prodDetail">
            <app-page-header [heading]="'Merchantss'" [icon]="'fa-table'"></app-page-header>
            <app-merchant-detail [back]="[this,backToHere]" [detail]="prodDetail"></app-merchant-detail>
      </div> -->


</div>