<div [@routerTransition]>
      <app-page-header [heading]="''" [icon]="'fa-table'"></app-page-header>
      <div *ngIf="Category&&categoryDetail==false&&!errorMessage">
            <app-form-builder-table [searchCallback]="[service,'searchCategoryLint',this]" [table_data]="Category"
                  [tableFormat]="tableFormat">
            </app-form-builder-table>
      </div>
      <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
                <i class="fas fa-ban"></i>
                {{errorMessage}}
            </div>
      </div>
      <div *ngIf="categoryDetail">
            <app-category-detail [back]="[this,backToHere]" [detail]="categoryDetail"></app-category-detail>
      </div>

</div>