.pb-framer{
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;
    .progressbar{
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }
    .terminated.progressbar{
        background-color: red;
    }
    .clr-white{
        color: white;
    }
}

h1 {
    color: white;
}


.error-message {
    background: white;
    height:100vh;
    text-align: center;
    font-size:26px;
    padding-top: 10px;

    .text-message {
        background: #E74C3C;
        padding: 20px;
        margin: 0 10px;
    }
}