<div [@routerTransition]>
  <app-page-header [heading]="'Order History Return Page'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistoryreturn && orderhistoryreturnDetail==false && mci_project == false && programType!='custom_kontraktual' && !errorMessage">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistoryreturnLint',this]" 
        [tableFormat]   = "tableFormat"
        [table_data]="Orderhistoryreturn"
        [total_page]="totalPage"
      >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="Orderhistoryreturn && orderhistoryreturnDetail==false && mci_project == true && programType!='custom_kontraktual' && !errorMessage">
      <app-form-builder-table 
      [searchCallback]="[service, 'searchOrderhistoryreturnLint',this]" 
      [tableFormat]   = "tableFormat2"
      [table_data]="Orderhistoryreturn"
      [total_page]="totalPage"
    >
          
      </app-form-builder-table>
  </div>

  <div *ngIf="Orderhistoryreturn && orderhistoryreturnDetail==false && mci_project == false && programType=='custom_kontraktual' && !errorMessage">
    <app-form-builder-table 
    [searchCallback]="[service, 'searchOrderhistoryreturnLint',this]" 
    [tableFormat]   = "tableFormat3"
    [table_data]="Orderhistoryreturn"
    [total_page]="totalPage"
  >
        
    </app-form-builder-table>
</div>

      <div *ngIf="errorMessage" class="error-message">
        <div class="text-message">
        <i class="fas fa-ban"></i>
        {{errorMessage}}
        </div>
      </div>

      <div *ngIf="orderhistoryreturnDetail">
            <app-orderhistoryreturn-edit [back]="[this,backToHere]" [detail]="orderhistoryreturnDetail"></app-orderhistoryreturn-edit>
      </div>

  </div>

