<div [@routerTransition]>
  <app-page-header [heading]="'Order History Failed'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistoryfailed&&orderhistoryfailedDetail==false">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistoryfailedLint',this]" 
        [tableFormat]="tableFormat"
        [table_data]="Orderhistoryfailed"
        [total_page]="totalPage">
      
      </app-form-builder-table>
  </div>
      <!-- <div *ngIf="orderhistoryfailedDetail">
            <app-orderhistoryfailed-detail [back]="[this,backToHere]" [detail]="orderhistoryfailedDetail"></app-orderhistoryfailed-detail>
      </div> -->

  </div>

