<div *ngIf="!edit && !isNoProcess && !isAddDocument && !isLoginRedeem" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <!-- <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> -->
        <div class="edit_button">
            <button class="btn btn-right-redeem" (click)="redeemLogin()" [disabled]="!isValidForRedeem">Redeem</button>
            <button class="btn btn-right-redeem" (click)="setCompleteMember()" *ngIf="!(memberDetail && memberDetail.additional_info && memberDetail.additional_info.data_complete == 'ya')">Set Member Complete</button>
            <button *ngIf="!mci_project" class="btn btn-right" (click)="noProcess()"><i class="fa fa-fw fa-file-image"></i>Archived Photos</button>
            <button *ngIf="!mci_project" class="btn btn-right" (click)="addDocument()"><i class="fa fa-fw fa-file-image"></i>BAST, Surat Kuasa, Receipt</button>
            <button class="btn btn-right" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
        </div>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>
  
    <div class="card-content" *ngIf="!errorMessage">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'" class="card-header"><h2>Data Pemilik</h2></div>
                        <div *ngIf="programType == 'custom_kontraktual'" class="card-header"><h2>Data Entitas</h2></div>
                        <div *ngIf="programType == 'reguler'" class="card-header"><h2>Data Pelanggan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>ID Pelanggan</label>
                                <div name="member_id">{{memberDetail.username}}</div>

                                <label>Data Complete</label>
                                <div name="member_id">{{memberDetail.additional_info && memberDetail.additional_info.data_complete ? memberDetail.additional_info.data_complete : '-'}}</div>

                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Group</label>
                                    <div name="description">{{memberDetail.input_form_data.description}}</div>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>Nama Program</label>
                                    <div name="description">{{memberDetail.input_form_data.cluster}}</div>
                                </div>
                                
                                <div *ngIf="mci_project">
                                    <label>Program</label>
                                    <div name="description">{{memberDetail.input_form_data.description}}</div>
                                </div>
                                
                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Nama Toko</label>
                                    <div name="full_name">{{memberDetail.input_form_data.nama_toko}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Nama Entitas</label>
                                    <div name="full_name">{{memberDetail.input_form_data.nama_toko}}</div>
                                </div>
                                
                                <div *ngIf="!mci_project">
                                    <label>Nama Distributor</label>
                                    <div name="full_name">{{sig_kontraktual? 'Semen Indonesia' : memberDetail.input_form_data.nama_distributor}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Alamat Toko</label>
                                    <div name="full_name">{{memberDetail.input_form_data.alamat_toko}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Alamat Entitas</label>
                                    <div name="full_name">{{memberDetail.input_form_data.alamat_toko}}</div>
                                </div>

                                <label *ngIf="programType == 'reguler'">ID Bisnis</label>
                                <div *ngIf="programType == 'reguler'" name="business_id">{{memberDetail.input_form_data.business_id}}</div>

                                <label *ngIf="programType == 'custom'">Nama Pemilik</label>
                                <label *ngIf="programType == 'custom_kontraktual'">Nama PIC</label>
                                <label *ngIf="programType == 'reguler'">Nama Pelanggan</label>
                                <div name="full_name">{{memberDetail.input_form_data.nama_pemilik}}</div>

                                <label *ngIf="programType == 'reguler'">No. Telepon Pelanggan</label>
                                <div *ngIf="programType == 'reguler'" name="full_name">{{memberDetail.input_form_data.telp_pemilik}}</div>

                                <label *ngIf="programType == 'custom'">No. WA Pemilik</label>
                                <label *ngIf="programType == 'custom_kontraktual'">No. WA PIC</label>
                                <!-- <label *ngIf="mci_project">No. WA Pelanggan</label> -->
                                <div *ngIf="programType != 'reguler'" name="full_name">{{memberDetail.input_form_data.no_wa_pemilik}}</div>

                                <label *ngIf="programType == 'reguler'">Email Pelanggan</label>
                                <div *ngIf="programType == 'reguler'" name="email">{{memberDetail.input_form_data.email}}</div>
                                
                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">No. KTP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">No. KTP PIC</label>
                                    <div name="full_name">{{memberDetail.input_form_data.ktp_pemilik}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">Foto KTP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">Foto KTP PIC</label>
                                    <div class="member-detail-image-container">
                                        <ng-container  *ngIf="validURL(memberDetail.input_form_data.foto_ktp_pemilik); else empty_image">
                                            <a href={{memberDetail.input_form_data.foto_ktp_pemilik}} target="_blank">
                                                <img *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_pemilik) == 'image'" src={{memberDetail.input_form_data.foto_ktp_pemilik}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_pemilik) == 'document'"
                                                    [src]="memberDetail.input_form_data.foto_ktp_pemilik"
                                                    [render-text]="false"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(memberDetail.input_form_data.foto_ktp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                        
                                        
                                    </div>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">No. NPWP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">No. NPWP PIC</label>
                                    <div name="full_name">{{memberDetail.input_form_data.npwp_pemilik}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">Foto NPWP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">Foto NPWP PIC</label>
                                    <div class="member-detail-image-container">
                                        <ng-container  *ngIf="validURL(memberDetail.input_form_data.foto_npwp_pemilik); else empty_image">
                                            <a href={{memberDetail.input_form_data.foto_npwp_pemilik}} target="_blank">
                                                <img *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_pemilik) == 'image'" src={{memberDetail.input_form_data.foto_npwp_pemilik}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_pemilik) == 'document'"
                                                    [src]="memberDetail.input_form_data.foto_npwp_pemilik"
                                                    [render-text]="false"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(memberDetail.input_form_data.foto_npwp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Penerima </h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <div *ngIf="!mci_project">
                                    <label>Hadiah Dikuasakan</label>
                                    <div name="email">{{memberDetail.input_form_data.hadiah_dikuasakan}}</div>

                                    <label>Nama Penerima</label>
                                    <div name="email">{{memberDetail.input_form_data.nama_penerima_gopay}}</div>

                                    <div *ngIf="programType == 'custom_kontraktual'">
                                        <label>Jabatan</label>
                                        <div name="description">{{memberDetail.input_form_data.description}}</div>
                                    </div>

                                    <label>No. WA Penerima</label>
                                    <div name="email">{{memberDetail.input_form_data.no_wa_penerima}}</div>

                                    <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                        <label>No. Gopay Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo Gopay, isi dengan No. Gopay Penerima)</div></label>
                                        <div name="email">{{memberDetail.input_form_data.telp_penerima_gopay}}</div>
                                    </div>

                                    <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                        <label>No. E-Wallet Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo E-Wallet, isi dengan No. E-Wallet Penerima)</div></label>
                                        <div name="email">{{memberDetail.input_form_data.telp_penerima_gopay}}</div>
                                    </div>
                                </div>
                                
                               <label>Alamat Pengiriman</label>
                               <div name="alamat_rumah">{{memberDetail.input_form_data.alamat_rumah}}</div>
                               <div *ngIf="alertAddress" class="red-alert">Alamat wajib dilengkapi</div>

                               <label>Provinsi</label>
                               <div name="provinsi_rumah">{{memberDetail.input_form_data.provinsi_rumah}}</div>
                               <div *ngIf="alertProvinsi" class="red-alert">Provinsi wajib dilengkapi</div>

                               <label>Kota</label>
                               <div name="kota_rumah">{{memberDetail.input_form_data.kota_rumah}}</div>
                               <div *ngIf="alertKota" class="red-alert">Kota wajib dilengkapi</div>

                               <label>Kecamatan</label>
                               <div name="kecamatan_rumah">{{memberDetail.input_form_data.kecamatan_rumah}}</div>
                               <div *ngIf="alertKecamatan" class="red-alert">Kecamatan wajib dilengkapi</div>

                               <label>Kelurahan</label>
                               <div name="kelurahan_rumah">{{memberDetail.input_form_data.kelurahan_rumah}}</div>
                               <div *ngIf="alertKelurahan" class="red-alert">Kelurahan wajib dilengkapi</div>

                               <label>Kode Pos</label>
                               <div name="kode_pos_rumah">{{memberDetail.input_form_data.kode_pos_rumah}}</div>
                               <div *ngIf="alertKodePos" class="red-alert">Kode Pos wajib dilengkapi</div>

                               <!-- <div *ngIf=mci_project>
                                    <label>Kota Penerima</label>
                                    <div name="email">{{memberDetail.input_form_data.kota_rumah}}</div>
                                </div> -->

                               <!-- <div *ngIf=mci_project>
                                    <label>Kode Pos Penerima</label>
                                    <div name="email">{{memberDetail.input_form_data.kode_pos_rumah}}</div>
                                </div> -->

                                <div *ngIf=!mci_project>
                                    <label>No. KTP Penerima</label>
                                    <div name="email">{{memberDetail.input_form_data.ktp_penerima}}</div>
                                </div>

                                <div *ngIf=!mci_project>
                                    <label>Foto KTP Penerima</label>
                                    <div class="member-detail-image-container">
                                        <ng-container *ngIf="validURL(memberDetail.input_form_data.foto_ktp_penerima); else empty_image">
                                            <a href={{memberDetail.input_form_data.foto_ktp_penerima}} target="_blank" >
                                                <img *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_penerima) == 'image'" src={{memberDetail.input_form_data.foto_ktp_penerima}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.input_form_data.foto_ktp_penerima) == 'document'"
                                                    [src]="memberDetail.input_form_data.foto_ktp_penerima"
                                                    [render-text]="false"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(memberDetail.input_form_data.foto_ktp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div *ngIf=!mci_project>
                                    <label>No. NPWP Penerima</label>
                                    <div name="email">{{memberDetail.input_form_data.npwp_penerima}}</div>
                                </div>

                                <div *ngIf=!mci_project>
                                    <label>Foto NPWP Penerima</label>
                                    <div class="member-detail-image-container">
                                        <ng-container *ngIf="validURL(memberDetail.input_form_data.foto_npwp_penerima); else empty_image">
                                            <a href={{memberDetail.input_form_data.foto_npwp_penerima}} target="_blank">
                                                <img *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_penerima) == 'image'" src={{memberDetail.input_form_data.foto_npwp_penerima}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.input_form_data.foto_npwp_penerima) == 'document'"
                                                    [src]="memberDetail.input_form_data.foto_npwp_penerima"
                                                    [render-text]="false"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(memberDetail.input_form_data.foto_npwp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                        </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    
                </div>
                <!-- <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Foto</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             

                                <label class="label-bold">Foto BAST</label>
                                <ng-container *ngIf="memberDetail.input_form_data.foto_bast && isArray(memberDetail.input_form_data.foto_bast) && memberDetail.input_form_data.foto_bast.length > 0; else empty_image">
                                    <div class="member-detail-image-container"  *ngFor="let itemImage of memberDetail.input_form_data.foto_bast; let i = index">
                                        <ng-container *ngIf="validURL(itemImage.url); else empty_image">
                                            <a href={{itemImage.url}} target="_blank">
                                                <img src={{itemImage.url}} class="member-detail-image" />
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(itemImage.url)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                            <div style="text-align: center;">
                                                <span>
                                                    <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                </span>
                                            </div>

                                            <br/>
                                            <div>
                                                <span><b>Desription :</b></span>
                                                <span>
                                                    {{itemImage.desc}}
                                                </span>
                                            </div>

                                        </ng-container>
                                    </div>
                                </ng-container>

                                <ng-template #empty_image>
                                    <div>
                                        empty
                                    </div>
                                </ng-template>

                                <hr style="margin:35px 0 20px 0;"/>

                                <label class="label-bold">Foto Surat Kuasa</label>
                                <ng-container *ngIf="memberDetail.input_form_data.foto_surat_kuasa && isArray(memberDetail.input_form_data.foto_surat_kuasa) && memberDetail.input_form_data.foto_surat_kuasa.length > 0; else empty_image">
                                    <div class="member-detail-image-container"   *ngFor="let itemImage of memberDetail.input_form_data.foto_surat_kuasa; let i = index">
                                        <ng-container *ngIf="validURL(itemImage.url); else empty_image">
                                            <a href={{itemImage.url}} target="_blank">
                                                <img src={{itemImage.url}} class="member-detail-image" />
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(itemImage.url)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                            <div style="text-align: center;">
                                                <span>
                                                    <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                </span>
                                            </div>
                                            <br/>
                                            <div>
                                                <span><b>Desription :</b></span>
                                                <span>
                                                    {{itemImage.desc}}
                                                </span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
          
            
         </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">
        <div class="text-message">
            <i class="fas fa-ban"></i>
            {{errorMessage}}
        </div>
    </div>
</div>
<div *ngIf="edit">
    <app-form-member-edit [back]="[this, 'editThis']" [detail]="memberDetail"></app-form-member-edit>
</div>

<div *ngIf="isAddDocument">
    <app-list-order [back]="[this, 'addDocument']" [detail]="memberDetail"></app-list-order>
</div>

<div *ngIf="isLoginRedeem">
    <app-redeem-login [back]="[this, 'redeemLogin']" [detail]="memberDetail"></app-redeem-login>
</div>

<div *ngIf="isNoProcess">
    <app-additional-document [back]="[this, 'noProcess']" [detail]="memberDetail"></app-additional-document>
</div>