<div [@routerTransition]>
    <app-page-header [heading]="'Order History Waiting For Approval'" [icon]="'fa-table'"></app-page-header>

    <div *ngIf="Orderhistorywaiting && orderhistorywaitingDetail==false && mci_project == false && programType!='custom_kontraktual'  && !errorMessage">
            <app-form-builder-table 
            [searchCallback]="[service, 'searchOrderhistorywaitingLint',this]" 
            [tableFormat]="tableFormat"
            [table_data]="Orderhistorywaiting"
            [total_page]="totalPage"
        >
                
            </app-form-builder-table>
    </div>

    <div *ngIf="Orderhistorywaiting && orderhistorywaitingDetail==false && mci_project == true && programType!='custom_kontraktual'  && !errorMessage">
            <app-form-builder-table 
            [searchCallback]="[service, 'searchOrderhistorywaitingLint',this]" 
            [tableFormat]="tableFormat2"
            [table_data]="Orderhistorywaiting"
            [total_page]="totalPage"
        >
                
            </app-form-builder-table>
    </div>

    <div *ngIf="Orderhistorywaiting && orderhistorywaitingDetail==false && mci_project == false && programType=='custom_kontraktual'  && !errorMessage">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistorywaitingLint',this]" 
        [tableFormat]="tableFormat3"
        [table_data]="Orderhistorywaiting"
        [total_page]="totalPage"
    >
            
        </app-form-builder-table>
</div>

        <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
            <i class="fas fa-ban"></i>
            {{errorMessage}}
            </div>
        </div>
        
        <div *ngIf="orderhistorywaitingDetail">
                <app-orderhistorywaiting-edit [back]="[this,backToHere]" [detail]="orderhistorywaitingDetail"></app-orderhistorywaiting-edit>
        </div>

    </div>
    <div *ngIf="showLoadingSpinner" id="cover-spin">
        <div class="spin-content">
            <div class="spin-text">processing ...</div>
            <progressbar [max]="processTotal" [value]="processCount" [striped]="true" [animate]="true"><i>{{processCount}} / {{processTotal}}</i></progressbar>
        </div>
    </div>