<div >
    <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>

    <div class="container-swapper-option">
      <span style="margin-right: 10px;">View  </span> 
      <div class="button-container">
    <button class="btn toolbar {{swaper}}" (click)="swapClick(true)">
      <span class="fa fa-grip-horizontal">Based On Product</span>
    </button>
    <button class="btn toolbar {{!swaper}}" (click)="swapClick(false)">
      <span class="fa fa-table">Based On Order_id</span>
    </button>
  </div>
  </div>
    <div *ngIf="Pointstransaction && swaper">
          <app-form-builder-table
          [searchCallback]= "[service, 'searchSalesOrderReportint',this]"
          [tableFormat]="tableFormat"
          [table_data]="Pointstransaction"
          [total_page]="totalPage"
        >
  
          </app-form-builder-table>
    </div>
    <div *ngIf="Pointstransaction  && !swaper">
      <app-form-builder-table
      [searchCallback]= "[service, 'searchSalesOrderReport2int',this]"
      [tableFormat]="tableFormat2"
      [table_data]="Pointstransaction"
      [total_page]="totalPage"
    >

      </app-form-builder-table>
</div>
        <div *ngIf="pointstransactionDetail">
              <!-- <app-pointstransaction-detail [back]="[this,backToHere]" [detail]="pointstransactionDetail"></app-pointstransaction-detail> -->
        </div>
  
    </div>
  