<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="member-detail">
            <div class="row" *ngIf="!errorMessage">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Edit Data Admin</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>E-mail</label>
                                <form-input  name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>
                                <div *ngIf="alertEmail" class="empty-alert">Email is Required</div>

                                <label>Username</label>
                                <form-input  [disabled]="true" name="username" [type]="'text'" [placeholder]="'Member ID'"  [(ngModel)]="detail.username" autofocus required></form-input>
                                <div *ngIf="alertUsername" class="empty-alert">Username is Required</div>

                                <label>Nama Lengkap</label>
                                <form-input name="full_name" [type]="'text'" [placeholder]="'Name Pemiliki'"  [(ngModel)]="detail.full_name" autofocus required></form-input>
                                <div *ngIf="alertFullname" class="empty-alert">Full Name is Required</div>

                                <label *ngIf="groupNameData.length > 0">Group Name</label>
                                <form-select *ngIf="groupNameData.length > 0" [(ngModel)]="detail.group_name" [data]="groupNameData"></form-select>
                                <div *ngIf="alertGroupname" class="empty-alert">Group Name is Required</div>

                                <label>Status</label>
                                <form-select [(ngModel)]="detail.status" [data]="memberStatus"></form-select>
                                <div *ngIf="alertStatus" class="empty-alert">Status is Required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                <div class="text-message">
                    <i class="fas fa-ban"></i>
                    {{errorMessage}}
                </div>
            </div>
         </div>
    </div>
</div>