<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Category'" [icon]="'fa-table'"></app-page-header>

  <div *ngIf="!showPasswordPage">
    <div class="card card-detail">
        <div class="card-header">
            <button class="btn back_button" (click)="backTo()"><i class="fa fa-fw fa-angle-left"></i>Back</button>
        </div>

        <div class="card-content">
            <div class="member-detail">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-3">
                          <div class="card-header">
                              <h2>Add New Category</h2>
                          </div>
                          <div class="card-content">
                            <div class="col-md-12" id="name">
                                  <label>Name</label>
                                  <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="form.name" autofocus [ngClass]="nameAlert? 'red-alert' : ''" (keyup)="nameType()"></form-input>
                                  <div *ngIf="nameAlert" class="red-error-alert">*nama kategory tidak boleh kosong</div>
                                
                                  <label>Type</label>
                                  <form-select [(ngModel)]="form.type" name="type" [data]="categoryType" [ngClass]="typeAlert? 'red-alert' : ''"></form-select>
                                  <div *ngIf="typeAlert" class="red-error-alert">*tipe kategory tidak boleh kosong</div>
                                
                                  <label>Code</label>
                                  <form-input name="code" [placeholder]="'Code'"  [type]="'number'" [(ngModel)]="form.code" [ngClass]="codeAlert? 'red-alert' : ''" (keyup)="codeType()"></form-input>
                                  <div *ngIf="codeAlert" class="red-error-alert">*code kategory tidak boleh kosong</div>

                                  <label>Key</label>
                                  <form-input name="key" [placeholder]="'Key'"  [type]="'text'" [(ngModel)]="form.key" [ngClass]="keyAlert? 'red-alert' : ''" [disabled]="true"></form-input>
                                  <div *ngIf="keyAlert" class="red-error-alert">*key kategory tidak boleh kosong</div>

                                  <button class="btn save-button" type="submit" [disabled]="form.pristine" (click)="formSubmitAddCategory()" [ngClass]="productNameAlert? 'red-alert' : ''">Submit</button> 
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>

 