<div >
    <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
      
      <div class="container-swapper-option" *ngIf="SalesRedemptionDetail==false&&!errorMessage">
            <span style="margin-right: 10px;">View</span> 
            <div class="button-container">
            <button class="btn toolbar {{swaper}}" (click)="swapClick(true)">
            <span class="fa fa-table"> Processed</span>
            </button>
            <button class="btn toolbar {{!swaper}}" (click)="swapClick(false)">
            <span class="fa fa-table"> Canceled</span>
            </button>
            </div>
      </div>
    
      <div *ngIf="SalesRedemption && !mci_project && programType!='custom_kontraktual'">
            <app-form-builder-table
            [searchCallback]= "[service, swaper == true ? 'searchRedemptionReportint' : 'searchRedemptionCanceledReportint' ,this]"
            [tableFormat]="tableFormat"
            [table_data]="SalesRedemption"
            [total_page]="totalPage"
            >
  
            </app-form-builder-table>
      </div>
      <div *ngIf="SalesRedemption && mci_project && programType!='custom_kontraktual'">
            <app-form-builder-table
            [searchCallback]= "[service, swaper == true ? 'searchRedemptionReportint' : 'searchRedemptionCanceledReportint' ,this]"
            [tableFormat]="tableFormat2"
            [table_data]="SalesRedemption"
            [total_page]="totalPage"
            >

            </app-form-builder-table>
      </div>

      <div *ngIf="SalesRedemption && !mci_project && programType=='custom_kontraktual'">
            <app-form-builder-table
            [searchCallback]= "[service, swaper == true ? 'searchRedemptionReportint' : 'searchRedemptionCanceledReportint' ,this]"
            [tableFormat]="tableFormat3"
            [table_data]="SalesRedemption"
            [total_page]="totalPage"
            >

            </app-form-builder-table>
      </div>
        <!-- <div *ngIf="SalesRedemptionDetail"> -->
              <!-- <app-bast [back]="[this,backToHere]" [detail]="SalesRedemptionDetail"></app-bast> -->
        <!-- </div> -->
  
    </div>
  