<div [@routerTransition]>

    <div class="header-add">
        <h3>Sliding Banner</h3>
        <i class="fas fa-angle-right"></i>
        <h3 style="color:#2381FB">Edit Banner</h3>
    </div>
    <hr class="new1">
    <div class="banner-picture">
        <h3>Banner Picture</h3>
    </div>

    <div class="form-group" *ngIf="!detail.imageUrl">
        <div class="image-upload">
            <img src="{{detail.imageUrl}}" class="logo-upload">
            <!-- <p class="upload-desc">Drag & Drop your image here <br> or</p>
          <button class="btn btn-primary fileupload" (click)="fileinput.click()">Browse File</button>
          <!-- <div [ngClass]="'uploading-file '+isFileUploaded">
            <img *ngIf="selFile" [src]="selFile" height="200" />
            <span *ngIf="isFileUploaded"> UPLOADED </span>
          </div> -->

            <div class="pb-framer">
                <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">

                </div>
                <span *ngIf="progressBar<58&&progressBar>0">
                    {{cancel?'terminated':progressBar+'%'}} </span>
                <span class="clr-white" *ngIf="progressBar>58">
                    {{cancel?'terminated':progressBar+'%'}} </span>

            </div>

            <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>

        </div>
        <a class="text-fileuploads" (click)="fileinput.click()">re-upload it</a>
    </div>
    <div class="form-group uploaded" *ngIf="detail.imageUrl">
        <!-- <label> Your Product Image</label> -->
        <div class="uploaded-image" (click)="fileinput.click()">
            <div class="img" [ngStyle]="{'background-image':'url('+(detail.imageUrl)+')'}">
                <div class="editor-tool">
                    <!-- <button >TEST</button> -->
                    <i class="fa fa-pen"></i>
                </div>
            </div>
       
                <a class="text-fileupload" (click)="fileinput.click()">re-upload it</a>
            
        </div>
    </div>
    <div class="banner-picture">
        <h3>Banner Detail</h3>
    </div>

    <div class="detail-form">
        <div>
            <div class="col-md-6">
                <label>Banner Title</label>
        <form-input id="formbar" name="bannerTitle" [disabled]="false" [type]="'text'" [placeholder]="'Banner Title'"
          [(ngModel)]="form_add.title" required></form-input>
                <label>Value</label>
                <form-input id="formbar" name="hashUrl" [disabled]="false" [type]="'text'"
                    placeholder="{{detail.hashUrl}}" [(ngModel)]="form_add.target.value" required></form-input>

                <!-- <label>Hash URL Hastags</label>
          <form-input name="hashUrl" [type]="'text'" [placeholder]="'Hash URL'"  [(ngModel)]="hashUrl" required></form-input>
          -->
                <!-- <label>Status</label>
          <form-input name="active" [type]="'number'" [placeholder]="'Select Status'"  [(ngModel)]="active" required></form-input>
          <label>Position</label>
          <form-input name="location" [type]="'text'" [placeholder]="'Select Position'"  [(ngModel)]="location" required></form-input>
          <label>Index</label>
          <form-input name="active" [type]="'number'" [placeholder]="'Select Index'"  [(ngModel)]="active" required></form-input> -->
                <label>Description</label>
                <ckeditor [config]="config" id="description" name="description" [editor]="Editor" [(ngModel)]="form_add.target.description"
                    style="min-height: 200px;color:black"></ckeditor>
                    <!-- <ckeditor *ngIf="!form_add.target.description" id="description" name="description" [editor]="Editor" [(ngModel)]="form_add.target.description"
                    style="min-height: 200px;color:black"></ckeditor> -->
                    <label>Status</label>
                    <!-- <form-select id="formbar" name="status" [disabled]="false" [(ngModel)]="form_add.active" [data]="status"
                      required>
                    </form-select> -->
                    <div class="mb-3">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="form_add.active" >
                          <option *ngFor="let option of status"  value="{{option.value}}">{{option.label}}</option>
                        </select>
                      </div>
                    </div>
                    <label>Position</label>
                    <!-- <form-select id="formbar" name="position" [disabled]="false" [(ngModel)]="form_add.location" [data]="position"
                      required>
                    </form-select> -->
                    <div class="mb-3">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="form_add.location" >
                          <option *ngFor="let option of position"  value="{{option.value}}">{{option.label}}</option>
                        </select>
                      </div>
                    </div>
                    
                    <!-- <form-select id="formbar" name="index" [disabled]="false" [(ngModel)]="form_add.target.index" [data]="index"
                      required>
                    </form-select> -->
                    
                    <!-- <select [(ngModel)]="form_add.target.type" class="formbar">
                      <option value="landingpage">Landing Page</option>
                      <option value="search">Search</option>
                    </select> -->
                    <label>Index</label>
                    <div class="mb-3">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="form_add.target.index" >
                          <option *ngFor="let option of index"  value="{{option.value}}">{{option.label}}</option>
                        </select>
                      </div>
                    </div>
                    <label>Type</label>
                    <div class="mb-3">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="form_add.target.type" >
                          <option value="landingpage">Landing Page</option>
                      <option value="search">Search</option>
                        </select>
                      </div>
                    </div>


                <!-- {{form.value | json}}  -->
            </div>
            <div class="button-container">
                <button class="btn btn-cancel" type="button" [disabled]="false" (click)="ok()">Cancel</button>
                <button class="btn btn-save" type="submit" [disabled]="false" (click)="formSubmitEditBanner()">Save</button>
            </div>
            <input name="image" #fileinput type="file" (change)="onFileSelected($event)" [(ngModel)]="selFile"
                accept="image/png, image/jpeg">
        </div>
    </div>

</div>



<!-- <div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.location}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="banner-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Banner Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Banner ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Banner ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
             
                             <label>Image Url Link</label>
                             <form-input name="imageUrl" [type]="'text'" [placeholder]="'Image URL Link'"  [(ngModel)]="detail.imageUrl" autofocus required></form-input>
             
                             <label>Hash URL Hastags</label>
                             <form-input name="hashUrl" [type]="'text'" [placeholder]="'Hash URL Hastags'"  [(ngModel)]="detail.hashUrl" autofocus required></form-input>
             
                             <label>Location</label>
                             <form-input  name="location" [disabled]="true" [type]="'text'" [placeholder]="'Location'"  [(ngModel)]="detail.location" autofocus required></form-input>

                             <label>Status Banner Active</label>
                             <form-input name="active" [type]="'text'" [placeholder]="'Active'"  [(ngModel)]="detail.active" autofocus required></form-input>

                             <label>Created Date</label>
                             <form-input  name="created_date" [disabled]="true" [type]="'text'" [placeholder]="'Created Date'"  [(ngModel)]="detail.created_date" autofocus required></form-input>
                             
                             <label>Updated Date</label>
                             <form-input  name="updated_date" [disabled]="true" [type]="'text'" [placeholder]="'Updated Date'"  [(ngModel)]="detail.updated_date" autofocus required></form-input> 
                            
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                            <label>Registration Date </label>
                            <form-input  name="registration_date" [disabled]="true" [type]="'text'" [placeholder]="'Registration Date'"  [(ngModel)]="detail.registration_date" autofocus required></form-input>

                            <label>Point Balance </label>
                            <form-input  name="point_balance" [disabled]="true" [type]="'text'" [placeholder]="'Point Balance'"  [(ngModel)]="detail.point_balance" autofocus required></form-input>

                            <label>Activation Code </label>
                            <form-input  name="activation_code" [disabled]="true" [type]="'text'" [placeholder]="'Activation Code'"  [(ngModel)]="detail.activation_code" autofocus required></form-input>

                            <label>Activation Status </label>
                            <div name="activation_status"> {{activation_status}}
                                <form-select name="activation_status" [(ngModel)]="detail.activation_status" [data]="activationStatus" required></form-select> 
                             </div> 
                             
                         </div>
                       
                      </div>
                 </div> 
                 
                </div>-->
<!-- </div>
     
         </div>
    </div>
    
</div> -->