<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Points Group'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddGroup(form.value)">
      <div class="col-md-6">
          <label>Organization ID</label>
          <form-input name="org_id" [placeholder]="'Organization ID'"  [type]="'text'" [(ngModel)]="org_id" required></form-input>

          <label>Campaign Name</label>
          <form-input name="campaign_name" [placeholder]="'Campaign Name'" [type]="'text'" [(ngModel)]="campaign_name" required></form-input>

          <label>Campaign ID</label>
          <form-input name="campaign_id" [placeholder]="'Campaign ID'"  [type]="'text'" [(ngModel)]="campaign_id" required></form-input>

          <label>Group Name</label>
          <form-input name="group_name" [placeholder]="'Group Name'"  [type]="'text'" [(ngModel)]="group_name" required></form-input>

          <label>Group Code</label>
          <form-input name="group_code" [placeholder]="'Group Code'"  [type]="'text'" [(ngModel)]="group_code" required></form-input>

          <label>Description</label>
          <form-input name="description" [placeholder]="'Description'"  [type]="'text'" [(ngModel)]="description" required></form-input>

          <label>Status</label>
          <div name="status"> {{status}}
            <form-select name="status" [(ngModel)]="status" [data]="groupStatus" required></form-select> 
          </div>

          <label>Start Date</label>
          <form-input name="start_date" [placeholder]="'Start Date'"  [type]="'date'" max="2020-12-31" [(ngModel)]="start_date" required></form-input>

          <label>End Date</label>
          <form-input name="end_date" [placeholder]="'End Date'"  [type]="'date'" max="2020-12-31" [(ngModel)]="end_date" required></form-input>
         <!-- {{form.value | json}}  -->
      </div>
        
        <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 