<div [@routerTransition]>

    <app-page-header [heading]="'Add New Member'" [icon]="'fa-table'"></app-page-header>

    <div>
        <div class="card card-detail">
            <div class="card-header">
                <button class="btn save_button" (click)="formSubmitAddMember()" type="submit"
                    [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-save"
                        style="transform: translate(-3px, -1px)"></i>Submit</button>
                <button class="btn back_button" (click)="backTo()"><i class="fa fa-fw fa-angle-left"></i>Back</button>
            </div>

            <div class="card-content">
                <div class="member-detail">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2> Member Details </h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">

                                        <label>Member ID</label>
                                        <form-input name="id" [type]="'text'" [(ngModel)]="form.id" [placeholder]="'Member ID'" autofocus
                                            required>
                                        </form-input>

                                        <label>Full Name</label>
                                        <form-input name="full_name" [(ngModel)]="form.full_name" [type]="'text'" [placeholder]="'Full Name'"
                                            autofocus required>
                                        </form-input>

                                        <!-- <div class="form-group">
                                            <label for="dob">Date Of Birth</label>
                                            <input type="text" name="dob" [(ngModel)]="dob" type="date"
                                                class="form-control">
                                        </div> -->

                                        <label>Date of Birth</label>
                                        <div class="input-group datepicker-input" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dob"
                                                [(ngModel)]="form.dob" ngbDatepicker #d="ngbDatepicker">
                                            <button class="input-group-addon" (click)="d.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>


                                        <div class="form-group">
                                            <label>Gender</label>
                                            <select class="form-control" name="gender" [(ngModel)]="form.gender">
                                                <option *ngFor="let g of gender_type" [ngValue]="g.value">{{g.label}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Member Status</label>
                                            <select class="form-control" name="member_status"
                                                [(ngModel)]="form.member_status">
                                                <option *ngFor="let m of member_status_type" [ngValue]="m.value">
                                                    {{m.label}}</option>
                                            </select>
                                        </div>

                                        <label>Address</label>
                                        <form-input name="maddress1" [(ngModel)]="form.maddress1" [type]="'textarea'" [placeholder]="'Address'"
                                            autofocus required>
                                        </form-input>

                                        <label>City</label>
                                        <form-input name="mcity" [(ngModel)]="form.mcity" [type]="'text'" [placeholder]="'City'" autofocus
                                            required>
                                        </form-input>

                                        <label>Postcode</label>
                                        <form-input name="mpostcode" [(ngModel)]="form.mpostcode" [type]="'number'" [placeholder]="'Postcode'"
                                            autofocus required>
                                        </form-input>

                                        <label>State</label>
                                        <form-input name="mstate" [(ngModel)]="form.mstate" [type]="'text'" [placeholder]="'State'" autofocus
                                            required>
                                        </form-input>

                                        <label>Country</label>
                                        <form-input name="mcountry" [(ngModel)]="form.mcountry" [type]="'text'" [placeholder]="'Country'" autofocus
                                            required>
                                        </form-input>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2>Member &amp; Status Member</h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">

                                        <label>Password</label>
                                        <form-input name="password" [type]="'password'" [placeholder]="'Password'"
                                            [(ngModel)]="form.password" autofocus required>
                                        </form-input>

                                        <label>Email</label>
                                        <form-input name="email" [(ngModel)]="form.email" [type]="'text'" [placeholder]="'Email'" autofocus
                                            required>
                                        </form-input>

                                        <label>Cell Phone</label>
                                        <form-input name="cell_phone" [type]="'number'" [(ngModel)]="form.cell_phone" [placeholder]="'Cell Phone'"
                                            autofocus required>
                                        </form-input>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)">
                <div class="row">
                    <div class="col-md-6">
                        <label>Full Name</label>
                        <form-input name="full_name" [type]="'text'" [placeholder]="'Full Name'" [(ngModel)]="full_name"
                            required></form-input>

                        <label>Email</label>
                        <form-input name="email" [placeholder]="'Email'" [type]="'text'" [(ngModel)]="email" required>
                        </form-input>

                        <label>Password</label>
                        <form-input name="password" [placeholder]="'Password'" [type]="'password'"
                            [(ngModel)]="password" required></form-input>

                    
                        <label>Cell Phone</label>
                        <form-input name="cell_phone" [placeholder]="'Cell Phone'" [type]="'number'"
                            [(ngModel)]="cell_phone" required></form-input>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>City</label>
                        <form-input name="mcity" [placeholder]="'City'" [type]="'text'" [(ngModel)]="mcity" required>
                        </form-input>
                    </div>

                    <div class="col-md-6">
                        <label>State</label>
                        <form-input name="mstate" [placeholder]="'State'" [type]="'text'" [(ngModel)]="mstate" required>
                        </form-input>

                        <label>Country</label>
                        <form-input name="mcountry" [placeholder]="'Country'" [type]="'text'" [(ngModel)]="mcountry"
                            required></form-input>

                        <label>Address</label>
                        <form-input name="maddress1" [placeholder]="'Address'" [type]="'textarea'"
                            [(ngModel)]="maddress1" required></form-input>

                        <label>Post Code</label>
                        <form-input name="mpostcode" [placeholder]="'Post Code'" [type]="'number'"
                            [(ngModel)]="mpostcode" required></form-input>

                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="gender" [(ngModel)]="gender">
                                <option *ngFor="let d of gender_type" value="{{d.value}}">{{d.label}}</option>
                            </select>
                        </div>


                        <label>Marital Status</label>
                        <form-select name="marital_status" [(ngModel)]="marital_status" [data]="marital_status_type">
                        </form-select>

                        <label>Member Type</label>
                        <form-select name="type" [(ngModel)]="type" [data]="member_type"></form-select>
                    </div>
                </div>

            </form> -->
        </div>
    </div>