<!-- 
<div [@routerTransition]>
  <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Article">
        <app-form-builder-table 
        [searchCallback]="[service,'searchArticleLint']" 
        [table_title]="table_title" [table_data]="Article" [options]="formOptions" [table_header]="table_headers" [table_row]="table_rows">
            
        </app-form-builder-table>
  </div>
  </div>

  -->
  <div [@routerTransition]>
           
            <app-page-header [heading]="'Article'" [icon]="'fa-table'"></app-page-header>
            <div *ngIf="Article&&articleDetail==false">
                  <app-form-builder-table
                  [table_data]  = "Article" 
                  [searchCallback]= "[service,'searchArticleLint',this]"
                  [tableFormat]="tableFormat"
                  >
                      
                  </app-form-builder-table>
            </div>
            <div *ngIf="articleDetail">
                  <app-article-detail [back]="[this,backToHere]" [detail]="articleDetail"></app-article-detail>
            </div>
            
           
          </div>
          
