<div [@routerTransition]>
    <app-page-header *ngIf="topBarMenu" [heading]="'All Order History (Sales)'" [icon]="'fa-table'"
        [topBarMenu]="topBarMenu"></app-page-header>
    <div class="summary-report row">
        <div class="col-md-8">
            <div class="row-per-card">
                <app-order-histories-per-day *ngIf="analitycsData.daily.barChartLabels.length"
                    [analitycsData]="analitycsData.daily" [barChartOptions]="barChartOptions"
                    [barChartLegend]="barChartLegend"></app-order-histories-per-day>
            </div>
            <div class="row" style="margin-bottom: 20px; text-align: center">
                <div class="col-md-6">

                    <div class="card " *ngIf="analitycsData.monthly">
                        <div class="card-header">
                            monthly analytics
                        </div>
                        <div class="card-body">
                            <canvas baseChart [datasets]="analitycsData.monthly.barChartData"
                                [labels]="analitycsData.monthly.barChartLabels" [options]="barChartOptions"
                                [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card " *ngIf="analitycsData.yearly.barChartLabels">
                        <div class="card-header">
                            Yearly analytics
                        </div>
                        <div class="card-body">
                            <canvas baseChart [datasets]="analitycsData.yearly.barChartData"
                                [labels]="analitycsData.yearly.barChartLabels" [options]="barChartOptions"
                                [legend]="barChartLegend" [chartType]="'bar'" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                        <!-- <div class="card-footer">
                                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px; text-align: center">
                <div class="col-md-12">
                    <div class="row-per-card">
                        <div class="card " *ngIf="analitycsData.hourly.barChartLabels">
                            <div class="card-header">
                                Hourly analytics
                            </div>
                            <div class="card-body">
                                <canvas baseChart [datasets]="analitycsData.hourly.barChartData"
                                    [labels]="analitycsData.hourly.barChartLabels" [options]="barChartOptions"
                                    [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                </canvas>
                            </div>
                            <!-- <div class="card-footer">
                                                <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px; text-align: center">
                    <app-order-histories-total-today-order [data]="data">
                    </app-order-histories-total-today-order>
                </div>

                <div class="col-lg-6 col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Hourly</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All Order</td>
                                    <td>{{avgData.hourly.all}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.hourly.pending}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.hourly.paid}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.hourly.checkout}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.hourly.cancel}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.hourly.waiting}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Daily</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All Order</td>
                                    <td>{{avgData.daily.all}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.daily.pending}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.daily.paid}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.daily.checkout}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.daily.cancel}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.daily.waiting}}</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Monthly</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All Order</td>
                                    <td>{{avgData.monthly.all}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.monthly.pending}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.monthly.paid}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.monthly.checkout}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.monthly.cancel}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.monthly.waiting}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" style="margin-bottom: 20px; text-align: center">
                    <div class="card sum" *ngIf="data.current_order_history">
                        <div class="card-header"> Avg Yearly</div>
                        <div class="card-body">
                            <table style="text-align: left">
                                <tr>
                                    <td>All Order</td>
                                    <td>{{avgData.yearly.all}} </td>
                                </tr>
                                <tr>
                                    <td>Pending</td>
                                    <td>{{avgData.yearly.pending}}</td>
                                </tr>
                                <tr>
                                    <td>Paid</td>
                                    <td>{{avgData.yearly.paid}}</td>
                                </tr>
                                <tr>
                                    <td>Checkout</td>
                                    <td>{{avgData.yearly.checkout}}</td>
                                </tr>
                                <tr>
                                    <td>Cancel</td>
                                    <td>{{avgData.yearly.cancel}}</td>
                                </tr>
                                <tr>
                                    <td>Waiting</td>
                                    <td>{{avgData.yearly.waiting}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-md-12" style="float:right">
                    <div class="row-per-card top-20">
                        <div class="card " *ngIf="analitycsData.yearly.barChartLabels">
                            <div class="card-header">
                                Top 20 Buyers (<em> by number of Transactions</em>)
                            </div>
                            <div class="card-body">
                                <table
                                    class="table table-responsive-md table-responsive-lg table-responsive-sm table-responsive-xl">
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Number of Transaction</th>
                                    </tr>
                                    <tr *ngFor="let m of topMembers;let i = index;">
                                        <td>{{i+1}}</td>
                                        <td>{{m.user_name}}</td>
                                        <td>{{m.count}}</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- <div class="card-footer">
                                        <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.hourly)">Refresh</button>
                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>




</div>
