<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="guest-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Guest Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Organization ID</label>
                            <div name="org_id" >{{detail.org_id}}</div>
            
                            <label>Guest ID</label>
                            <div name="_id">{{detail._id}}</div>
            
                            <label>User ID</label>
                            <div name="user">{{detail.user}}</div>
            
                            <label>Full Name</label>
                            <div name="full_name">{{detail.full_name}}</div>

                            <label>Member Type</label>
                            <div name="type">{{detail.type}}</div>

                            <label>Point balance</label>
                            <div name="point_balance">{{detail.point_balance}}</div>

                            <label>Created date</label>
                            <div name="created_date">{{detail.created_date}}</div>

                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-guest-edit [back]="[this,'editThis']" [detail]="detail"></app-guest-edit>
</div>