<div class="row">
    <div class="col-xl-12">
        <div *ngIf="topBarMenu" class="top-bar-menu">
                <a mat-raised-button color="primary" *ngFor="let tbm of topBarMenu " routerLink="{{tbm.routerLink}}" [ngClass]="isActiveClass(tbm.active)" [routerLinkActive]="">
                    {{tbm.label}}
                </a>
        </div>
        <h2 class="page-header">
            {{heading}}
        </h2>
        <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i> <a id="dash" href="Javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="breadcrumb-item active"> {{heading}}</li>
        </ol> -->
    </div>
</div>
