<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="notificationgroup-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Notification Group Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Notification Group ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
                             <label>Group Name</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="detail.name" autofocus required></form-input>
                             <label>Description</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="detail.description" autofocus required></form-input>
                            <label>Notification Topic</label>
                            <div name="topic"> {{topic}}
                            <form-select name="topic" [(ngModel)]="detail.topic" [data]="notificationTopic" required></form-select> 
                            </div>
                            <label>Status</label>
                            <div name="status"> {{status}}
                            <form-select name="status" [(ngModel)]="detail.status" [data]="notificationStatus" required></form-select> 
                            </div>
                            <label>Token List</label>
                             <form-input  name="token_list" [disabled]="true" [type]="'text'" [placeholder]="'Token List'"  [(ngModel)]="detail.token_list" autofocus required></form-input>
                            
                            
                             <!-- <label>User ID</label>
                             <form-input name="user_id" [type]="'text'" [placeholder]="'User ID'"  [(ngModel)]="detail.user_id" autofocus required></form-input> -->
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                    <div class="card-header"><h2>Notification Group &amp; Status Notification Group</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Created Date</label>
                            <form-input  name="created_date" [disabled]="true" [type]="'text'" [placeholder]="'Created Date'"  [(ngModel)]="detail.created_date" autofocus required></form-input>

                            <label>Created By</label>
                            <form-input  name="created_by" [disabled]="true" [type]="'text'" [placeholder]="'Created By'"  [(ngModel)]="detail.created_by" autofocus required></form-input>
                             
                            <label>Created At</label>
                            <form-input  name="created_at" [disabled]="true" [type]="'text'" [placeholder]="'Created At'"  [(ngModel)]="detail.created_at" autofocus required></form-input>

                            <label>Updated Date</label>
                            <form-input  name="updated_date" [disabled]="true" [type]="'text'" [placeholder]="'Updated Date'"  [(ngModel)]="detail.updated_date" autofocus required></form-input>

                            <label>Updated By</label>
                            <form-input  name="updated_by" [disabled]="true" [type]="'text'" [placeholder]="'Updated By'"  [(ngModel)]="detail.updated_by" autofocus required></form-input>

                            <label>Updated At</label>
                            <form-input  name="updated_at" [disabled]="true" [type]="'text'" [placeholder]="'Updated At'"  [(ngModel)]="detail.updated_at" autofocus required></form-input>
                         </div>
                       
                      </div>
                 </div> 
                 
                </div>
            </div>
     
         </div>
    </div>
    
</div>