<div [@routerTransition]>
  <app-page-header [heading]="'Sales Order'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Salesorder">
        <app-form-builder-table 
        [table_data]="Salesorder"
        [searchCallback]="[service, 'searchSalesOrderReport',this]" 
        [tableFormat]="tableFormat"
        [total_page]="totalPage"
        >
        </app-form-builder-table>

  </div>

