<!-- 
<div [@routerTransition]>
  <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="PaymentGateway">
        <app-form-builder-table 
        [searchCallback]="[service,'searchPaymentGatewayLint']" 
        [table_title]="table_title" [table_data]="PaymentGateway" [options]="formOptions" [table_header]="table_headers" [table_row]="table_rows">
            
        </app-form-builder-table>
  </div>
  </div>

  -->
<div [@routerTransition]>

      <app-page-header [heading]="'Payment Gateway'" [icon]="'fa-table'"></app-page-header>
      <div *ngIf="PaymentGateway&&paymentgatewayDetail==false">
            <div class="row">

                  <div class="table-container">
                        <app-form-builder-table [table_data]="PaymentGateway"
                              [searchCallback]="[service,'searchPaymentGatewayLint',this]" [tableFormat]="tableFormat">

                        </app-form-builder-table>
                  </div>

            </div>
      </div>
      <div *ngIf="paymentgatewayDetail">
            <app-payment-gateway-detail [back]="[this,backToHere]" [detail]="paymentgatewayDetail">
            </app-payment-gateway-detail>
      </div>


</div>