<app-header></app-header>
<app-nested-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-nested-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
    <router-outlet></router-outlet>
</section>
