<div [@routerTransition]>
  <app-page-header [heading]="'Order History Error'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistoryerror&&orderhistoryerrorDetail==false">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistoryerrorLint',this]" 
        [tableFormat]="tableFormat"
        [table_data]="Orderhistoryerror"
        [total_page]="totalPage"
      >
        </app-form-builder-table>
  </div>
      <div *ngIf="orderhistoryerrorDetail">
            <app-orderhistoryerror-detail [back]="[this,backToHere]" [detail]="orderhistoryerrorDetail"></app-orderhistoryerror-detail>
      </div>

  </div>

