<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="payment-gateway-detail">
    
            <div class="row">
                <div class=" col-md-8" >
                    <div class="card mb-3">
                        <div class="card-header"><h2> Payment Gateway Details </h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Payment Gateway ID</label>
                                <div name="_id" >{{detail._id}}</div>
                
                                <label>Name</label>
                                <div name="name">{{detail.name}}</div>
                
                                <label>Alias</label>
                                <div name="alias">{{detail.alias}}</div>
                
                                <label>Service</label>
                                <div name="service">{{detail.alias}}</div>
                
                                <label>Logo</label>
                                <div name="logo">{{detail.logo}}</div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <!-- <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Price &amp; status</h2> </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Status</label>
                                <div name="status">{{detail.status}}</div> 
                
                                <label>Owner Price</label>
                                <div name="owner_price">{{detail.owner_price}}</div>
                
                                <label>Merchant Price</label>
                                <div name="merchant_price">{{detail.merchant_price}}</div>
                
                                <label>Member Price</label>
                                <div name="member_price">{{detail.member_price}}</div>
                
                                <label>Supplier ID</label>
                                <div name="supplier_id">{{detail.supplier_id}}</div>
                
                                <label>Supplier Name</label>
                                <div name="supplier_name">{{detail.supplier_name}}</div>
                
                                <label>Quantity</label>
                                <div name="qty">{{detail.qty}}</div>
                
                                 {{form.value | json}}  
                            </div>
                        
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header"><h2>Images</h2> </div>
                        <div class="card-content">
                            <div  class="  image">
                                <div class="">
                                <div class="card">
                                    <div class="card-header"><h3>Big </h3></div>
                                    <div class="card-content">
                                        <img src="{{detail.base_url+detail.pic_big_path}}"/>
                                    </div>
                                </div>
                                </div>
                                <div class="">
                                <div class="card">
                                    <div class="card-header"><h3>Medium </h3></div>
                                    <div class="card-content">
                                        <img src="{{detail.base_url+detail.pic_medium_path}}"/>
                                    </div>
                                </div>
                                </div>
                                <div class="">
                                <div class="card">
                                    <div class="card-header"><h3>Small </h3></div>
                                    <div class="card-content">
                                        <img src="{{detail.base_url+detail.pic_small_path}}"/>
                                    </div>
                                </div>
                                </div>
                                 {{form.value | json}}  
                            </div>
                        
                        </div>
                    </div>
                </div> -->
            </div>
            
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-payment-gateway-edit [back]="[this,'editThis']" [detail]="detail"></app-payment-gateway-edit>
</div>