<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.name}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="notification-setting-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Setting Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Organization ID</label>
                            <div name="_id" >{{detail.org_id}}</div>
                            <label>Notification ID</label>
                            <div name="id" >{{detail.id}}</div>
                            <label>Name</label>
                            <div name="name" >{{detail.name}}</div>
                            <label>Description</label>
                            <div name="description" >{{detail.description}}</div>
                            <label>Access Key</label>
                            <div name="api_access_key" >{{detail.api_access_key}}</div>
                            <label>Status</label>
                            <div name="status" >{{detail.status}}</div>
                            <label>Web Url</label>
                            <div name="web_url" >{{detail.web_url}}</div>

                         </div>
                       
                      </div>
                 </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
            
    </div>
</div>
</div>
<div *ngIf="edit">
    <app-notificationsetting-edit [back]="[this, 'editThis']" [detail]="detail"></app-notificationsetting-edit>
</div>