<!-- <div [@routerTransition]>

  <app-page-header [heading]="'Outlets'" [icon]="'fa-table'"></app-page-header>

  <div *ngIf="Outlets&&outletsDetail==false">
        <app-form-builder-table
        [table_data]  = "Outlets"
        [searchCallback]= "[service, 'searchOutletsLint',this]"
        [tableFormat] = "tableFormat"
        >

        </app-form-builder-table>
  </div>
  <div *ngIf="outletsDetail">
    <app-moutlets-detail [back]="[this,backToHere]" [detail]="outletsDetail"></app-moutlets-detail>
</div>

</div>
 -->
 <div [@routerTransition]>
           
    <app-page-header [heading]="'Outlet'" [icon]="'fa-table'"></app-page-header>
    <!-- <h3 style="color: white">File Upload</h3> -->
    <div class="col-md-3 col-sm-3">
          <div class="pb-framer">
                      <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
          
                      </div>
                      <span *ngIf="progressBar<58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                      <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>
                
                </div>
    
    </div>
    <div class="col-md-3 col-sm-3">
          <div *ngIf="errorFile" class="error_label"><mark>Error: {{errorFile}}</mark></div>                       
    </div>
    <!-- <input type="file" (change)="onFileSelected($event)" accept=".csv,.xlxs" style="color: white"/>
    <button class="btn rounded-btn" (click)="onUpload()" >Upload</button>
    <button class="btn rounded-btn-danger" (click)="cancelThis()" >Cancel</button> -->
    <br><br>
    <!-- this section belongs to product item list -->
    <div *ngIf="Products&&prodDetail==false">
          <app-form-builder-table
          [table_data]  = "Products" 
          [searchCallback]= "[service, 'searchProductsLint',this]" 
          [tableFormat]="tableFormat"
          [total_page]="totalPage"
          >
              
          </app-form-builder-table>
    </div>
    <div *ngIf="prodDetail">
          <app-moutlets-detail [back]="[this,backToHere]" [detail]="prodDetail"></app-moutlets-detail>
    </div>
   
  </div>
  
