<!-- <div [@routerTransition]>
    <app-page-header [heading]="'Order Detail for'" [icon]="'fa-table'"></app-page-header> -->
    <div *ngIf="this.productDetail">
        <app-merchant-edit-product-product></app-merchant-edit-product-product>
    </div>

<!-- <div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.product_name}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="product-detail">

            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Product Details </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Product Name</label>
                                <div name="product_name">{{detail.product_name}}</div>

                                <label>Product Code</label>
                                <div name="product_code">{{detail.product_code}}</div>

                                <label>Description</label>
                                <div name="description">{{detail.description}}</div>

                                <label>Terms and Conditions</label>
                                <div name="tnc">{{detail.tnc}}</div>
 -->
                                <!-- <label>Point Price</label>
                                <div name="point_price">{{detail.point_price}}</div> -->
<!-- 
                                <label>Price</label>
                                <div name="price">{{detail.price}}</div>

                                 <label>Fixed Price</label>
                                <div name="fixed_price">{{detail.fixed_price}}</div>
 -->
                                <!-- <label>Discount Value</label>
                                <div name="discount_value">{{detail.discount_value}}</div> -->
                                
                                <!-- <label>Earned Points</label>
                                <div name="earned_points">{{detail.earned_points}}</div> -->
<!-- 
                                <label>Quantity</label>
                                <div name="qty">{{detail.qty}}</div>

                                <label>Type</label>
                                <div name="type">{{detail.type}}</div>

                                

                            </div>

                        </div>
                    </div>
                </div>

                <div class=" col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Merchant &amp; status</h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                
                                <label>Status</label>
                                <div name="status">{{detail.active}}</div>

                                <label>Category</label>
                                <div name="status">{{detail.category}}</div>

                                <label>Hashtags</label>
                                <div name="hashtags">{{detail.hashtags}}</div>

                                <label *ngIf="detail.merchant_name">Merchant Name</label>
                                <div *ngIf="detail.merchant_name" name="owner_name">{{detail.merchant_name}}</div>

                                <label>Favorite</label>
                                <div name="favorite">{{detail.favorite}}</div>

                                <label>Process ID</label>
                                <div name="process_id">{{detail.process_id}}</div>

                             

                            </div>

                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Images</h2>
                        </div>
                        <div class="card-content">
                            <div class="  image">
                                <div class="">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Big </h3>
                                        </div>
                                        <div class="card-content">
                                            <img src="{{detail.base_url+detail.pic_big_path}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Medium </h3>
                                        </div>
                                        <div class="card-content">
                                            <img src="{{detail.base_url+detail.pic_medium_path}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Small </h3>
                                        </div>
                                        <div class="card-content">
                                            <img src="{{detail.base_url+detail.pic_small_path}}" />
                                        </div>
                                    </div>
                                </div> -->
                                <!-- {{form.value | json}}  -->
                            <!-- </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn delete-button float-right btn-danger"
                                (click)="deleteThis()">delete</button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="edit">
    <app-product-edit [back]="[this, 'editThis']" [detail]="detail"></app-product-edit>
</div> -->