<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()" *ngIf="!errorMessage"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="member-detail">
            <div class="row" *ngIf="!errorMessage">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Edit Data Admin Group</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Description</label>
                                <form-input  name="description" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="detail.description" autofocus required></form-input>
                                <div *ngIf="alertDescription" class="empty-alert">Description is Required</div>

                                <label>Status</label>
                                <form-select [(ngModel)]="detail.status" [data]="memberStatus"></form-select>
                                <div *ngIf="alertStatus" class="empty-alert">Status is Required</div>
                                <div *ngFor="let _accessList of accessList | keyvalue">
                                    <div class="header-access-list">{{_accessList.key}}</div>
                                    <div *ngFor="let value of _accessList.value; let index = index;">
                                        <input
                                            type="checkbox" id={{value.name}} value={{value.name}}
                                            (change)="checkList(_accessList.key , index)"
                                            [checked]="value.checked == 1"
                                        />
                                        <label class="label-access-list" for="{{value.name}}" class="label-access-list">{{value.name}}</label>
                                    </div>
                                </div>
                                <div *ngIf="alertAccessList" class="empty-alert">Access List is Required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                <div class="text-message">
                    <i class="fas fa-ban"></i>
                    {{errorMessage}}
                </div>
            </div>
         </div>
    </div>
</div>