<div [@routerTransition]>
  <app-page-header [heading]="'Promo Deals'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="promodeals&&promodealsDetail==false">
        <app-form-builder-table
            [table_data]="promodeals"
        [searchCallback]="[service, 'searchPromodealsLint',this]"
        [tableFormat]="tableFormat"
      >
        </app-form-builder-table>
  </div>
      <div *ngIf="promodealsDetail">
            <app-promodeals-detail [back]="[this,backToHere]" [detail]="promodealsDetail"></app-promodeals-detail>
      </div>
</div>
