<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Article'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddArticle(form.value)">
      <div class="col-md-6">
          <label>Title</label>
          <form-input name="title" [type]="'text'" [placeholder]="'Title'"  [(ngModel)]="title" autofocus required></form-input>
          <label>Description</label>
          <!-- <app-ngx-editor name="description" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="description"></app-ngx-editor> -->
          <label>Status</label>
          <form-input name="status" [placeholder]="'Status'"  [type]="'text'" [(ngModel)]="status" required></form-input>
          <label>Organization ID</label>
          <form-input name="org_id" [placeholder]="'Organization ID'"  [type]="'text'" [(ngModel)]="org_id" required></form-input>
      </div>
        
        <button class="btn" type="submit">Submit</button> 
      </form>
 </div>
 
</div>

