<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.message_from}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="broadcast-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Broadcast Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Organization ID</label>
                            <div name="org_id" >{{detail.org_id}}</div>
                            <label>Setting Name</label>
                            <div name="message_from" >{{detail.message_from}}</div>
                            <label>Group Name</label>
                            <div name="group_name" >{{detail.group_name}}</div>
                            <label>Template Name</label>
                            <div name="title" >{{detail.title}}</div>
                            <label>Message</label>
                            <div name="message" >{{detail.message}}</div>
                            <label>Response</label>
                            <div name="firebase_response" >{{detail.firebase_response}}</div>

                         </div>
                       
                      </div>
                 </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
            
    </div>
</div>
</div>
<div *ngIf="edit">
    <app-broadcast-edit [back]="[this, 'editThis']" [detail]="detail"></app-broadcast-edit>
</div>