<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.username}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-header">
        <a class="btn edit_button"
        (click)="pointHistory()"
         >Point History</a>
    </div>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
             <div class="col-md-4">
                 <div class="card mb-3">
                     <div class="card-header"><h2>Data Pemilik</h2></div>
                     <div class="card-content">
                         <div class="col-md-12">             
                             <label>ID Customer</label>
                             <div name="member_id">{{detail.username}}</div>

                             <label>Nama Pemilik</label>
                             <div name="full_name">{{detail.full_name}}</div>

                             <!-- <label>Member Status</label>
                             <div name="member_status">{{detail.permission}}</div> -->

                             <label>No. Telp Pemilik</label>
                             <div name="cell_phone">{{detail.cell_phone}}</div>

                             <!-- <label>Address</label>
                             <div name="address">{{detail.address}}</div>

                             <label>City </label>
                             <div name="mcity">{{detail.mcity}}</div>

                             <label>PostCode </label>
                             <div name="mpostcode">{{detail.mpostcode}}</div>

                             <label>State </label>
                             <div name="mstate">{{detail.mstate}}</div>

                             <label>Country </label>
                             <div name="mcountry">{{detail.mcountry}}</div> -->

                         </div>
                       
                      </div>
                 </div>
                </div>
                <div  *ngFor="let address of detail.buyer_detail; let i=index" class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Alamat Pengiriman {{i+1}}</h2> <span *ngIf="address.use_as == 'main_address'"> (ALAMAT UTAMA)</span> </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>id</label>
                                <div name="email">{{address.id}}</div>
                                <label>Nama Penerima </label>
                                <div name="email">{{address.name}}</div>
                               <label>Alamat Pengiriman </label>
                               <div name="email">{{address.address}}</div>
                               <label>No. Telp Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo Gopay, isi dengan No. Gopay Penerima)</div></label>
                               <div name="email">{{address.cell_phone}}</div>
                               <!-- <label>Provinsi</label>
                               <div name="email">{{address.province_name}}</div>
                               <label>Kota/Kabupaten </label>
                               <div name="email">{{address.city_name}}</div>
                               <label>Kecamatan</label>
                               <div name="email">{{address.subdistrict_name}}</div>
                               <label>Desa/Kelurahan</label>
                               <div name="email">{{address.village_name}}</div>                      
                               <label>Kode Pos</label>
                               <div name="email">{{address.postal_code}}</div>                  -->
                               <label>Use as main address</label>
                               <div name="email">{{address.use_as}}</div>           
                            </div>
                         </div>
                    </div>
                    
                   </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <div name="email">{{detail.email}}</div>

                            <label>Cell Phone </label>
                            <div name="cell_phone">{{detail.cell_phone}}</div>

                            <label>Registration Date </label>
                            <div name="registration_date">{{detail.created_date}}</div>

                            <label>Point Balance </label>
                            <div name="point_balance">{{detail.point_balance}}</div>

                            <label>Activation Code </label>
                            <div name="activation_code">{{detail.activation_code}}</div>

                            <label>Activation Status </label>
                            <div name="activation_status">{{detail.activation_status}}</div>
                             
                         </div>
                       
                      </div>
                 </div>
                 
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="delete()">delete this</button></div>
            </div>
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-member-edit [back]="[this, 'editThis']" [detail]="detail"></app-member-edit>
</div>