<div [@routerTransition]>
  <h3 class="heading">Product Management</h3>
  <!-- <app-page-header [heading]="'Product Management'" [icon]="'fa-table'"></app-page-header> -->
  <div class="add-product">
      <div class="e-wrapper">
          <app-merchant-add-new-product></app-merchant-add-new-product>
      </div>
  </div>
</div>

<!-- <div [@routerTransition]>
  <app-page-header [heading]="'Add New Product'" [icon]="'fa-table'"></app-page-header>
  <div>
    <div class="card card-detail">
      <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()">
          <i class="fa fa-fw fa-save"></i>
          <span *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span>
        </button>
      </div>

      <div class="card-content">
        <div class="product-detail">
          <div class="row">
            <div class=" col-md-8">
              <div class="card mb-3">
                <div class="card-header">
                  <h2> Product Details </h2>
                </div>
                <div class="card-content">
                  <div class="col-md-12">

                    <label>Type</label>
                    <form-select name="type" [disabled]="false" [(ngModel)]="data.type" 
                      [data]="productType" autofocus required>                      
                    </form-select>

                    <label>Merchant Group</label>
                    <form-select name="merchant_group" [disabled]="false" [(ngModel)]="data.merchant_group"
                      [data]="merchant_group" autofocus required>
                    </form-select>

                    <label>Choose Merchant </label>
                    <form-select name="merchant_username" [disabled]="false" [(ngModel)]="data.merchant_username"
                      [data]="merchantList" autofocus required>
                    </form-select>

                    <label>Product Code</label>
                    <form-input name="product_code" [type]="'text'" [placeholder]="'Product Code'"
                      [(ngModel)]="data.product_code" autofocus required></form-input>

                    <label>Product Name</label>
                    <form-input name="product_name" [type]="'text'" [placeholder]="'Product Name'"
                      [(ngModel)]="data.product_name" autofocus required></form-input>

                    <label>Price</label>
                    <form-input name="price" [type]="'number'" [placeholder]="'Price'" [(ngModel)]="data.price"
                      autofocus required></form-input>

                    <label>Fixed Price</label>
                    <form-input name="fixed_price" [type]="'number'" [placeholder]="'Fixed Price'"
                      [(ngModel)]="data.fixed_price" autofocus required></form-input>

                    <label>Category</label>
                      <form-select name="category" [disabled]="false" [(ngModel)]="category"
                        [data]="categoryProduct" autofocus required>
                      </form-select>

                    <label>Hashtags</label>
                    <form-input name="hashtags" [type]="'text'" [placeholder]="'Hashtags'" [(ngModel)]="data.hashtags"
                      autofocus required></form-input>



                    <label>Description</label>
                    <ckeditor [editor]="Editor" [(ngModel)]="data.description"></ckeditor>


                    <label>TNC</label>
                    <ckeditor [editor]="Editor" [(ngModel)]="data.tnc"></ckeditor>

                    <div *ngIf="data.type === 'product'" class="condition-wrapper">

                      <label>Quantity</label>
                      <form-input name="quantity" [type]="'number'" [placeholder]="'Quantity'" [(ngModel)]="data.qty"
                        autofocus required></form-input>

                    </div>

                    <label>Minimal Order</label>
                    <form-input name="order" [type]="'text'" [(ngModel)]="data.min_order" autofocus required>
                    </form-input>

                  </div>
                </div>
              </div>

            </div>
            <div class=" col-md-4">
              <div class="card mb-9">
                <div class="card-header">
                  <h2>Others</h2>
                </div>
                <div class="card-content">
                  <div class="col-md-12">

                    <div *ngIf="data.type == 'evoucher'" class="evoucher-condition-wrapper">

                      <label>Redeem Type</label>
                      <form-select name="redeem_type" [disabled]="false" [(ngModel)]="data.redeem_type"
                        [data]="redeem_type" autofocus required>
                      </form-select>
                    </div>

                    <div *ngIf="data.type == 'product'" class="product-condition-wrapper">

                      <label>Condition</label>
                      <form-select width="50%" name="condition" [disabled]="false" [(ngModel)]="data.condition"
                       [data]="condition" autofocus required>
                      </form-select>

                      <label>Weight</label>
                      <form-input name="weight" [type]="'number'" [(ngModel)]="data.weight" autofocus required>
                      </form-input>

                      <label>Dimension Length</label>
                      <form-input name="length" [type]="'number'" [placeholder]="'length'"
                        [(ngModel)]="data.dimensions.length" autofocus required></form-input>

                      <label>Dimension Width</label>
                      <form-input name="width" [type]="'number'" [(ngModel)]="data.dimensions.width" autofocus required>
                      </form-input>

                      <label>Dimension Height</label>
                      <form-input name="height" [type]="'number'" [(ngModel)]="data.dimensions.height" autofocus
                        required></form-input>



                    </div>
                  </div>
                </div>

              </div>
              <div class="card mb-3" id="img">
                <div class="card-header">
                  <h2>Images</h2>
                </div>
                <div class="card-content">
                  <div class="  image">
                    <div class="">
                      <div class="card">
                        <div class="card-header">
                          <h3>Big </h3>
                        </div>
                        <div class="card-content">
                          <img *ngIf="data.pic_big_path" src="{{data.base_url+data.pic_big_path}}" />
                        </div>
                      </div>
                    </div>
                    <div class="">
                      <div class="card">
                        <div class="card-header">
                          <h3>Medium </h3>
                        </div>
                        <div class="card-content">
                          <img *ngIf="data.pic_medium_path" src="{{data.base_url+data.pic_medium_path}}" />
                        </div>
                      </div>
                    </div>
                    <div class="">
                      <div class="card">
                        <div class="card-header">
                          <h3>Small </h3>
                        </div>
                        <div class="card-content">
                          <img *ngIf="data.pic_small_path" src="{{data.base_url+data.pic_small_path}}" />
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-3 col-sm-3">
                    <div class="pb-framer">
                      <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
                      </div>
                      <span *ngIf="progressBar <58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                      <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>
                    </div>
                  </div>
                  <div class="file-upload">
                    <div *ngIf="errorFile" class="error_label"><mark>Error: {{errorFile}}</mark></div>
                    <img *ngIf="data.pic_big_path" [src]="data.base_url+data.pic_big_path" height="200"> <br />
                    <input type="file" (change)="onFileSelected($event)" accept="image/*">
                    <br> <br>
                    <button class="btn rounded-btn" (click)="onUpload()">Upload</button>
                    <button class="btn rounded-btn-danger" (click)="cancelThis()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->