$topnav-background-color: #2b3240;

:host {
  nav.navbar.navbar-expand-lg.fixed-top:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 62px 106px;
    border-color: transparent transparent #2b3240 transparent;
    left: -106px;
  }

  .navbar {
    background-color: $topnav-background-color;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.01), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    // margin-top: 23px;
    left: unset;
    right: 0px;
    width: 100%;
    position: fixed;

    .navbar-brand > img {
      width: 55px;
      padding-right: 15px;
      padding-bottom: 5px;
    }

    .navbar-brand {
      color: #fff;
    }

    .nav-item > a {
      color: #999;

      &:hover {
        color: #56a4ff;
      }
    }

    .nav-link > img {
      width: auto;
      height: 30px;
      padding-right: 5px;
      padding-bottom: 5px;
  
    }

    .nav-link > span {
      color: #56a4ff;
    }

    .bg-circle {
      background-color: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    .bg-circle > img {
      width: 28px;
      margin: 6px 0 5px 6px;
    }

    .logout {
      color: #627190;

      &:hover {
        color: #56a4ff;
      }

      margin-top: 10px;
      text-decoration: none;
    }

    .time-custom,
    .date-custom {
      margin: 10px 10px 0px;
      text-decoration: none;
      color: white;
      border-right: #434c5c solid 1px;
      padding-right: 20px;
      img {
        margin-right: 10px;
      }
    }

    .admin-portal {
      text-decoration: none;
      color: white;
      img {
        width: 50px;
      }
      float: left;
    }

    .logout > img {
      width: 20px;
    }

    #administrator > a {
      padding-left: 20px;
      padding-right: 20px;
    }
    
    #upgrade > a {
      border-right: #434c5c solid 1px;
      padding-right: 20px;
      
      span {
        color : #ffb24d;
      }
    }

    .dropdown-item {
      margin: 8px auto;
      font-size: 15px;
    }
  }

  .messages {
    width: 300px;

    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;

      &:last-child {
        border-bottom: none;
      }
    }

    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }

      .small {
        margin: 0;
      }

      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}

.resp {
  display: none;
  // position: fixed;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-capsule {
  text-align: center;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  :host {
    .navbar {
      .navbar-brand {
        margin-left: 50%;
      }
      #navbarright {
        justify-content: center;
        align-items: center;
        .logout {
          font-size: 0pt;
          img {
            width: 25px;
          }
        }
        .time-custom,
        .date-custom {
          margin: 10px 10px 0px;
          text-decoration: none;
          color: white;
          border-right: #434c5c solid 1px;
          padding-right: 20px;
          img {
            display: none;
            padding: 0;
          }
        }
      }
      .nav-link > span {
        font-size: 15px;
      }

      #administrator > a {
        margin-left: -14px;
        margin-right: -20px;
      }

      .dropdown-menu {
        top: 10vw !important;
        left: 15vw !important;
      }
    }
  }

  .resp {
    display: inline;
  }
  .navbar .navbar-expand-lg .fixed-top {
    left: 0px !important;
  }
}

@media screen and (max-width: 991px) {
  :host {
    #navbar-menu {
      left: 0 !important;
      // position: fixed;
      .navbar-brand {
        margin-left: 50%;
      }

      #administrator > a {
        padding-right: 20px;
        // margin-left: 5vw;
        font-size: 1rem;
      }
      .logout {
        margin-top: 0px;
        display: flex;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        img {
          width: 25px;
        }
      }
      .admin-portal {
        text-decoration: none;
        color: white;
        img {
          width: 50px;
        }
        float: left;
      }
      .datetimecontainer {
        display: flex;
        flex-direction: column;

        .time-custom,
        .date-custom {
          margin: 3px 0px 0px;

          text-decoration: none;
          font-size: 12px;
          color: white;
          border-right: #434c5c solid 1px;

          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .resp {
    display: inline;
  }
  .navbar .navbar-expand-lg .fixed-top {
    left: 0px !important;
  }
}
