@font-face {
  font-family: 'fontello';
  src: url('../font/sidebar-merchant.eot?75177764');
  src: url('../font/sidebar-merchant.eot?75177764#iefix') format('embedded-opentype'),
       url('../font/sidebar-merchant.woff2?75177764') format('woff2'),
       url('../font/sidebar-merchant.woff?75177764') format('woff'),
       url('../font/sidebar-merchant.ttf?75177764') format('truetype'),
       url('../font/sidebar-merchant.svg?75177764#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75177764#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dashboard:before { content: '\e800'; } /* '' */
.icon-order-history:before { content: '\e801'; } /* '' */
.icon-outlets:before { content: '\e802'; } /* '' */
.icon-notification:before { content: '\e803'; } /* '' */
.icon-merchant:before { content: '\e804'; } /* '' */
.icon-member:before { content: '\e805'; } /* '' */
.icon-media:before { content: '\e806'; } /* '' */
.icon-loyalty:before { content: '\e807'; } /* '' */
.icon-e-voucher:before { content: '\e808'; } /* '' */
.icon-email-history:before { content: '\e809'; } /* '' */
.icon-courier-service:before { content: '\e80a'; } /* '' */
.icon-banner:before { content: '\e80c'; } /* '' */
.icon-articles:before { content: '\e80d'; } /* '' */
.icon-versioning:before { content: '\e80e'; } /* '' */
.icon-package-bundle:before { content: '\e80f'; } /* '' */
.icon-payment-gateway:before { content: '\e810'; } /* '' */
.icon-points-transactions:before { content: '\e811'; } /* '' */
.icon-product:before { content: '\e812'; } /* '' */
.icon-promo-code:before { content: '\e813'; } /* '' */
.icon-promotion:before { content: '\e814'; } /* '' */
.icon-report:before { content: '\e815'; } /* '' */
.icon-shopping-cart:before { content: '\e817'; } /* '' */
.icon-order-history-merchant:before {content: '\e818';}/* '' */
.icon-product-list-merchant:before {content: '\e819';}/* '' */
.icon-order_history_merchant:before { content: '\e820'; } /* '' */
.icon-my_rupiah:before { content: '\e821'; } /* '' */
.icon-my-money-merchant:before {content: '\e81b';}/* '' */
.icon-balance-increase:before { content: '\e81c'; } /* '' */
.icon-withdrawal-request:before { content: '\e81d'; } /* '' */
.icon-point-transaction-rp:before { content: '\e80b'; } /* '' */
.icon-escrow-rp:before { content: '\e81f'; } /* '' */
.icon-e-voucher-rp:before { content: '\e816'; } /* '' */
