
.icon-dashboard:before { content: '\e800'; } /* '' */
.icon-order-history:before { content: '\e801'; } /* '' */
.icon-outlets:before { content: '\e802'; } /* '' */
.icon-notification:before { content: '\e803'; } /* '' */
.icon-merchant:before { content: '\e804'; } /* '' */
.icon-member:before { content: '\e805'; } /* '' */
.icon-media:before { content: '\e806'; } /* '' */
.icon-loyalty:before { content: '\e807'; } /* '' */
.icon-e-voucher:before { content: '\e808'; } /* '' */
.icon-email-history:before { content: '\e809'; } /* '' */
.icon-courier-service:before { content: '\e80a'; } /* '' */
.icon-point-transaction-rp:before { content: '\e80b'; } /* '' */
.icon-banner:before { content: '\e80c'; } /* '' */
.icon-articles:before { content: '\e80d'; } /* '' */
.icon-versioning:before { content: '\e80e'; } /* '' */
.icon-package-bundle:before { content: '\e80f'; } /* '' */
.icon-payment-gateway:before { content: '\e810'; } /* '' */
.icon-points-transactions:before { content: '\e811'; } /* '' */
.icon-product:before { content: '\e812'; } /* '' */
.icon-promo-code:before { content: '\e813'; } /* '' */
.icon-promotion:before { content: '\e814'; } /* '' */
.icon-report:before { content: '\e815'; } /* '' */
.icon-e-voucher-rp:before { content: '\e816'; } /* '' */
.icon-shopping-cart:before { content: '\e817'; } /* '' */
.icon-order-history-merchant:before { content: '\e818'; } /* '' */
.icon-product-list-merchant:before { content: '\e819'; } /* '' */
.icon-order-history-merchant-1:before { content: '\e81a'; } /* '' */
.icon-my-money-merchant:before { content: '\e81b'; } /* '' */
.icon-icon-balance-increase:before { content: '\e81c'; } /* '' */
.icon-icon-withdrawal-request:before { content: '\e81d'; } /* '' */
.icon-escrow-rp:before { content: '\e81f'; } /* '' */
.icon-order_history_merchant:before { content: '\e820'; } /* '' */
.icon-my_rupiah:before { content: '\e821'; } /* '' */
.icon-funds-on-hold:before { content: '\e822'; } /* '' */