<div [@routerTransition]>
    <app-page-header [heading]="'Product Activity Report'" [icon]="'fa-table'">
    </app-page-header>
    <div class="summary-report row">
        <div class="col-md-6">
            <div class="row-per-card">
                <div class="card " *ngIf="data.top_product_activity">
                    
                    <div class="card-header">
                        Top 10 Most Viewed Product
                    </div>
                    <div class="card-body emirate-daily">
                        <table>
                            <tr>
                                <th>No.</th>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Views</th>
                            </tr>
                            <tr *ngFor="let dt of data.top_product_activity;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{dt.product_code}}</td>
                                <td>{{dt.product_name}}</td>
                                <td>{{dt.count}}</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
                <div class="row-per-card">
                    <div class="card " *ngIf="data.top_product_sales">
                        
                        <div class="card-header">
                            Top 10 Most Sales Product
                        </div>
                        <div class="card-body emirate-daily">
                            <table>
                                <tr>
                                    <th>No.</th>
                                    <th>Product Code</th>
                                    <th>Product Name</th>
                                    <th>Sales</th>
                                </tr>
                                <tr *ngFor="let dt of data.top_product_sales;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{dt.product_code}}</td>
                                    <td>{{dt.product_name}}</td>
                                    <td>{{dt.count}}</td>
    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
    
            </div>
    </div>

</div>
