<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="version-detail">

            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Version Details </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Versioning ID</label>
                                <div name="_id">{{detail._id}}</div>

                                <label>Organization ID</label>
                                <div name="org_id">{{detail.org_id}}</div>

                                <label>App Name</label>
                                <div name="app_name">{{detail.app_name}}</div>

                                <label>Version</label>
                                <div name="version">{{detail.version}}</div>

                                <label>Device</label>
                                <div name="device">{{detail.device}}</div>

                                <label>URL</label>
                                <div name="url">{{detail.url}}</div>

                                <label>Active</label>
                                <div name="active">{{detail.active}}</div>

                                <label>Build</label>
                                <div name="build">{{detail.build}}</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="edit">
    <app-versioning-edit [back]="[this, 'editThis']" [detail]="detail"></app-versioning-edit>
</div>