<div *ngIf="!edit">
    <div class="card card-detail">
        <div class="card-header">
            <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
            <!-- <h1>ID Pelanggan : {{memberDetail.username}}</h1> -->
            <!-- <div class="edit_button">
                <button class="btn btn-right" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i>edit</button>
            </div> -->
        </div>
        <div class="card-content" *ngIf="!errorMessage">
            <div class="member-detail">
                <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="row">

                    <div class="col-sm-12" *ngFor="let order of listOrder">
                        <div class="card mb-3">
                            <div class="card-header"><h2>Order ID : {{order.order_id}}</h2>
                                <!-- <div class="edit_button">
                                    <button class="btn btn-right" (click)="editThis(order)"><i class="fa fa-fw fa-pencil-alt"></i>edit</button>
                                </div> -->
                            </div>
                            <div class="card-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">             
                                    <label class="label-bold">Foto BAST</label>
                                    <ng-container *ngIf="order.additional_info; else empty_image">

                                        <div class="member-detail-image-container" *ngIf="order.additional_info.bast && order.additional_info.bast.pic_file_name; else empty_image">
                                            <ng-container>
                                                <a href={{order.additional_info.bast.pic_file_name}} target="_blank">
                                                    <img *ngIf="checkFileType(order.additional_info.bast.pic_file_name) == 'image'" src={{order.additional_info.bast.pic_file_name}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(order.additional_info.bast.pic_file_name) == 'document'"
                                                        [src]="order.additional_info.bast.pic_file_name"
                                                        [render-text]="true"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(order.additional_info.bast.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{order.additional_info.bast.created_date}}</b>
                                                    </span>
                                                </div>
    
                                                <br/>
                                                <!-- <div>
                                                    <span><b>Description :</b></span>
                                                    <span>
                                                        {{itemImage.desc}}
                                                    </span>
                                                </div> -->
    
                                            </ng-container>
                                        </div>

                                        <!-- <div class="member-detail-image-container" *ngIf="order.additional_info.surat_kuasa && order.additional_info.surat_kuasa.pic_file_name">
                                            <ng-container>
                                                <a href={{order.additional_info.surat_kuasa.pic_file_name}} target="_blank">
                                                    <img src={{order.additional_info.surat_kuasa.pic_file_name}} class="member-detail-image" />
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(order.additional_info.surat_kuasa.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{order.additional_info.surat_kuasa.created_date}}</b>
                                                    </span>
                                                </div>
    
                                                <br/>
    
                                            </ng-container>
                                        </div> -->

                                        
                                    </ng-container>
    
                                    
                                </div>


                                <div class="col-md-6 col-sm-12">             
                                    <label class="label-bold">Foto Surat Kuasa</label>
                                    <ng-container *ngIf="order.additional_info; else empty_image">

                                        <!-- <div class="member-detail-image-container" *ngIf="order.additional_info.bast && order.additional_info.bast.pic_file_name">
                                            <ng-container>
                                                <a href={{order.additional_info.bast.pic_file_name}} target="_blank">
                                                    <img src={{order.additional_info.bast.pic_file_name}} class="member-detail-image" />
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(order.additional_info.bast.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{order.additional_info.bast.created_date}}</b>
                                                    </span>
                                                </div>
    
                                                <br/>
    
                                            </ng-container>
                                        </div> -->

                                        <div class="member-detail-image-container" *ngIf="order.additional_info.surat_kuasa && order.additional_info.surat_kuasa.pic_file_name; else empty_image">
                                            <ng-container>
                                                <a href={{order.additional_info.surat_kuasa.pic_file_name}} target="_blank">
                                                    <img *ngIf="checkFileType(order.additional_info.surat_kuasa.pic_file_name) == 'image'" src={{order.additional_info.surat_kuasa.pic_file_name}} class="member-detail-image" />
                                                    <pdf-viewer 
                                                        *ngIf="checkFileType(order.additional_info.surat_kuasa.pic_file_name) == 'document'"
                                                        [src]="order.additional_info.surat_kuasa.pic_file_name"
                                                        [render-text]="true"
                                                        [original-size]="false"
                                                        [page] = "1"
                                                        [show-all]="false"
                                                        style="width: 100%; height: 100%">
                                                    </pdf-viewer>
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(order.additional_info.surat_kuasa.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{order.additional_info.surat_kuasa.created_date}}</b>
                                                    </span>
                                                </div>
    
                                                <br/>
    
                                            </ng-container>
                                        </div>

                                        
                                    </ng-container>
                                </div>
                            </div>
                            </div>

                            <div class="card-content" *ngIf="order.additional_info && order.additional_info.others && order.additional_info.others.length > 0; else empty_others">
                                <label class="label-bold">Others</label>
                                <div class="row">
                                    <ng-container>
                                        <div class="col-md-6 col-sm-12" *ngFor="let other of order.additional_info.others">             
                                                <div class="member-detail-image-container">
                                                    <!-- <div class="img-upload">
                                                        <img src={{other.pic_file_name}} class="member-detail-image" />
                                                    </div>
                
                                                    <div style="text-align: center;">
                                                        <span>
                                                            <b>Uploaded date : {{other.created_date}}</b>
                                                        </span>
                                                    </div> -->

                                                    <a href={{other.pic_file_name}} target="_blank">
                                                        <img *ngIf="checkFileType(other.pic_file_name) == 'image'" src={{other.pic_file_name}} class="member-detail-image" />
                                                        <pdf-viewer 
                                                            *ngIf="checkFileType(other.pic_file_name) == 'document'"
                                                            [src]="other.pic_file_name"
                                                            [render-text]="true"
                                                            [original-size]="false"
                                                            [page] = "1"
                                                            [show-all]="false"
                                                            style="width: 100%; height: 100%">
                                                        </pdf-viewer>
                                                    </a>
                                                    <div class="btn-download-container">
                                                        <button (click)="downloadImage(other.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                    </div>
                                                    <div style="text-align: center;">
                                                        <span>
                                                            <b>Uploaded date : {{other.created_date}}</b>
                                                        </span>
                                                    </div>
        
                                                    <br/>
                           
                                                </div>
                                            
                                            </div>
                                    </ng-container>
                                </div>
                            </div>
                            <ng-template  #empty_others>
                                <div class="card-content">
                                    <div class="row">
                                            <div class="col-md-6 col-sm-12">             
                                                <label class="label-bold">Others</label>
                                                    <div class="member-detail-image-container">
                                                        <div style="width:100%; text-align: center;">
                                                            empty
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </ng-template>
                            

                        </div>
                    </div>

                    <!-- <div class="col-md-4 col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header"><h2>Dokumen Tambahan</h2></div>
                            <div class="card-content">
                                <div class="col-md-12"> 
    
    
                                    <label class="label-bold">Foto Surat Kuasa</label>
                                    <ng-container *ngIf="detail.additional_info && detail.additional_info.surat_kuasa && isArray(detail.additional_info.surat_kuasa) && detail.additional_info.surat_kuasa.length > 0; else empty_image">
                                        <div class="member-detail-image-container"   *ngFor="let itemImage of detail.additional_info.surat_kuasa; let i = index">
                                            <ng-container>
                                                <a href={{itemImage.pic_file_name}} target="_blank">
                                                    <img src={{itemImage.pic_file_name}} class="member-detail-image" />
                                                </a>
                                                <div class="btn-download-container">
                                                    <button (click)="downloadImage(itemImage.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                                </div>
                                                <div style="text-align: center;">
                                                    <span>
                                                        <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                    </span>
                                                </div>
                                                <br/>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    
                </div>
            </div>


            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header"><h2>Data Pelanggan</h2></div>
                            <div class="card-content">
                                <div class="col-md-12">             
                                    <label>ID Pelanggan</label>
                                    <div name="member_id">{{memberDetail.id_toko}}</div>
    
                                    <label>Data Complete</label>
                                    <div name="member_id">{{memberDetail.additional_info && memberDetail.additional_info.data_complete ? memberDetail.additional_info.data_complete : '-'}}</div>
                                    
                                    <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                        <label>Nama Toko</label>
                                        <div name="full_name">{{memberDetail.member_detail.nama_toko}}</div>
                                    </div>

                                    <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                        <label>Nama Program</label>
                                        <div name="full_name">{{memberDetail.member_detail.cluster}}</div>
                                    </div>

                                    <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                        <label>Nama Entitas</label>
                                        <div name="full_name">{{memberDetail.member_detail.nama_toko}}</div>
                                    </div>
                                    
                                    <label>Nama Distributor</label>
                                    <div name="full_name">{{sig_kontraktual? 'Semen Indonesia' : memberDetail.member_detail.nama_distributor}}</div>
    
                                    <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                        <label>Alamat Toko</label>
                                        <div name="full_name">{{memberDetail.member_detail.alamat_toko}}</div>
                                    </div>
    
                                    <label>Nama Pemilik</label>
                                    <div name="full_name">{{memberDetail.member_detail.nama_pemilik}}</div>
    
                                    <label>No. WA Pemilik</label>
                                    <div name="full_name">{{memberDetail.member_detail.no_wa_pemilik}}</div>
                                    
                                    <label>No. KTP Pemilik</label>
                                    <div name="full_name">{{memberDetail.member_detail.ktp_pemilik}}</div>
    
                                    <label>Foto KTP Pemilik</label>
                                    <div class="member-detail-image-container">
                                        <ng-container  *ngIf="validURL(memberDetail.member_detail.foto_ktp_pemilik); else empty_image">
                                            <a href={{memberDetail.member_detail.foto_ktp_pemilik}} target="_blank">
                                                <img *ngIf="checkFileType(memberDetail.member_detail.foto_ktp_pemilik) == 'image'" src={{memberDetail.member_detail.foto_ktp_pemilik}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.member_detail.foto_ktp_pemilik) == 'document'"
                                                    [src]="memberDetail.member_detail.foto_ktp_pemilik"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>                                                
                                                <!-- <img src={{memberDetail.member_detail.foto_ktp_pemilik}} class="member-detail-image" /> -->
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(memberDetail.member_detail.foto_ktp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                        
                                        
                                    </div>
    
                                    <label>No. NPWP Pemilik</label>
                                    <div name="full_name">{{memberDetail.member_detail.npwp_pemilik}}</div>
    
                                    <label>Foto NPWP Pemilik</label>
                                    <div class="member-detail-image-container">
                                        <ng-container  *ngIf="validURL(memberDetail.member_detail.foto_npwp_pemilik); else empty_image">
                                            <a href={{memberDetail.member_detail.foto_npwp_pemilik}} target="_blank">
                                                <img *ngIf="checkFileType(memberDetail.member_detail.foto_npwp_pemilik) == 'image'" src={{memberDetail.member_detail.foto_npwp_pemilik}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.member_detail.foto_npwp_pemilik) == 'document'"
                                                    [src]="memberDetail.member_detail.foto_npwp_pemilik"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                                <img src={{memberDetail.member_detail.foto_npwp_pemilik}} class="member-detail-image" />
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(memberDetail.member_detail.foto_npwp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
    
                                </div>
                            
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header"><h2>Data Penerima </h2></div>
                            <div class="card-content">
                                <div class="col-md-12">
    
                                    <label>Hadiah Dikuasakan</label>
                                    <div name="email">{{memberDetail.member_detail.hadiah_dikuasakan}}</div>
                                
                                    <label>Nama Penerima</label>
                                    <div name="email">{{memberDetail.member_detail.nama_penerima_gopay}}</div>
    
                                    <label>No. WA Penerima</label>
                                    <div name="email">{{memberDetail.member_detail.no_wa_penerima}}</div>

                                    <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                        <label>Jabatan</label>
                                        <div name="jabatan">{{memberDetail.member_detail.description}}</div>
                                    </div>
    
                                    <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                        <label>No. Gopay Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo Gopay, isi dengan No. Gopay Penerima)</div></label>
                                        <div name="email">{{memberDetail.member_detail.telp_penerima_gopay}}</div>
                                    </div>

                                    <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                        <label>No. E-Wallet Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo E-Wallet, isi dengan No. E-Wallet Penerima)</div></label>
                                        <div name="email">{{memberDetail.member_detail.telp_penerima_gopay}}</div>
                                    </div>
    
                                   <label>Alamat Pengiriman</label>
                                   <div name="email">{{memberDetail.member_detail.alamat_rumah}}</div>
    
                                   <label>No. KTP Penerima</label>
                                   <div name="email">{{memberDetail.member_detail.ktp_penerima}}</div>
    
                                   <label>Foto KTP Penerima</label>
                                    <div class="member-detail-image-container">
                                        <ng-container *ngIf="validURL(memberDetail.member_detail.foto_ktp_penerima); else empty_image">
                                            <a href={{memberDetail.member_detail.foto_ktp_penerima}} target="_blank" >
                                                <img *ngIf="checkFileType(memberDetail.member_detail.foto_ktp_penerima) == 'image'" src={{memberDetail.member_detail.foto_ktp_penerima}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(memberDetail.member_detail.foto_ktp_penerima) == 'document'"
                                                    [src]="memberDetail.member_detail.foto_ktp_penerima"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>    
                                               <!-- <img src={{memberDetail.member_detail.foto_ktp_penerima}} class="member-detail-image" /> -->
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(memberDetail.member_detail.foto_ktp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
    
                                   <label>No. NPWP Penerima</label>
                                   <div name="email">{{memberDetail.member_detail.npwp_penerima}}</div>
    
                                   <label>Foto NPWP Penerima</label>
                                   <div class="member-detail-image-container">
                                       <ng-container *ngIf="validURL(memberDetail.member_detail.foto_npwp_penerima); else empty_image">
                                           <a href={{memberDetail.member_detail.foto_npwp_penerima}} target="_blank">
                                            <img *ngIf="checkFileType(memberDetail.member_detail.foto_npwp_penerima) == 'image'" src={{memberDetail.member_detail.foto_npwp_penerima}} class="member-detail-image" />
                                            <pdf-viewer 
                                                *ngIf="checkFileType(memberDetail.member_detail.foto_npwp_penerima) == 'document'"
                                                [src]="memberDetail.member_detail.foto_npwp_penerima"
                                                [render-text]="true"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>
                                              <!-- <img src={{memberDetail.member_detail.foto_npwp_penerima}} class="member-detail-image" /> -->
                                           </a>
                                           <div class="btn-download-container">
                                               <button (click)="downloadImage(memberDetail.member_detail.foto_npwp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                           </div>
                                       </ng-container>
                                    </div>
                                </div>
                             </div>
                        </div>

                    </div>
                </div>
            </div>
         
            </div>
        </div>
    </div>
        <ng-template #empty_image>
            <div style="width:100%; text-align: center;">
                empty
            </div>
        </ng-template>

        <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
                <i class="fas fa-ban"></i>
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>

