<div *ngIf="packingListDetail &&!isGenerate" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToHere()"><i class="fa fa-fw fa-angle-left"></i> back</button>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>
  
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Packing List Detail : {{packingListDetail.packing_no}}</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <table class="display-detail-packinglist">
                                    <tr>
                                        <td>
                                            Nama Kurir
                                        </td>
                                        <td>
                                            :
                                        </td>
                                        <td>
                                            {{packingListDetail.courier_name}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Layanan Pengiriman
                                        </td>
                                        <td>
                                            :
                                        </td>
                                        <td>
                                            {{packingListDetail.delivery_service}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Metode Pengiriman
                                        </td>
                                        <td>
                                            :
                                        </td>
                                        <td>
                                            {{packingListDetail.delivery_method}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Status Packing
                                        </td>
                                        <td>
                                            :
                                        </td>
                                        <td>
                                            <strong>{{packingListDetail.status}}</strong>
                                        </td>
                                    </tr>
                                </table>             
                                <!-- <label>Nama Kurir : {{packingListDetail.courier_name}}</label> -->
                                <!-- <div name="courier_name">{{packingListDetail.courier_name}}</div> -->

                                <!-- <label>Layanan Pengiriman : {{packingListDetail.delivery_service}}</label> -->
                                <!-- <div name="service">{{packingListDetail.delivery_service}}</div> -->

                                <!-- <label>Metode Pengiriman : {{packingListDetail.delivery_method}}</label> -->
                                <!-- <div name="method">{{packingListDetail.delivery_method}}</div> -->

                                <!-- <label>Status Packing : {{packingListDetail.status}}</label> -->
                                <!-- <div name="method">{{packingListDetail.status}}</div> -->
                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div style="display:flex; width:100%; height: 100%; justify-content: center; align-items: center;">
                        <div style="display:flex;justify-content: center; align-items: center; flex-direction: column;">
                            <div>
                                <i class="fa fa-cube" style="font-size:130px; color: #555"></i>
                            </div>
                            <div style="margin:7px 0 12px 0;">
                                <h1 style="font-size: 20px; color:#000;">
                                    Process Packing List ?
                                </h1>
                            </div>
                            <div>
                                <button *ngIf="packingListDetail.status == 'ACTIVE'" class="btn btn-process" (click)="processPackingList()">
                                    PROSES SEKARANG
                                </button>
                                <button *ngIf="packingListDetail.status == 'PROCESSED'" class="btn btn-process" (click)="generatePackingList()">
                                    <i class="fa fa-download"></i>
                                    DOWNLOAD PACKING LIST
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Approval Status</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                <label>Status</label>
                                <div name="member_id">{{packingListDetail.status}}</div>
                                
                                <div class="need-approval-text" *ngIf="packingListDetail.status == 'ACTIVE' && !processNow">
                                    <span>This request needs approval</span>
                                </div>

                                <div class="need-approval-text" *ngIf="packingListDetail.status == 'ACTIVE' && processNow">
                                    <span>Are you sure to process this request?</span>
                                </div>

                                <div class="btn-action-stock" *ngIf="packingListDetail.status == 'ACTIVE' && !processNow">
                                    <button class="btn btn-approve" (click)="isProcessNow()">Process</button>
                                    
                                </div>

                                <div class="btn-action-stock" *ngIf="packingListDetail.status == 'ACTIVE' && processNow">
                                    <button class="btn btn-approve" (click)="processPoint(packingListDetail.packing_no)">Process Now</button>
                                    <button class="btn btn-decline" (click)="isProcessNow()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
               
            </div>
         </div>
    </div>
    
</div>

<div *ngIf="orders&&!errorMessage&&!isGenerate">
    <app-form-builder-table 
    [tableFormat] = "tableFormat" 
    [table_data]  = "orders" 
    [searchCallback]= "[service, 'searchPackingListDetailReport',this]" 
    [total_page]="totalPage"
    [direct_download] = "packingListDetail.order_list"
    >
    </app-form-builder-table>
</div>

<div *ngIf="isGenerate">
    <app-packing-list-generate [back]="[this,backHere]" [detail]="packingListDetail"></app-packing-list-generate>
</div>
