<div >
    <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="BastReport && programType != 'custom_kontraktual'">
          <app-form-builder-table
          [searchCallback]= "[service, 'searchBastReportint',this]"
          [tableFormat]="tableFormat"
          [table_data]="BastReport"
          [total_page]="totalPage"
        >
  
          </app-form-builder-table>
    </div>
    <div *ngIf="BastReport && programType == 'custom_kontraktual'">
      <app-form-builder-table
      [searchCallback]= "[service, 'searchBastReportint',this]"
      [tableFormat]="tableFormat2"
      [table_data]="BastReport"
      [total_page]="totalPage"
    >

      </app-form-builder-table>
    </div>
        <!-- <div *ngIf="SalesRedemptionDetail"> -->
              <!-- <app-bast [back]="[this,backToHere]" [detail]="SalesRedemptionDetail"></app-bast> -->
        <!-- </div> -->
  
    </div>
  