<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="notifications-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Notification Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Notification ID</label>
                             <div name="notification_id" >{{detail.notification_id}}</div>
                             <label>Name</label>
                             <div name="name" >{{detail.name}}</div>
                             <label>Color</label>
                             <div name="color" >{{detail.color}}</div>
                             <label>User ID</label>
                             <div name="user_id" >{{detail.user_id}}</div>
                             
                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-notifications-edit [back]="[this, 'editThis']" [detail]="detail"></app-notifications-edit>
</div>