<div [@routerTransition]>
  <app-page-header [heading]="'Order History Success Page'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Orderhistorysuccess && orderhistorysuccessDetail==false && mci_project == false  && programType!='custom_kontraktual' && !errorMessage">
        <app-form-builder-table 
        [searchCallback]="[service, 'searchOrderhistorysuccessLint',this]" 
        [tableFormat]   = "tableFormat"
        [table_data]="Orderhistorysuccess"
        [total_page]="totalPage"
      >
            
        </app-form-builder-table>
  </div>

  <div *ngIf="Orderhistorysuccess && orderhistorysuccessDetail==false && mci_project == true  && programType!='custom_kontraktual' && !errorMessage">
      <app-form-builder-table 
      [searchCallback]="[service, 'searchOrderhistorysuccessLint',this]" 
      [tableFormat]   = "tableFormat2"
      [table_data]="Orderhistorysuccess"
      [total_page]="totalPage"
    >
          
      </app-form-builder-table>
  </div>

  <div *ngIf="Orderhistorysuccess && orderhistorysuccessDetail==false && mci_project == false && programType=='custom_kontraktual'  && !errorMessage">
      <app-form-builder-table 
      [searchCallback]="[service, 'searchOrderhistorysuccessLint',this]" 
      [tableFormat]   = "tableFormat3"
      [table_data]="Orderhistorysuccess"
      [total_page]="totalPage"
    >
          
      </app-form-builder-table>
  </div>

      <div *ngIf="orderhistorysuccessDetail">
            <app-orderhistorysuccess-edit [back]="[this,backToHere]" [detail]="orderhistorysuccessDetail"></app-orderhistorysuccess-edit>
      </div>

      <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
            <i class="fas fa-ban"></i>
            {{errorMessage}}
            </div>
      </div>

  </div>

