<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.name}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> 
    </div> 
    <div class="card-content">
        <div class="promotion-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Promotion Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Promotion ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Name</label>
                             <div name="name" >{{detail.name}}</div>
                             <label>Expired Date</label>
                             <div name="expired_date" >{{detail.expired_date}}</div>
                             <label>Type</label>
                             <div name="user_id" >{{detail.type}}</div>
                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
     
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-promotion-edit [back]="[this, 'editThis']" [detail]="detail"></app-promotion-edit>
</div>
