<div class="_container">
      <div class="grid-view">
            <div class="modal" *ngFor="let c of generatedVouchers" (click)="open(content)">
            </div>
      </div>
</div>



<app-form-builder-table 
    [table_data]="generatedVouchers" 
    [searchCallback]="[service,'getEvoucherStockSummary',this]"
    [tableFormat]="tableFormat" 
    [total_page]="totalPage">
</app-form-builder-table>

<div id="myModal" class="modal {{popUpForm}}">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" (click)="popUpClose()">&times;</span>
        </div>
        <div class="modal-body">
            <p>How many vouchers will be disabled?</p>
            <p>Inactive Stock : {{data.qty_inactive}} | Available Stock : {{data.qty_available}}</p>
            <input id="inputan" type="number" [(ngModel)]="inputedVoucher">
            <br />
            <button class="btn btn-primary" (click)="approval(data)">Active Stock</button>
            <button class="btn btn-secondary" (click)="disabled(data)" style="margin-left: 20px;">Inactive
                Stock</button>

        </div>
        <br />
        <div class="modal-body">
            <h3> How To Use?</h3>
            <p> Jika ingin mengcancel stock voucher, silahkan input angka dan tekan button "<strong>Inactive
                    Stock "</strong></p>
            <p>Jika ingin mengaktifkan stock voucher yang tersisa, silahkan input angka tekan button
                "<strong>Active Stock"</strong></p>
        </div>
        <div class="modal-body">
            <button class="btn btn-color" (click)="approveAllClicked(data)">Activate All Vouchers</button>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>