<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="title-custom">
    <img src="/assets/images/locard_icon_circle.png" style="height: 60px;" alt="Locard Icon">
    <label><strong>LOCARD
        </strong></label>
</div>

<div class="register-page-bg">
    <img src="/assets/images/page-regis3.png">
</div>

<div class="register-page-container">
    <div class="row">
        <div class="col-md-4 col-sm-12 register-form-container">
            <h1 class="form-title"><strong>Login</strong></h1>
            <span class="form-desc">Please login to continue and feel more lucky</span>
            <div class="form-container">
            <div class="register-form" (keyup.enter)="autoLogin()">
          
            <mat-list>
                <mat-list-item>
                    <mat-icon style="color: grey;" mat-list-icon> mail_outline</mat-icon>
                    <mat-form-field mat-line>
                        <input matInput placeholder="Email" (click)="errorMessage = false" [formControl]="email" required [(ngModel)]="form.email"
                            name="email">

                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon style="color: grey;" mat-list-icon>lock_open</mat-icon>
                    <mat-form-field mat-line>
                        <input matInput placeholder="Password" (click)="errorMessage = false" [type]="hide ? 'password' : 'text'"
                            [(ngModel)]="form.password" name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" style="background:transparent; border: none;">
                            <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            
                        </button>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
            <div class="notif error-message" *ngIf="errorMessage">
                *{{errorMessage}}
            </div>
            
            <div class="forgot-password">
                <label (click)="forgotPasswordClicked()"><strong>Forgot
                        Password ?</strong></label>
            </div>
            <button type="submit" class="common-button blue-fill full"
            (click)="autoLogin()"><strong>Login</strong></button>
            
            <div class="loading" *ngIf='showLoading'>
                <div class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            
            
            <label class="register-label"
                (click)=registerClicked()>Don't Have account ?<strong style="color: blue; cursor:pointer;"> Register</strong></label>
            
            </div>
        </div>
        </div>
    </div>
</div>
