
<input #inputFile2 type="file" style="display:none" (change)="onFileSelected($event, 'image_owner_url')"
accept="image/x-png,image/gif,image/jpeg">
<input #inputFile1 type="file" style="display:none" (change)="onFileSelected($event, 'background_image')"
accept="image/x-png,image/gif,image/jpeg">
<div class="header">
<h3>LOCARD Merchant Portal</h3>
</div>
<div *ngIf="!success">
<h3 class="title-diff">Open Merchant</h3>

<div class="container">
    <div class="container-header">
        Business Profile
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Store Name <span class="estar">*</span></label>
            <input class="form-control {{formEditable.merchant_name}}" (focus)="editableForm('merchant_name',true)"
                (blur)="editableForm('merchant_name', false)" type="text" name="store name"
                (input)="nameInput($event)" [(ngModel)]="form.merchant_name" />
            <div *ngIf="!formEditable.merchant_name" class="iconic" (click)="editableForm('merchant_name', true)">

            </div>
        </div>
        <div class="form-group">
            <label>Store Info (Description)<span class="estar">*</span></label>
            <!-- <textarea class="form-control {{formEditable.description}}" id="description" name="description" 
                [(ngModel)]="form.description" (focus)="editableForm('description', true)"
                (blur)="editableForm('description', false)" style="min-height: 200px;color:black"></textarea> -->
                <ckeditor [editor]="Editor" [config]="config" class="{{formEditable.description}}"
                (focus)="editableForm('description', true)" (blur)="editableForm('description', false)"
                type="text" name="description" [(ngModel)]="form.description"></ckeditor>
        </div> 
        <div class="form-group">
            <label>Store Address<span class="estar">*</span></label>
            <input class="form-control {{formEditable.maddress}}" (focus)="editableForm('maddress',true)"
                (blur)="editableForm('maddress',false)" type="text" name="maddress" [(ngModel)]="form.maddress" />
            <div *ngIf="!formEditable.maddress" class="iconic" (click)="editableForm('maddress', true)">

            </div>
        </div>

        <div class="row">
           
            
                <div class="col-md-6">
                <div class="form-group">
                    <label>Province <span class="estar">*</span></label>
                    <input type="text" class="form-control {{formEditable.mprovince}}"
                        (focus)="editableForm('mprovince', true)" list="dynmicProvinceList" 
                        (blur)="editableForm('mprovince', false)"
                        name="state" [(ngModel)]="form.mprovince" (keyup)="getProvinceList($event)" autocomplete="off"
                        />
                        <datalist id="dynmicProvinceList" name="province_code" ngDefaultControl>
                            <option *ngFor="let item of provinceList" [ngValue]="item.province">
                                {{item.province}}
                            </option>
                        </datalist>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City(Kota)/District (Kabupaten) <span class="estar">*</span></label>
                        <input type="text" class="form-control {{formEditable.mcity}}"
                            (focus)="editableForm('mcity', true)"  list="dynmicCityList"  (blur)="editableForm('mcity', false)" name="city"
                            [(ngModel)]="form.mcity" (keyup)="getCityList($event)" (change)="onCityChange()" autocomplete="off"  />
                            <datalist id="dynmicCityList" name="city_code" ngDefaultControl>
                                <option *ngFor="let item of cityList" [ngValue]="item.city">
                                    {{item.city}}
                                </option>
                            </datalist>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Sub District (Kecamatan) <span class="estar">*</span> </label>
                        <input type="text" class="form-control {{formEditable.msubdistrict}}"
                            (focus)="editableForm('msubdistrict', true)" list="dynmicSubDistrictList"  (blur)="editableForm('msubdistrict', false)"
                            name="country" [(ngModel)]="form.msubdistrict" (keyup)="getSubDistrictList($event)" (change)="onSubDistrictChange()" autocomplete="off"/>
                            <datalist id="dynmicSubDistrictList" name="subdistrict_code" ngDefaultControl>
                                <option *ngFor="let item of subDistrictList" [ngValue]="item.subdistrict">
                                    {{item.subdistrict}}
                                </option>
                            </datalist>
                    </div>
                    </div>
        <div class="col-md-6">
                <div class="form-group">
                    <label> Kelurahan/Desa <span class="estar">*</span> </label>
                    <input type="text" class="form-control {{formEditable.mdistrict}}"
                        (focus)="editableForm('mvillage', true)" list="dynmicVillageList"   (blur)="editableForm('mvillage', false)"
                        name="country" [(ngModel)]="form.mvillage" (keyup)="getVillageList($event)" (change)="onVillageChange()" autocomplete="off"/>
                        <datalist id="dynmicVillageList" name="mvillage_code" ngDefaultControl>
                            <option *ngFor="let item of villageList" [ngValue]="item.village">
                                {{item.village}}
                            </option>
                        </datalist>
                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                    <label> Postal Code <span class="estar">*</span></label>
                    <input type="number" [attr.maxLength]="5" class="form-control {{formEditable.mpostal_code}}"
                        (focus)="editableForm('mpostal_code', true)" (blur)="editableForm('mpostal_code', false)"
                        name="postal code" [(ngModel)]="form.mpostal_code" />
                    <div *ngIf="!formEditable.mpostal_code" class="iconic"
                        (click)="editableForm('mpostal_code', true)">

                    </div>
                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                    <label>Another Contact Person<span class="estar">*</span></label>
                    <input type="number" class="form-control {{formEditable.contact_person}}"
                        (focus)="editableForm('contact_person', true)"
                        (blur)="editableForm('contact_person', false)" name="contact_person"
                        [(ngModel)]="form.contact_person" />
                    <div *ngIf="!formEditable.contact_person" class="iconic"
                        (click)="editableForm('contact_person', true)">

                    </div>
                </div>
        </div>

        </div>
        
            <div class="form-group">
                <label>Store Slogan</label>
                <textarea class="form-control {{formEditable.slogan}}" (focus)="editableForm('slogan', true)"
                    (blur)="editableForm('slogan', false)" type="text" name="slogan"
                    [(ngModel)]="form.slogan"></textarea>

            </div>

        
            <div class="mr-5" >
                <div class="form-group courier-service">
                    <label>Courier Service <span class="estar">*</span></label>
                    <div>
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Lakukan Pengisian Provinsi sampai Desa">
                    <button class="common-button" [disabled]="!complete" [class.darkwhite]= "!complete"
                    [class.blue-fill]="complete" (click)="seeAvailableCourier()" >See Available Courier</button>
                </span>
                    </div>
                    
                    <div class="form-group uploaded" *ngIf="showLoading">
                        <div class="loading">
                            <div class="sk-fading-circle">
                              <div class="sk-circle1 sk-circle"></div>
                              <div class="sk-circle2 sk-circle"></div>
                              <div class="sk-circle3 sk-circle"></div>
                              <div class="sk-circle4 sk-circle"></div>
                              <div class="sk-circle5 sk-circle"></div>
                              <div class="sk-circle6 sk-circle"></div>
                              <div class="sk-circle7 sk-circle"></div>
                              <div class="sk-circle8 sk-circle"></div>
                              <div class="sk-circle9 sk-circle"></div>
                              <div class="sk-circle10 sk-circle"></div>
                              <div class="sk-circle11 sk-circle"></div>
                              <div class="sk-circle12 sk-circle"></div>
                            </div>
                          </div>
                    </div>
                    <div *ngIf="formcourier">
                        <div *ngFor="let cr of courierServices; let i = index">
                            <mat-checkbox [(ngModel)]="cr.value">
                                {{cr.courier}} </mat-checkbox>
                        </div>

                    </div>
                </div>
            </div>
        
        <div class="image-upload-group">
            <div class="img-upload logo">
                <div class="card">
                    <div class="card-title">
                        <h2>Store Logo<span class="estar">*</span></h2>
                    </div>
                    <div class="card-content" *ngIf="!form.image_owner_url && !showLoading1">
                        <div class="image">
                            <div class="card-content custom">
                                <div>
                                    <img *ngIf="form.image_owner_url" class="resize"
                                        src="{{form.image_owner_url}}" />
                                    <img *ngIf="!form.image_owner_url" class="set-opacity"
                                        src="/assets/images/cloud.png" height="200" width="200"> <br />
                                </div>
                                <div class="browse-files">
                                    <div class="pb-framer">
                                        <div class="progressbar {{cancel?'terminated':''}}"
                                            [ngStyle]="{'width.%': progressBar}">

                                        </div>
                                        <span *ngIf="progressBar<58&&progressBar>0">
                                            {{cancel?'terminated':progressBar+'%'}} </span>
                                        <span class="clr-white" *ngIf="progressBar>58">
                                            {{cancel?'terminated':progressBar+'%'}} </span>

                                    </div>

                                    <button class="common-button blue-fill fileupload"
                                        (click)="inputFile2.click()">Browse File</button>
                                    <br>
                                    <br>
                                 
                                </div>

                            </div>

                        </div>
                       
                    </div>
                    <div class="form-group uploaded" *ngIf="showLoading1">
                        <div class="loading">
                            <div class="sk-fading-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </div>
                    </div>
           
                    <div class="form-group uploaded" *ngIf="form.image_owner_url && !showLoading1">
                        <div class="uploaded-image">
                            <div class="img">
          
                                <img class="resize" src="{{form.image_owner_url}}">
                            </div>
                       
                        </div>
                        <a class="common-button blue-fill text-fileupload" (click)="inputFile2.click()">Re-Upload Image</a>
                    </div>
                    <div class="notif error-message" *ngIf="errorLabel" [class.error-margin]="!showLoading1">
                        {{errorLabel}}
                    </div>
                </div>
            </div>

            <div class="img-upload bg">
                <div class="card">
                    <div class="card-title">
                        <h2>Background Store Logo<span class="estar">*</span></h2>
                    </div>
                    <div class="card-content" *ngIf="!form.background_image && !showLoading2">
                        <div class="image">
                            <div class=" custom">
                                <div>
                                    <img *ngIf="form.background_image" class="resize"
                                        src="{{form.background_image}}" />
                                    <img *ngIf="!form.background_image" class="set-opacity"
                                        src="/assets/images/cloud.png"> <br />
                                </div>
                                <div class="browse-files">
                                    <div class="pb-framer">
                                        <div class="progressbar {{cancel?'terminated':''}}"
                                            [ngStyle]="{'width.%': progressBar}">

                                        </div>
                                        <span *ngIf="progressBar<58&&progressBar>0">
                                            {{cancel?'terminated':progressBar+'%'}} </span>
                                        <span class="clr-white" *ngIf="progressBar>58">
                                            {{cancel?'terminated':progressBar+'%'}} </span>

                                    </div>

                                    <button class="common-button blue-fill fileupload"
                                        (click)="inputFile1.click()">Browse File</button>

                                    <br>
                                    <br>
                                   
                                </div>

                            </div>

                        </div>
                    </div>
                    
                    <div class="form-group uploaded" *ngIf="showLoading2">
                        <div class="loading">
                            <div class="sk-fading-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </div>
                    </div>
               
                    <div class="form-group uploaded" *ngIf="form.background_image && !showLoading2">
                        <div class="uploaded-image">
                            <div class="img">
                               
                                <img class="resize" src="{{form.background_image}}">
                            </div>
                            
                        </div>
                        <a class="common-button blue-fill text-fileupload" (click)="inputFile1.click()">Re-Upload Image</a>
                    </div>
                    <div class="notif error-message" *ngIf="errorLabel2">
                        {{errorLabel2}}
                    </div>
                </div>
             

            </div>
        </div>
        <div>
            <div class="notif error-message">{{errorMessage}}</div>


        </div>
    </div>

</div>
<div>
</div>


<div class="save-container">
    <button class="common-button save" (click)="saveProfile()">Save
        Profile</button>
</div>
</div>

<div *ngIf="success" class="success">
<div class="header-success">Congratulations!</div>
<div class="sub-header">
    Your Store has been successfully opened
</div>
<img class="img-success" src="/assets/images/successmerchant.png">
<br>
<label> Please relogin to enter your merchant dashboard</label>
<div class="success-container">
    <button class="common-button add" (click)="goToAdd()">Login</button>
</div>

</div>
