<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Membership'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddMembership(form.value)">
      <div class="col-md-6">
          <label>Name</label>
          <form-input name="name" [type]="'text'" [placeholder]="'Membership name'"  [(ngModel)]="name" required></form-input>

          <label>Transaction reach limit</label>
          <form-input name="transaction_reach" [placeholder]="'Email'"  [type]="'text'" [(ngModel)]="transaction_reach" required></form-input>

          <label>description</label>
          <!-- <app-ngx-editor name="description" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="description"></app-ngx-editor> -->
          
         <!-- {{form.value | json}}  -->
      </div>
        
        <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 