<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="moutlet-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Member Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Organization ID</label>
                             <form-input  name="org_id" [disabled]="true" [type]="'text'" [placeholder]="'Organization ID'"  [(ngModel)]="detail.org_id" autofocus required></form-input>
             
                             <!-- <label>Merchant ID</label>
                             <form-input  name="merchant_id" [disabled]="true" [type]="'text'" [placeholder]="'Merchant ID'"  [(ngModel)]="detail.merchant_id" autofocus required></form-input> -->
             
                             <label>Outlet Name</label>
                             <form-input name="outlet_name" [type]="'text'" [placeholder]="'Outlet Name'"  [(ngModel)]="detail.outlet_name" autofocus required></form-input>
             
                             <label>Outlet Code</label>
                             <form-input name="outlet_code" [type]="'text'" [placeholder]="'Outlet Code'"  [(ngModel)]="detail.outlet_code" autofocus required></form-input>
             
                             <label>Outlet Type</label>
                             <form-input name="outlet_type" [type]="'text'" [placeholder]="'Outlet Type'"  [(ngModel)]="detail.outlet_type" autofocus required></form-input>

                             <label>Outlet ID</label>
                             <form-input name="id" [type]="'text'" [placeholder]="'Outlet ID'"  [(ngModel)]="detail.id" autofocus required></form-input>

                             <label>Address1</label>
                             <form-input name="address1" [type]="'textarea'" [placeholder]="'Address1'"  [(ngModel)]="detail.address1" autofocus required></form-input>

                             <label>Address2</label>
                             <form-input name="address2" [type]="'textarea'" [placeholder]="'Address2'"  [(ngModel)]="detail.address2" autofocus required></form-input>

                             <label>Address3</label>
                             <form-input name="address3" [type]="'textarea'" [placeholder]="'Address3'"  [(ngModel)]="detail.address3" autofocus required></form-input>

                             <label>City </label>
                             <form-input name="city" [type]="'text'" [placeholder]="'City'"  [(ngModel)]="detail.city" autofocus required></form-input>

                             <label>Postal Code </label>
                             <form-input name="postal_code" [type]="'text'" [placeholder]="'Postal Code'"  [(ngModel)]="detail.postal_code" autofocus required></form-input>

                             <label>State </label>
                             <form-input name="state" [type]="'text'" [placeholder]="'State'"  [(ngModel)]="detail.state" autofocus required></form-input>

                             <label>Country </label>
                             <form-input name="country" [type]="'text'" [placeholder]="'Country'"  [(ngModel)]="detail.country" autofocus required></form-input>
                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Contact Person </label>
                            <form-input name="contact_person" [type]="'text'" [placeholder]="'Contact Person'"  [(ngModel)]="detail.contact_person" autofocus required></form-input>

                            <label>Work Phone </label>
                            <form-input name="work_phone" [type]="'text'" [placeholder]="'Work Phone'"  [(ngModel)]="detail.work_phone" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                            <label>Status</label>
                             <div name="status"> {{status}}
                                <form-select name="status" [(ngModel)]="detail.status" [data]="outletStatus" required></form-select> 
                             </div> 

                             <label>URL</label>
                             <form-input name="base_url" [type]="'text'" [placeholder]="'URL'"  [(ngModel)]="detail.base_url" autofocus required></form-input>
                             
                            <label>Terminal ID </label>
                            <form-input  name="terminal_id" [disabled]="true" [type]="'text'" [placeholder]="'Terminal ID'"  [(ngModel)]="detail.terminal_id" autofocus required></form-input>

                            <label>PIN Number </label>
                            <form-input  name="pin_number" [disabled]="true" [type]="'password'" [placeholder]="'PIN Number'"  [(ngModel)]="detail.pin_number" autofocus required></form-input>

                             
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
     
         </div>
    </div>
    
</div>