<div [@routerTransition]>
       
  <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
  <div class="summary-report row">
    <div class="col-md-9">
        <div class="card " *ngIf="barChartLabels.length">
            <div class="card-header">
               Registered Member Daily
            </div>
            <div class="card-body">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" 
                [options]="barChartOptions" 
                [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="onOnUpdateCart()">Refresh</button>
            </div>
        </div>
        <br>
        <br>

        <div class="card " *ngIf="barChartLabels.length">
            <div class="card-header">
                Registered Member Monthly
            </div>
            <div class="card-body">
                <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="onOnUpdateCart()">Refresh</button>
            </div>
        </div>
        <br>
        <div class="card " *ngIf="barChartLabels.length">
            <div class="card-header">
                New Guest Daily
            </div>
            <div class="card-body">
                <canvas baseChart [datasets]="barChartData3" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="onOnUpdateCart()">Refresh</button>
            </div>
        </div>
        <br>
        <div class="card " *ngIf="barChartLabels.length">
            <div class="card-header">
                New Guest Monthly
            </div>
            <div class="card-body">
                <canvas baseChart [datasets]="barChartData4" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="onOnUpdateCart()">Refresh</button>
            </div>
        </div>
    </div>

    <!-- BAGIAN TABEL -->

    <div class="col-md-3">
        <div class="card sum" *ngIf="data.current_registered_member">
            <div class="card-header"> Registered Member Total </div>
            <div class="card-body">{{data.current_all_registered_guest.total}}</div>
      </div>
      <br>
      <div class="card sum" *ngIf="data.current_registered_member">
          <div class="card-header"> Registered Member Monthly </div>
          <div class="card-body">{{data.current_all_registered_member.total}}</div>
      </div>
      <br>
      <div class="card sum" *ngIf="data.current_registered_member">
          <div class="card-header"> All Guest Daily </div>
          <div class="card-body">{{data.current_new_guest.total}}</div>
      </div>
      <br>
      <div class="card sum" *ngIf="data.current_registered_member">
          <div class="card-header"> New Guest Monthly </div>
          <div class="card-body">{{data.current_new_user.total}}</div>
      </div>
      <br>
      <div class="card sum" *ngIf="data.current_registered_member">
          <div class="card-header"> New Member Daily </div>
          <div class="card-body">{{data.current_registered_member.total}}</div>
      </div>
    
    
  </div>

  
 
 
</div>

