<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.name}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> 
    </div> 
    <div class="card-content">
        <div class="promocode-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Promo Code Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Promotion ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Name</label>
                             <div name="promo_name" >{{detail.promo_name}}</div>
                             <label>Code</label>
                             <div name="promo_code" >{{detail.promo_code}}</div>
                             <label>Description</label>
                             <div name="description" >{{detail.promo_description}}</div>
                             <label>Value</label>
                             <div name="value" >{{detail.value}}</div>
                             <label>Rule ID</label>
                             <div name="rule_id" >{{detail.rule_id}}</div>
                             <label>Type</label>
                             <div name="type" >{{detail.type}}</div>
                             <label>Category</label>
                             <div name="category" >{{detail.category}}</div>
                             <label>Start Date</label>
                             <div name="start_date" >{{detail.start_date}}</div>
                             <label>End Date</label>
                             <div name="end_date" >{{detail.end_date}}</div>
                             <label>Active</label>
                             <div name="active" >{{detail.active}}</div>

                             
                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
     
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-codepage-edit [back]="[this, 'editThis']" [detail]="detail"></app-codepage-edit>
</div>
