
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-ng4-primary: mat-palette($mat-indigo);
$test-ng4-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-ng4-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$test-ng4-theme: mat-light-theme($test-ng4-primary, $test-ng4-accent, $test-ng4-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-ng4-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-ng4-primary: mat-palette($mat-indigo);
$test-ng4-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-ng4-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$test-ng4-theme: mat-light-theme($test-ng4-primary, $test-ng4-accent, $test-ng4-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-ng4-theme);

/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.production {
    app-header {
        nav.navbar {
            margin-top: 0px !important;
        }
    }

    app-sidebar {
        nav.sidebar {
            top: 0px;
            margin-top: 0px;
            height: 100%;
        }
    }

    section.main-container {
        margin-top: -50px;
        height: 100vh;
        overflow: auto;
    }
}

@media screen and (max-width: 600px) {
    .production {

        app-sidebar {
            nav.sidebar {
                top: 30px;
                margin-top: 0px;
                height: 100%;
            }
        }

        section.main-container {
            margin-top: 0vw;
        }
    }
}

/* common buttons modules*/
$common-button-blue: #2480fb;
$color-blue-dark: #0069d9;

.common-button{
    font-size: 14px;
    border-radius: 5px;
    display: inline-flex;
    min-width: 120px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 36px;
    padding: 3px 7px;
    text-decoration: none !important;
    .fa{
        margin-right: 5px;
    }
}

.common-button.bold{
    font-size: 14px;
    font-weight: bold;
}

.common-button.left{
    justify-content: left;
}
.common-button:focus{
    outline: none;
}
.common-button.blue-outline{
    color: $common-button-blue;
    border: 1px solid $common-button-blue;
}

.common-button.empty-outline{
    color: $common-button-blue;
    border-width: 0px;
}

.common-button.blue-fill{
    color: white !important;
    border: 1px solid $color-blue-dark;
    background: $common-button-blue;
}
.common-button.blue-fill:hover{
    background-color: $color-blue-dark
}

$common-button-gray: #ccc;
.common-button.gray-outline{
    color: $common-button-gray;
    border: 1px solid $common-button-gray;
}

/* notification messages */
$red-text: #e74c3c;
.notif.error-message{
    color: $red-text;
}

$notif-blue: #3498db;
.notif.blue-outline{
    color:$notif-blue;
    border: 1px solid $notif-blue;
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin: 10px 0;
}
