<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-all">
    <div class="header">
        <div class="logo">
            <img src="/assets/images/locard_icon_circle.png">
            <span class="title">LOCARD</span>
        </div>
    </div>
    <div class="button-back" >
      
            <i class="material-icons"  (click)="backToLogin()" style="font-size:60px; font-weight: bold;" >
                keyboard_arrow_left
                </i>
    </div>
    <div class="body">
            <div class="col-md-4">
                <div class="card container-form">
                    <div class="content" *ngIf="step == 1">
                        <div class="title-content">Forgot Your Password ?</div>
                        <label class="body-content">Enter your email address and we will send a message along with a link to return to your account.</label>
                        <div class="email">
                        <mat-list >
                            <mat-list-item >
                                <mat-form-field appearance="outline" class="full">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" (click)="errorMessage = false" [formControl]="email" required [(ngModel)]="form1.email"
                                        >
                                   
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                        <div class="notif error-message" *ngIf="errorMessage">
                            *{{errorMessage}}
                        </div>
                    </div>
                    
                        <button class="common-button blue-fill full" (click)="sendEmail()"><span style="font-size:20px;">Send</span ></button>
                    </div>
                    <div class="content" *ngIf="step == 2">
                        <div class="title-content"></div>
                        <div class="body-content">Silahkan cek email untuk kode verifikasi</div>
                        <div class="email">
                        <mat-list >
                            <mat-list-item >
                                <mat-form-field appearance="outline" class="full">
                                    <mat-label>Kode Verifikasi</mat-label>
                                    <input matInput placeholder="code" (click)="errorMessage = false" required [(ngModel)]="form2.auth_code">
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                        <div class="notif error-message" *ngIf="errorMessage">
                            *{{errorMessage}}
                        </div>
                        <div class="button-container">
                        <button class="common-button blue-fill" (click)="submitCode()">Submit</button>
                        <button class="common-button" [disabled]="!buttonActive" [class.blue-fill]= "buttonActive" (click)="sendEmail()">Resend <span *ngIf="!buttonActive">({{timeLeft}})</span></button>
                    </div>
                    </div>
                    </div>
                    <div class="content" *ngIf="step == 3">
                        <div class="title-content"></div>
                        <div>New Password</div>
                        <mat-list-item>
                            <mat-form-field  appearance="outline" class="full">
                                
                                <input matInput [type]="hide ? 'password' : 'text'"
                                    [(ngModel)]="form3.password" (click)="errorMessage = false">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide" style="background:transparent; border: none;">
                                    <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    
                                </button>
                            </mat-form-field>
                        </mat-list-item>
                    
                        
                        <div >Re Type Password</div>
                        <mat-list-item>
                            <mat-form-field  appearance="outline" class="full">
                                <input matInput [type]="hide ? 'password' : 'text'"
                                    [(ngModel)]="form3.repeat_password" (click)="errorMessage = false">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide" style="background:transparent; border: none;">
                                    <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    
                                </button>
                            </mat-form-field>
                        </mat-list-item>

                        <button class="common-button blue-fill" (click)="changePassword()">Save </button>
                    </div>
                </div>

            </div>
        
    </div>
</div>