<div [@routerTransition]>
  <app-page-header [heading]="'Shopping Cart'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="Shoppingcart&&shoppingcartDetail==false">
        <app-form-builder-table
        [searchCallback]="[service, 'searchShoppingcartLint',this]"
        [table_data]="Shoppingcart"
        [tableFormat]="tableFormat"
      >

        </app-form-builder-table>
  </div>
      <div *ngIf="shoppingcartDetail">
            <app-shoppingcart-detail [back]="[this,backToHere]" [detail]="shoppingcartDetail"></app-shoppingcart-detail>
      </div>

  </div>

