<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
    <div class="pg-container">
        <div class="container-form">
            <img id="page-regis-img" src="/assets/images/page-regis3.png">
            <img id="form-regis-img" src="/assets/images/form-regis2.png" style="visibility: hidden;">

            <!-- <img id="form-regis-img"> -->
            <div class="regis-body">
                <div class="regis-title">
                    <img id="locard_icon_img" src="/assets/images/locard_icon_circle.png" alt="Locard Icon">
                    <p style="font-weight: 900"> LOCARD </p>

                </div>

                <div class="register-page-container">
                    <h1 class="form-title"><strong>Register</strong></h1>
                    <span class="form-desc"><strong>Join us to our merchant club and feel more lucky with awareness,
                            retention, and acquisition </strong></span>
                    <div class="col-md-4 col-sm-12 register-form-body">


                        <!-- <form #form="ngForm" class="register-form" ngNativeValidate (ngSubmit)="register(form)"> -->
                        <div [formGroup]="registerForm" class="register-form" ngNativeValidate>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>perm_identity</mat-icon>
                                    <mat-form-field mat-line>
                                        <input matInput placeholder="Name" formControlName="full_name"
                                            [(ngModel)]="form.full_name" required>
                                        <mat-error *ngIf="registerForm.controls.full_name.hasError('required')">You must
                                            enter a value</mat-error>
                                        <mat-error *ngIf="registerForm.controls.full_name.hasError('maxlength')">You
                                            reach the maximum input value</mat-error>
                                    </mat-form-field>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon> mail_outline</mat-icon>
                                    <mat-form-field mat-line>
                                        <input matInput placeholder="Email" formControlName="email" required
                                            [(ngModel)]="form.email">
                                        <mat-error *ngIf="registerForm.controls.email.hasError('required')">You must
                                            enter a value</mat-error>
                                        <mat-error *ngIf="registerForm.controls.email.hasError('email')">Not a valid
                                            email format</mat-error>
                                        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                    </mat-form-field>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>lock_open</mat-icon>
                                    <mat-form-field mat-line>
                                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                                            [(ngModel)]="form.password" formControlName="password">
                                        <button mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="registerForm.controls.password.hasError('required')">You must
                                            enter a value</mat-error>
                                        <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">Minimum
                                            8 length of character</mat-error>
                                    </mat-form-field>
                                </mat-list-item>

                                <mat-list-item>
                                    <mat-icon mat-list-icon>phone_iphone</mat-icon>
                                    <mat-form-field mat-line>
                                        <input matInput placeholder="Phone Number" [(ngModel)]="form.cell_phone"
                                            type="number" formControlName="cell_phone">
                                        <mat-error *ngIf="registerForm.controls.cell_phone.hasError('required')">You
                                            must enter a value</mat-error>
                                    </mat-form-field>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon style="visibility: hidden;">phone_iphone</mat-icon>
                                    <mat-form-field mat-line>
                                        <mat-select placeholder="Select Gender" [(ngModel)]="form.gender"
                                            formControlName="gender">
                                            <mat-option value="male">Male</mat-option>
                                            <mat-option value="female">Female</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>

                                <label class="date-birth-label">Date of Birth</label>
                                <div class="date-birth-responsive" style="display: flex;">

                                    <mat-list-item>
                                        <mat-icon mat-list-icon style="visibility: hidden;">phone_iphone</mat-icon>
                                        <mat-form-field id="mat-form-field" appearance="outline" mat-line>
                                 
                                            <input matInput [matDatepicker]="picker" [(ngModel)]="form.dob"
                                                formControlName="dob">
                                            <mat-error *ngIf="registerForm.controls.dob.hasError('required')">You must
                                                enter a value</mat-error>
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </mat-list-item>


                                </div>
                                <div class="notif error-message" *ngIf="errorMessage">
                                    *{{errorMessage}}
                                </div>
                                <br>
                                <mat-checkbox [(ngModel)]="checked" formControlName="checked"
                                    style="font-size: 14px;text-align: center;margin-left: 66px;color:grey">
                                </mat-checkbox><span> I Agree to the LOCARD <span style="color:#0871b2;cursor: pointer;"
                                        (click)="openTnc();">Terms & Conditions</span></span>

                                        <div class="loading" *ngIf='showLoading'>
                                            <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                          </div>

                                <br>
                                <div class="button-container">
                                    <button type="submit" class="common-button blue-fill" (click)="register()">
                                        Register</button>
                                    <div class="divider"></div>
                                    <button class="common-button" style="background-color: white;"
                                        (click)="loginClicked()"><strong>Login</strong>
                                    </button>
                                </div>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-middle-page">
            <p class="join-custom-title">JOIN TO OUR <strong>MERCHANT CLUB</strong></p>
        </div>
        <div class="container">
            <div class="row reverse-center">
                <div class="col-lg-5">
                    <img class="img-merchant" src="/assets/images/awareness.png">
                </div>
                <div class="col-lg-7 align-self-center">
                    <h3 class="bottom-title"><span style="color:#0871b2;">#1.</span> <strong> AWARENESS</strong></h3>
                    <p style="font-size: 18px;">Melalui media promosi, bisnis anda akan selalu terekspos</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <img class="img-merchant" src="/assets/images/retention.png">
                </div>
                <div class="col-lg-7 align-self-center">
                    <h3 class="bottom-title"><span style="color:#0871b2;">#2.</span> <strong> RETENTION</strong></h3>
                    <p style="font-size: 18px;">Kami membantu meningkatkan trafic kunjungan dengan hubungan anda dengan
                        jaringan member LOCARD</p>
                </div>
            </div>
            <div class="row reverse-center">
                <div class="col-lg-5">
                    <img class="img-merchant" src="/assets/images/aquisition.png">
                </div>
                <div class="col-lg-7 align-self-center">
                    <h3 class="bottom-title"><span style="color:#0871b2;">#3.</span> <strong> ACQUISITION </strong></h3>
                    <p style="font-size: 18px;">Kami membantu bisnis anda untuk mendapatkan
                        customer baru dan menjalin hubungan jangka panjang dengan customer anda</p>
                </div>
            </div>
        </div>

        <div class="bottom-container">
            <div class="bottom-page">
                <div class="text">
                    EASY WAY TO BECOME A MERCHANT LOCARD
                </div>
            </div>

            <div class="middle-regis-page">
                <div class="row box-middle-page">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="row1">
                                <img class="img-box" src="/assets/images/Group_5855.png">
                            </div>
                            <div class="row2">
                                <b> Daftar Online</b>
                                <p>
                                    Join Club Merchant LOCARD sangat mudah,
                                    hanya dengan mengisi form Online pada website
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="row1">
                                <img class="img-box" src="/assets/images/Group_5856.png">
                            </div>
                            <div class="row2">
                                <b> Negosiasi dan Deal </b>
                                <br>
                                <p>
                                    Setelah mendaftar, team kami akan segera menghubungi anda.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="row1">
                                <img class="img-box" src="/assets/images/Group_5857.png">
                            </div>
                            <div class="row2">
                                <b> Mulai Jalankan Transaksi </b>
                                <p>
                                    Ajak pelanggan setia anda untuk Join Member LoCard untuk mendapatkan
                                    Locky Poin setiap bertransaksi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
         <div id="myModal" class="modal {{showTnc}}">
             <!-- Modal content -->
             <div class="modal-content">
                 <div class="modal-header">
                     <span class="close" (click)="closeTnc()">&times;</span>
                 </div>
                 <div class="modal-body">
                     <h4 style="color:#0871b2"> Terms And Conditions </h4>
                     <br />

                 </div>
                 <br />
                 <div class="modal-body">
                     <!-- <textarea placeholder="Write your reason here..." rows="4" cols="50"></textarea> -->
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque orci laoreet ipsum
                         accumsan, non tincidunt felis aliquam. In venenatis mi sodales purus efficitur vehicula. Nam
                         varius diam urna, a porttitor mi blandit ut. Suspendisse luctus libero sed purus scelerisque,
                         et suscipit nisl varius. Suspendisse iaculis rhoncus quam vel blandit. Nam pretium vel quam sit
                         amet blandit. Maecenas et nisi sodales, cursus diam id, vehicula nulla. Aliquam quam sapien,
                         efficitur at imperdiet ut, fermentum laoreet ligula. Sed finibus condimentum augue, id placerat
                         urna placerat id. Sed malesuada in neque in rutrum. Donec sollicitudin egestas arcu sit amet
                         egestas. Maecenas euismod, neque quis tempus lacinia, massa augue convallis quam, vel facilisis
                         tortor odio et arcu. Aliquam ut cursus elit, et aliquet eros.

                         Quisque tortor nisi, elementum vel cursus eu, tempus tincidunt massa. Nulla nisl ipsum,
                         suscipit eu sapien quis, rhoncus lobortis est. Sed vehicula quam odio. Curabitur dui enim,
                         placerat a vestibulum vitae, tristique a eros. Vivamus ullamcorper sagittis turpis, eget
                         eleifend nisi vulputate congue. Ut pulvinar lorem enim, a posuere mauris placerat quis. Sed nec
                         dolor dui. Mauris sit amet auctor sapien. Donec sed cursus eros. Mauris nisl orci, accumsan ac
                         feugiat ut, mollis eget turpis.</p>

                 </div>
                 <div class="modal-body">
                     <!-- <button class="btn btn-primary" (click)="cancelOrders()">Submit</button> -->
                 </div>
                 <div class="modal-footer">

                 </div>
             </div>
             <div class="buttons" style="text-align: -webkit-center;margin-top:10px;">
             <button class="btn btn-primary" style="margin-right: 10px;"  >Accept</button>
             <button class="btn btn-outline-primary" (click)="closeTnc();" >Decline</button>
             </div>
         </div>
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-md-3 first-footer-logo">
                <img src="/assets/images/locard_icon_circle.png">
            </div>
            <div class="col-md-9 first-footer-content">
                <div class="row">
                    <div class="col-md-3 content-1">
                        <h3>
                            <strong>Contact Information</strong>
                        </h3>
                        <p>
                            Lorem Ipsum<br>
                            Lorem Ipsum<br>
                            Lorem Ipsum<br>
                            Lorem Ipsum Dolor Sit<br>
                            Lorem Ipsum<br>
                            Lorem Ipsum Dolor Sit<br>
                            Lorem Ipsum<br>
                        </p>
                    </div>
                    <div class="col-md-3 content-1">
                        <h3>
                            <strong>Lorem</strong>
                        </h3>
                        <p>
                            Lorem Ipsum<br>
                            Lorem Ipsum<br>
                            Lorem Ipsum<br>
                            Lorem Ipsum Dolor Sit<br>
                            Lorem Ipsum<br>
                            Lorem Ipsum Dolor Sit<br>
                            Lorem Ipsum<br>
                        </p>
                    </div>
                    <div class="col-md-3 content-3">
                        <h3>
                            <strong>Follow Us On</strong>
                        </h3>
                        <div class="social-media">
                            <img src="/assets/images/twitter.png">
                            <img src="/assets/images/facebook.png">
                            <img src="/assets/images/instagram.png">
                        </div>
                    </div>
                    <div class="col-md-3 content-4">
                        <div class="application">
                            <div class="row up">
                                Get The Applications on
                            </div>
                            <div class="row bottom">
                                <a href="#googleplay"><img src="/assets/images/googleplay.png"></a>
                                <a href="#appstore"><img src="/assets/images/appstore.png"
                                        style="padding: 12px;margin-top: -15px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-footer">
            <img src="/assets/images/locard_icon_circle.png">
            <p>Copyright © 2019 PT CLS System. All rights reserved </p>
        </div>
    </footer>

      

</body>
