* {
  font-family: "Poppins", sans-serif;
  transition: ease all .3s;
}
mat-list-item{
  flex-direction: row;
  height: 65px !important;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#form-regis-img {
  margin-top: 20vw;
  width: 34%;
  // display: inline;
}
.container {
  transform: scale(0.85);
}
.divider{
  width: 10%;
  height:auto;
  display:inline-block;
}
#page-regis-img {
  width: 52%;
  margin-left: 8vh;
  margin-top: -6vw;
  // display: inline;
}
// mat-checkbox  {
//   border-color: black;
//   background-color: #dddddd
// }

#locard_icon_img {
  height: 45px;
  margin-right: 5px;
}
// .dob-field {
//   border-top: 0px !important;
// }
.register-form-body {
  width: 100vw !important;
  // border:1px solid;
  margin-top: 3vh;
  padding: 3% 5% 3%;
  
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  // background-image: url("/assets/images/form-regis2.png");
  // background-repeat: no-repeat;
  .register-form {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    .date-birth-label {
      margin-left: 66px;margin-bottom :20px;color:gray
    }
    
  }
}
mat-datepicker-toggle {
  color: #0871b2 !important;
  width: 20px;
  background-color: #0871b2 !important;
}
// mat-select {
//   mat-option {
//     transform: scale(0.75)
//   }
// }
.register-page-container {
  margin-top: 6vw;
  width: 35%;
  transform: scale(0.85);
  transform-origin: top left;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
.register-btn {
  width: 100%;
  border-radius: 50px;
  border-style: unset;
  background: #0871b2;
  padding: 20px;
  font-size: 20px;
}

.login-btn {
  width: 100%;
  border-style: solid;
  border-color: #0871b2;
  color: #0871b2;
  background: #ffffff;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
}

.or-line {
  text-align: center;
  .orline {
    width: 40%;
  }
  margin: 10px;
  font-size: 18px;
}

.common-button {
  font-size: 16px;
  border-radius: 5px;
  display: inline-flex;
  min-width: 169px;
  height: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 53px;
  padding: 3px 7px;
  text-decoration: none !important;
}

.pg-container {
  // background-image: url("/assets/images/container-form.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* Container holding the image and the text */
.container-form {
  position: relative;
  text-align: left;
  color: black;
}
.bottom-container {
  transform: scale(0.85);
  margin: 10vh 5vw;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
}
.regis-body {
  position: absolute;
  top: 8px;
  left: 16px;
  display: flex;
  flex-direction: row;

  .regis-title {
    width: 48%;
    padding: 1em;
    margin-left: 6%;
    font-size: 28px;
    p {
      display: inline;
      color: #085685;
    }
  }
}
/* ======================================== */

.text-middle-page {
  text-align: center;
  height: 8vw;
  color: black;
  font-size: 40px;
  padding-top: 50px;

  .join-custom-title {
    border-bottom: 1px solid white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.middle-regis-page {
  margin-top: 5%;
  .col-md-4 {
    text-align: center;
    width: 10vw;
    .box {
      border-radius: 22px;
      width: 100%;
      height: 22vw;
      margin: 0 auto;
      background: #ffffff;
    }
  }
}

.bottom-page {
  height: 100px;
  margin-top: 10vw;
  // margin-bottom: 3vw;
  text-align: center;
  .text {
    text-align: center;
    color: black;
    font-size: 40px;
    // width: 60%;
    // float: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    line-height: 50px;
    padding: 30px;
    // background-image: linear-gradient(-90deg, #095e94, #0697ce);
  }
}

.container .row  {
  width: 100%;
  padding: 5% 0 0 0;
  .img-merchant{
    width: 100%;
  }
}

.bottom-title {
  // border-bottom: 3px solid #1f6a99;
  padding-bottom: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}

.reverse-center {
  display: flex;
  flex-direction: row-reverse;
}

.middle-regis-page .row .col-md-4 .box {
  .row1 {
    height: 40%;
    display: block;
    margin-left: auto;
    margin-top: auto;
  }

  .row2 {
    height: 40%;
    text-align: center;
  }

  .img-box {
    width: 25%;
    // margin-top: 15%;
  }

  b {
    font-size: 20px;
  }

  p {
    margin-left: 10%;
    margin-top: 0%;
    margin-right: 10%;
    font-size: 14px;
  }
}

.footer {
  background-image: linear-gradient(#049ed2, #07598a);
  padding: 60px 30px 0px;

  .first-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    img {
      width: 250px;
    }
  }

  .first-footer-content {
    color: white;
    margin-bottom: 30px;
    .row .content-3 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .social-media {
        flex-direction: column;
        img {
          width: 40px;
          margin: 10px;
        }
      }
    }

    .content-4 {
      .application {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 70%;
        .up {
          background-color: #085686;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          padding: 12px 20px;
          text-align: center;
          font-size: 19px;
        }
        .bottom {
          background-color: white;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          align-items: center;
          justify-content: center;
          display: flex;
          img {
            width: 180px;
            margin: 10px;
          }
        }
      }
    }
  }

  .second-footer {
    border-top: 1px solid #049ed2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    p {
      margin-bottom: 0px;
      color: white;
    }
    img {
      width: 45px;
      margin-right: 20px;
    }
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  mat-icon {
    display: none;
  }
  .pg-container {
    background-size: 47cm;
  }
  .bottom-page {
    .text {
      font-size: 20px;
      padding: 5px;
      width: 100%;
    }
  }
  .register-page-container {
    margin-top: 6vw;
    width: 75%;
    // transform: scale(1);
    // transform-origin: top left;
  }
  .bottom-title {
    font-size: 25px;
  }
  .middle-regis-page {
    .col-md-4 {
      width: 100%;
    }
  }

  #form-regis-img {
    width: 100vw;
    display: inline;
    visibility: hidden;
    margin-left: -9vw;
    margin-top: -3vw;
    height: 20cm;
  }

  .regis-body {
    position: absolute;
    top: 8px;
    left: 16px;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .regis-title {
      width: 100%;
      padding-bottom: 10px;
      font-size: 20px;
    }
  }

  #page-regis-img {
    width: 35%;
    display: none;
    margin-left: 10%;
    margin-bottom: 10%;
    float: right;
  }

  .col-md-4 {
    margin: 10px 0px;
    .row1,
    .row2 {
      padding: 10px;
    }
  }
  .join-custom-title {
    font-size: 30px;
    width: 80% !important;
  }
  .box-middle-page {
    // margin-top: 25vw;
    padding: 0px 5%;
  }

  .register-form-body {
    width: 90vw !important;
    padding: 3% 5% 3%;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    // background-image: url("/assets/images/form-regis2.png");
    // background-repeat: no-repeat;
    .form-title {
      font-size: 26px;
    }
    .form-desc {
      font-size: 15px;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      .date-birth-label {
        margin-left: 33px;margin-bottom :20px;color:gray
      }
      .form-input-container {
        
        .date-birth-responsive {
          & .mat-form-field {
            width: 30%;
          }
        }
        .date-birth-responsive {
          #mat-form-field {
            margin-right: 10px;
            text-align-last: center;
            width: 100px;
          }
        }
      }
    }
  }

  .wave-second {
    display: none;
  }

  .middle-regis-page .row .col-md-4 .box {
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .row1 {
      height: 50%;
      display: block;
      margin-left: auto;
      margin-top: auto;
      padding: 10px;
    }

    .row2 {
      height: 50%;
      text-align: center;
      padding: 10px;
    }

    .img-box {
      margin-top: 15%;
      width: 100px;
      margin-bottom: 5%;
    }

    b {
      font-size: 20px;
    }

    p {
      margin-left: 5%;
      margin-top: 5%;
      margin-right: 5%;
      font-size: 13px;
    }
  }
  .footer {
    .first-footer-content {
      .content-4 {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        img {
          width: 230px !important;
        }
      }
      .content-3 {
        align-items: center;
        margin-bottom: 10px;
      }
    }

    .second-footer {
      img {
        margin-bottom: 10px !important;
      }
      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .pg-container {
    background-size: 43cm;
  }
  .bottom-page {
    .text {
      font-size: 22px;
      padding: 12px;
      width: 100%;
    }
  }
  .bottom-title {
    font-size: 25px;
  }
  .middle-regis-page {
    .col-md-4 {
      width: 100%;
    }
  }
  .register-page-container {
    margin-top: 6vw;
    width: 100%;
    transform: scale(0.75);
    transform-origin: top left;
  }
  #form-regis-img {
    width: 55%;
    display: inline;
    margin-left: -9vw;
    margin-top: -3vw;
    height: 20cm;
  }

  .regis-body {
    position: absolute;
    top: 8px;
    left: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .regis-title {
      width: 100%;
      padding-bottom: 10px;
      font-size: 20px;
    }
  }

  #page-regis-img {
    width: 40%;
    display: none;
    float: right;
    margin-left: 10%;
    margin-bottom: 10%;
  }

  .col-md-4 {
    margin: 10px 0px;
    .row1,
    .row2 {
      padding: 10px;
    }
  }
  .join-custom-title {
    font-size: 30px;
    width: 80% !important;
  }
  .box-middle-page {
    margin-top: 5vw;
  }

  .register-form-body {
    width: 90vw !important;
    padding: 3% 5% 3%;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    // background-image: url("/assets/images/form-regis2.png");
    // background-repeat: no-repeat;
    .form-title {
      font-size: 26 px;
    }
    .form-desc {
      font-size: 15px;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      .date-birth-label {
        margin-left: 66px;margin-bottom :20px;color:gray
      }
      .form-input-container {
        
       
        .date-birth-responsive {
          & .mat-form-field {
            width: 30%;
          }
        }
      }
    }
  }
  .wave-second {
    display: none;
  }

  .middle-regis-page .row .col-md-4 .box {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .row1 {
      height: 50%;
      display: block;
      margin-left: auto;
      margin-top: auto;
      padding: 10px;
    }

    .row2 {
      height: 50%;
      text-align: center;
      padding: 10px;
    }

    .img-box {
      margin-top: 5%;
      width: 100px;
      margin-bottom: 5%;
    }

    b {
      font-size: 20px;
    }

    p {
      margin-left: 5%;
      margin-top: 5%;
      margin-right: 5%;
      font-size: 13px;
    }
  }
  .footer {
    .first-footer-content {
      .content-1,
      .content-2 {
        text-align: center;
      }
      .content-4 {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        img {
          width: 230px !important;
        }
        .application {
          width: 41% !important;
        }
      }
      .content-3 {
        align-items: center;
        margin-bottom: 10px;
      }
    }

    .second-footer {
      img {
        margin-bottom: 10px !important;
      }
      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .pg-container {
    background-size: 30cm;
  }
  .bottom-page {
    .text {
      font-size: 22px;
      padding: 12px;
      width: 100%;
    }
  }
  .bottom-title {
    font-size: 25px;
  }
  .middle-regis-page {
    .col-md-4 {
      width: 100%;
    }
  }

  #form-regis-img {
    width: 55%;
    display: inline;
    margin-left: -9vw;
    margin-top: -3vw;
    height: 20cm;
  }

  .regis-body {
    position: absolute;
    top: 8px;
    left: 16px;

    .regis-title {
      width: 40%;
      padding-bottom: 10px;
      font-size: 20px;
    }
  }

  #page-regis-img {
    width: 50%;
    margin-top: 4vw;
    // margin-left: 10%;
    // margin-bottom: 10%;
    display: inline;
  }

  .col-md-4 {
    margin: 10px 0px;
    .row1,
    .row2 {
      padding: 10px;
    }
  }
  .join-custom-title {
    font-size: 30px;
    width: 80% !important;
  }
  .box-middle-page {
    margin-top: 0vw;
  }

  .register-form-body {
    width: 120vw !important;
    // padding-left: 0px;
    padding: 3% 5% 3%;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    // background-image: url("/assets/images/form-regis2.png");
    .form-title {
      font-size: 26px;
    }
    .form-desc {
      font-size: 15px;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      .date-birth-label {
        margin-left: 66px;margin-bottom :20px;color:gray
      }
      .form-input-container {
        
        .date-birth-responsive {
          & .mat-form-field {
            width: 30%;
          }
        }
      }
    }
  }

  .wave-second {
    display: none;
  }

  .middle-regis-page .row .col-md-4 .box {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .row1 {
      height: 50%;
      display: block;
      margin-left: auto;
      margin-top: auto;
      padding: 10px;
    }

    .row2 {
      height: 50%;
      text-align: center;
      padding: 10px;
    }

    .img-box {
      margin-top: 10%;
      width: 100px;
      margin-bottom: 5%;
    }

    b {
      font-size: 20px;
    }

    p {
      margin-left: 5%;
      margin-top: 5%;
      margin-right: 5%;
      font-size: 13px;
    }
  }
  .footer {
    .first-footer-content {
      .content-1,
      .content-2 {
        text-align: center;
      }
      .content-4 {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        img {
          width: 230px !important;
        }
        .application {
          width: 41% !important;
        }
      }
      .content-3 {
        align-items: center;
        margin-bottom: 10px;
      }
    }

    .second-footer {
      img {
        margin-bottom: 10px !important;
      }
      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

.modal.false {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal.true {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0px;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: white;
    /* Black w/ opacity */
}


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    margin-left: 256px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    // border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
