<section id="merchant-portal" class="{{devclass}}">
    <merchant-portal-app-header></merchant-portal-app-header>
    <merchant-portal-app-sidebar></merchant-portal-app-sidebar>
    <section class="main-container">
        <div class="animate" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </section>
</section>
