<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Points Models'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddPointsModels(form.value)">
        <div class="points-models-detail">
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Points Models Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                                <label>Points Model Type</label>
                                <div name="rule_type"> {{rule_type}}
                                    <form-select name="rule_type" [(ngModel)]="rule_type" [data]="ruleType" required></form-select> 
                                </div>

                                <label>Transaction Type</label>
                                <div name="transaction_type"> {{transaction_type}}
                                    <form-select name="transaction_type" [(ngModel)]="transaction_type" [data]="transactionType" required></form-select> 
                                </div>
                      
                                <label>Point Model Name</label>
                                <form-input name="rule_description" [placeholder]="'Point Model Name'"  [type]="'text'" [(ngModel)]="rule_description" required></form-input>
                         </div>
                    </div>
                    <div class="card-header"><h2> Calculation Type </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
             
                            <label>Point Model Calculation Type</label>
                            <div name="calc_type"> {{calc_type}}
                                <form-select name="calc_type" [(ngModel)]="calc_type" [data]="calcType" required></form-select> 
                            </div>

                             <label>Percentage Value</label>
                             <form-input name="percentage" [placeholder]="'Percentage Value'"  [type]="'text'" [(ngModel)]="percentage" required></form-input>
                        </div>
                    </div>
                    <div class="card-header"><h2> By Spending Conditions </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                             <label>Minimum Spending Amount Value</label>
                             <form-input name="amt_min" [placeholder]="'Minimum Spending Amount Value'"  [type]="'text'" [(ngModel)]="amt_min" required></form-input>

                             <label>Maximum Spending Amount Value</label>
                             <form-input name="amt_max" [placeholder]="'Maximum Spending Amount Value'"  [type]="'text'" [(ngModel)]="amt_max" required></form-input>

                             <label>Spending Amount Value</label>
                             <form-input name="amount" [placeholder]="'Spending Amount Value'"  [type]="'text'" [(ngModel)]="amount" required></form-input>
                        </div>
                    </div>
                    <div class="card-header"><h2> Earned Points </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                             <label>Points Earned Value</label>
                             <form-input name="points" [placeholder]="'Points Earned Value'"  [type]="'text'" [(ngModel)]="points" required></form-input>
                        </div>
                    </div>
                    <div class="card-header"><h2> Validity </h2></div>
                    <div class="card-content">
                        <div class="col-md-12">
                            <label>Status</label>
                            <div name="status"> {{status}}
                                <form-select name="status" [(ngModel)]="status" [data]="modelsStatus" required></form-select> 
                            </div>

                             <label>Start Date</label>
                             <form-input name="start_date" [placeholder]="'Start Date'"  [type]="'text'" [(ngModel)]="start_date" required></form-input>

                             <label>End date</label>
                             <form-input name="end_date" [placeholder]="'End Date'"  [type]="'text'" [(ngModel)]="end_date" required></form-input>
                        </div>
                    </div>
                 </div>
                </div>
            </div>
     
         </div>
      <!-- <div class="col-md-6">
          <label>Merchant</label>
          <div name="merchant_id">
              <form-select name="merchant_id" [(ngModel)]="merchant_id" [data]="merchantList" required></form-select> 
          </div>

          <label>Organization ID</label>
          <form-input name="org_id" [placeholder]="'Organization ID'"  [type]="'text'" [(ngModel)]="org_id" required></form-input>

          <label>Campaign Name</label>
          <form-input name="campaign_name" [placeholder]="'Campaign Name'" [type]="'text'" [(ngModel)]="campaign_name" required></form-input>

          <label>Campaign Description</label>
          <form-input name="campaign_description" [placeholder]="'Campaign Description'"  [type]="'text'" [(ngModel)]="campaign_description" required></form-input>

          <label>Status</label>
          <div name="status">
            <form-select name="status" [(ngModel)]="status" [data]="campaignStatus" required></form-select> 
          </div>

          <label>Start Date</label>
          <form-input [type]="'date'" name="start_date" [placeholder]="'Start Date'" max="2020-12-31" [(ngModel)]="start_date" required></form-input>

          <label>End Date</label>
          <form-input [type]="'date'" name="end_date" [placeholder]="'End Date'"  max="2020-12-31" [(ngModel)]="end_date" required></form-input>
         
      </div> -->
        
        <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 