<div [@routerTransition]>
       
  <app-page-header [heading]="'Guest'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="Guest&&guestDetail==false">
        <app-form-builder-table
        [table_data]  = "Guest" 
        [searchCallback]= "[service,'searchGuestLint',this]"
        [tableFormat]="tableFormat"
        [total_page]="totalPage"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="guestDetail">
    <app-guest-detail [back]="[this,backToHere]" [detail]="guestDetail"></app-guest-detail>
</div>
 
</div>

