<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="reporterror-detail">
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Error Report Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>REQ ID</label>
                             <div>{{detail.REQ_ID}}</div>

                             <label>REQ IP Address</label>
                             <div>{{detail.REQ_IP_ADDRESS}}</div>

                             <label>Log Type</label>
                             <div>{{detail.LOG_TYPE}}</div>

                             <label>Message</label>
                             <div>{{detail.msg}}</div>
                             
                             <label>Error Message</label>
                             <div>{{detail.errorMessage}}</div>

                             <label>Time</label>
                             <div>{{detail.time}}</div>
     
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
            </div>
    </div>
    
</div>