<div [@routerTransition]>
  <app-page-header [heading]="'Promo Code'" [icon]="'fa-table'"></app-page-header>
  <div *ngIf="PromoCode&&promocodeDetail==false">
        <app-form-builder-table
            [table_data]="PromoCode"
        [searchCallback]="[service, 'searchPromotionLint',this]"
        [tableFormat]="tableFormat"
      >
        </app-form-builder-table>
  </div>
      <div *ngIf="promocodeDetail">
            <app-codepage-detail [back]="[this,backToHere]" [detail]="promocodeDetail"></app-codepage-detail>
      </div>
</div>
