
<div  *ngIf="type=='text'"  class="input-group mb-3">
  <input class="form-control" [disabled]="disabled" placeholder="{{placeholder}}" type="{{type}}" [(ngModel)]="text_value" (keyup)="onKeyupMy($event)" [ngClass]="alert && alert.alert ? 'red-alert':''" />
</div>

<div *ngIf="type=='password'" class="input-group mb-3">
  
  <input type="text" class="form-control"placeholder="{{placeholder}}" type="{{inputType}}" [(ngModel)]="text_value" (keyup)="onKeyupMy(event)" [ngClass]="alert && alert.alert ? 'red-alert':''" />
  <div class="input-group-append">
    <span class="input-group-text" *ngIf="inputType=='password'" id="basic-addon1" (click)="changePasswordType()">
      <i   class="fa fa-fw fa-eye-slash"></i>
    </span>
    <span class="input-group-text" *ngIf="inputType=='text'" id="basic-addon1" (click)="changePasswordType()">
      <i class="fa fa-fw fa-eye"></i>
    </span>
    
  </div>
</div>

<div  *ngIf="type=='number'"  class="input-group mb-3">
  <input class="form-control" placeholder="{{placeholder}}" type="{{type}}" [(ngModel)]="text_value" (keyup)="onKeyupMy(event)" min="0"  [ngClass]="alert && alert.alert ? 'red-alert':''" />
</div>

<!-- <div  *ngIf="type=='select'"  class="input-group mb-3">
  <select name="singleSelect" [(ngModel)]="text_value">
    <option value="product" [(ngModel)]="text_value">Product</option>
    <option value="deals"   [(ngModel)]="text_value" (keyup)="onKeyupMy(event)">Deals</option>
  </select><br>
  
</div> -->
<div  *ngIf="type=='textarea'"  class="input-group mb-3">
  <textarea class="form-control" placeholder="{{placeholder}}" [(ngModel)]="text_value" (keyup)="onKeyupMy(event)" [ngClass]="alert && alert.alert ? 'red-alert':''"></textarea>
</div>

<div class="red-error-alert" *ngIf="alert && alert.alert">{{alert.message}}</div>

