<div [@routerTransition]>
       
  <app-page-header [heading]="'Member'" [icon]="'fa-table'"></app-page-header>
  
  <!-- <button (click)="getDownloadFileLint()"><i class="fa fa-file-pdf-o"></i>Download</button> -->
  <!-- <iframe [src]="srcDownload"></iframe> -->
  <div *ngIf="Members&&memberDetail==false">
        <app-form-builder-table 
        [tableFormat] = "tableFormat" 
        [table_data]  = "Members" 
        [searchCallback]= "[service, 'searchMemberLint',this]" 
        [total_page]="totalPage"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="memberDetail">
    <app-member-detail [back]="[this,backToHere]" [detail]="memberDetail"></app-member-detail>
</div>
 
</div>

 