<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> 
    </div> 
    <div class="card-content">
        <div class="packagebundle-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Package Bundle Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                                <label>Promo Deals ID</label>
                                <form-input  name="_id" [disabled]="true" [type]="'text'" [(ngModel)]="detail._id" autofocus required></form-input>
                
                                <label>Title</label>
                                <form-input name="title" [disabled] ="true" [type]="'text'" [(ngModel)]="detail.title" autofocus required></form-input>

                                <label>Description</label>
                                <form-input name="description"  [disabled] ="true" [type]="'text'" [(ngModel)]="detail.description" autofocus required></form-input>
   
                                <label>Fixed Value</label>
                                <form-input name="fixed_value" [disabled] ="true" [type]="'text'" [(ngModel)]="detail.fixed_value" autofocus required></form-input>
   
                                <label>Discount</label>
                                <form-input name="discount" [disabled]="true" [type]="'text'" [(ngModel)]="detail.discount" autofocus required></form-input>
                
                                <label>Created Date</label>
                                <form-input name="created_date" [disabled]="true" [type]="'text'" [(ngModel)]="detail.created_date" autofocus required></form-input>
   
                                <label>Type</label>
                                <form-input  name="type"   [disabled]="true" [type]="'text'" [(ngModel)]="detail.type" autofocus required></form-input>

                             <div class="row">
                                    <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete</button></div>
                            </div>

                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
     
         </div>
         <div class="row">
             <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger"
                     (click)="deleteThis()">delete this</button></div>
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-Packagebundle-edit [back]="[this, 'editThis']" [detail]="detail"></app-Packagebundle-edit>
</div>
