<div class="card">
    <h2 style="margin-left:10px;margin-top:10px;"><strong>Inbox</strong></h2>

    <div class="background">
        <div class="mail-box {{hideColumnWhenOpen}}">
            <aside class="lg-side">

                <div class="inbox-body">
                    <div>
                        <!-- <input type="checkbox" class="mail-checkbox"><span><i class="far fa-trash-alt fa-1x"
                                (click)="delete(id)">Delete
                                Icon</i></span> -->
                    </div>
                    <div class="table table-inbox table-hover">
                        <div class="tbody">
                            <div class="empty" *ngIf="inboxData.length == 0 ">
                                <img src="assets/images/mail.png"><br />
                                <br />
                                <label style="font-size:30px;font-weight: bold;color:#6F6F6F">Inbox Empty</label><br />
                                <label style="font-size:20px;color:#B5B3B3;">You don't have any incoming email</label>
                            </div>

                            <div *ngFor="let inbox of inboxData" class="tr {{inbox.read}}"
                                (click)="messageDetail(inbox)">
                                <div class="td inbox-small-cells">
                                    <input type="checkbox" class="mail-checkbox">
                                </div>
                                <!--- we don't need stars -->
                                <!-- <td class="inbox-small-cells"><i class="fa fa-star"></i></td> -->
                                <div class="td view-message title">
                                    <div *ngIf="inbox.notification_status == 'unread'">
                                        <div style="font-weight: bold;">Ada pesanan baru nih dengan no Invoice
                                            {{inbox.reference.order_id}}</div>
                                    </div>
                                    <div *ngIf="inbox.notification_status == 'read'">
                                        <div>Ada pesanan baru nih dengan no Invoice {{inbox.reference.order_id}}</div>
                                    </div>
                                </div>
                                <div class="td view-message description ">
                                    <div [innerHTML]="inbox.description"></div>
                                </div>
                                <!--- we don't need paperclip -->
                                <!-- <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td> -->
                                <!-- <div class="td view-message time   text-right">
                            <div>{{inbox.updated_date}}</div>
                        </div> -->
                            </div>

                        </div>
                    </div>
                </div>
            </aside>

            <div class="email-content h-100 ">
                <div class="h-100 scrollable pos-r" *ngIf="selectedData">
                    <div class="bgc-grey-100 peers ai-c jc-sb p-20 fxw-nw d-n@md+">
                        <div class="peer">
                            <!-- <div class="btn-group" role="group">
                        <button type="button" class="back-to-mailbox btn bgc-white bdrs-2 mR-3 cur-p">
                            <i class="ti-angle-left"></i>
                        </button>
                        <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">
                            <i class="ti-folder"></i>
                        </button>
                        <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">
                            <i class="ti-tag"></i>
                        </button>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button"
                                class="btn cur-p bgc-white no-after dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="ti-more-alt"></i>
                            </button>
                            <ul class="dropdown-menu fsz-sm" aria-labelledby="btnGroupDrop1">
                                <li>
                                    <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                                        <i class="ti-trash mR-10"></i>
                                        <span>Delete</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                                        <i class="ti-alert mR-10"></i>
                                        <span>Mark as Spam</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                                        <i class="ti-star mR-10"></i>
                                        <span>Star</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                        </div>
                        <!-- <div class="peer">
                    <div class="btn-group" role="group">
                        <button type="button" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                            <i class="ti-angle-left"></i>
                        </button>
                        <button type="button" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                            <i class="ti-angle-right"></i>
                        </button>
                    </div>
                </div> -->
                    </div>
                    <div class="email-content-wrapper">
                        <!-- Header -->
                        <div class="peers ai-c jc-sb pX-40 pY-30">
                            <button class="close" (click)="closeData()" style="margin-right:10px;margin-top:10px;"><i
                                    class="far fa-window-close"></i></button>
                            <div class="peers peer-greed">
                                <div class="peer">
                                    <small>{{selectedData.updated_date}}</small>
                                </div>
                            </div>

                        </div>

                        <!-- Content -->
                        <div class="bdT pX-40 pY-30" *ngIf="selectedData">
                            <h3>{{selectedData.title_message}}</h3>
                            <div class="message" [innerHTML]="selectedData.message"></div>
                        </div>
                        <div id="button">
                            <button class="btn btn-primary" (click)="goToOrderDetail(selectedData.reference.booking_id)">Go To Order Detail</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
