<div [@routerTransition]>
    <app-page-header [heading]="'Order Detail for '+ orderhistoryDetail.order_id" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="orderhistoryDetail">
        <app-orderhistorywaiting-edit [back]="[this, 'editThis']" [detail]="orderhistoryDetail">
        </app-orderhistorywaiting-edit>
    </div>
</div>