<app-header></app-header>
<div class="row _container">
    <div class="col-md-12">
        <input type="text" class="myInput" (keyup)="searchMenu(event)" [(ngModel)]="searchForm" placeholder="Search for names.." title="Type in a name">
        <div class="row cl-row-list">
            <div class="col-md-3 col-md-6 col-lg-3" *ngFor="let menuOption of menuSearch">
                <div class="card cl-list" (click)="toMenu(menuOption.appLabel)">
                    <div class="card-header chocoblitz">
                        <span class="card-header-title">{{menuOption.title}}</span>
                        <hr />
                        <div class="card-header-body">
                            <img src={{menuOption.imageUrl}}>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dynamix -->
            <!-- <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list" (click)="toProgramRetailer1()">
                    <div class="card-header chocoblitz">
                        <span class="card-header-title">PROGRAM DYNAMIX EXTRA POIN 2020</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/logo-dynamix-vector.png">
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- MCI -->
            <!-- <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list" (click)="toProgramMCI()">
                    <div class="card-header chocoblitz">
                        <span class="card-header-title">MCI</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/mci-logo-black.png">
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Admin Management -->
            <!-- <div class="col-md-3 col-md-6 col-lg-3">
                <div class="card cl-list" (click)="toAdminManagement()">
                    <div class="card-header tokolab">
                        <span class="card-header-title">Admin Management</span>
                        <hr />
                        <div class="card-header-body">
                            <img src="assets/images/Member.png">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- <app-header></app-header>
<div class="app-login-page">
    <div class="row _container">
        <div class="col-md-12">
            <div class="row cls-row-list">
                <div class="col-md-3 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="card-header serodja">
                            <span class="card-header-title">Serodja Official</span>
                            <hr />
                            <div class="card-header-body">
                                <img src="assets/images/tshirt.svg">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="button-container">
                                <button (click)="enterSerodja()" class="btn btn-1 btn-primary">
                                    Login Serodja Official
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
  
