<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i>
            <span *ngIf="!loading">Save</span>
            <span *ngIf="loading">Loading</span>
        </button>
    </div>
    <div class="card-content">
        <div class="orderhistoryallhistory-detail">

            <div class="row">
                <div *ngIf="errorLabel!==false">
                    {{errorLabel}}
                </div>
                <div class=" col-md-8">
                    <div class="card mb-3">

                        <div class="card-content">
                            <div class="col-md-12">
                                <div class="form-group head-one">
                                    <label class="order-id"><strong> {{detail.order_id}}</strong> <br />
                                        <span class="buyer-name"><strong>
                                                {{detail.buyer_detail.name}}</strong></span></label>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Order at : <strong>{{detail.created_date}}</strong></label>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>User ID : {{detail._id}} </label>
                                    </div>
                                </div>
                                <div class="product-group">
                                    <table>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>qty</th>
                                            <th>@price</th>
                                            <th>price</th>
                                        </tr>
                                        <tr *ngFor="let product of detail.products">
                                            <td>{{product.product_name}} <br />
                                                <em><strong>note</strong>: {{product.note_to_merchant}}</em></td>
                                            <td class="qty">{{product.quantity}}x</td>
                                            <td class="price">{{product.price | currency: 'Rp '}}</td>
                                            <td class="price">{{product.fixed_price | currency: 'Rp '}}</td>
                                        </tr>
                                        <tr *ngFor="let bd of detail.additionalBillings">
                                            <td>{{bd.product_name}}</td>
                                            <td></td>
                                            <td></td>
                                            <td class="price">{{bd.value  | currency: 'Rp '}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Total Price</td>
                                            <td class="price">{{detail.billings.sum_total| currency: 'Rp '}}</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="buyer-detail">
                                    <div class="form-group">
                                        <label id="buyer-detail">Buyer Detail</label>
                                        <div class="buyer-name form-control-plaintext">{{detail.buyer_detail.name}}
                                        </div>
                                        <div name="address form-control-plaintext">{{detail.buyer_detail.address}}</div>
                                        <div name="address form-control-plaintext">{{detail.buyer_detail.cell_phone}}
                                        </div>
                                        <div name="address form-control-plaintext">{{detail.buyer_detail.email}}</div>
                                    </div>

                                </div>


                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Payment Info</h2>
                        </div>
                        <div class="card-content">
                            <label>Transaction Status</label>
                            <div *ngIf="!merchantMode" name="transaction_status">
                                <select name="transaction_status" [(ngModel)]="detail.status">
                                    <option *ngFor="let t of transactionStatus" [ngValue]="t.value">{{t.label}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="merchantMode" name="transaction_status">
                                <div class="">
                                    {{detail.status}}
                                </div>
                            </div>
                            <br />
                            <table>
                                <tr>
                                    <th>Service</th>
                                    <th>Via</th>
                                </tr>
                                <tr>
                                    <td>{{detail.payment_detail.service}}</td>
                                    <td>{{detail.payment_detail.payment_via}}</td>
                                </tr>
                            </table>

                            <div *ngIf="detail.status.toLowerCase() != 'paid'" class="form-group">
                                <label>Expired Payment date</label>
                                <div name="payment_expire_date">{{detail.payment_expire_date.in_string}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Setup Shipping Information </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12" *ngIf="!detail.shipping_info">
                                no shipping info
                            </div>
                            <div class="col-md-12" *ngIf="detail.shipping_info">
                                <div class="form-group">
                                    <label>delivery services</label>
                                    <select class="form-control" [(ngModel)]="detail.shipping_services">

                                        <option *ngFor="let ss of shippingServices" [ngValue]="ss.value">
                                            {{ss.label}}</option>
                                    </select>
                                </div>


                                <div class="form-group" *ngIf="detail.shipping_services!='no-services'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <!-- <input type="checkbox" [(ngModel)]="sSL.checked" id="{{sSL.id}}" /> -->
                                        <div class="radio-button checked-{{sSL.checked}} hovered-{{sSL.hovered}}"
                                            (click)="changeshippingStatusList(i)"
                                            (mouseenter)="hoverShippingStatusList(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                        </div>
                                        <label (click)="changeshippingStatusList(i, true)"
                                            (mouseenter)="hoverShippingStatusList(i,true)"
                                            (mouseleave)="hoverShippingStatusList(i, false)">
                                            {{sSL.label}}<br />
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                            <div *ngIf="sSL.value=='on delivery'" class="awb-list">
                                                <input
                                                    *ngIf="detail.shipping_services!='no-services' && shippingStatusList[2].checked == true"
                                                    name="awb_receipt" class="form-control awb" [type]="'text'"
                                                    [placeholder]="'Put AWB / receipt Number'"
                                                    [(ngModel)]="detail.awb_receipt" autofocus required />
                                                <input
                                                    *ngIf="detail.shipping_services=='no-services' || shippingStatusList[2].checked == false "
                                                    class="form-control awb" disabled name="unnamed"
                                                    [placeholder]="'Put AWB / receipt Number'"
                                                    title="You can add AWB after choosing the services" />
                                            </div>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group" *ngIf="detail.shipping_services=='no-services'">
                                    <div class="shipping-status" *ngFor="let sSL of shippingStatusList; let i = index">
                                        <!-- <input type="checkbox" [(ngModel)]="sSL.checked" id="{{sSL.id}}" /> -->
                                        <div class="radio-button checked-false hovered-false">
                                        </div>
                                        <label>
                                            {{sSL.label}}<br />
                                            <span class="shipping-date"
                                                *ngIf="sSL.created_date">{{sSL.created_date}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="card mb-3">
                     
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                             
                         </div>
                       
                      </div>
                 </div>  -->

                </div>
            </div>
        </div>

    </div>