<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="pointstransaction-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Points Transaction History</h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Points ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Order ID</label>
                             <div name="order_id" >{{detail.order_id}}</div>
                             <label>Description</label>
                             <div name="description" >{{detail.description}}</div>
                             <label>Points</label>
                             <div name="_id" >{{detail.points.points}}</div>
                             <label>Created Date</label>
                             <div name="created_date" >{{detail.created_date}}</div>
                             <label>Updated Date</label>
                             <div name="updated_date" >{{detail.updated_date}}</div>
                         </div>
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
     
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-pointstransaction-edit [back]="[this, 'editThis']" [detail]="detail"></app-pointstransaction-edit>
</div>
