.bg-delete{
  background-color: #ffe3f3;
  padding: 10px;
}

.ng-pristine{
  color : white !important;
}

.ng-pristine{
  color: black !important;
  width: 100%;
  border-radius: 5px;
  padding: 6px 0px;
}

.member-bulk-update-container {
  padding: 10px !important;
}

.container-two-button {
  display: flex;
}

.error-msg-upload {
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.file-selected {
  color: red;
}

.btn-add-bulk {
  margin-bottom: 20px;
}

.btn-upload, .btn-submit {
  margin-right: 10px;
}

.btn-upload {
  border-color: black;
}

.btn-submit {
  background-color: #3498db;
  color: white;
}

.star-required {
  color: red;
}

.text-required {
  color: red;
  font-size: 11px;
  margin-top: -15px;
}

label{
  color: black;
}
.card-detail{
  >.card-header{
      position: relative;
      min-height: 48px;
      .back_button{
          position: absolute;
          margin-top: -4px;
          margin-left: -10px;
          background-color: transparent;
          color: #555;
          height: 30px;
          
          padding: 0px 10px 0px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #ccc;
          i{
              font-weight: bold;
          }
      }
      .save_button{
          position: absolute;
          top: 10px;
          background-color: #3498db;
          color: white;
          height: 30px;
          align-items: center;
          display: flex;
          right: 10px;
          // margin-top: 5px;
          padding-top: 0px;
          padding-right: 10px;
          padding-bottom: 0;
          padding-left: 10px;
          font-weight: bold;
      }
  }
  .card-content{
      padding: 15px;
      >.col-md-12{
          padding-left: 0px;
          padding-right: 0px;
      }
  }

  h1{
      font-size: 18px;
      font-weight: bold;
      color: #555;
      text-align: center;
      margin-bottom: 0px;
  }
  .member-detail{
      form-select[name=status] .form-group {
          margin-bottom: 0px;
      }
      label{
          margin-top: 10px;
      }
      label+div{
          background: #f0f0f0;
          font-weight:normal;
          padding: 0px;
          border: 1px solid #f8f9fa;
          margin-bottom: 15px;
          min-height: 27px;
          font-size: 12px;
          color: #666;
      }

      
      .card-header{ 
          background-color: #555;
          h2{
              color: white;
              font-size: 15px;
              line-height: unset;
              height: unset;
              margin: 0px;
              text-transform: capitalize;
      
          }
      }
  }
}
.rounded-btn {
  margin-top: 20px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding: 0 40px;
  background: #56a4ff;
  // margin-left: 40%;
  // margin-right: 50%;
  }

.rounded-btn-danger {
  margin-top: 20px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding: 0 40px;
  color: #555;
  margin-left: 10px;
  }
.rounded-btn:hover {
      background: darken(#56A4FF, 15%);
      // border: 2px solid blue;
      outline: none;
  }
// .datepicker-input{
//     position: absolute;    
//     }
// .form-control{
//     position: relative;
//     top: 10px;
//     left: 0px;
// }

.save-button {
  background-color: #3498db;
  color: white;
  margin-top: 20px;
}
