<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div>
    <div class="card-content">
        <div class="membership-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Membership Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                            <label>Membership PK</label>
                            <div name="_id" >{{detail._id}}</div>

                             <label>Organization ID</label>
                             <div name="org_id" >{{detail.org_id}}</div>
             
                             <label>Merchant ID</label>
                             <div name="merchant_id">{{detail.merchant_id}}</div>
             
                             <label>Membership ID</label>
                             <div name="membership_id">{{detail.membership_id}}</div>
             
                             <label>Card Number</label>
                             <div name="card_number">{{detail.card_number}}</div>
             
                             <label>Full Name</label>
                             <div name="name">{{detail.name}}</div>

                             <label>Membership Status</label>
                             <div name="membership_status">{{detail.membership_status}}</div>

                             <label>Address</label>
                             <div name="maddress1">{{detail.maddress1}}</div>

                             <label>City </label>
                             <div name="mcity">{{detail.mcity}}</div>

                             <label>PostCode </label>
                             <div name="mpostcode">{{detail.mpostcode}}</div>

                             <label>State </label>
                             <div name="mstate">{{detail.mstate}}</div>

                             <label>Country </label>
                             <div name="mcountry">{{detail.mcountry}}</div>

                             <label>Transaction Reach</label>
                             <div name="transaction_reach" >{{detail.transaction_reach}}</div>

                             <label>Description</label>
                            <div name="description" >{{detail.description}}</div>

                         </div>
                       
                      </div>
                 </div>
                </div>
                <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Membership &amp; Status Membership</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <div name="email">{{detail.email}}</div>

                            <label>Cell Phone </label>
                            <div name="cell_phone">{{detail.cell_phone}}</div>

                            <label>Registration Date </label>
                            <div name="registration_date">{{detail.registration_date}}</div>

                            <label>Point Balance </label>
                            <div name="point_balance">{{detail.point_balance}}</div>

                            <label>Activation Code </label>
                            <div name="activation_code">{{detail.activation_code}}</div>

                            <label>Activation Status </label>
                            <div name="activation_status">{{detail.activation_status}}</div>
                             
                         </div>
                       
                      </div>
                 </div>
                 
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div>
            </div>
            
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-membership-edit [back]="[this, 'editThis']" [detail]="detail"></app-membership-edit>
</div>