<!-- <div [@routerTransition]> -->
<ng-container *ngIf="!orderDetail && !shippingLabel && !errorMessage">
<div class="board">
  <div class="nav toolbar">
    <h3 id="h3"><strong>Transaction List</strong></h3><br>
    <div class="card">
      <div class="card-content">
        <label id="label-header"><strong>Order Status </strong></label>
        <hr>
        <div class="order-status">
          <button *ngFor="let sw of swaper; let i = index;" class="btn toolbar {{sw.val}}" id="button-swapper"
            (click)="swapClick(i)">
            <span class="{{sw.icon}}"></span>
            <span class="status-name"><span class="badge"
                *ngIf="sw.name == 'Incoming' && totalValuePending">{{totalValuePending}}</span>{{sw.name}}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card sticky-top" id="card-transaction">
        <div class="div-transaction">
          <div id="transaction">
            <label id="label-header"><strong>Transaction Filters</strong></label>
          </div>
          <div class="searchbar">
            <div id="search">
              <!-- <label>Filter by</label> -->
              <select class="form-control" [(ngModel)]="filter">
                <option *ngFor="let f of filterBy" [ngValue]="f.value">{{f.name}}</option>
              </select>
            </div>
            <div id="search-field">
              <input id="search-text" type="text" class="form-control" [(ngModel)]="searchTextModel" (keyup)="searchText($event)"
                placeholder="search">
              <i class="fa fa-search" id="search-icon"></i>
            </div>
            <div class="date-picker-wrapper">
              <div class="date-picker-overlay" *ngIf="toggler && toggler['approve_date']">
                <div class="dpicker">
                  <ngb-datepicker #d (select)="datePickerOnDateSelection($event, 'approve_date')" [displayMonths]="1"
                    [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>
                  <div style="float: right;justify-self: right;">
                    <a class="btn ok" (click)="dateToggler('approve_date')">OK</a>
                    <a class="btn clear" (click)="dateClear($event, 'approve_date')"> <span class="fa fa-trash"></span>
                      clear</a>
                  </div>
                </div>
              </div>
              <ng-template #t let-date="date" let-focused="focused">
                <span class="custom-day" [class.focused]="focused"
                  [class.range]="datePickerOnDateIsRange(date, 'approve_date')">
                  {{ date.day }}
                </span>
              </ng-template>
              <em
                *ngIf="typeof(form_input['approve_date']) != 'object' || (typeof(form_input['approve_date']) == 'object' && !form_input['approve_date'].from) || toggler['approve_date']">
                <input class="form-control" style="padding-right: 22px;" type="text" [(ngModel)]="form_input['date']"
                  placeholder="search date here" (click)="dateToggler('approve_date')">
                <i class="fa fa-calendar-alt" id="calendar-icon"></i>
              </em>
              <a class="btn form-control" style="border: 1px solid #ced4da"
                *ngIf="typeof(form_input['approve_date']) == 'object' && form_input['approve_date'].from && !toggler['approve_date'] "
                (click)="dateToggler('approve_date')">
                <span *ngIf="form_input['approve_date'].from"> {{form_input['approve_date'].from}} </span>
                <span *ngIf="form_input['approve_date'].to"> - {{form_input['approve_date'].to}} </span>
                <i class="fa fa-calendar-alt"></i>

              </a>
            </div>
            <div id="search">
              <!-- <label>Sort by</label> -->
              <select class="form-control" [(ngModel)]="orderBy" (change)="orderBySelected()">
                <option *ngFor="let s of sortBy" [ngValue]="s.value">{{s.name}}</option>
              </select>
            </div>
            <button (click)="clickToDownloadReport()" class="btn save btn-primary" id="btn-download">Download
              Report</button>
            <button (click)="addToPackingList()" class="btn save btn-success" id="btn-print" *ngIf="swaper[3].val == true">Add to Packing List</button>
            <button (click)="printLabel()" class="btn save btn-success" id="btn-print" *ngIf="swaper[2].val == true || swaper[3].val == true">Print Label</button>
            <button (click)="deletePrintLabel()" class="btn save btn-success" id="btn-print" *ngIf="swaper[2].val == true || swaper[3].val == true">Delete Print Marked</button>
          </div>
        </div>
      </div>
      <div class="select-all" *ngIf="allData && allData.length != 0">
        <label class="header-text" style="float: right;margin-right: 35px;">
          <strong>Select All
            <mat-checkbox (change)="checkedAll()" [(ngModel)]="activeCheckbox" type="checkbox"
              style="vertical-align: -webkit-baseline-middle;margin-left: 10px;">
            </mat-checkbox>
          </strong>
        </label>
      </div>
      <div class="loading" *ngIf='showLoading'>
        <div class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      </div>
      <div class="div-content-row" *ngFor="let data of allData; let i = index">
        <div class="div-content-cell div-product">
          <div *ngIf="allData[i].product_status == true; else equalToOne">
            <!-- <div *ngIf="allData[i].products.length > 1; else equalToOne"> -->
            <div class="more-product">
              <div class="loop-product" *ngFor="let product of allData[i].product_list;">
                <!-- <div class="card"> -->
                  <div *ngIf="product && product.images_gallery && product.images_gallery[0]" class="img-wrapper" >
                    <img src="{{product.images_gallery[0].base_url+product.images_gallery[0].pic_small_path}}"
                    class="image">
                  </div>
                  <div *ngIf="!(product && product.images_gallery && product.images_gallery[0])" class="img-wrapper" >
                    <img src="https://res.cloudinary.com/pt-cls-system/image/upload/v1632905858/admin/image/no%20image.jpg61542a81617a2.jpg"
                    class="image">
                  </div>
                <!-- </div> -->
                <div>
                  <div class="form-label">
                    <label class="see-more-header-text order-id-text">Reference No : <span>{{data.reference_no}}</span></label>
                    <label class="see-more-normal-text date-text">Tanggal proses : {{data.created_date}}</label>
                    <label *ngIf="data.shipping_info && data.shipping_info.length > 0" class="see-more-normal-text date-text shipping-info">Last Shipping Info : {{data.shipping_info[data.shipping_info.length - 1].title}}</label>
                    <label [ngClass]="data.status == 'CANCEL' ? 'red-return' : 'green-return'">{{data.return_detail && data.return_detail.awb_number ? data.status == "CANCEL" ? "REORDER / CANCEL" : "REDELIVER" : ""}}</label>
                  </div>
                  <div class="see-more-form-label">
                    <label
                      class="product-name"><strong>{{product.product_name}}</strong></label>
                  </div>
                  <label class="price-see-more"><strong>{{product.total_product_price | number}} Points</strong></label><br />
                  <label class="see-more-header-text" style="margin-bottom: 0.5rem;">
                    <strong>Qty : {{product.quantity}}</strong>
                  </label>
                  <!-- <label class="header-text"><strong>Notes:</strong></label>
                  <p class="normal-text" style="word-break: break-all;">
                    {{product.note_to_merchant}}</p> -->
                </div>
              </div>
              <div class="printed-stamp" *ngIf="allData[i].additional_info && allData[i].additional_info.label_printed == 'ya'">
                <span>printed</span>
              </div>
            </div>
          </div>
          <ng-template #equalToOne>
            <div class="div-default-product">
              <div class="default-product">
                <div *ngIf="allData[i].product_list && allData[i].product_list[0] && allData[i].product_list[0].images_gallery && allData[i].product_list[0].images_gallery[0]" class="img-wrapper"
                  style="background-image: url({{allData[i].product_list[0].images_gallery[0].base_url+allData[i].product_list[0].images_gallery[0].pic_small_path}});">
                  <img src="{{allData[i].product_list[0].images_gallery[0].base_url+allData[i].product_list[0].images_gallery[0].pic_small_path}}"
                    class="image">
                </div>
                <div *ngIf="!(allData[i].product_list && allData[i].product_list[0] && allData[i].product_list[0].images_gallery && allData[i].product_list[0].images_gallery[0])" class="img-wrapper"
                  >
                  <img src="https://res.cloudinary.com/pt-cls-system/image/upload/v1632905858/admin/image/no%20image.jpg61542a81617a2.jpg"
                    class="image">
                </div>
                <div class="product-detail">
                  <div class="form-label">
                    <label class="header-text order-id-text">Reference No : <span>{{data.reference_no}}</span></label>
                    <label class="normal-text date-text">Tanggal proses : {{data.created_date}}</label>
                    <label *ngIf="data.shipping_info && data.shipping_info.length > 0" class="see-more-normal-text date-text shipping-info">Last Shipping Info : {{data.shipping_info[data.shipping_info.length - 1].title}}</label>
                    <label [ngClass]="data.status == 'CANCEL' ? 'red-return' : 'green-return'">{{data.return_detail && data.return_detail.awb_number ? data.status == "CANCEL" ? "REORDER / CANCEL" : "REDELIVER" : ""}}</label>
                  </div>
                  <div class="form-label">
                    <label class="header-text"><strong>{{allData[i].product_list[0].product_name}}</strong></label>
                  </div>
                  <!-- <div class="form-label">
                    <label
                      class="price"><strong>{{allData[i].products[0].total_product_price | number}} Points</strong></label>
                  </div> -->
                  <!-- <label class="header-text" style="margin-bottom: 0.5rem;"><strong>Quantity :
                      {{allData[i].products[0].quantity}}</strong></label><br />
                  <div *ngIf="allData[i].products[0].note_to_merchant">
                    <label class="header-text"><strong>Notes:</strong></label>
                    <p class="normal-text" style="word-break: break-all;">
                      {{allData[i].products[0].note_to_merchant}}</p>
                  </div> -->

                </div>
                <div class="printed-stamp" *ngIf="allData[i].additional_info && allData[i].additional_info.label_printed == 'ya' && swaper[4].val != true">
                  <span>printed</span>
                </div>
              </div>
            </div>
          </ng-template>
          <div *ngIf="allData[i].product_list.length > 1 && allData[i].product_status != true;" style="text-align: right;" class="see-more-container">
            <label class="see-more" (click)="setSeeMore(i)" >See {{allData[i].product_list.length-1}}
              more...</label>
          </div>
          <div *ngIf="allData[i].product_list.length > 1 && allData[i].product_status == true;" style="text-align: right;" class="see-more-container">
            <label class="see-more" (click)="setSeeLess(i)" >See less</label>
          </div>
        </div>
        <div class="div-content-cell ">
          <div class="form-label">
            <label class="header-text">Shipping Address</label>
            <label class="normal-text">{{data.destination.address}}</label>
          </div>
          <!-- <div class="form-label" *ngIf="data.delivery_detail && data.delivery_detail.awb_number">
            <label class="header-text">AWB Number</label>
            <label class="normal-text">{{data.delivery_detail.awb_number}}</label>
          </div> -->
          <div class="form-label" *ngIf="data.delivery_detail && data.delivery_detail.in_packing_list == true && data.delivery_detail.packing_no">
            <label class="header-text">In Packing List : </label>
            <label class="normal-text">{{data.delivery_detail.packing_no}}</label>
          </div>
          <div class="form-label" *ngIf="data.type">
            <label class="header-text">Delivery Service</label>
            <label class="normal-text" *ngIf="data.type == 'product'">{{data.buyer_detail.delivery_request.service}} /
              {{data.buyer_detail.delivery_request.description}}</label>
            <label *ngIf="type(i) == 'evoucher'">no-services</label>
          </div>

          <div class="form-label" *ngIf="data.delivery_courier">
            <label class="header-text">Courier</label>
            <label class="normal-text">{{data.delivery_courier}}</label>
          </div>
        </div>
        <div class="div-content-cell products-left">
          <div class="products-left-board">
            <div class="products-left-data">
              <label class="header-text">Receiver</label>
              <label class="normal-text">{{data.destination.name}}</label>
              <label class="header-text">Phone Number</label>
              <label class="normal-text">{{data.destination.cell_phone}}</label>
              <label class="header-text">Total ({{data.total_item_qty}} Items)</label>
              <label class="price-total"><strong>{{data.total_item_value | number }} Points</strong></label>
            </div>
            <div class="products-left-checkbox">
              <mat-checkbox (change)='onChecked()' [(ngModel)]="checkBox[i]" type="checkbox"></mat-checkbox>
            </div>
          </div>
          <div class="products-left-status">
            <span class="payment-status {{data.payment_status}}" *ngIf="data.payment_status == 'PAID'">Paid</span>
            <span class="payment-status {{data.payment_status}}" *ngIf="data.payment_status == 'CANCEL'">Cancel</span>
            <label class="see-more" (click)="getDetail(data)">More Details &raquo;</label>
          </div>
        </div>
      </div>
      <div class="div-footer" *ngIf="allData && allData.length!=0">
        <div>
          <button class="btn" (click)="onChangePage(currentPage = 1)">
            &laquo; </button> <button class="btn" (click)="onChangePage(currentPage - 1)">
            &lsaquo; </button> <button *ngFor="let tp of pageNumbering" class="btn" (click)="onChangePage(tp)">{{tp}}
          </button>
          <button class="btn" (click)="onChangePage(currentPage + 1)">&rsaquo;</button>
          <button class="btn" (click)="onChangePage(currentPage = total_page)">&raquo;</button>
        </div>
      </div>
    </div>

  </div>
</div>
<table style="display: none;" id="reportTable" #reportTable>
  <thead>
    <tr>
      <th>NO.</th>
      <th>ID Pelanggan</th>
      <th>ID Bisnis</th>
      <th>Order ID</th>
      <th>Reference No.</th>
      <th>Nomor PO</th>
      <!-- <th>ID Member</th> -->
      <th>Nama Member</th>
      <th>Order Date</th>
      <th>Delivery Date</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Quantity</th>
      <!-- <th>Notes</th> -->
      <th>Shipping Address</th>
      <th>Support SAP</th>
      <th>Shipping Status</th>
      <th>No. Resi</th>
      <th>Service</th>
      <th>Courier</th>
      <th *ngIf="mci_project == false">Receiver</th>
      <th>Phone Number</th>
      <th>Total</th>
      <!-- <th>Order Status</th> -->
      <th>Tanggal Delivered</th>
      <th>Nama Penerima</th>
      <th>Status Penerima</th>
      <th>Remarks</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of allDataToDownload; let i = index">
      <td>{{i+1}}</td>
      <td>{{data.id_pel}}</td>
      <td *ngIf="data.business_id">{{data.business_id}}</td>
      <td *ngIf="!data.business_id">-</td>
      <td>{{data.order_id}}</td>
      <td>{{data.reference_no}}</td>
      <td *ngIf="data.po_no">{{data.po_no.value}}</td>
      <td *ngIf="!data.po_no">-</td>
      <!-- <td>{{data.username}}</td> -->
      <td *ngIf="data.destination">{{data.destination.name}}</td>
      <td>{{data.created_date}}</td>
      <td *ngIf="data.shipping_info && data.shipping_info[1]">{{data.shipping_info[1].created_date}}</td>
      <td *ngIf="!data.shipping_info || data.shipping_info && !data.shipping_info[1]">-</td>
      <td>
        <div *ngFor="let product of allDataToDownload[i].product_list;">
          <span>{{product.product_name}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of allDataToDownload[i].product_list;">
          <span>Rp. {{product.total_product_price}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of allDataToDownload[i].product_list;">
          <span>{{product.quantity}}</span>
        </div>
      </td>
      <td>{{data.destination.address}}, {{data.destination.village_name}}, {{data.destination.district_name}}, {{data.destination.city_name}}, {{data.destination.province_name}}, {{data.destination.postal_code}}</td>
      <!-- <ng-container *ngIf="data.member_detail.alamat_rumah && data.member_detail.kelurahan_rumah && data.member_detail.kecamatan_rumah && data.member_detail.kota_rumah && data.member_detail.provinsi_rumah && data.member_detail.kode_pos_rumah &&
                           data.member_detail.alamat_rumah != '' && data.m  ember_detail.kelurahan_rumah != '' && data.member_detail.kecamatan_rumah != '' && data.member_detail.kota_rumah != '' && data.member_detail.provinsi_rumah != '' && data.member_detail.kode_pos_rumah != '' &&
                           data.member_detail.alamat_rumah != '-' && data.member_detail.kelurahan_rumah != '-' && data.member_detail.kecamatan_rumah != '-' && data.member_detail.kota_rumah != '-' && data.member_detail.provinsi_rumah != '-' && data.member_detail.kode_pos_rumah != '-'; else unsupportedcourier">
        <td>YA</td>
      </ng-container> -->
      <ng-container *ngIf="data && data.supported == 1 ; else unsupportedcourier">
        <td>YA</td>
      </ng-container>
      <td>{{data.last_shipping_info}}</td>
      <td *ngIf="data.awb_number">{{data.awb_number}}</td>
      <td *ngIf="!data.awb_number">-</td>
      <!-- <td >Empty</td> -->
      <td *ngIf="data.delivery_service">{{data.delivery_service}}</td>
      <td *ngIf="!data.delivery_service">-</td>
      <td *ngIf="data.courier">{{data.courier}}</td>
      <td *ngIf="!data.courier">-</td>
      <td *ngIf="mci_project == false">{{data.destination.name}}</td>
      <td>{{data.destination.cell_phone}}</td>
      <td>{{data.total_item_value}}</td>
      <!-- <td>{{data.status}}</td> -->
      <td *ngIf="data.shipping_info && data.shipping_info[2]">{{data.shipping_info[2].delivered_date}}</td>
      <td *ngIf="!data.shipping_info || !data.shipping_info[2]">-</td>
      <td *ngIf="data.shipping_info && data.shipping_info[2]">{{data.shipping_info[2].receiver_name}}</td>
      <td *ngIf="!data.shipping_info || !data.shipping_info[2]">-</td>
      <td *ngIf="data.shipping_info && data.shipping_info[2]">{{data.shipping_info[2].delivery_status}}</td>
      <td *ngIf="!data.shipping_info || !data.shipping_info[2]">-</td>
      <td *ngIf="data.shipping_info && data.shipping_info[2]">{{data.shipping_info[2].remarks}}</td>
      <td *ngIf="!data.shipping_info || !data.shipping_info[2]">-</td>
    </tr>
  </tbody>



  <!-- All Order -->
  <!-- <tbody *ngIf="swaper[0].val == true">
    <tr *ngFor="let data of allDataToDownload; let i = index">
      <td>{{i+1}}</td>
      <td>{{data.order_id}}</td>
      <td>{{data.approve_date}}</td>
      <td *ngIf="data.shipping_info[1]">{{data.shipping_info[1].created_date}}</td>
      <td *ngIf="!data.shipping_info[1]">-</td>
      <td>
        <div *ngFor="let product of allDataToDownload[i].products;">
          <span>{{product.product_name}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of allDataToDownload[i].products;">
          <span>Rp. {{product.total_product_price}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of allDataToDownload[i].products;">
          <span>{{product.quantity}}</span>
        </div>
      </td>
      <td>{{data.member_detail.alamat_rumah}}</td>
      <td>{{data.last_shipping_info}}</td>
      <td *ngIf="data.delivery_detail.awb_number">{{data.delivery_detail.awb_number}}</td>
      <td *ngIf="!data.delivery_detail.awb_number">-</td>
      <td *ngIf="data.delivery_detail.delivery_service">{{data.delivery_detail.delivery_service}}</td>
      <td *ngIf="!data.delivery_detail.delivery_service">-</td>
      <td *ngIf="data.delivery_detail.courier">{{data.delivery_detail.courier}}</td>
      <td *ngIf="!data.delivery_detail.courier">-</td>
      <td>{{data.member_detail.nama_penerima_gopay}}</td>
      <td>{{data.member_detail.no_wa_penerima}}</td>
      <td>{{data.sum_total}}</td>
      <td>{{data.status}}</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].created_date}}</td>
      <td *ngIf="!data.shipping_info[2]">-</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].receiver_name}}</td>
      <td *ngIf="!data.shipping_info[2]">-</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].delivery_status}}</td>
      <td *ngIf="!data.shipping_info[2]">-</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].remarks}}</td>
      <td *ngIf="!data.shipping_info[2]">-</td>
    </tr>
  </tbody> -->
  <!-- Incoming Order -->
  <!-- <tbody *ngIf="swaper[1].val == true">
    <tr *ngFor="let data of incomingToDownload; let i = index">
      <td>{{i+1}}</td>
      <td>{{data.order_id}}</td>
      <td>{{data.approve_date}}</td>
      <td>-</td>
      <td>
        <div *ngFor="let product of incomingToDownload[i].products;">
          <span>{{product.product_name}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of incomingToDownload[i].products;">
          <span>Rp. {{product.total_product_price}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of incomingToDownload[i].products;">
          <span>{{product.quantity}}</span>
        </div>
      </td>
      <td>{{data.member_detail.alamat_rumah}}</td>
      <td>{{data.last_shipping_info}}</td>
      <td *ngIf="data.delivery_detail.awb_number">{{data.delivery_detail.awb_number}}</td>
      <td *ngIf="!data.delivery_detail.awb_number">-</td>
      <td *ngIf="data.delivery_detail.delivery_service">{{data.delivery_detail.delivery_service}}</td>
      <td *ngIf="!data.delivery_detail.delivery_service">-</td>
      <td *ngIf="data.delivery_detail.courier">{{data.delivery_detail.courier}}</td>
      <td *ngIf="!data.delivery_detail.courier">-</td>
      <td>{{data.member_detail.nama_penerima_gopay}}</td>
      <td>{{data.member_detail.no_wa_penerima}}</td>
      <td>{{data.sum_total}}</td>
      <td>{{data.status}}</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody> -->
  <!-- On Delivery Order -->
  <!-- <tbody *ngIf="swaper[2].val == true">
    <tr *ngFor="let data of deliveryToDownload; let i = index">
      <td>{{i+1}}</td>
      <td>{{data.order_id}}</td>
      <td>{{data.approve_date}}</td>
      <td *ngIf="data.shipping_info[1]">{{data.shipping_info[1].created_date}}</td>
      <td>
        <div *ngFor="let product of deliveryToDownload[i].products;">
          <span>{{product.product_name}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of deliveryToDownload[i].products;">
          <span>Rp. {{product.total_product_price}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of deliveryToDownload[i].products;">
          <span>{{product.quantity}}</span>
        </div>
      </td>
      <td>{{data.member_detail.alamat_rumah}}</td>
      <td>{{data.last_shipping_info}}</td>
      <td *ngIf="data.delivery_detail.awb_number">{{data.delivery_detail.awb_number}}</td>
      <td *ngIf="!data.delivery_detail.awb_number">-</td>
      <td *ngIf="data.delivery_detail.delivery_service">{{data.delivery_detail.delivery_service}}</td>
      <td *ngIf="!data.delivery_detail.delivery_service">-</td>
      <td *ngIf="data.delivery_detail.courier">{{data.delivery_detail.courier}}</td>
      <td *ngIf="!data.delivery_detail.courier">-</td>
      <td>{{data.member_detail.nama_penerima_gopay}}</td>
      <td>{{data.member_detail.no_wa_penerima}}</td>
      <td>{{data.sum_total}}</td>
      <td>{{data.status}}</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody> -->
  <!-- Complete Order -->
  <!-- <tbody *ngIf="swaper[3].val == true">
    <tr *ngFor="let data of completeToDownload; let i = index">
      <td>{{i+1}}</td>
      <td>{{data.order_id}}</td>
      <td>{{data.approve_date}}</td>
      <td *ngIf="data.shipping_info[1]">{{data.shipping_info[1].created_date}}</td>
      <td>
        <div *ngFor="let product of completeToDownload[i].products;">
          <span>{{product.product_name}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of completeToDownload[i].products;">
          <span>Rp. {{product.total_product_price}}</span>
        </div>
      </td>
      <td>
        <div *ngFor="let product of completeToDownload[i].products;">
          <span>{{product.quantity}}</span>
        </div>
      </td>
      <td>{{data.member_detail.alamat_rumah}}</td>
      <td>{{data.last_shipping_info}}</td>
      <td *ngIf="data.delivery_detail.awb_number">{{data.delivery_detail.awb_number}}</td>
      <td *ngIf="!data.delivery_detail.awb_number">-</td>
      <td *ngIf="data.delivery_detail.delivery_service">{{data.delivery_detail.delivery_service}}</td>
      <td *ngIf="!data.delivery_detail.delivery_service">-</td>
      <td *ngIf="data.delivery_detail.courier">{{data.delivery_detail.courier}}</td>
      <td *ngIf="!data.delivery_detail.courier">-</td>
      <td>{{data.member_detail.nama_penerima_gopay}}</td>
      <td>{{data.member_detail.no_wa_penerima}}</td>
      <td>{{data.sum_total}}</td>
      <td>{{data.status}}</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].created_date}}</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].receiver_name}}</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].delivery_status}}</td>
      <td *ngIf="data.shipping_info[2]">{{data.shipping_info[2].remarks}}</td>
    </tr>
  </tbody> -->
</table>
</ng-container>

<div *ngIf="errorMessage" class="error-message">
  <div class="text-message">
    <i class="fas fa-ban"></i>
    {{errorMessage}}
  </div>
</div>

<ng-container *ngIf="orderDetail">
  <!-- <app-page-header [heading]="'Order History All History'" [icon]="'fa-table'"></app-page-header> -->
  <div class="board">
    <div class="nav toolbar">
      <app-delivery-process-shipping [back]="[this,backToHere]" [detail]="orderDetail" [propsDetail]="propsDetail" class="parent-container"></app-delivery-process-shipping>
    </div>
</div>
</ng-container>

<ng-container *ngIf="shippingLabel">
  <!-- <app-page-header [heading]="'Order History All History'" [icon]="'fa-table'"></app-page-header> -->
  <app-shipping-label [back]="[this,backToHere]" [detail]="shippingLabel"></app-shipping-label>
</ng-container>
<!-- </div> -->

<ng-template #unsupportedcourier>
  <td></td>
</ng-template>