body {
  background-color: white;
  font-family: "Cambria (Headings)";
  color: #333;
  text-align: left;
  font-size: 11pt;
  margin: 0;
}
footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}


.mat-raised-button.mat-primary {
  background-color: #2481fb;
  float: right;
  padding: 5px 20px;
  font-family: "Cambria (Headings)";
  margin: 10px 40px;
  border-radius: 5px;

  .fa {
    margin-left: 8px;
  }
}

._container {
  background-color: white;
  margin: 0px 0px 30px 0px;
  border-radius: 5px;
  position: relative;
  text-align: -webkit-center;
  break-before: always;
  padding-top: 10px;
  table {
   
    th {
      padding:2px;
    }
  }
  .watermark
  {
  position: absolute;
  font-size: 120px;
  font-weight: bolder;
  width: 100%;
  left: 0;
    top: 50%;
    right: 0;
 
  color:red;
  transform: rotate(-45deg);
    span{
      opacity: 0.1;
      letter-spacing: 100px;
    }
  }
  .content {
    position:relative;
    // width: 21cm;
    margin: 0 36px;
    // height: 30.0cm;
    // margin: 30mm 45mm 30mm 45mm; 
    padding: 0 0 36px 0;
    // page-break-after: always;
    // page-break-before: always;
 
    .logo-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        margin: 20px 0px;
        width: 120px;
     
      }
    }
    .body-letter{
      text-align:left;
      table{
        width: 100%;
      }
      .table1 {
        border: none;
      
        .first-col{
          width: 20px;
        }
        tr{
          vertical-align:top;
          padding: 0;
          border: none;
          td{
            padding: 0;
          border: none;
          }
        }
      }
      .table2{
        th {
          font-size: 10pt;
          text-align: center;
        }
        .no {
          width: 20px;
        }
        td {
          padding: 5px;
        }
      }
      .table3 {
        th {
          font-size: 10pt;
        }
        td {
          padding: 5px;
        }
        .no {
          width: 20px;
        }
      }
      .tabel1-1 {
        font-style: italic;

      }
    }
   
    .penerima {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .penerima-pemberi {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .layanan {
      text-align: center;
      margin-bottom: 30px;
    }

    .page-number {
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: center;
      font-size: 18px;
    }

    .table-order {
      height: 100%;
      width: 14cmcm;
      font-size: 11px;

      .order-id-header {
        width: 70%;
        table-layout: fixed;
        border-top: 0;
        width: 80%;
      }

      .header {
        table-layout: auto;
        border-bottom: 0;
        width: 20cm;
      }

      .detail-barang-pengiriman {
        text-align: left;
        width: 20cm;

        .row-eq-height {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        }

        .row {
          margin-left: 0px;
          height: 100%;
        }

        .detail-barang {
          border-right: solid black 1px;
          width: 50%;
          .daftar-barang {
            padding-left: 20px;
            // border-right: solid black 1px;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          .catatan {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        .detail-pengiriman {
          width: 50%;
          .jenis-pengiriman {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-weight: bold;
            text-align: left;
          }

          .total-harga {
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            font-weight: bold;
            padding-left: 0px;
          }
        }
      }

      .detail-header {
        width: 20cm;
        text-align: left;
        border-top: 0;
        border-bottom: 0;

        .detail-person {
          border-right: solid black 1px;
          padding: 20px;
          width: 60%;
          .receiver {
            border-bottom: black solid 1px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            margin-top: 15px;
          }
        }

        .detail-order {
          padding: 20px;
          .tlc {
            font-size: 20px;
          }
        }

        .row {
          margin-left: 0px;
        }
      }

      .locard-logo {
        width: 100px;
        text-align: center;
        .logo-avatar {
          -webkit-border-radius: 50%;
          border-radius: 0%;
          width: 60px;
        }
      }

      .courier-logo {
        text-align: center;
      }

      #courier-logo {
        text-align: center;

        .logo-avatar {
          width: 120px;
        }
      }

      .awb {
        text-align: center;
      }

      .order-id {
        text-align: center;
        p {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

.btn-print {
  text-align: center;
  // margin: 15px 0px;
  margin: 46px 0 15px 0;

  .back_button {
    padding: 10px 20px;
    vertical-align: top;
  }

  .btn-primary {
    float: none;
    margin: 0;
  }


}

div._container:last-child {
  page-break-after: always;
}

table {
  border: 2px solid #333;
  border-collapse: collapse;
}
td,
tr,
th {
  padding: 12px;
  border: 1px solid #333;
  width: 185px;
}
th {
  background-color: #f0f0f0;
}
h4,
p {
  margin: 0px;
}

#garis {
  height: 200px;
  color: black;
}

#thanks {
  font-size: 15px;
  text-align: center;
  color: #0ea8db;
  font-weight: bold;
}

#header {
  text-align: center;
  margin-top: 10px;
}

#non {
  border: 1px solid black;
  font-size: 20px;
  padding: 4px;
}

#shipping {
  font-size: 20px;
}

#order {
  position: relative;
  bottom: 10px;
}

.send {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #card-transaction {
  padding-top: 50px;
}

.top-table {
  border: none;
  margin: 0 0 15px 0;
  padding: 5px;

  tr {
    border: none;
    margin: 0;
    padding: 5px;
  }

  td {
    vertical-align: top;
    border: none;
    margin: 0;
    padding: 5px;
  }

  .title {
    width: 100px;
  }

  .colon {
    width: 0;
  }

  .delivery-service {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
  }
}

table {
  table-layout: fixed;
}

.top-table tr {
  width: unset;
}

// .bottom-table {
//   border-collapse: collapse;

//   tr, td {
//     height: 100%;
//     overflow-wrap: break-word;
//   }

//   th {
//     text-align: center;
//     padding: 0;
//   }
  
//   td {
//     vertical-align: top;

//     // width: 30px;
//     // overflow: hidden;
//     // display: inline-block;
//     // white-space: nowrap;
//   }

//   .row_no {
//     width: 0;
//   }

//   .td-products {
//     padding: 0;
//     width: 0;

//     tr {
//       border-left: none;
//       border-top: none;
//       border-right: none;
//     }
//     td {
//       border-top: none;
//     }
//   }
// }

table.bottom-table{
  border: 1px solid black;
  table-layout: fixed;
  width: 100%;
  height: 100%;

  tr, td {
    overflow-wrap: break-word;
    text-align: center;
  }

  td {
    vertical-align: top;
  }

  table.inside-loop {
    height: 100%;
    border: none;
  }
}

.width-variable {
  border: 1px solid black;
  // overflow: hidden;
  width: auto;
  // white-space: nowrap;

}

.width-fixed {
  border: 1px solid black;
  overflow: hidden;
  width: 100px;
}

.width-fixed-no {
  width: 36px;
}

.width-fixed-no-barang {
  width: 56px;
}

.td-products {
  padding: 0;
  width: 0;

  tr {
    border-left: none;
    border-top: none;
    border-right: none;
  }
  td {
    border-top: none;
  }
}

.tr-looping:last-child {
  border-bottom:none;

  td {
    border-bottom:none;
  }
}

@media print {
  @page {
    size: A4 landscape;
  }
  body * {
    visibility: hidden;
  }
  .content {
    position:relative;
    
    // margin: 30mm 45mm 30mm 45mm; 
    // padding: 0cm 1cm;
    // page-break-after: always;
    border:white solid;
    // page-break-before: always;
    
  }

  .bottom-table {
    table-layout: fixed;
  }
  .watermark
  {
    span {
      font-size: 120px;
      opacity: 0.2;
    }   
  
 
  }
  #header {
    display: none;
  }

  h5 {
    display: none;
  }

  app-page-header {
    display: none;
  }

  button {
    display: none;
  }

  * {
    font-size: 13px;
  }

  div.table-order {
    transform: scale(0.7);
    padding-bottom: 80px;
    width: 20cm;
    height: 9cm;
  }

  div._container {
    padding: 0;
    // page-break-after: always;
  }

  .content {
    padding: 0 !important;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }

}

