<!-- <div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row cm-dashboard">
        <div class="col-md-9">
        <div class="col-md-3">
            <div class="row">
                    </div>
            </div>
            
            <div class="row">
                <div class="col-md-3 rightside">
                    <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'">
                    </app-stat>
                </div>
                <div class="col-md-3 rightside">
                    <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
                </div>
                <div class="col-md-3  rightside">
                    <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'">
                    </app-stat>
                </div>
                <div class="col-md-3  rightside">
                    <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'">
                    </app-stat>
                </div>
            </div>
        </div>
    </div>

</div> -->