:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
}

.btn.btn-default{
  background: white;
  border: 1px solid #333;
}

.form {
  padding: 25px;
  position: relative;
  // top: 5vw;

  input[type="file"] {
    // display: none;
  }

  label {
    color: #757474;
  }

  .custom-content::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-content::before {
    content: "Choose File";
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    color: black;
    letter-spacing: 0.5px;
  }

  .imagepict::before {
    content: "Choose Image";
  }

  .hashhash {
    .hashtag-item {
      display: inline-block;
      margin-right: 5px;
      background: #eee;
      padding: 2px 5px;
      margin-bottom: 5px;
      border-radius: 5px;
    }
    .hashtag-item::before {
      content: "#";
      display: inline;
    }
    .hashtagskey-input {
      display: inline-block;
      min-width: 75px;
      margin-bottom: 5px;
      font-size: 1rem;
      background: white;
      border-radius: 5px;
      outline: none;
    }
    .hashtagskey-input::before {
      content: "#";
      display: inline;
    }
  }

  .card {
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    .card-header {
      background-color: white;
      margin: 0px;
      padding: 0px;
      border-left: 3px solid #2480fb;
      label {
        margin: 20px 10px;
        font-weight: bold;
        font-size: 20px;
      }
    }

    .image-upload {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 3px solid #ebebeb;
      border-radius: 10px;
      background-color: #f5f5f5;
      min-height: 125px;
      margin: 20px;
      padding: 50px;
  
      .logo-upload {
        width: 150px;
      }
  
      .fileupload {
        background-color: #2480fb;
        color: white;
        border-radius: 8px;
        font-size: 14px;
        padding: 12px 22px;
      }
  
      .upload-desc {
        color: #d6d6d6 !important;
        text-align: center;
        font-size: 18px;
      }
    }

    // .uploaded {
    //   border-top: 1px solid #ccc;
    // }
  }

  .navbar-menu {
    overflow-y: scroll;
    max-height: 250px;
    margin: 15px 5px;
    .category-list {
      .list-group-item {
        border: none;
        cursor: pointer;
        .checked-icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 15px;
          border: 1px solid #ccc;
          color: #3498db;
          font-weight: bold;
          font-size: 14px;
          margin-right: 10px;
        }
        .checked-icon.false {
          color: transparent;
        }
      }
    }
  }

  .uploading-file {
    opacity: 0.5;
    filter: grayscale(1);
  }

  .uploading-file.true {
    opacity: 1;
    filter: grayscale(0);
  }
  .autoSKU {
    font-size: 12px;
    margin-left: 15px;
    display: inline-block;
  }

  .image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #ccc;
    min-height: 125px;
  }

  table{
    border-collapse: collapse;
    width: 45%;
    
  }


  .uploaded-image {
    margin: 0px auto;
    width: auto;
    // padding: 50px ;
    height: auto;
    // cursor: pointer;
    .text-fileupload{
      display: block;
      text-align: center;
      cursor: pointer;
      color: #2480fb;
      margin-top: 10px;
    
    }
    .img {
      width: 100%;
      min-height: 348px;
      background-size: contain;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;

      .editor-tool {
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .img:hover .editor-tool {
      opacity: 0.9;
    }
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.2);
  }

  .carousel-indicators li {
    background-color: black !important;
  }

  .product-type-list {
    display: inline-block;
    .product-type {
      display: inline-flex;
      padding: 15px;
      justify-content: center;
      align-items: center;
      height: 35px;
      border-radius: 7px;
      cursor: pointer;
      border: 1px solid #ccc;
      margin-right: 5px;
      margin-bottom: 5px;
      transition: ease 0.2s all 0s;
    }
    .product-type.true {
      color: white;
      background-color: #3498db;
      border-color: #2980b9;
    }
  }
  .form-control.des {
    padding-top: 4px;
    display: inline-flex;
    padding-bottom: 4px;
    justify-content: center;
    align-items: center;
    input {
      border: 0px solid transparent;
      width: calc(100% - 15px);
    }
    input:focus {
      outline: none;
    }
  }
  div.error {
    background: #e74c3c;
    color: white;
    padding: 25px;
    margin-bottom: 25px;
  }
  div.new {
    background: limegreen;
    color: white;
    padding: 25px;
    margin-bottom: 25px;
  }
  .category-list {
    .list-group-item {
      cursor: pointer;
      .checked-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        border: 1px solid #ccc;
        color: #3498db;
        font-weight: bold;
        font-size: 14px;
      }
      .checked-icon.false {
        color: transparent;
      }
    }
  }
  .end-footer {
    .delete {
      position: relative;
      float: right;
      background-color: #e74c3c;
      opacity: 0.5;
      border-color: #c0392b;
      .delete-modal {
        position: absolute;
        display: none;
        background: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 4px 10px;
        top: 0px;
        right: 0px;
        color: #e74c3c;
        transform: translateY(-45px);
        .btn-group {
          border: 1px solid #e74c3c;
          border-radius: 5px;
          overflow: hidden;
          .no {
            opacity: 0.5;
            border-width: 0px;
          }
          .yes {
            background: #e74c3c;
            border-width: 0px;
          }
          .no:hover {
            opacity: 1;
          }
        }
      }
    }
    .delete:hover,
    .delete:focus {
      opacity: 1;
    }
    .delete:focus {
      .delete-modal {
        display: block;
      }
    }
  }
}

.form.true{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #ecf0f1;
}

.detail{
  padding: 10px;
}

// .button-edit{
//   position: absolute;
//   margin-left: calc(50% - 100px);
//   background-color: #3498db;
//   color: white;
//   top: 10px;
// }
