<input #fileinput type="file" (change)="onFileSelected($event)" [(ngModel)]="selFile" accept="image/png, image/jpeg"
    style="display: none;">
<div class="form">
    <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>
    <!-- <div class="new" *ngIf="newData">New products!</div> -->

    
    <div class="centered"></div>
    <div class="col-md-12">
        <div class="back">
            <!-- <button class="back-button" style="background-color: transparent;" (click)="back()">Back</button> -->
            <i class="fas fa-chevron-left">&nbsp;&nbsp;<a (click)="back()" style="cursor: pointer; font-size:20px;">Back</a></i>
        </div><br/>

        <div class="form-group" *ngIf="currentPermission=='admin' && form.merchant_username">
            <label for="exampleInputEmail1">Merchant Owner : <strong>{{form.merchant_username}}</strong></label>
        </div>
        <div class="card">
            <div class="card-header">
                <label>Product Detail</label>
                <button class="btn btn-primary edit float-right" (click)="editThis()"
                    style="margin-right: 10px; margin-top: 15px;border-radius:5px;"><i class="fas fa-edit"></i> Edit
                </button>
            </div>
            <div class="row">
            <div class="col-md-3">
                <div class="product-image">
                    <div class="form-group uploaded" *ngIf="form.base_url">
                        <div class="uploaded-image">
                            <div class="img"
                                [ngStyle]="{'background-image':'url('+(form.base_url+form.pic_medium_path)+')'}">
                                <div class="editor-tool">

                                    <!-- <i class="fa fa-pen"></i> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-9">
            <div class="detail">
                <div class="form-group">
                    <label for="exampleInputEmail1">Product Name : </label><br>
                    <label><strong>{{form.product_name}}</strong></label>


                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">SKU / Product Code : </label> <br>

                    <label><strong>{{form.product_code}}</strong></label>

                </div>

                <div class="form-group" *ngIf="form.category != undefined">
                    <label for="exampleInputEmail1">Category </label> <br>

                    <label><strong>{{form.category}}</strong></label>

                </div>

                <div *ngIf="form.type == 'evoucher'">
                    <div class="form-group">
                        <label>Redeem Type</label><br />
                        <label><strong>{{form.redeem_type}}</strong></label>

                    </div>
                </div>

                <table>
                    <tr style="font-weight: 500;color:#757474">
                        <th>Price</th>
                        <th>Public Price (fixed price)</th>
                        <th>Quantity</th>
                    </tr>
                    <tr style="font-weight: bold;color:#757474">
                        <td>{{form.price}}</td>
                        <td>{{form.fixed_price}}</td>
                        <td>{{form.qty}}</td>
                    </tr>
                </table>
                <br/>

                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Price : </label> <br />
                    <label><strong>{{form.price}}</strong></label>

                </div>

                <div class="form-group">
                    <label for="fixed_price">Public price (fixed price) : </label> <br />
                    <label><strong>{{form.fixed_price}}</strong></label>
                </div> -->

                <!-- <div class="form-group" *ngIf="form.type == 'product'">
                    <label for="exampleInputEmail1">Quantity : </label> <br />
                    <label><strong>{{form.qty}}</strong></label> -->
                    <!-- <input class="qty form-control" type="number" [(ngModel)]="form.qty" /> -->
                <!-- </div> -->

                <div class="form-group">
                    <label for="exampleInputEmail1">Description</label><br />
                    <label><strong>{{form.description}}</strong></label>

                </div>

                <div class="form-group" *ngIf="form.type == 'evoucher'">
                    <label for="exampleInputEmail1">Terms &amp; Conditions</label><br />
                    <label><strong>{{form.tnc}}</strong></label>

                </div>


            </div>
        </div>
    </div>

</div>
</div>
</div>
