<div class="card card-detail">
        <div class="card-header">
            <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
            <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
        </div>
        <div class="card-content">
            <div class="payment-gateway-detail">
        
                <div class="row">
                 <div class=" col-md-8" >
                     <div class="card mb-3">
                         <div class="card-header"><h2> Payment Gateway Details </h2></div>
                         <div class="card-content">
                             <div class="col-md-12">
                                 <label>Payment gateway ID</label>
                                 <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Payment gateway ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
                 
                                 <label>Name</label>
                                 <form-input name="name" [type]="'text'" [placeholder]="'Product Code'"  [(ngModel)]="detail.name" autofocus required></form-input>
                 
                                 <label>Alias</label>
                                 <form-input name="alias" [type]="'textarea'" [placeholder]="'Alias'"  [(ngModel)]="detail.alias" autofocus required></form-input>
                 
                                 <label>Service</label>
                                 <form-input name="service" [type]="'textarea'" [placeholder]="'Service'"  [(ngModel)]="detail.service" autofocus required></form-input>
                 
                                 <label>Logo</label>
                                 <form-input name="logo" [type]="'textarea'" [placeholder]="'Logo'"  [(ngModel)]="detail.logo" autofocus required></form-input>
            
                             </div>
                             <div *ngIf="errorLabel!==false">
                                    {{errorLabel}}
                            </div>
                           
                          </div>
                     </div>
                    </div>
                    <!-- <div class=" col-md-4" >
                     <div class="card mb-3">
                         <div class="card-header"><h2>Price &amp; status</h2> </div>
                         <div class="card-content">
                             <div class="col-md-12">
                                 <label>Status</label>
                                 <div name="status"> {{product_status}}
                                    <form-select name="status" [(ngModel)]="detail.status" [data]="productStatus" required></form-select> 
                                 </div> 
                 
                                 <label>Owner Price</label>
                                 <div name="owner_price">{{detail.owner_price}}</div>
                 
                                 <label>Merchant Price</label>
                                 <div name="merchant_price">{{detail.merchant_price}}</div>
                 
                                 <label>Member Price</label>
                                 <div name="member_price">{{detail.member_price}}</div>
                 
                                 <label>Supplier ID</label>
                                 <div name="supplier_id">{{detail.supplier_id}}</div>
                 
                                 <label>Supplier Name</label>
                                 <div name="supplier_name">{{detail.supplier_name}}</div>
                 
                                 <label>Quantity</label>
                                 <div name="qty">{{detail.qty}}</div>
                 
                                  {{form.value | json}} 
                             </div>
                             <div *ngIf="errorLabel!==false">
                                    {{errorLabel}}
                            </div>
                           
                          </div>
                     </div>
                     <div class="card mb-3">
                         <div class="card-header"><h2>Images</h2> </div>
                         <div class="card-content">
                             <div  class="  image">
                                 <div class="">
                                    <div class="card">
                                        <div class="card-header"><h3>Big </h3></div>
                                        <div class="card-content">
                                            <img src="{{detail.base_url+detail.pic_big_path}}"/>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="">
                                    <div class="card">
                                        <div class="card-header"><h3>Medium </h3></div>
                                        <div class="card-content">
                                            <img src="{{detail.base_url+detail.pic_medium_path}}"/>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="">
                                    <div class="card">
                                        <div class="card-header"><h3>Small </h3></div>
                                        <div class="card-content">
                                            <img src="{{detail.base_url+detail.pic_small_path}}"/>
                                        </div>
                                    </div>
                                 </div>
                                  {{form.value | json}}  
                             </div>
                             <div *ngIf="errorLabel!==false">
                                    {{errorLabel}}
                            </div>
                             
                           
                          </div>
                     </div>


                    </div> -->
                </div>
           
             </div>
        </div>
    </div>