<div class="card sum" *ngIf="data.current_order_history">
    <div class="card-header"> Today Total Order</div>
    <div class="card-body">
        <table class="table table-responsive-md table-responsive-lg table-responsive-sm table-responsive-xl" style="text-align: left">
            <tr>
                <th>All Order</th>
                <td>{{data.current_order_history.total}} </td>

                <th>Pending</th>
                <td>{{data.current_order_history_pending.total}} </td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{data.current_order_history_cancel.total}} </td>

                <th>Checkout</th>
                <td>{{data.current_order_history_paid.total}} </td>
            </tr>
            <tr>
                <th>Cancel</th>
                <td>{{data.current_order_history_waiting.total}} </td>

                <th>Waiting</th>
                <td>{{data.current_order_history_checkout.total}} </td>
            </tr>
        </table>
    </div>
</div>