<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <h1>{{detail.product_name}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i>
            <span *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="product-detail">

            <div class="row">
                <div class=" col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2> Merchant Detail </h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Merchant Name</label>
                                <form-input name="merchant_name" [disabled]="false" [type]="'text'"
                                    [placeholder]="'Merchant Name'" [(ngModel)]="merchantData.merchant_name" autofocus
                                    required>
                                </form-input>

                                <label>Merchant Username</label>
                                <form-input name="merchant_username" [disabled]="true" [type]="'text'"
                                    [placeholder]="'Merchant Name'" [(ngModel)]="merchantData.merchant_username" autofocus
                                    required>
                                </form-input>

                                <label>Address</label>
                                <form-input name="address" [type]="'textarea'" [placeholder]="'Address'"
                                    [(ngModel)]="merchantData.maddress" autofocus required></form-input>

                                <label>Cell Phone</label>
                                <form-input name="cell_phone" [type]="'text'" [placeholder]="'cell phone number'"
                                    [(ngModel)]="merchantData.cell_phone" autofocus required></form-input>

                                <label>Country</label>
                                <form-input name="country" [type]="'text'" [(ngModel)]="merchantData.mcountry" autofocus
                                    required></form-input>

                                <label>Province</label>
                                <form-input name="country" [type]="'text'" [(ngModel)]="merchantData.mprovince"
                                    autofocus required></form-input>

                                <div class="col-md-12" id="region">
                                    <div class="form-group"><label>Region</label>
                                        <input type="text" name="region_name" class="form-control"
                                            [(ngModel)]="merchantData.region_name" (change)="onRegionChanged()"
                                            (keyup)="getRegionList($event)" id="regionList" list="dynmicRegionList"
                                            [placeholder]="'   Region'" />
                                        <datalist id="dynmicRegionList" name="region_code" ngDefaultControl>
                                            <option *ngFor="let item of regionList" [ngValue]="item.region_code">
                                                {{item.region_name}}
                                            </option>
                                        </datalist>
                                    </div>
                                </div>

                                <label>City</label>
                                <form-input name="city" [type]="'text'" [(ngModel)]="merchantData.mcity" autofocus
                                    required></form-input>

                                <label>Sub District</label>
                                <form-input name="subdistrict" [type]="'text'" [(ngModel)]="merchantData.msubdistrict"
                                    autofocus required></form-input>

                                <label>Description</label>
                                <ckeditor [config]="config" [editor]="Editor" [(ngModel)]="merchantData.description"></ckeditor>

                                <label>Email</label>
                                <form-input name="email" [type]="'text'" [placeholder]="'email'"
                                    [(ngModel)]="merchantData.email_address" autofocus required></form-input>
                                <div name="email"></div>

                                <label>Postal Code</label>
                                <form-input name="postal_code" [type]="'text'" [placeholder]="'postal code'"
                                    [(ngModel)]="merchantData.mpostal_code" autofocus required></form-input>

                            </div>

                        </div>
                    </div>
                </div>

                <div class=" col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Merchant &amp; Data</h2>
                        </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Status</label>{{merchantData.status}}
                                <form-select name="Status" [(ngModel)]="merchantData.active" [data]="editStatus"
                                    (change)=setStatus($event) required></form-select>

                                <label>Contact Person</label>
                                <form-input name="contact_person" [type]="'number'"
                                    [placeholder]="'Contact Person Name'" [(ngModel)]="merchantData.contact_person"
                                    autofocus required></form-input>

                                <label>Email</label>
                                <form-input name="email" [type]="'text'" [placeholder]="'email'"
                                    [(ngModel)]="merchantData.email" autofocus required></form-input>

                                <label>Work Phone</label>
                                <form-input name="work_phone" [type]="'number'" [placeholder]="'work phone'"
                                    [(ngModel)]=merchantData.work_phone autofocus required></form-input>
                                <!-- {{form.value | json}}  -->
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>

                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Owner Image</h2>
                        </div>
                        <div class="card-content">
                            <div class="image">
                                <div class="">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3> Image </h3>
                                        </div>
                                        <div class="card-content">
                                            <img class="resize" src="{{merchantData.image_owner_url}}" />
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <img style="display: none;" [src]="url" height="200"> <br />
                                    <div class="pb-framer">
                                        <div class="progressbar {{cancel?'terminated':''}}"
                                            [ngStyle]="{'width.%': progressBar}">

                                        </div>
                                        <span *ngIf="progressBar&&progressBar>0">
                                            {{cancel?'terminated':progressBar+'%'}} </span>
                                        <span class="clr-white" *ngIf="progressBar>58">
                                            {{cancel?'terminated':progressBar+'%'}} </span>

                                    </div>
                                    <input type="file" (change)="onFileSelected($event)" accept="image/*">
                                    <br>
                                    <button class="btn rounded-btn" (click)="onUpload()">Upload</button>
                                    <button class="btn rounded-btn-danger" (click)="cancelThis()">Cancel</button>
                                </div>

                                <!-- {{form.value | json}}  -->

                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>


                        </div>
                    </div>



                    <div class="card mb-3">
                        <div class="card-header">
                            <h2>Merchant Background Image</h2>
                        </div>
                        <div class="card-content">
                            <div class="image">
                                <div class="">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3> Image </h3>
                                        </div>
                                        <div class="card-content">
                                            <img class="resize" src="{{merchantData.background_image}}" />
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <img style="display: none;" [src]="url" height="200"> <br />
                                    <div class="pb-framer">
                                        <div class="progressbar {{cancel?'terminated':''}}"
                                            [ngStyle]="{'width.%': progressBar}">

                                        </div>
                                        <span *ngIf="progressBar&&progressBar>0">
                                            {{cancel?'terminated':progressBar+'%'}} </span>
                                        <span class="clr-white" *ngIf="progressBar>58">
                                            {{cancel?'terminated':progressBar+'%'}} </span>

                                    </div>
                                    <input type="file" (change)="onFileSelected($event)" accept="image/*">
                                    <br>
                                    <button class="btn rounded-btn" (click)="onUpload()">Upload</button>
                                    <button class="btn rounded-btn-danger" (click)="cancelThis()">Cancel</button>
                                </div>

                                <!-- {{form.value | json}}  -->

                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>