.photo-profile{
    width: 100%;
    height: 100%;
    display: fl;
    border-radius: 50%;
    overflow: hidden;
    color: #555;
    position: relative;
    background-color: #DFDFDF;
    .img, .no-img{
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        justify-content: center;
        align-items: center;
        padding: 25px;
        display: flex;
        text-align: center;
    }

}