<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="orderhistorysummary-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Order History Summary Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Order History ID</label>
                             <div name="_id" >{{detail.order_id}}</div>
                             <label>Shopping Cart ID</label>
                             <div name="shoppingcart_id" >{{detail.shoppingcart_id}}</div>
                             <label>Name</label>
                             <div name="name" >{{detail.name}}</div>
                             
                             <label>User ID</label>
                             <div name="user_id" >{{detail._id}}</div>
                             <label>Status</label>
                             <div name="status" >{{detail.status}}</div>
                             <label>Total Price</label>
                             <div name="total_price" >{{detail.total_price}}</div>
                             <label>Total Quantity</label>
                             <div name="total_quantity" >{{detail.total_quantity}}</div>
                             <label>Transaction Status</label>
                             <div name="transaction_status">{{detail.transaction_status}}</div>
                            


                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
     
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-orderhistorysummary-edit [back]="[this, 'editThis']" [detail]="detail"></app-orderhistorysummary-edit>
</div>