<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Notification'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddNotification(form.value)">
      <div class="col-md-6">
          <label>Notification ID</label>
          <form-input name="notification_id" [placeholder]="'Notification Id'"  [type]="'text'" [(ngModel)]="notification_id" required></form-input>
          <label>Name</label>
          <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="name" autofocus required></form-input>
          <label>Color</label>
          <form-input name="color" [placeholder]="'Color'"  [type]="'text'" [(ngModel)]="color" required></form-input>
          <label>UserId</label>
          <form-input name="user_id" [placeholder]="'User Id'"  [type]="'text'" [(ngModel)]="user_id" required></form-input>  
        </div>  
      <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 