<div *ngIf="!edit && !isAddDocument" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <!-- <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> -->
        <div *ngIf="!mci_project" class="edit_button">
            <button class="btn btn-right" (click)="addDocument()"><i class="fa fa-fw fa-file-image"></i>Other Document Photos</button>
            <!-- <button class="btn btn-right" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> -->
        </div>
    </div>

    <ng-template #empty_image><span>
        empty
    </span></ng-template>
  
    <div class="card-content" *ngIf="!errorMessage">
        <div class="member-detail">
    
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header" *ngIf="!mci_project && sig_kontraktual"><h2>Data Pelanggan</h2></div>
                        <div class="card-header" *ngIf="!mci_project && !sig_kontraktual"><h2>Data Pemilik dan Toko</h2></div>
                        <div class="card-header" *ngIf="mci_project"><h2>Data Pelanggan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <label>Order ID</label>
                                <div name="order_id">{{detail.order_id}}</div>
                                          
                                <label>ID Pelanggan</label>
                                <div name="member_id">{{invoiceDetail.id_toko}}</div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Nama Program</label>
                                    <div name="full_name">{{invoiceDetail.nama_toko}}</div>
                                </div>
                                
                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Nama Toko</label>
                                    <div name="full_name">{{invoiceDetail.nama_toko}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Nama Entitas</label>
                                    <div name="full_name">{{invoiceDetail.nama_toko}}</div>
                                </div>
                                
                                <div *ngIf="!mci_project">
                                    <label>Nama Distributor</label>
                                    <div name="full_name">{{invoiceDetail.member_detail.nama_distributor}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Alamat Toko</label>
                                    <div name="full_name">{{invoiceDetail.member_detail.alamat_toko}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Alamat Toko</label>
                                    <div name="full_name">{{invoiceDetail.member_detail.alamat_toko}}</div>
                                </div>

                                <label *ngIf="!mci_project">Nama Pemilik</label>
                                <label *ngIf="mci_project">Nama Pelanggan</label>
                                <div name="full_name">{{invoiceDetail.member_detail.nama_pemilik}}</div>

                                <label *ngIf="!mci_project">No. WA Pemilik</label>
                                <label *ngIf="mci_project">No. WA Pelanggan</label>
                                <div name="full_name">{{invoiceDetail.member_detail.no_wa_pemilik}}</div>
                                
                                <div *ngIf="!mci_project">
                                    <label>No. KTP Pemilik</label>
                                    <div name="full_name">{{invoiceDetail.member_detail.ktp_pemilik}}</div>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>Foto KTP Pemilik</label>
                                    <div class="member-detail-image-container">
                                        <ng-container  *ngIf="validURL(invoiceDetail.member_detail.foto_ktp_pemilik); else empty_image">
                                            <a href={{invoiceDetail.member_detail.foto_ktp_pemilik}} target="_blank">
                                                <img *ngIf="checkFileType(invoiceDetail.member_detail.foto_ktp_pemilik) == 'image'" src={{invoiceDetail.member_detail.foto_ktp_pemilik}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(invoiceDetail.member_detail.foto_ktp_pemilik) == 'document'"
                                                    [src]="invoiceDetail.member_detail.foto_ktp_pemilik"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                                <!-- <img src={{invoiceDetail.member_detail.foto_ktp_pemilik}} class="member-detail-image" /> -->
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(invoiceDetail.member_detail.foto_ktp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                        
                                        
                                    </div>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>No. NPWP Pemilik</label>
                                    <div name="full_name">{{invoiceDetail.member_detail.npwp_pemilik}}</div>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>Foto NPWP Pemilik</label>
                                    <div class="member-detail-image-container">
                                        <ng-container  *ngIf="validURL(invoiceDetail.member_detail.foto_npwp_pemilik); else empty_image">
                                            <a href={{invoiceDetail.member_detail.foto_npwp_pemilik}} target="_blank">
                                                <img *ngIf="checkFileType(invoiceDetail.member_detail.foto_npwp_pemilik) == 'image'" src={{invoiceDetail.member_detail.foto_npwp_pemilik}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(invoiceDetail.member_detail.foto_npwp_pemilik) == 'document'"
                                                    [src]="invoiceDetail.member_detail.foto_npwp_pemilik"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                                <!-- <img src={{invoiceDetail.member_detail.foto_npwp_pemilik}} class="member-detail-image" /> -->
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(invoiceDetail.member_detail.foto_npwp_pemilik)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Penerima </h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <div *ngIf="!mci_project">
                                    <label>Hadiah Dikuasakan</label>
                                    <div name="email">{{invoiceDetail.member_detail.hadiah_dikuasakan}}</div>
                                </div>

                                <label>Nama Penerima</label>
                                <div name="email">{{invoiceDetail.member_detail.nama_penerima_gopay}}</div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Jabatan</label>
                                    <div name="jabatan">{{invoiceDetail.member_detail.cluster}}</div>
                                </div>

                                <label>No. WA Penerima</label>
                                <div name="email">{{invoiceDetail.member_detail.no_wa_penerima}}</div>

                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>No. Gopay Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo Gopay, isi dengan No. Gopay Penerima)</div></label>
                                    <div name="email">{{invoiceDetail.member_detail.telp_penerima_gopay}}</div>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>No. E-Wallet Penerima<div style="font-size: 10px;">(Jika hadiah berupa Saldo E-Wallet, isi dengan No. E-Wallet Penerima)</div></label>
                                    <div name="email">{{invoiceDetail.member_detail.telp_penerima_gopay}}</div>
                                </div>

                               <label>Alamat Pengiriman</label>
                               <div name="email">{{invoiceDetail.member_detail.alamat_rumah}}</div>

                               <div *ngIf="!mci_project">
                                    <label>No. KTP Penerima</label>
                                    <div name="email">{{invoiceDetail.member_detail.ktp_penerima}}</div>
                               </div>

                               <div *ngIf="!mci_project">
                                    <label>Foto KTP Penerima</label>
                                    <div class="member-detail-image-container">
                                        <ng-container *ngIf="validURL(invoiceDetail.member_detail.foto_ktp_penerima); else empty_image">
                                            <a href={{invoiceDetail.member_detail.foto_ktp_penerima}} target="_blank" >
                                                <img *ngIf="checkFileType(invoiceDetail.member_detail.foto_ktp_penerima) == 'image'" src={{invoiceDetail.member_detail.foto_ktp_penerima}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(invoiceDetail.member_detail.foto_ktp_penerima) == 'document'"
                                                    [src]="invoiceDetail.member_detail.foto_ktp_penerima"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                            <!-- <img src={{invoiceDetail.member_detail.foto_ktp_penerima}} class="member-detail-image" /> -->
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(invoiceDetail.member_detail.foto_ktp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>No. NPWP Penerima</label>
                                    <div name="email">{{invoiceDetail.member_detail.npwp_penerima}}</div>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>Foto NPWP Penerima</label>
                                    <div class="member-detail-image-container">
                                        <ng-container *ngIf="validURL(invoiceDetail.member_detail.foto_npwp_penerima); else empty_image">
                                            <a href={{invoiceDetail.member_detail.foto_npwp_penerima}} target="_blank">
                                                <img *ngIf="checkFileType(invoiceDetail.member_detail.foto_npwp_penerima) == 'image'" src={{invoiceDetail.member_detail.foto_npwp_penerima}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(invoiceDetail.member_detail.foto_npwp_penerima) == 'document'"
                                                    [src]="invoiceDetail.member_detail.foto_npwp_penerima"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                                <!-- <img src={{invoiceDetail.member_detail.foto_npwp_penerima}} class="member-detail-image" /> -->
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(invoiceDetail.member_detail.foto_npwp_penerima)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Dokumen Lainnya </h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>AWB Number</label>
                                <div class="member-detail-image-container">
                                    <ng-container *ngIf="invoiceDetail.delivery_detail && invoiceDetail.delivery_detail; else empty_image">
                                        <span>{{invoiceDetail.delivery_detail.awb_number}}</span>
                                    </ng-container>
                                </div>

                                <label>No. Invoice</label>
                                <div class="member-detail-image-container">
                                    <ng-container *ngIf="invoiceDetail.invoice_no && invoiceDetail.invoice_no.value; else empty_image">
                                        <span>{{invoiceDetail.invoice_no.value}}</span>
                                    </ng-container>
                                </div>

                                <label>Tanggal Invoice</label>
                                <div class="member-detail-image-container">
                                    <ng-container *ngIf="invoiceDetail.invoice_no && invoiceDetail.invoice_no.created_date; else empty_image">
                                        <span>{{invoiceDetail.invoice_no.created_date}}</span>
                                    </ng-container>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>Foto BAST</label>
                                    <div class="member-detail-image-container">
                                        <ng-container *ngIf="validURL(invoiceDetail.additional_info && invoiceDetail.additional_info.bast && invoiceDetail.additional_info.bast.pic_file_name); else empty_image">
                                            <a href={{invoiceDetail.additional_info.bast.pic_file_name}} target="_blank" >
                                                <img *ngIf="checkFileType(invoiceDetail.additional_info.bast.pic_file_name) == 'image'" src={{invoiceDetail.additional_info.bast.pic_file_name}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(invoiceDetail.additional_info.bast.pic_file_name) == 'document'"
                                                    [src]="invoiceDetail.additional_info.bast.pic_file_name"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                            
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(invoiceDetail.additional_info.bast.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div *ngIf="!mci_project">
                                    <label>Foto Surat Kuasa</label>
                                    <div class="member-detail-image-container">
                                        <ng-container *ngIf="validURL(invoiceDetail.additional_info && invoiceDetail.additional_info.surat_kuasa && invoiceDetail.additional_info.surat_kuasa.pic_file_name); else empty_image">
                                            <a href={{invoiceDetail.additional_info.surat_kuasa.pic_file_name}} target="_blank">
                                                <img *ngIf="checkFileType(invoiceDetail.additional_info.surat_kuasa.pic_file_name) == 'image'" src={{invoiceDetail.additional_info.surat_kuasa.pic_file_name}} class="member-detail-image" />
                                                <pdf-viewer 
                                                    *ngIf="checkFileType(invoiceDetail.additional_info.surat_kuasa.pic_file_name) == 'document'"
                                                    [src]="invoiceDetail.additional_info.surat_kuasa.pic_file_name"
                                                    [render-text]="true"
                                                    [original-size]="false"
                                                    [page] = "1"
                                                    [show-all]="false"
                                                    style="width: 100%; height: 100%">
                                                </pdf-viewer>
                                                <!-- <img src={{invoiceDetail.additional_info.surat_kuasa.pic_file_name}} class="member-detail-image" /> -->
                                            </a>
                                            <div class="btn-download-container">
                                                <button (click)="downloadImage(invoiceDetail.additional_info.surat_kuasa.pic_file_name)" class="btn-download-img"><i class="fa fa-fw fa-download"></i> Download</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>

            </div>
          
            
         </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">
        <div class="text-message">
            <i class="fas fa-ban"></i>
            {{errorMessage}}
        </div>
    </div>
</div>
<div *ngIf="edit">
    <app-finance-invoice-report-edit [back]="[this, 'editThis']" [detail]="invoiceDetail"></app-finance-invoice-report-edit>
</div>

<div *ngIf="isAddDocument">
    <app-list-order [back]="[this, 'addDocument']" [detail]="invoiceDetail"></app-list-order>
</div>

<!-- <div *ngIf="isAddDocument">
    <app-additional-document [back]="[this, 'addDocument']" [detail]="invoiceDetail"></app-additional-document>
</div> -->