<div [@routerTransition]>
  <app-page-header [heading]="'Media'" [icon]="'fa-table'"></app-page-header>
  <h3 style="color: white">File Upload</h3>
            <div class="col-md-3 col-sm-3">
                  <div class="pb-framer">
                              <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">

                              </div>
                              <span *ngIf="progressBar<58&&progressBar>0"> {{cancel?'terminated':progressBar+'%'}} </span>
                              <span class="clr-white" *ngIf="progressBar>58"> {{cancel?'terminated':progressBar+'%'}} </span>

                        </div>

            </div>
            <div class="col-md-3 col-sm-3">
                  <div *ngIf="errorFile"><mark>{{errorFile}}</mark></div>
            </div>
            <img [src]="url" height="200"> <br/>
            <input type="file" (change)="onFileSelected($event)" (change)="onSelectFile($event)" style="color: white"/>
            <button class="btn rounded-btn" (click)="onUpload()">Upload</button>
            <button class="btn rounded-btn-danger" (click)="cancelThis()" >Cancel</button>
            <br><br>

            <!-- <div class="card mb-3">
                        <div class="card-header"><h2>Images</h2> </div>
                        <div class="card-content">
                            <div  class="image">
                                <div class="card">
                                    <div class="card-header"><h3>Big </h3></div>
                                    <div class="card-content">
                                        <img src="{{detail.basename}}"/>
                                    </div>
                                </div>
                              </div>
                        </div>
            </div> -->
  <div *ngIf="Media&&mediaDetail==false">
        <app-form-builder-table
        [table_data]  = "Media"
        [searchCallback]= "[service, 'searchMediaLint',this]"
        [tableFormat] = "tableFormat"
        >

        </app-form-builder-table>
  </div>
  <div *ngIf="mediaDetail">
    <app-media-detail [back]="[this,backToHere]" [detail]="mediaDetail"></app-media-detail>
</div>

</div>

