<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="email-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Email Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Email ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Email ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
             
                             <label>Sender</label>
                             <form-input name="sender_email" [type]="'text'" [placeholder]="'Sender'"  [(ngModel)]="detail.sender_email" autofocus required></form-input>
             
                             <label>Recipient</label>
                             <form-input name="recipient_email" [type]="'text'" [placeholder]="'Recipient'"  [(ngModel)]="detail.recipient_email" autofocus required></form-input>
                            
                             <label>CC Recipient</label>
                             <form-input name="CC" [type]="'text'" [placeholder]="'CC Recipient'"  [(ngModel)]="detail.CC" autofocus required></form-input>

                             <label>Subject</label>
                             <form-input name="subject" [type]="'text'" [placeholder]="'Subject'"  [(ngModel)]="detail.subject" autofocus required></form-input>

                             <label>Body</label>
                             <form-input name="Body" [type]="'text'" [placeholder]="'Body'"  [(ngModel)]="detail.Body" autofocus required></form-input>
                             
                             <label>Email Type</label>
                             <form-input name="email_type" [type]="'text'" [placeholder]="'Email Type'"  [(ngModel)]="detail.email_type" autofocus required></form-input>
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                            <label>Registration Date </label>
                            <form-input  name="registration_date" [disabled]="true" [type]="'text'" [placeholder]="'Registration Date'"  [(ngModel)]="detail.registration_date" autofocus required></form-input>

                            <label>Point Balance </label>
                            <form-input  name="point_balance" [disabled]="true" [type]="'text'" [placeholder]="'Point Balance'"  [(ngModel)]="detail.point_balance" autofocus required></form-input>

                            <label>Activation Code </label>
                            <form-input  name="activation_code" [disabled]="true" [type]="'text'" [placeholder]="'Activation Code'"  [(ngModel)]="detail.activation_code" autofocus required></form-input>

                            <label>Activation Status </label>
                            <div name="activation_status"> {{activation_status}}
                                <form-select name="activation_status" [(ngModel)]="detail.activation_status" [data]="activationStatus" required></form-select> 
                             </div> 
                             
                         </div>
                       
                      </div>
                 </div> 
                 
                </div>-->
            </div>
     
         </div>
    </div>
    
</div>