<div [@routerTransition]>

    <app-page-header [heading]="'Add New Member'" [icon]="'fa-table'"></app-page-header>

    <div>
        <div class="card card-detail">
            <div class="card-header">
                <button class="btn save_button" (click)="formSubmitAddMember()" type="submit"
                    [routerLinkActive]="['router-link-active']" *ngIf="!errorMessage"><i class="fa fa-fw fa-save"
                        style="transform: translate(-3px, -1px)"></i>Submit</button>
                <button class="btn back_button" (click)="backTo()"><i class="fa fa-fw fa-angle-left"></i>Back</button>
            </div>

            <div class="card-content">
                <div class="member-detail">
                    <div class="row" *ngIf="!errorMessage">
                        <div class="col-md-8">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2> Admin Details </h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <label>Full Name</label>
                                        <form-input name="full_name" [(ngModel)]="form.full_name" [type]="'text'" [placeholder]="'Full Name'"
                                            autofocus required>
                                        </form-input>
                                        <div *ngIf="alertFullname" class="empty-alert">Full Name is Required</div>

                                        <label>User Name</label>
                                        <form-input name="username" [(ngModel)]="form.username" [type]="'text'" [placeholder]="'User Name'"
                                            autofocus required>
                                        </form-input>
                                        <div *ngIf="alertUsername" class="empty-alert">Username is Required</div>

                                        <label>Email</label>
                                        <form-input name="email" [(ngModel)]="form.email" [type]="'text'" [placeholder]="'Email'" autofocus
                                            required>
                                        </form-input>
                                        <div *ngIf="alertEmail" class="empty-alert">Email is Required</div>

                                        <label>Password</label>
                                        <form-input name="password" [type]="'password'" [placeholder]="'Password'"
                                            [(ngModel)]="form.password" autofocus required>
                                        </form-input>
                                        <div *ngIf="alertPassword" class="empty-alert">Password is Required</div>

                                        <div class="form-group">
                                            <label>Goup Name</label>
                                            <select class="form-control" name="group_name"
                                                [(ngModel)]="form.group_name">
                                                <option *ngFor="let m of groupNameData" [ngValue]="m.value" selected>
                                                    {{m.label}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="alertGroupname" class="empty-alert">Group Name is Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="error-message">
                        <div class="text-message">
                            <i class="fas fa-ban"></i>
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- <form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)">
                <div class="row">
                    <div class="col-md-6">
                        <label>Full Name</label>
                        <form-input name="full_name" [type]="'text'" [placeholder]="'Full Name'" [(ngModel)]="full_name"
                            required></form-input>

                        <label>Email</label>
                        <form-input name="email" [placeholder]="'Email'" [type]="'text'" [(ngModel)]="email" required>
                        </form-input>

                        <label>Password</label>
                        <form-input name="password" [placeholder]="'Password'" [type]="'password'"
                            [(ngModel)]="password" required></form-input>

                    
                        <label>Cell Phone</label>
                        <form-input name="cell_phone" [placeholder]="'Cell Phone'" [type]="'number'"
                            [(ngModel)]="cell_phone" required></form-input>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>Date of Birth</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="dob"
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <label>City</label>
                        <form-input name="mcity" [placeholder]="'City'" [type]="'text'" [(ngModel)]="mcity" required>
                        </form-input>
                    </div>

                    <div class="col-md-6">
                        <label>State</label>
                        <form-input name="mstate" [placeholder]="'State'" [type]="'text'" [(ngModel)]="mstate" required>
                        </form-input>

                        <label>Country</label>
                        <form-input name="mcountry" [placeholder]="'Country'" [type]="'text'" [(ngModel)]="mcountry"
                            required></form-input>

                        <label>Address</label>
                        <form-input name="maddress1" [placeholder]="'Address'" [type]="'textarea'"
                            [(ngModel)]="maddress1" required></form-input>

                        <label>Post Code</label>
                        <form-input name="mpostcode" [placeholder]="'Post Code'" [type]="'number'"
                            [(ngModel)]="mpostcode" required></form-input>

                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="gender" [(ngModel)]="gender">
                                <option *ngFor="let d of gender_type" value="{{d.value}}">{{d.label}}</option>
                            </select>
                        </div>


                        <label>Marital Status</label>
                        <form-select name="marital_status" [(ngModel)]="marital_status" [data]="marital_status_type">
                        </form-select>

                        <label>Member Type</label>
                        <form-select name="type" [(ngModel)]="type" [data]="member_type"></form-select>
                    </div>
                </div>

            </form> -->
        </div>
    </div>