<div [@routerTransition]>
       
  <app-page-header [heading]="' '" [icon]="'fa-table'"></app-page-header>
  
  <!-- <button (click)="getDownloadFileLint()"><i class="fa fa-file-pdf-o"></i>Download</button> -->
  <!-- <iframe [src]="srcDownload"></iframe> -->
  <div *ngIf="Members&&memberDetail==false&&!errorMessage">
        <app-form-builder-table 
        [tableFormat] = "tableFormat" 
        [table_data]  = "Members" 
        [searchCallback]= "[adminService, 'searchAdminGroup',this]" 
        [total_page]="totalPage"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    <div class="text-message">
      <i class="fas fa-ban"></i>
      {{errorMessage}}
    </div>
  </div>
  <div *ngIf="memberDetail">
    <app-admin-group-detail [back]="[this,backToHere]" [detail]="memberDetail"></app-admin-group-detail>
</div>
 
</div>

 