iframe{
    width:0px;
    height: 0px;
    border:0px medium none;
    visibility: hidden;
}

.error-message {
    background: white;
    height:100vh;
    text-align: center;
    font-size:19px;
    padding-top: 10px;
    
    .text-message {
        background: #E74C3C;
        padding: 20px;
        margin: 0 10px;
    }
}