<div [@routerTransition]>
    <app-page-header [heading]="'Customer Churn Rate (CNR)'" [icon]="'fa-table'" [topBarMenu]="topBarMenu"></app-page-header>
    <div class="summary-report row">
         <div class="col-md-6"  *ngIf="analitycsData.crrData.barChartLabels.length">
            <div class="row-per-card">
                <div class="card ">
                    <div class="card-header">
                            Customer Churn Rate (CNR) Graph
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="analitycsData.crrData.barChartData"
                            [labels]="analitycsData.crrData.barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="'line'" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                    <div class="card-footer">
                            <button class="btn btn-info btn-sm" (click)="onUpdateCart(analitycsData.daily)">Refresh</button>
                        </div> 
                </div>
            </div>     
        </div> 

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:20px; text-align:center;">
                    <div class="card-sum card" *ngIf="data.values">
                        <div class="card-header" id="cardtitle">Customer Churn Rate (CNR) Table</div>
                        <div class="card-body">
                            <table style="text-align:left;">
                            <tr>
                                <th>Date</th>
                                <th>CRN</th>
                                <th>End Total Member</th>
                                <th>Start Total Member</th>
                                <th>Transactions</th>
                            </tr>
                            <tr *ngFor="let data of dataTable">
                                <td>{{data.date}}</td>
                                <td>{{data.CNR}}</td>
                                <td>{{data.end_total_member}}</td>
                                <td>{{data.start_p_total_member}}</td>
                                <td>{{data.trx_today}}</td>
                            </tr>
                            </table>
                        </div>
                    </div>
                
                </div> 
            </div>
        </div>
       




    </div>




</div>