<div *ngIf="data" class="card card-detail">
    <div class="card-header" id="header">
        <button class="btn back_button" (click)="back()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <!-- <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i>
            <span *ngIf="!loading">Save</span>
            <span *ngIf="loading">Please Wait</span>
        </button> -->
    </div>
    <div class="card-content">
        <div class="orderhistoryallhistory-detail">
            <div class="form-group head-one">
                <label class="order-id"><strong>TEST</strong> |
                    <span class="buyer-name" style="color:#0EA8DB"><strong>
                            LO Official</strong></span></label>
            </div>
            <div class="row">
                <div class="form-group col-md-6" style="font-size: 20px;">
                    <label><span style="color: #0EA8DB;font-weight: bold;">Request Date : </span>
                        <strong><span>{{data.created_date | date:'dd MMM yyyy'}}</span><span> |
                            </span>{{data.created_date | date: 'hh:mm:ss a'}}</strong></label>
                </div>

                <!-- <div class="form-group col-md-6">
                                        <label>User ID : {{data._id}} </label>
                                    </div>  -->
            </div>
            <div class="row">
                <!-- <div *ngIf="errorLabel!==false">
                    {{errorLabel}}
                </div> -->

                <div class=" col-md-8">
                    <div class="card mb-3">


                        <div class="card-content">
                            <div class="form-group"><img style="width: 40px;"
                                    src="/assets/images/locard_icon_circle.png" alt="Locard Icon">
                                <span class="buyer-name" style="color:#0EA8DB"><strong>
                                        LO Official</strong></span> </div>
                            <div class="col-md-12">


                                <div class="product-group">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="card mb-2">
                                                <div class="money-container">
                                                    <div class="icon-container">
                                                        <i style="color : #3E8CF3;
                                                background-color: #DAF0FE;" class="icon-my-money-merchant"></i>
                                                    </div>
                                                    <div class="number-container">
                                                        <span>Current Balance</span>
                                                        <br>
                                                        <label
                                                            style="color : #3E8CF3">{{data.prev_balance | currency: 'Rp ' }}</label>
                                                    </div>
                                                </div>
                                                <div class="money-container buyer-detail">
                                                    <div class="icon-container">
                                                        <i style="color : #CB97A3;
                                                    background-color: #FCECEF;" class="icon-my-money-merchant"></i>
                                                    </div>
                                                    <div class="number-container">
                                                        <span>Withdrawal Request</span>
                                                        <br>
                                                        <label
                                                            style="color : #D9446B">{{data.how_much * -1 | currency: 'Rp '}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card mb-2" style="height: 96.5%;">
                                                <div class="card-content">
                                                    <strong>Description :</strong>
                                                    <p>{{data.description}}</p>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                </div>


                                <div class="buyer-detail">
                                    <div class="form-group">
                                        <div class="spacing">
                                            <label id="buyer-detail">Invoice Detail</label>
                                            <table>
                                                <tr>
                                                    <th>Notes</th>
                                                    <th> </th>
                                                </tr>
                                                <tr>
                                                    <td>Penarikan Dana Tunai</td>
                                                    <td>{{data.how_much * -1 | currency: 'Rp '}}</td>
                                                </tr>
                                                <tr>
                                                    <!-- <td>Potongan MDR 30%</td>
                                                    <td>{{data.how_much*30/100 | currency: 'Rp '}}</td> -->
                                                </tr>
                                                <tr>
                                                    <td>Biaya Transfer Bank</td>
                                                    <td><span>Rp .</span></td>
                                                </tr>
                                                <tr>
                                                    <th>Total Penarikan</th>
                                                    <th><span>Rp. </span> </th>
                                                </tr>

                                                <tr>


                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h2>Status</h2>
                            <!-- <button *ngIf="!data.withdrawal_status == 'PENDING' && change" class="save" (click)="saveThis()">Save Change</button> -->
                            <!-- <button *ngIf="orderHistoryDetail.status == 'WAITING FOR CONFIRMATION' && change" class="save" (click)="saveThis()">Save Change</button> -->
                            <!-- <button *ngIf="data.withdrawal_status == 'PENDING' && !change" class="save change"
                                (click)="change = true">Change Status</button> -->

                        </div>
                        <div class="card-content" *ngIf="data.withdrawal_status">
                            <label>Status :
                                <strong><span style="color:#0EA8DB">{{data.withdrawal_status}}
                                    </span></strong></label>
                            <br>
                            <div *ngIf="change">
                                <label>Status</label>
                                <div *ngIf="data.withdrawal_status == 'PENDING' && change" name="transaction_status"
                                    class="status-button-container">

                                    <button class="common-button option paid" (click)="onpaidclick()" target="_blank">
                                        <span *ngIf="isClicked"><i class="material-icons">
                                                done
                                            </i></span>Release</button>
                                    <button class="common-button option cancel" (click)="oncancelclick()"
                                        target="_blank"><span *ngIf="isClicked2"><i class="material-icons">
                                                done
                                            </i></span> Reject</button>
                                </div>
                            </div>
                            <div *ngIf="merchantMode" name="transaction_status">
                                <div class="">
                                    status lagi
                                </div>
                            </div>
               
                        </div>

                        <!-- <div *ngIf="orderHistoryDetail.status == 'WAITING FOR CONFIRMATION'">
                        <span style="text-align: center;">Payer Detail</span>
                        <div class="card-content payer">
                            <table align="center">
                                <th>Payer Name</th>
                                <th>Account Number</th>
                                <th>Payer Note</th>
                                <tr>
                                    <td>{{orderHistoryDetail.payer_detail.payer_name}}</td>
                                    <td>{{orderHistoryDetail.payer_detail.payer_acc_number}}</td>
                                    <td>{{orderHistoryDetail.payer_detail.payment_notes}}</td>
                                </tr>


                            </table>
                        </div>
                    </div> -->

                    </div>
                </div>

                <!-- <div class="card mb-3">
                     
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="orderHistoryDetail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="orderHistoryDetail.cell_phone" autofocus required></form-input>
                            
                             
                         </div>
                       
                      </div>
                 </div>  -->

            </div>
        </div>
    </div>

</div>

