<div [@routerTransition]>
  <app-page-header [heading]="'Order History All History'" [icon]="'fa-table'"></app-page-header>

  <div *ngIf="Orderhistoryallhistory && orderhistoryallhistoryDetail==false && mci_project == false && programType!='custom_kontraktual' && !errorMessage">
        <app-form-builder-table 
        [table_data]="Orderhistoryallhistory"
        [searchCallback]="[service, 'searchAllreportSalesOrder',this]" 
        [tableFormat]="tableFormat"
        [total_page]="totalPage"
        >
        </app-form-builder-table>
  </div>

  <div *ngIf="Orderhistoryallhistory && orderhistoryallhistoryDetail==false && mci_project == true && programType!='custom_kontraktual' && !errorMessage">
      <app-form-builder-table 
      [table_data]="Orderhistoryallhistory"
      [searchCallback]="[service, 'searchAllreportSalesOrder',this]" 
      [tableFormat]="tableFormat2"
      [total_page]="totalPage"
      >
      </app-form-builder-table>
</div>

<div *ngIf="Orderhistoryallhistory && orderhistoryallhistoryDetail==false && mci_project == false && programType=='custom_kontraktual' && !errorMessage">
      <app-form-builder-table 
      [table_data]="Orderhistoryallhistory"
      [searchCallback]="[service, 'searchAllreportSalesOrder',this]" 
      [tableFormat]="tableFormat3"
      [total_page]="totalPage"
      >
      </app-form-builder-table>
</div>

      <div *ngIf="errorMessage" class="error-message">
            <div class="text-message">
            <i class="fas fa-ban"></i>
            {{errorMessage}}
            </div>
      </div>

      <div *ngIf="orderhistoryallhistoryDetail">
            <app-orderhistoryallhistory-edit [back]="[this,backToHere]" [detail]="orderhistoryallhistoryDetail"></app-orderhistoryallhistory-edit>
      </div>

  </div>

