<div class="-container">
<div class="col-md-12">
  <div class="row" style="place-content: center;">
    <div class="col-md-6">
      <h2 style="text-align: center; font-weight:bold;">Withdrawal</h2><br/>
      <div class="alert" *ngIf="errorMessage">
        <span >{{errorMessage}}</span>
      </div>
      <div class="card">
        <img src="/assets/images/withdrawal.png" style="width: 100px;height: auto;">
        <div class="amount">
      My Current Balance <br/>
      <span style="font-size:32px; font-weight: bold;">{{myBalance | currency: 'Rp '}}</span>  
      </div>
      </div>
    </div>
    </div> <br/>
    <div class="row" style="place-content: center;">
    <div class="col-md-6">
      <div class="card">
        <label required><strong>Input Amount*</strong></label>
        <div class="inputs">
        <mat-form-field appearance="legacy"  [hideRequiredMarker]="hideRequiredControl.value"
        [floatLabel]="floatLabelControl.value" style="width:100%;font-size: 25px;">
          <input matInput [(ngModel)]="form.how_much" placeholder="50.000,00" type="number" />
          <span matPrefix>Rp&nbsp;</span>
        </mat-form-field>
        </div>
        <!-- <span>{{form.how_much | currency: 'Rp '}}</span> -->
        <!-- <button class="btn btn-primary">Request</button> -->
        <span style="font-size:12px">*Minimum Withdraw is Rp 50.000,00</span> 
        <span style="font-size:12px">*Max processing 3x24 hours (operational hours)</span> 
        <br/>
        <div>
          <span>Description*</span>
          <textarea class="form-control" style="min-height: 150px;" [(ngModel)]="form.description" required></textarea> <br/>
        </div>
        <div class="button-container">
        <button mat-button matSuffix class="btn btn-primary" id="request" (click)="sendRequest()">Request</button>
      </div>
      </div>
     
    </div>
   
  </div>
</div>
</div>

<div id="myModal" class="modal {{othersForm}}">
  <div class="modal-content">
      <div class="modal-header">
          <span class="close" (click)="closeDialog()">&times;</span>
      </div>
      <div class="modal-body">
          <h3>Enter Your PIN</h3>
          <span><strong> If you enter a wrong PIN 3 times, your pin automatically blocked</strong></span>
               
      </div>
      <div class="modal-body">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
            <span class="forgot" style="margin-top: 20px;color: blue;" (click)="forgotPin()">Forgot your PIN ?</span>
      </div>
      <div class="form-group uploaded" *ngIf="loading">
        <div class="loading">
          <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" *ngIf="!loading" id="button-verify" (click)="confirm()">Confirm</button>
      </div>
  </div>
</div>
























<!-- <div class="_container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          My Current Balance : <strong>{{myBalance | currency: 'Rp '}}</strong> <br />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          How much you want to withdraw ?* 
          <input class="form-control {{formEditable.how_much}}" (focus)="editableForm('how_much', true)"
            (blur)="editableForm('how_much', false)" type="number" name="how_much" [(ngModel)]="form.how_much" /> <br/>
            {{form.how_much | currency: 'Rp '}}
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          Give us some note :
          <textarea class="form-control {{formEditable.description}}" (focus)="editableForm('description', true)"
            (blur)="editableForm('description', false)" type="text" name="description"
            [(ngModel)]="form.description"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="notif error-message">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><button (click)="sendRequest()" class="common-button blue-fill"> Send Request</button></div>
    </div>

  </div>
</div> -->