<div class="card card-detail">
    <input #ktpPemilik type="file" style="display:none" (change)="onFileSelected2($event, 'ktpPemilik')"
    accept="image/x-png,image/gif,image/jpeg,application/pdf"/>
    <input #npwpPemilik type="file" style="display:none" (change)="onFileSelected2($event, 'npwpPemilik')"
    accept="image/x-png,image/gif,image/jpeg,application/pdf"/>
    <input #ktpPenerima type="file" style="display:none" (change)="onFileSelected2($event, 'ktpPenerima')"
    accept="image/x-png,image/gif,image/jpeg,application/pdf"/>
    <input #npwpPenerima type="file" style="display:none" (change)="onFileSelected2($event, 'npwpPenerima')"
    accept="image/x-png,image/gif,image/jpeg,application/pdf"/>

    <ng-container *ngIf="allBast.length > 0">
        <ng-container *ngFor="let item of allBast; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'bast', i)" 
                accept="image/x-png,image/gif,image/jpeg,application/pdf" style="display:none;" [id]="'bast'+i"/>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="allSuratKuasa.length > 0">
        <ng-container *ngFor="let item of allSuratKuasa; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'suratKuasa', i)" 
                accept="image/x-png,image/gif,image/jpeg,application/pdf" style="display:none;" [id]="'suratKuasa'+i"/>
        </ng-container>
    </ng-container>
    
    
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header" *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'"><h2>Data Pemilik</h2></div>
                        <div class="card-header" *ngIf="programType == 'custom_kontraktual'"><h2>Data Entitas</h2></div>
                        <div class="card-header" *ngIf="programType == 'reguler'"><h2>Data Pelanggan</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>ID Pelanggan</label>
                                <form-input  name="id_pel" [disabled]="true" [type]="'text'" [placeholder]="'ID Pelanggan'"  [(ngModel)]="updateSingle.id_pel" autofocus required></form-input>

                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Group</label>
                                    <form-select [(ngModel)]="updateSingle.description" [data]="optionsGroup" *ngIf="updateSingle.description == 'nonupfront' || updateSingle.description == 'upfront' || updateSingle.description == '-'"></form-select>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label>Nama Program</label>
                                    <form-input name="cluster" [(ngModel)]="updateSingle.cluster" [type]="'text'" [placeholder]="'Program/Cluster'" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType == 'reguler'">
                                    <label>Program</label>
                                    <form-input  name="program" [type]="'text'" [placeholder]="'Program'"  [(ngModel)]="updateSingle.description" autofocus required></form-input>
                                </div>
                                
                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Nama Toko</label>
                                    <form-input name="nama_toko"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.nama_toko" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Nama Entitas</label>
                                    <form-input name="nama_toko"  [type]="'text'" [placeholder]="'Nama Entitas'"  [(ngModel)]="updateSingle.nama_toko" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label>Nama Distributor</label>
                                    <form-input name="nama_distributor"  [type]="'text'" [placeholder]="'Nama Distributor'"  [(ngModel)]="sig_kontraktual? 'Semen Indonesia' : updateSingle.nama_distributor" autofocus required></form-input>
                                </div>
                                
                                <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                    <label>Alamat Toko</label>
                                    <form-input name="alamat_toko"  [type]="'text'" [placeholder]="'Alamat Toko'"  [(ngModel)]="updateSingle.alamat_toko" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                    <label>Alamat Entitas</label>
                                    <form-input name="alamat_toko"  [type]="'text'" [placeholder]="'Alamat Entitas'"  [(ngModel)]="updateSingle.alamat_toko" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType == 'reguler'">
                                    <label>ID Bisnis</label>
                                    <form-input name="business_id"  [type]="'text'" [placeholder]="'ID Bisnis'"  [(ngModel)]="updateSingle.business_id" autofocus required></form-input>
                                </div>

                                <label *ngIf="programType == 'custom'">Nama Pemilik</label>
                                <label *ngIf="programType == 'custom_kontraktual'">Nama PIC</label>
                                <label *ngIf="programType == 'reguler'">Nama Pelanggan</label>
                                <form-input name="nama_pemilik"  [type]="'text'" [placeholder]="'Nama Pemilik'"  [(ngModel)]="updateSingle.nama_pemilik" autofocus required></form-input>

                                <div *ngIf="programType == 'reguler'">
                                    <label>No. Telepon Pelanggan</label>
                                    <form-input name="telp_pemilik"  [type]="'text'" [placeholder]="'No. Telepon Pelanggan'"  [(ngModel)]="updateSingle.telp_pemilik" autofocus required></form-input>
                                </div>
                                
                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">No. WA Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">No. WA PIC</label>
                                    <!-- <label *ngIf="mci_project">No. WA Pelanggan</label> -->
                                    <form-input name="no_wa_pemilik"  [type]="'text'" [placeholder]="'No WA Pemilik'"  [(ngModel)]="updateSingle.no_wa_pemilik" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType == 'reguler'">
                                    <label>Email Pelanggan</label>
                                    <form-input name="email"  [type]="'text'" [placeholder]="'Email Pelanggan'"  [(ngModel)]="updateSingle.email" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">No. KTP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">No. KTP PIC</label>
                                    <form-input name="ktp_pemilik"  [type]="'text'" [placeholder]="'No. KTP Pemilik'"  [(ngModel)]="updateSingle.ktp_pemilik" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">Foto KTP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">Foto KTP PIC</label>
                                    <!-- <form-input name="foto_ktp_pemilik"  [type]="'text'" [placeholder]="'KTP Pemilik'"  [(ngModel)]="updateSingle.foto_ktp_pemilik" autofocus required></form-input> -->
                                    <div class="member-detail-image-container">
                                        <div *ngIf="validURL(updateSingle.foto_ktp_pemilik) && !loadingKTPPemilik" class="img-upload">
                                            <img *ngIf="checkFileType(updateSingle.foto_ktp_pemilik) == 'image'" src={{updateSingle.foto_ktp_pemilik}} class="member-detail-image" />
                                            <pdf-viewer 
                                                *ngIf="checkFileType(updateSingle.foto_ktp_pemilik) == 'document'"
                                                [src]="updateSingle.foto_ktp_pemilik"
                                                [render-text]="false"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>
                                        </div>

                                        <div class="form-group uploaded" *ngIf="loadingKTPPemilik">
                                            <div class="loading">
                                            <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <ng-template #empty_image>
                                            <span>
                                                empty
                                            </span>
                                        </ng-template> -->

                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="ktpPemilik.click()">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(updateSingle.foto_ktp_pemilik); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(updateSingle.foto_ktp_pemilik)" class="btn_delete" (click)="deletePhoto('foto_ktp_pemilik', updateSingle.foto_ktp_pemilik)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">No. NPWP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">No. NPWP PIC</label>
                                    <form-input name="npwp_pemilik"  [type]="'text'" [placeholder]="'No. NPWP Pemilik'"  [(ngModel)]="updateSingle.npwp_pemilik" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label *ngIf="programType == 'custom'">Foto NPWP Pemilik</label>
                                    <label *ngIf="programType == 'custom_kontraktual'">Foto NPWP PIC</label>
                                    <!-- <form-input name="foto_npwp_pemilik"  [type]="'text'" [placeholder]="'NPWP Pemilik'"  [(ngModel)]="updateSingle.foto_npwp_pemilik" autofocus required></form-input> -->
                                    <div class="member-detail-image-container">
                                        <div *ngIf="validURL(updateSingle.foto_npwp_pemilik) && !loadingNPWPPemilik" class="img-upload">
                                            <pdf-viewer 
                                                *ngIf="checkFileType(updateSingle.foto_npwp_pemilik) == 'document'"
                                                [src]="updateSingle.foto_npwp_pemilik"
                                                [render-text]="false"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>
                                            <img *ngIf="checkFileType(updateSingle.foto_npwp_pemilik) == 'image'" src={{updateSingle.foto_npwp_pemilik}} class="member-detail-image" />
                                        </div>

                                        <div class="form-group uploaded" *ngIf="loadingNPWPPemilik">
                                            <div class="loading">
                                            <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <ng-template #empty_image>
                                            <span>
                                                empty
                                            </span>
                                        </ng-template> -->
                                        <div class="img-upload">

                                            <button class="btn_upload" (click)="npwpPemilik.click()">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(updateSingle.foto_npwp_pemilik); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(updateSingle.foto_npwp_pemilik)" class="btn_delete" (click)="deletePhoto('foto_npwp_pemilik', updateSingle.foto_npwp_pemilik)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>

                                            <!-- <input [type]="'file'" [id]="'fileUpload'" ref="'file'"/> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Penerima</h2> </div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <div *ngIf="programType != 'reguler'">
                                    <label>Hadiah Dikuasakan</label>
                                    <form-select [(ngModel)]="updateSingle.hadiah_dikuasakan" [data]="optionsKuasa1" *ngIf="updateSingle.hadiah_dikuasakan == 'true' || updateSingle.hadiah_dikuasakan == 'false'"></form-select>
                                    <form-select [(ngModel)]="updateSingle.hadiah_dikuasakan" [data]="optionsKuasa2" *ngIf="updateSingle.hadiah_dikuasakan == 'KUASA' || updateSingle.hadiah_dikuasakan == 'TIDAK KUASA' || updateSingle.hadiah_dikuasakan == '-'"></form-select>
                                    <form-select [(ngModel)]="updateSingle.hadiah_dikuasakan" [data]="optionsKuasa3" *ngIf="updateSingle.hadiah_dikuasakan == 'ya' || updateSingle.hadiah_dikuasakan == 'tidak'"></form-select>
                                

                                    <label>Nama Penerima</label>
                                    <form-input name="nama_penerima_gopay"  [type]="'text'" [placeholder]="'Nama Penerima'"  [(ngModel)]="updateSingle.nama_penerima_gopay" autofocus required></form-input>

                                    <div *ngIf="programType == 'custom_kontraktual'">
                                        <label>Jabatan</label>
                                        <form-input name="description" [(ngModel)]="updateSingle.description" [type]="'text'" [placeholder]="'Group'" autofocus required></form-input>
                                    </div>

                                    <label>No. WA Penerima</label>
                                    <form-input name="no_wa_penerima"  [type]="'text'" [placeholder]="'No. WA Penerima'"  [(ngModel)]="updateSingle.no_wa_penerima" autofocus required></form-input>

                                    <div *ngIf="programType != 'reguler' && programType != 'custom_kontraktual'">
                                        <label>No. Gopay Penerima</label>
                                        <form-input name="telp_penerima_gopay"  [type]="'text'" [placeholder]="'No Gopay Penerima'"  [(ngModel)]="updateSingle.telp_penerima_gopay" autofocus required></form-input>
                                    </div>

                                    <div *ngIf="programType != 'reguler' && programType == 'custom_kontraktual'">
                                        <label>No. E-Wallet Penerima</label>
                                        <form-input name="telp_penerima_gopay"  [type]="'text'" [placeholder]="'No E-Wallet Penerima'"  [(ngModel)]="updateSingle.telp_penerima_gopay" autofocus required></form-input>
                                    </div>
                                    
                                </div>
                                
                                <label>Alamat Pengiriman</label>
                                <form-input name="alamat_rumah"  [type]="'text'" [placeholder]="'Alamat Pengiriman'"  [(ngModel)]="updateSingle.alamat_rumah" autofocus required></form-input>

                                <label>Provinsi</label>
                                <!-- <form-input name="provinsi_rumah"  [type]="'text'" [placeholder]="'Provinsi'"  [(ngModel)]="updateSingle.provinsi_rumah" autofocus required></form-input> -->
                                <div class="ng-autocomplete">
                                    <ng-autocomplete 
                                      [data]="dataProvince"
                                      [(ngModel)]="updateSingle.provinsi_rumah"
                                      [searchKeyword]="keywordProvince"
                                      (selected)='selectEvent($event, "province")'
                                      (inputChanged)='inputRegion($event, "province")'
                                      [itemTemplate]="templateProvince"
                                      [placeHolder]="placeholderProvince"
                                      [isLoading]="loadingProvince">                                 
                                    </ng-autocomplete>
                                    
                                    <ng-template #templateProvince let-item>
                                        <a [innerHTML]="item.province"></a>
                                    </ng-template>
                                </div>

                                <label>Kota</label>
                                <!-- <form-input name="kota_rumah"  [type]="'text'" [placeholder]="'Kota'"  [(ngModel)]="updateSingle.kota_rumah" autofocus required></form-input> -->
                                <div class="ng-autocomplete">
                                    <ng-autocomplete 
                                      [data]="dataCity"
                                      [(ngModel)]="updateSingle.kota_rumah"
                                      [searchKeyword]="keywordCity"
                                      (selected)='selectEvent($event, "city")'
                                      (inputChanged)='inputRegion($event, "city")'
                                      [itemTemplate]="templateCity"
                                      [placeHolder]="placeholderCity"
                                      [isLoading]="loadingCity"
                                      [disabled] = "programType != 'reguler' && !province_code">                                 
                                    </ng-autocomplete>
                                    
                                    <ng-template #templateCity let-item>
                                        <a [innerHTML]="item.city"></a>
                                    </ng-template>
                                </div>

                                <label>Kecamatan</label>
                                <!-- <form-input name="kecamatan_rumah"  [type]="'text'" [placeholder]="'Kecamatan'"  [(ngModel)]="updateSingle.kecamatan_rumah" autofocus required></form-input> -->
                                <div class="ng-autocomplete">
                                    <ng-autocomplete 
                                      [data]="dataSubDistrict"
                                      [(ngModel)]="updateSingle.kecamatan_rumah"
                                      [searchKeyword]="keywordSubDistrict"
                                      (selected)='selectEvent($event, "subdistrict")'
                                      (inputChanged)='inputRegion($event, "subdistrict")'
                                      [itemTemplate]="templateSubDistrict"
                                      [placeHolder]="placeholderSubDistrict"
                                      [isLoading]="loadingSubDistrict"
                                      [disabled] = "programType != 'reguler' && !city_code">                                 
                                    </ng-autocomplete>
                                    
                                    <ng-template #templateSubDistrict let-item>
                                        <a [innerHTML]="item.subdistrict"></a>
                                    </ng-template>
                                </div>

                                <label>Kelurahan</label>
                                <!-- <form-input name="kelurahan_rumah"  [type]="'text'" [placeholder]="'Kelurahan'"  [(ngModel)]="updateSingle.kelurahan_rumah" autofocus required></form-input> -->
                                <div class="ng-autocomplete">
                                    <ng-autocomplete 
                                      [data]="dataVillage"
                                      [(ngModel)]="updateSingle.kelurahan_rumah"
                                      [searchKeyword]="keywordVillage"
                                      (selected)='selectEvent($event, "village")'
                                      (inputChanged)='inputRegion($event, "village")'
                                      [itemTemplate]="templateVillage"
                                      [placeHolder]="placeholderVillage"
                                      [isLoading]="loadingVillage"
                                      [disabled] = "programType != 'reguler' && !subdistrict_code">                                 
                                    </ng-autocomplete>
                                    
                                    <ng-template #templateVillage let-item>
                                        <a [innerHTML]="item.village"></a>
                                    </ng-template>
                                </div>

                                <label>Kode Pos</label>
                                <form-input name="kode_pos_rumah"  [type]="'text'" [placeholder]="'Kode Pos'"  [(ngModel)]="updateSingle.kode_pos_rumah" autofocus required></form-input>

                                <div *ngIf="programType != 'reguler'">
                                    <label>No. KTP Penerima</label>
                                    <form-input name="ktp_penerima"  [type]="'text'" [placeholder]="'No. KTP Penerima'"  [(ngModel)]="updateSingle.ktp_penerima" autofocus required></form-input>
                                </div>

                                <!-- <div *ngIf=mci_project>
                                    <label>Kota Penerima</label>
                                    <form-input name="kota_rumah"  [type]="'text'" [placeholder]="'Kota Penerima'"  [(ngModel)]="updateSingle.kota_rumah" autofocus required></form-input>
                                </div>

                                <div *ngIf=mci_project>
                                    <label>Kode Pos Penerima</label>
                                    <form-input name="kode_pos_rumah"  [type]="'text'" [placeholder]="'Kode Pos Penerima'"  [(ngModel)]="updateSingle.kode_pos_rumah" autofocus required></form-input>
                                </div> -->

                                <div *ngIf="programType != 'reguler'">
                                    <label>Foto KTP Penerima</label>
                                    <!-- <form-input name="foto_ktp_penerima"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.foto_ktp_penerima" autofocus required></form-input> -->
                                    <div class="member-detail-image-container">
                                        <div *ngIf="validURL(updateSingle.foto_ktp_penerima) && !loadingKTPPenerima" class="img-upload">
                                            <pdf-viewer 
                                                *ngIf="checkFileType(updateSingle.foto_ktp_penerima) == 'document'"
                                                [src]="updateSingle.foto_ktp_penerima"
                                                [render-text]="false"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>
                                            <img *ngIf="checkFileType(updateSingle.foto_ktp_penerima) == 'image'" src={{updateSingle.foto_ktp_penerima}} class="member-detail-image" />
                                        </div>

                                        <div class="form-group uploaded" *ngIf="loadingKTPPenerima">
                                            <div class="loading">
                                            <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                            </div>
                                            </div>
                                        </div>

                                        <!-- <ng-template #empty_image>
                                            <span>
                                                empty
                                            </span>
                                        </ng-template> -->
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="ktpPenerima.click()">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(updateSingle.foto_ktp_penerima); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(updateSingle.foto_ktp_penerima)" class="btn_delete" (click)="deletePhoto('foto_ktp_penerima', updateSingle.foto_ktp_penerima)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label>No. NPWP Penerima</label>
                                    <form-input name="npwp_penerima"  [type]="'text'" [placeholder]="'No. NPWP Penerima'"  [(ngModel)]="updateSingle.npwp_penerima" autofocus required></form-input>
                                </div>

                                <div *ngIf="programType != 'reguler'">
                                    <label>Foto NPWP Penerima</label>
                                    <!-- <form-input name="foto_npwp_penerima"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.foto_npwp_penerima" autofocus required></form-input> -->
                                    <div class="member-detail-image-container">
                                        <div *ngIf="validURL(updateSingle.foto_npwp_penerima) && !loadingNPWPPenerima" class="img-upload">
                                            <pdf-viewer 
                                                *ngIf="checkFileType(updateSingle.foto_npwp_penerima) == 'document'"
                                                [src]="updateSingle.foto_npwp_penerima"
                                                [render-text]="false"
                                                [original-size]="false"
                                                [page] = "1"
                                                [show-all]="false"
                                                style="width: 100%; height: 100%">
                                            </pdf-viewer>
                                            <img *ngIf="checkFileType(updateSingle.foto_npwp_penerima) == 'image'" src={{updateSingle.foto_npwp_penerima}} class="member-detail-image" />
                                        </div>

                                        <div class="form-group uploaded" *ngIf="loadingNPWPPenerima">
                                            <div class="loading">
                                            <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <ng-template #empty_image>
                                            <span>
                                                empty
                                            </span>
                                        </ng-template> -->
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="npwpPenerima.click()">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(updateSingle.foto_npwp_penerima); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(updateSingle.foto_npwp_penerima)" class="btn_delete" (click)="deletePhoto('foto_npwp_penerima', updateSingle.foto_npwp_penerima)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Foto</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                
                                <label class="label-bold">Foto BAST</label>
                                <ng-container *ngIf="updateSingle.foto_bast && isArray(updateSingle.foto_bast) && updateSingle.foto_bast.length > 0">
                                        <div class="member-detail-image-container" *ngFor="let itemImage of updateSingle.foto_bast; let i = index">
                                            <div *ngIf="validURL(itemImage.url) && !loadingBAST[i]" class="img-upload">
                                                <img src={{itemImage.url}} class="member-detail-image" />
                                            </div>
        
                                            <div class="form-group uploaded" *ngIf="loadingBAST[i]">
                                                <div class="loading">
                                                  <div class="sk-fading-circle">
                                                    <div class="sk-circle1 sk-circle"></div>
                                                    <div class="sk-circle2 sk-circle"></div>
                                                    <div class="sk-circle3 sk-circle"></div>
                                                    <div class="sk-circle4 sk-circle"></div>
                                                    <div class="sk-circle5 sk-circle"></div>
                                                    <div class="sk-circle6 sk-circle"></div>
                                                    <div class="sk-circle7 sk-circle"></div>
                                                    <div class="sk-circle8 sk-circle"></div>
                                                    <div class="sk-circle9 sk-circle"></div>
                                                    <div class="sk-circle10 sk-circle"></div>
                                                    <div class="sk-circle11 sk-circle"></div>
                                                    <div class="sk-circle12 sk-circle"></div>
                                                  </div>
                                                </div>
                                            </div>
        
                                            <div class="img-upload">
                                                <button class="btn_upload" (click)="openUpload('bast', i)">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span *ngIf="validURL(itemImage.url); else upload_image">Ubah</span>
                                                </button>
                                                <button  *ngIf="validURL(itemImage.url)" class="btn_delete" (click)="deleteImage('bast', i, itemImage.url)">
                                                    <i class="fa fa-fw fa-trash-alt"></i>
                                                    <span>Hapus</span>
                                                </button>
                                            </div>
                                            <div *ngIf="validURL(itemImage.url)" style="text-align: center;">
                                                <span>
                                                    <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                </span>
                                            </div>

                                            <div >
                                                <label>Description</label>
                                                <form-input  name="'descBast'+i" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="updateSingle.foto_bast[i].desc"></form-input>
                                            </div>
                                            
                                        </div>
                                </ng-container>

                                <div class="add-more-container">
                                    <button (click)="addMoreUpload('bast')" class="add-more-image"><i class="fa fa-fw fa-plus-square"></i> Tambah foto BAST</button>
                                </div>
                                
                                <hr/>

                                <label  class="label-bold">Foto Surat Kuasa</label>
                                <ng-container *ngIf="updateSingle.foto_surat_kuasa && isArray(updateSingle.foto_surat_kuasa) && updateSingle.foto_surat_kuasa.length > 0">
                                    <div class="member-detail-image-container"  *ngFor="let itemImage of updateSingle.foto_surat_kuasa; let i = index">
                                        <div *ngIf="validURL(itemImage.url) && !loadingSuratKuasa[i]" class="img-upload">
                                            <img src={{itemImage.url}} class="member-detail-image" />
                                        </div>
    
                                        <div class="form-group uploaded" *ngIf="loadingSuratKuasa[i]">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                          </div>
    
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="openUpload('suratKuasa', i)">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(itemImage.url); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(itemImage.url)" class="btn_delete" (click)="deleteImage('suratKuasa', i, itemImage.url)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>
                                        </div>

                                        <div *ngIf="validURL(itemImage.url)" style="text-align: center;">
                                            <span>
                                                <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                            </span>
                                        </div>

                                        <div >
                                            <label>Description</label>
                                            <form-input  name="'descSuratKuasa'+i" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="updateSingle.foto_surat_kuasa[i].desc"></form-input>
                                        </div>

                                    </div>
                                </ng-container>

                                <div class="add-more-container">
                                    <button (click)="addMoreUpload('suratKuasa')" class="add-more-image"><i class="fa fa-fw fa-plus-square"></i> Tambah foto Surat Kuasa</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
     
         </div>
    </div>
    <ng-template #upload_image>
        <span>
            upload
        </span>
    </ng-template>
</div>