<app-header></app-header>
<app-admin-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-admin-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
    <router-outlet></router-outlet>
</section>
