.summary-report{
    .card.sum{
        // width: calc(100% / 3);

    }
    .row-per-card{
        margin-bottom: 20px;
    }
    table{
        border-collapse: collapse;
        border: 1px solid #ccc;
        width: 100%;
        text-align: center;
        th{
            // background: #333;
            // color: white;
            font-weight: bold;
        }
        tr:nth-child(odd) td{
            background-color: #f0f0f0;
        }
        td, th{
            border: 1px solid #ccc;
            padding: 4px 15px;
        }
        td{
            font-size: 12px;

        }

    }
}