<div [@routerTransition]>

  <app-page-header [heading]="'Add New Outlet'" [icon]="'fa-table'"></app-page-header>

  <div>
    <div class="card card-detail">
      <div class="card-header">
        <button class="btn save_button" type="submit"
          [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-save"
            style="transform: translate(-3px,-1px)"></i>Submit</button>
        <button class="btn secondary_button" (click)="backTo()"><i class="fa fa-fw fa-angle-left"></i>Back</button> </div>

      <div class="card-content">
        <div class="moutlet-detail">
          <div class="row">
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-header">
                  <h2> Add New Outlet </h2>
                </div>
                <div class="card-content">
                  <div class="col-md-12">
                    <label>Outlet Name</label>
                    <form-input name="outlet_name" [type]="'text'" [placeholder]="'Outlet Name'" [(ngModel)]="outlet_name"
                      required></form-input>

                    <label>Outlet Code</label>
                    <form-input name="outlet_code" [placeholder]="'Outlet Code'" [type]="'text'" [(ngModel)]="outlet_code"
                      required></form-input>

                    <label>Outlet Type</label>
                    <form-input name="outlet_type" [placeholder]="'Outlet Type'" [type]="'text'"
                      [(ngModel)]="outlet_type" required></form-input>

                    <label>Outlet ID</label>
                    <form-input name="id" [placeholder]="'Outlet ID'" [type]="'text'" [(ngModel)]="id" required>
                    </form-input>

                    <label>Organization ID</label>
                    <form-input name="org_id" [placeholder]="'Organization ID'" [type]="'text'" [(ngModel)]="org_id"
                      required></form-input>

                    <label>Terminal ID</label>
                    <form-input name="terminal_id" [type]="'text'" [placeholder]="'Terminal ID'"
                      [(ngModel)]="terminal_id" required></form-input>

                    <label>City</label>
                    <form-input name="city" [placeholder]="'City'" [type]="'text'" [(ngModel)]="city" required>
                    </form-input>

                    <label>State</label>
                    <form-input name="state" [placeholder]="'State'" [type]="'text'" [(ngModel)]="state" required>
                    </form-input>

                    <label>Country</label>
                    <form-input name="country" [placeholder]="'Country'" [type]="'text'" [(ngModel)]="country" required>
                    </form-input>

                    <label>Address1</label>
                    <form-input name="address1" [placeholder]="'Address1'" [type]="'textarea'" [(ngModel)]="address1"
                      required></form-input>

                    <label>Address2</label>
                    <form-input name="address2" [placeholder]="'Address2'" [type]="'textarea'" [(ngModel)]="address2"
                      required></form-input>

                    <label>Address3</label>
                    <form-input name="address2" [placeholder]="'Address3'" [type]="'textarea'" [(ngModel)]="address3"
                      required></form-input>

                    <label>Postal Code</label>
                    <form-input name="postal_code" [placeholder]="'Postal Code'" [type]="'text'"
                      [(ngModel)]="postal_code" required></form-input>

                  </div>
                </div>
              </div>
            </div>
            <div class=" col-md-4">
              <div class="card mb-3">
                <div class="card-header">
                  <h2>Outlet &amp; Data</h2>
                </div>
                <div class="card-content">
                  <div class="col-md-12">

                    <label>Status</label> {{status}}
                    <select name="status" [(ngModel)]="status">
                      <option *ngFor="let e of outletStatus" [ngValue]="e.value">{{e.label}}</option>
                    </select>
                    <br />
                    <br />


                    <label>PIN Number</label>
                    <form-input name="pin_number" [placeholder]="'PIN Number'" [type]="'password'"
                      [(ngModel)]="pin_number" required></form-input>

                    <label>Support No</label>
                    <form-input name="support_no" [placeholder]="'Support No'" [type]="'text'" [(ngModel)]="support_no"
                      required></form-input>

                    <label>Contact Person</label>
                    <form-input name="contact_person" [placeholder]="'Contact Person'" [type]="'number'"
                      [(ngModel)]="contact_person" required></form-input>

                    <label>Email</label>
                    <form-input name="email" [placeholder]="'Email'" [type]="'text'" [(ngModel)]="email" required>
                    </form-input>

                    <label>Work Phone</label>
                    <form-input name="work_phone" [placeholder]="'Work Phone'" [type]="'number'" [(ngModel)]="work_phone"
                      required></form-input>

                    <label>Cell Phone</label>
                    <form-input name="cell_phone" [placeholder]="'Cell Phone'" [type]="'number'" [(ngModel)]="cell_phone"
                      required></form-input>

                    <label>Fax Phone</label>
                    <form-input name="fax_phone" [placeholder]="'Fax Phone'" [type]="'number'" [(ngModel)]="fax_phone"
                      required></form-input>

                    <label>URL</label>
                    <form-input name="base_url" [placeholder]="'URL'" [type]="'text'" [(ngModel)]="base_url" required>
                    </form-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>