<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="courierservicepage-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Courier Service Page Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <!-- <label>Order History ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Order History ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
             
                             <label>Shopping Cart ID</label>
                             <form-input  name="shoppingcart_id" [disabled]="true" [type]="'text'" [placeholder]="'Shopping Cart ID'"  [(ngModel)]="detail.shoppingcart_id" autofocus required></form-input>
             
                             <label>Name</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="detail.name" autofocus required></form-input>
             
                             <label>Color</label>
                             <form-input name="color" [type]="'text'" [placeholder]="'Color'"  [(ngModel)]="detail.color" autofocus required></form-input>

                             <label>Status</label>
                             <form-input  name="status" [disabled]="true" [type]="'text'" [placeholder]="'Status'"  [(ngModel)]="detail.status" autofocus required></form-input>

                             <label>Total Price</label>
                             <form-input name="total_price" [type]="'number'" [placeholder]="'Total Price'"  [(ngModel)]="detail.total_price" autofocus required></form-input>
                             
                             <label>Total Quantity</label>
                             <form-input name="total_quantity" [type]="'number'" [placeholder]="'Total Quantity'"  [(ngModel)]="detail.total_quantity" autofocus required></form-input>

                             <label>Transaction Status</label>
                             <div name="transaction_status"> {{transaction_status}}
                                <form-select name="transaction_status" [(ngModel)]="detail.transaction_status" [data]="transactionStatus" required></form-select> 
                             </div>  -->

                             <label>Courier ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Courier ID'"  [(ngModel)]="detail._id" autofocus required></form-input>

                             <label>Courier Name</label>
                             <form-input  name="courier" [type]="'text'" [placeholder]="'Courier'"  [(ngModel)]="detail.courier" autofocus required></form-input>

                             <label>Exp date</label>
                             <form-input  name="exp_date" [type]="'text'" [placeholder]="'Exp date'"  [(ngModel)]="detail.exp_date" autofocus required></form-input>

                             <label>Created date</label>
                             <form-input  name="created_date" [disabled]="true" [type]="'text'" [placeholder]="'Created date'"  [(ngModel)]="detail.created_date" autofocus required></form-input>

                             <label>Updated date</label>
                             <form-input  name="updated_date" [type]="'text'" [placeholder]="'Updated date'"  [(ngModel)]="detail.updated_date" autofocus required></form-input>

                             <label>Courier code</label>
                             <form-input  name="courier_code" [disabled]="true" [type]="'text'" [placeholder]="'Courier code'"  [(ngModel)]="detail.courier_code" autofocus required></form-input>

                             <label>Api key</label>
                             <form-input  name="api_key" [disabled]="true" [type]="'text'" [placeholder]="'Api key'"  [(ngModel)]="detail.api_key" autofocus required></form-input>

                             <label>Created by</label>
                             <form-input  name="created_by" [type]="'text'" [placeholder]="'Created by'"  [(ngModel)]="detail.created_by" autofocus required></form-input>

                             <label>Created at</label>
                             <form-input  name="created_at" [type]="'text'" [placeholder]="'Created at'"  [(ngModel)]="detail.created_at" autofocus required></form-input>

                             <label>Updated by</label>
                             <form-input  name="updated_by" [type]="'text'" [placeholder]="'Updated by'"  [(ngModel)]="detail.updated_by" autofocus required></form-input>

                             <label>Updated at</label>
                             <form-input  name="updated_at" [type]="'text'" [placeholder]="'Updated at'"  [(ngModel)]="detail.updated_at" autofocus required></form-input>

                            
                         </div>
                         <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                            <label>Registration Date </label>
                            <form-input  name="registration_date" [disabled]="true" [type]="'text'" [placeholder]="'Registration Date'"  [(ngModel)]="detail.registration_date" autofocus required></form-input>

                            <label>Point Balance </label>
                            <form-input  name="point_balance" [disabled]="true" [type]="'text'" [placeholder]="'Point Balance'"  [(ngModel)]="detail.point_balance" autofocus required></form-input>

                            <label>Activation Code </label>
                            <form-input  name="activation_code" [disabled]="true" [type]="'text'" [placeholder]="'Activation Code'"  [(ngModel)]="detail.activation_code" autofocus required></form-input>

                            <label>Activation Status </label>
                            <div name="activation_status"> {{activation_status}}
                                <form-select name="activation_status" [(ngModel)]="detail.activation_status" [data]="activationStatus" required></form-select> 
                             </div> 
                             
                         </div>
                       
                      </div>
                 </div> 
                 
                </div>-->
            </div>
     
         </div>
    </div>
    
</div>