@import url('./../assets/fonts/leaguespartan/stylesheet.css');

@media print{
    .dev-mode{
        display: none;
    }
}

.development-mode {
    .dev-mode {
        background-color: darkcyan;
        width: 100%;
        top: 0px;
        position: fixed;
        text-align: center;
        color: white;
        z-index: 99;

    }

    div.dev-mode h5 {
        font-size: 12px;
        font-weight: bold;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        margin-bottom: 0px;
    }

}

.production {
    .dev-mode {
        display: none;
    }
}

.multiselect-dropdown .dropdown-btn {
    background-color: white;
}

.dev-mode-merchant-portal {
    margin-top: 25px;

    #merchant-portal {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: calc(100vh - 25px);
        left: 0px;
        top: 25px;
    }
}
