.pb-framer{
    text-align: center;
    position: relative;
    height: 25px;
    color: #e67e22;
    .progressbar{
        overflow: hidden;
        background: #3498db;
        position: absolute;
        height: 25px;
        z-index: -1;
    }
    .terminated.progressbar{
        background-color: red;
    }
    .clr-white{
        color: white;
    }
}

label{
    color: white;
}

.ng-pristine{
    color: white !important;
}

.rounded-btn {
    -webkit-border-radius: 70px;
    border-radius: 70px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 40px;
    background: #56a4ff;
margin-left: 40%;
margin-right: 40%;
}
.rounded-btn:hover {
    background: darken(#56A4FF, 15%);
    // border: 2px solid blue;
    outline: none;
}

.auto-name{
    width: 152% !important;
}

.ng-pristine{
    color: black !important;
    width: 100%;
    border-radius: 5px;
    padding: 6px 12px;
}