<div [@routerTransition]>

  <app-page-header [heading]="'Generate Promo'" [icon]="'fa-table'"></app-page-header>

  <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddEvoucher(form.value)">
      <div class="col-md-6">
        <!-- <label>E-Voucher Name</label>
          <div class="ng-autocomplete">
            
            <ng-autocomplete class="auto-name" [(ngModel)]="product_code_data"
              [data]="product_code_data">                                 
            </ng-autocomplete> -->

        <!-- <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
            </ng-template>
             
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
            </div> -->

        <br>
        <label>Campaign Name</label>
        <form-input name="qty" [placeholder]="'Name'" [type]="'text'"></form-input>
        <label>Campaign Code</label>
        <form-input name="qty" [placeholder]="'Code'" [type]="'text'"></form-input>

        <label>Campaign Description</label>
        <form-input name="qty" [placeholder]="'Description'" [type]="'text'"></form-input>
        <label>Campaign Calculation Type</label>
        <select class="form-control" >
          <option *ngFor="let option of type"  value="{{option.value}}">{{option.label}}</option>
        </select>
        <label>Category</label>
        <select class="form-control" >
          <option *ngFor="let option of category"  value="{{option.value}}">{{option.label}}</option>
        </select>
        <label>Discount Limit</label>
        <form-input name="qty" [placeholder]="'Title'" [type]="'number'"></form-input>
        <label>Start Date</label>
        <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker" (focus)="d.open()"
           />
        <label>End Date</label>
        <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker" (focus)="d.open()"
        />
        <label>Campaign Rule</label>
        <select class="form-control" >
          <option *ngFor="let option of category"  value="{{option.value}}">{{option.label}}</option>
        </select>
        <label>Active</label>
        <select class="form-control" >
          <option *ngFor="let option of status"  value="{{option.value}}">{{option.label}}</option>
        </select>
        <label>Use Campaign</label>
        <select class="form-control" >
          <option *ngFor="let option of use"  value="{{option.value}}">{{option.label}}</option>
        </select>
        <!-- <label>Choose Promo</label> -->
        <!-- <form-select name="product_code" [(ngModel)]="selectedLevel" (change)="selected()" [data]="product_code_data" required>
          </form-select> -->

        <br>
        <button class="btn rounded-btn" type="submit" [disabled]="form.pristine"
          [routerLinkActive]="['router-link-active']">Submit</button>
        <!-- routerLink="/evoucheradmin" -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </form>
  </div>

</div>