.pb-framer {
  text-align: center;
  position: relative;
  height: 25px;
  color: #e67e22;
  .progressbar {
    overflow: hidden;
    background: #3498db;
    position: absolute;
    height: 25px;
    z-index: -1;
  }
  .terminated.progressbar {
    background-color: red;
  }
  .clr-white {
    color: white;
  }
}

h1 {
  color: white;
}

mark {
  background-color: #dc3545;
  color: white;
}

.rounded-btn {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding: 0 15px;
  background: #56a4ff;
}
.rounded-btn:hover {
  background: darken(#56a4ff, 15%);
  // border: 2px solid blue;
  outline: none;
}

.rounded-btn-danger {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding: 0 15px;
  background: #dc3545;
}
.rounded-btn-danger:hover {
  background: darken(#dc3545, 15%);
  // border: 2px solid blue;
  outline: none;
}

@media screen and (max-width: 992px) {
  .rounded-btn {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    line-height: 30px;
    padding: 0 12px;
    background: #56a4ff;
    margin-left: 25%;
    margin-top: 10px;
    margin-right: 10px;
  }
  .rounded-btn:hover {
    background: darken(#56a4ff, 15%);
    // border: 2px solid blue;
    outline: none;
  }

  .rounded-btn-danger {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    line-height: 30px;
    padding: 0 12px;
    background: #dc3545;
    margin-right: 25%;
    margin-top: 10px;
  }
  .rounded-btn-danger:hover {
    background: darken(#dc3545, 15%);
    // border: 2px solid blue;
    outline: none;
  }
}

.modal.false {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.true{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align:center;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.btn-color{
  color:white;
  width: auto;
  padding: 5px 12px;
  height: 50px;
  border-radius: 10px;
  background: limegreen;
}

#inputan{
   margin-bottom:10px;
   width: 80%;
  position:center 
}

.error-message {
  background: white;
  height:100vh;
  text-align: center;
  font-size:26px;
  padding-top: 12px;

  .text-message {
      background: #E74C3C;
      padding: 20px;
      margin: 0 10px;
  }
}