.card-detail{
    >.card-header{
        position: relative;
        .back_button{
            // position: absolute;
            margin-top: -4px;
            margin-left: -10px;
            background-color: transparent;
            color: #555;
            height: 30px;
            
            padding: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            i{
                font-weight: bold;
            }
        }
        .save_button{
            position: absolute;
            top: 7px;
            background-color: #3498db;
            color: #fff;
            height: 30px;
            
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            i{
                font-weight: bold;
            }
            right: 10px;
        }
        .save_button.true{
            background-color: #e67e22;
        }
    }
    .card-content{
        padding: 15px;
       
        >.col-md-12{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
    h1{
        font-size: 18px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-bottom: 0px;
    }
    .member-detail{
       
        label{
            margin-top: 10px;
        }
        label+div{
            background: #f0f0f0;
            font-weight:norma;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            min-height: 27px;
            font-size: 12px;
            color: #666;
        }
        .image{
            overflow: hidden;
            >div{
                width: 33.3333%;
                padding: 5px;
                float: left;
            }
            .card-header{
                background-color: #f0f0f0;
            }
            h3{
                font-size: 12px;
                margin-bottom: 0px;
                color: #555;
            }
            .card-content{
                overflow: hidden;
                width: 100%;
                height: auto;
                img{
                    max-width: 100%;
                    width: 100%;
    
                }
            }
        }

        .card-header{ 
            background-color: #555;
            h2{
                color: white;
                font-size: 15px;
                line-height: unset;
                height: unset;
                margin: 0px;
                text-transform: capitalize;
        
            }
        }
    }
}

.member-detail-image-container {
    background: #f0f0f0;
    font-weight: norma;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    min-height: 27px;
    font-size: 12px;
    color: #666;
    .img-upload {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:20px 10px;

        .member-detail-image {
            width:200px;
            max-height: 200px;
            object-fit: contain;
        }
    }

    .form-group.uploaded {
        position: relative;
        margin-bottom: 0px;
        height: 100%;
        .loading {
            height: 100%;
            // background-color: #000;
            width:100%;
            .sk-fading-circle {
                // background-color:red;
                top: 50%;
            }
        }
    }

}

button.btn_upload, button.add-more-image, button.btn_delete {
    background-color: #3498db;
    color: #fff;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border:0;
    cursor:pointer;
}

button.btn_delete{
    background-color: salmon;
}

.add-more-container {
    display:flex;
    width:100%;
    align-items:center;
    justify-content: center;
}

.label-bold {
    font-weight: 600;
}

.rounded-btn {
    margin-top: 20px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 40px;
    background: #56a4ff;
    // margin-left: 40%;
    // margin-right: 50%;
}

.rounded-btn-danger {
    margin-top: 20px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 40px;
    color: #555;
    margin-left: 10px;
}
.rounded-btn:hover {
    background: darken(#56A4FF, 15%);
    // border: 2px solid blue;
    outline: none;
}

.member-detail-image-container {
    background: #f0f0f0;
    font-weight: norma;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    min-height: 27px;
    font-size: 12px;
    color: #666;
    .img-upload {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:20px 10px;

        .member-detail-image {
            width:200px;
            max-height: 200px;
            object-fit: contain;
        }
    }

    .form-group.uploaded {
        position: relative;
        margin-bottom: 0px;
        height: 100%;
        .loading {
            height: 100%;
            // background-color: #000;
            width:100%;
            .sk-fading-circle {
                // background-color:red;
                top: 50%;
            }
        }
    }

}

button.btn_upload, button.add-more-image, button.btn_delete {
    background-color: #3498db;
    color: #fff;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border:0;
    cursor:pointer;
}

button.btn-change-password {
    width: 100%;
}

button.btn_delete{
    background-color: salmon;
}

.add-more-container {
    display:flex;
    width:100%;
    align-items:center;
    justify-content: center;
}

.label-bold {
    font-weight: 600;
}

.error-msg-upload {
    margin-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container-two-button {
    display: flex;
}

.file-selected {
    color: red;
}

.btn-add-bulk {
    margin-bottom: 20px;
}

.btn-upload {
    margin-right: 10px;
}

.member-detail-image-container {
    background: #f0f0f0;
    font-weight: normal;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    min-height: 27px;
    font-size: 12px;
    color: #666;
    img {
        width: 100%;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        .member-detail-image {
            width:200px;
            max-height: 200px;
            object-fit: contain;
        }
    }
    .btn-download-container {
        margin-top:5px;
        margin-bottom:5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-upload {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:20px 10px;

        .member-detail-image {
            width:200px;
            max-height: 200px;
            object-fit: contain;
        }
    }
}

button.btn-download-img {
    margin-top:10px;
    background-color: #3498db;
    color: #fff;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border:0;
    cursor:pointer;
}

.edit_button{
    position: absolute;
    top: 7px;
    // background-color: #555;
    color: #fff;
    height: 30px;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-weight: bold;
    }
    right: 10px;
}
.btn-right {
    background-color: #555;
    color: #fff;
    height: 30px;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.error-message {
    background: white;
    height:100vh;
    text-align: center;
    font-size:26px;
    padding-top: 10px;

    .text-message {
        background: #E74C3C;
        padding: 20px;
        margin: 0 10px;
    }
}