<div class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="category-detail">
    
            <div class="row">
             <div class=" col-md-8" *ngIf="detail">
                 <div class="card mb-3">
                     <div class="card-header"><h2> Edit Category Details </h2></div>
                     <div class="card-content" id="name">
                         <div class="col-md-12">
                             <label>Category ID</label>
                             <form-input  name="_id" [disabled]="true" [type]="'text'" [placeholder]="'Category ID'"  [(ngModel)]="detail._id" autofocus required></form-input>
             
                             <label>Name</label>
                             <form-input name="name" [type]="'text'" [placeholder]="'Name'"  [(ngModel)]="detail.name" autofocus required></form-input>
                             <div *ngIf="nameAlert" class="red-error-alert">*nama kategory tidak boleh kosong</div>

                             <label>Type</label>
                             <form-select [(ngModel)]="detail.type" name="type" [data]="categoryType" [ngClass]="typeAlert? 'red-alert' : ''"></form-select>
                             <div *ngIf="typeAlert" class="red-error-alert">*tipe kategory tidak boleh kosong</div>

                             <label>Code</label>
                             <form-input name="code" [type]="'text'" [placeholder]="'Code'"  [(ngModel)]="detail.code" autofocus required [disabled]="true"></form-input>
                             <div *ngIf="codeAlert" class="red-error-alert">*code kategory tidak boleh kosong</div>

                             <label>Key</label>
                             <form-input name="key" [type]="'text'" [placeholder]="'Key'"  [(ngModel)]="detail.key" autofocus required [disabled]="true"></form-input>
                             <div *ngIf="keyAlert" class="red-error-alert">*key kategory tidak boleh kosong</div>
                         </div>
                         <!-- <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div> -->
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                            <label>Email </label>
                            <form-input name="email" [type]="'text'" [placeholder]="'Email'"  [(ngModel)]="detail.email" autofocus required></form-input>

                            <label>Cell Phone </label>
                            <form-input name="cell_phone" [type]="'text'" [placeholder]="'Cell Phone'"  [(ngModel)]="detail.cell_phone" autofocus required></form-input>
                            
                            <label>Registration Date </label>
                            <form-input  name="registration_date" [disabled]="true" [type]="'text'" [placeholder]="'Registration Date'"  [(ngModel)]="detail.registration_date" autofocus required></form-input>

                            <label>Point Balance </label>
                            <form-input  name="point_balance" [disabled]="true" [type]="'text'" [placeholder]="'Point Balance'"  [(ngModel)]="detail.point_balance" autofocus required></form-input>

                            <label>Activation Code </label>
                            <form-input  name="activation_code" [disabled]="true" [type]="'text'" [placeholder]="'Activation Code'"  [(ngModel)]="detail.activation_code" autofocus required></form-input>

                            <label>Activation Status </label>
                            <div name="activation_status"> {{activation_status}}
                                <form-select name="activation_status" [(ngModel)]="detail.activation_status" [data]="activationStatus" required></form-select> 
                             </div> 
                             
                         </div>
                       
                      </div>
                 </div> 
                 
                </div>-->
            </div>
     
         </div>
    </div>
    
</div>