<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Admin Panel Locard V2.0 Angular 5</h1>
            <!-- <form role="form"> -->
                <!----<form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)">
                <-- <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                    </div>
                </div> -->
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp; -->
                <!-- <a class="btn rounded-btn" [routerLink]="['/login']"> Register </a>&nbsp; -->
                <!-- <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a> -->
            <!----</form> -->

            <form #form="ngForm" (ngSubmit)="formSubmitAddMember(form.value)">
                    <div class="form-content">
                        <div class="form-group">
                                <form-input name="full_name" [type]="'text'" [placeholder]="'Full Name'"  [(ngModel)]="full_name" required></form-input>
                        </div>
                        <div class="form-group">
                                <form-input name="email" [placeholder]="'Email'"  [type]="'text'" [(ngModel)]="email" required></form-input>
                        </div>
                        <div class="form-group">
                                <form-input name="password" [placeholder]="'Password'"  [type]="'password'" [(ngModel)]="password" required></form-input>
                        </div>
                        <div class="form-group">
                                <form-input name="password" [placeholder]="'Repeat Password'"  [type]="'password'" [(ngModel)]="repeatPassword" required></form-input>
                        </div>
                        <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                        </div>
                    </div>
                      
                      <button class="btn" type="submit" class="btn rounded-btn" [disabled]="form.pristine" (click)="formSubmitAddMember(form.value)">Register</button>&nbsp; 
                      <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                      
                    </form>
        </div>
    </div>
</div>
