<div class="col-md-12"><h2><strong>PRODUCT LIST</strong></h2></div>
<div class="col-md-12 col-xs-12">
  <div class="card">
    <div class="innner-card">
<div class="nav toolbar">
  
  <div class="container-swapper-option">
    <span style="margin-right: 10px;">View  </span> 
    <div class="button-container">
  <button class="btn toolbar {{swaper}}" (click)="swapClick(true)">
    <span class="fa fa-grip-horizontal"></span>
  </button>
  <button class="btn toolbar {{!swaper}}" (click)="swapClick(false)">
    <span class="fa fa-table"></span>
  </button>
</div>
</div>
<div class="option-container">
<div class="search">
  <span> Search </span>
<input id="search_text" type="text" (keyup)="search($event)" placeholder="All Products" >
</div>

</div>
<div class="option-container">
  <div class="search">
    <select  [(ngModel)]="orderBy" (change)="orderBySelected()">
      <option *ngFor="let s of sortBy" [ngValue]="s.value">{{s.name}}</option>
    </select> 
  </div>
  <div class="search">
    <select  [(ngModel)]="filteredBy" (change)="orderBySelected()">
      <option *ngFor="let s of filterBy" [ngValue]="s.value">{{s.name}}</option>
    </select>
  </div>
  <button class="common-button blue-fill" style="background-color: #007bff;" (click)="addProduct()">
 
    Add Product
    <span class="fa fa-plus"></span>
  </button>
  <button class="common-button blue-fill" style="background-color: #007bff;" (click)="addProductBulk()">
 
    Add Products (Bulk)
    <!-- <span class="fa fa-plus"></span> -->
  </button>
</div> 
</div>

<div class="_container">
  <div *ngIf="swaper" class="grid-view">
    <div class="form-group uploaded" *ngIf="loading">
      <div class="loading">
          <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
          </div>
      </div>
  </div>
   <div *ngIf="!loading">
    <div class="col-md-2" *ngFor="let c of Products" (click)="openDetail(c._id)">
      <div class="card">
      <div class="img-wrapper">
        <div class="img" [ngStyle]="{'background-image':'url('+(c.base_url+c.pic_medium_path)+')'}">
        </div>
      </div>
      <div class="info">
        <div class="text">{{c.product_name}} </div>
        <div class="price">{{c.fixed_price | currency: 'Rp '}}</div>
      </div>
    </div>
    </div></div>
  </div>
  <div *ngIf="swaper && Products" class="grid-view-pagination">
    <ngb-pagination [collectionSize]="valueAll" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true"
      [ellipses]="true" (pageChange)="loadPage($event)"
      (pageBoundsCorrection)="loadPage($event)"
>
      <ng-template ngbPaginationFirst>&lt;&lt;</ng-template>
      <ng-template ngbPaginationLast>&gt;&gt;</ng-template>
      <ng-template ngbPaginationPrevious>&lt;</ng-template>
      <ng-template ngbPaginationNext>&gt;</ng-template>
    </ngb-pagination>
  </div>
  <div *ngIf='!swaper'>
    <app-form-builder-table 
      [table_data]="Products" 
      [searchCallback]="[service,'searchProductsReportLint',this]"
      [tableFormat]="tableFormat"
      [total_page]="totalPage">
    </app-form-builder-table>
  </div>
  
</div>
</div>
</div>
</div>