:host {
  position: absolute;
  width: 100%;
  left: 0px;
  font-family: "Poppins";
  // top: 5vw;
}

$speed: "0.25s";
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);
*:focus {
  box-shadow: unset;
  
}
.col-md-12 {
  padding: 3vh 3vw;
  > .card {
    padding: 3vh 3vw;
    
  }
}
.option-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
div,
span:not(.fa) {
  font-family: "Poppins";
}
._container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav.toolbar {
  background: white;
  color: black;
  height: 35px;
  padding: 0px 8px;
  vertical-align: middle;
  margin-bottom: 30px;
  justify-content: space-between;
  .search {
    margin-right: 20px;
      input{
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: red;
            opacity: 1; /* Firefox */
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: red;
          }
      }
  }
  .container-swapper-option {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .button-container {
        animation: $transition;
      border: 2px solid #ddd;
      border-radius:8px;
      button {
        color: #ddd;
        background: white;
        font-size: 14px;
        border-radius: 8px;
      }
      button.true {
       
        background: #2480fb;
        border-radius: 8px;
        color: #ddd;
      }
    }
  }
}

.grid-view {
  position: relative;
  width: 100%;
  height: 100%;
  .col-md-2 {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    position: relative;
    padding : 12px 8px;
    .card {
      height: 300px;
      padding: 29px 3px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .img-wrapper {
      display: flex;
      position: relative;
      width: 100%;
      height: calc(100% - 50px);
      overflow: hidden;

      .img {
        display: flex;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        transform: scale(1);
        transition: ease 0.5s all 0s;
      }
    }

    .info {
      padding: 5px 10px;

      
      .price {
        text-overflow: ellipsis;
        overflow: hidden; 
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        color : #2480fb;
        white-space: nowrap;
      }
      .text {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
  }
  .grid-view-item:hover {
    .img-wrapper {
      .img {
        transform: scale(1.2);
        transition: ease 1s all 0s;
      }
    }
  }
}

.grid-view-pagination {
  position: relative;
  margin-top : 50px;
  align-self: center;
display: inline-block;

  select {
    margin-right: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1074px) {
  .grid-view {
    position: relative;
    width: 100%;
    height: 100%;
    .grid-view-item {
      width: calc(25vw - 56px);
      height: calc(25vw - 56px + 50px);
    }
  }
}

@media (min-width: 460px) and (max-width: 769px) {
  .grid-view {
    position: relative;
    width: 100%;
    height: 100%;
    .grid-view-item {
      width: calc(33.333vw - 73px);
      height: calc(33.333vw - 73px + 50px);
    }
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .grid-view {
    position: relative;
    width: 100%;
    height: 100%;
    .grid-view-item {
      width: calc(50vw - 107px);
      height: calc(50vw - 107px + 50px);
    }
  }
}
