<div [@routerTransition]>
       
  <app-page-header [heading]="'Notification Group'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="NotificationGroup&&notificationgroupDetail==false">
        <app-form-builder-table
        [table_data]  = "NotificationGroup" 
        [searchCallback]= "[service, 'searchNotificationGroupLint',this]"
        [tableFormat]="tableFormat"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="notificationgroupDetail">
    <app-notificationgroup-detail [back]="[this,backToHere]" [detail]="notificationgroupDetail"></app-notificationgroup-detail>
</div>
 
</div>

