<input #fileinput type="file" (change)="onImageSelected($event)" [(ngModel)]="selFile"
accept="image/png, image/jpeg" style="display: none;">
<div class="row">
  <button class="btn back_button" (click)="backClicked()"><i class="fa fa-fw fa-angle-left"></i> back</button>
</div>
<div class="form" *ngIf="!errorMessage">
  <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>
  <input #inputFile4 type="file" style="display:none" (change)="onFileSelected2($event, 'image2')"
    accept="image/x-png,image/gif,image/jpeg">
  <input #inputFile3 type="file" style="display:none" (change)="onFileSelected2($event, 'image1')"
    accept="image/x-png,image/gif,image/jpeg">
  <input #inputFile1 type="file" style="display:none" (change)="onFileSelected2($event, 'image3')"
    accept="image/x-png,image/gif,image/jpeg">
  <input #inputFile2 type="file" style="display:none" (change)="onFileSelected2($event, 'image4')"
    accept="image/x-png,image/gif,image/jpeg">
  <input #inputFile5 type="file" style="display:none" (change)="onFileSelected2($event, 'image5')"
    accept="image/x-png,image/gif,image/jpeg">

  <!-- <div class="new" *ngIf="newData">New products!</div> -->
  <div class="multiple-image-upload" [ngClass]="photoAlert? 'red-alert' : ''" id="photo-alert">
    <div class="upload-container">
      <div class="content-title-container">
        <h3 class="content-title">Upload {{title}}</h3>
        <label>File size max. 5 MB and file format must be .JPG/.JPEG/.PNG</label>
      </div>
      <div class="section-upload row left-section-upload">
        <div class="col-md-2dot4 col-half-offset">
          <div class="card cl-list">
            <div class="card-content" *ngIf="!uploads.image3 && !showLoading3">
              <div class="image">
                <div class="card-content custom">
                  <div class="image-canvas">
                    <img *ngIf="!uploads.image3" class="logo-upload" src="/assets/images/image-solid.svg">
                  </div>
                  <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                  <div class="browse-files">
                    <div class="pb-framer">
                      <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                      </div>
                      <span *ngIf="progressBar<58&&progressBar>0">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                      <span class="clr-white" *ngIf="progressBar>58">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                    </div>
                    <a class="common-button blue-upload fileupload" (click)="inputFile1.click()">+ Add Image</a>
                  </div>
                </div>
              </div>
              <div *ngIf="errorLabel!==false">
                {{errorLabel}}
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="showLoading3">
              <div class="loading">
                <div class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="uploads.image3 && !showLoading3">
              <!-- <i class="fa fa-times-circle remove-icon" (click)="deleteImage('image3')"></i> -->
              <div class="uploaded-image2">
                <div class="img">
                  <img class="resize" src="{{uploads.image3}}">
                  <a class="common-button blue-upload fileupload" (click)="inputFile1.click()">Re-Upload</a>
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-md-2dot4" *ngIf="form.type=='product'|| form.type=='voucher' || form.type=='gold'">
  
          <div class="card cl-list">
            <div class="card-content" *ngIf="!uploads.image1 && !showLoading">
              <div class="image">
                <div class="card-content custom">
                  <div class="image-canvas">
  
                    <img *ngIf="!uploads.image1" class="logo-upload" src="/assets/images/image-solid.svg">
                  </div>
                  <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                  <div class="browse-files">
                    <div class="pb-framer">
                      <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                      </div>
                      <span *ngIf="progressBar<58&&progressBar>0">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                      <span class="clr-white" *ngIf="progressBar>58">
                        {{cancel?'terminated':progressBar+'%'}} </span>
  
                    </div>
  
                    <a class="common-button blue-upload fileupload" (click)="inputFile3.click()">+ Add Image</a>
                  </div>
                </div>
              </div>
              <div *ngIf="errorLabel!==false">
                {{errorLabel}}
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="showLoading">
              <div class="loading">
                <div class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="uploads.image1 && !showLoading">
              <i class="fa fa-times-circle remove-icon"  (click)="deleteImage('image1')"></i>
              <div class="uploaded-image2">
                <div class="img">
                  <img class="resize" src="{{uploads.image1}}">
                  <a class="common-button blue-upload fileupload" (click)="inputFile3.click()">Re-Upload</a>
                </div>
  
              </div>
  
            </div>
          </div>
  
        </div>
        <div class="col-md-2dot4 col-half-offset" *ngIf="form.type=='product'|| form.type=='voucher' || form.type=='gold'">
  
          <div class="card cl-list">
            <div class="card-content" *ngIf="!uploads.image2 && !showLoading2">
              <div class="image">
                <div class="card-content custom">
                  <div class="image-canvas">
  
                    <img *ngIf="!uploads.image2" class="logo-upload" src="/assets/images/image-solid.svg">
                  </div>
                  <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                  <div class="browse-files">
                    <div class="pb-framer">
                      <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                      </div>
                      <span *ngIf="progressBar<58&&progressBar>0">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                      <span class="clr-white" *ngIf="progressBar>58">
                        {{cancel?'terminated':progressBar+'%'}} </span>
  
                    </div>
  
                    <a class="common-button blue-upload fileupload" (click)="inputFile4.click()">+ Add Image</a>
  
  
                  </div>
  
                </div>
  
              </div>
              <div *ngIf="errorLabel!==false">
                {{errorLabel}}
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="showLoading2">
              <div class="loading">
                <div class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="uploads.image2 && !showLoading2">
              <i class="fa fa-times-circle remove-icon"  (click)="deleteImage('image2')"></i>
              <div class="uploaded-image2">
                <div class="img">
                  <img class="resize" src="{{uploads.image2}}">
                  <a class="common-button blue-upload fileupload" (click)="inputFile4.click()">Re-Upload</a>
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="col-md-2dot4 col-half-offset" *ngIf="form.type=='product'|| form.type=='voucher' || form.type=='gold'">
  
          <div class="card cl-list">
            <div class="card-content" *ngIf="!uploads.image4 && !showLoading4">
              <div class="image">
                <div class="card-content custom">
                  <div class="image-canvas">
                    <img *ngIf="!uploads.image4" class="logo-upload" src="/assets/images/image-solid.svg">
                  </div>
                  <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                  <div class="browse-files">
                    <div class="pb-framer">
                      <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                      </div>
                      <span *ngIf="progressBar<58&&progressBar>0">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                      <span class="clr-white" *ngIf="progressBar>58">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                    </div>
                    <a class="common-button blue-upload fileupload" (click)="inputFile2.click()">+ Add Image</a>
                  </div>
                </div>
              </div>
              <div *ngIf="errorLabel!==false">
                {{errorLabel}}
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="showLoading4">
              <div class="loading">
                <div class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="uploads.image4 && !showLoading4">
              <i class="fa fa-times-circle remove-icon"  (click)="deleteImage('image4')"></i>
              <div class="uploaded-image2">
                <div class="img">
                  <img class="resize" src="{{uploads.image4}}">
                  <a class="common-button blue-upload fileupload" (click)="inputFile2.click()">Re-Upload</a>
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-md-2dot4 col-half-offset" *ngIf="form.type=='product'|| form.type=='voucher' || form.type=='gold'">
  
          <div class="card cl-list">
            <div class="card-content" *ngIf="!uploads.image5 && !showLoading5">
              <div class="image">
                <div class="card-content custom">
                  <div class="image-canvas">
                    <img *ngIf="!uploads.image5" class="logo-upload" src="/assets/images/image-solid.svg">
                  </div>
                  <!-- <p class="upload-desc">Upload your image here <br> or</p> -->
                  <div class="browse-files">
                    <div class="pb-framer">
                      <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">
  
                      </div>
                      <span *ngIf="progressBar<58&&progressBar>0">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                      <span class="clr-white" *ngIf="progressBar>58">
                        {{cancel?'terminated':progressBar+'%'}} </span>
                    </div>
                    <a class="common-button blue-upload fileupload" (click)="inputFile5.click()">+ Add Image</a>
                  </div>
                </div>
              </div>
              <div *ngIf="errorLabel!==false">
                {{errorLabel}}
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="showLoading5">
              <div class="loading">
                <div class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
              </div>
            </div>
            <div class="form-group uploaded" *ngIf="uploads.image5 && !showLoading5">
              <i class="fa fa-times-circle remove-icon"  (click)="deleteImage('image3')"></i>
              <div class="uploaded-image2">
                <div class="img">
                  <img class="resize" src="{{uploads.image5}}">
                  <a class="common-button blue-upload fileupload" (click)="inputFile5.click()">Re-Upload</a>
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Of Multiple Image Upload -->
  </div>
  <div *ngIf="photoAlert" class="red-error-alert">*{{title}} harus memiliki minimum 1 gambar</div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" *ngIf="form.type=='evoucher'">
        <label>Choose Vendor Type: </label>
        <div>
          <div class=" product-type-list">
            <div *ngFor="let vt of listOfVendorType" class="product-type {{vt.active}}" (click)="setVendorType(vt.name)">
              {{vt.name}}
            </div>
          </div>
        </div>
      </div> 
      <!-- Redeem Type -->
       <!-- <div class="form-group" *ngIf="form.type=='evoucher'">
        <label>Choose Redeem Type: </label>
        <div>
          <div class=" product-type-list">
            <div *ngFor="let vt of listOfRedeemType" class="product-type {{vt.active}}" (click)="setRedeemType(vt)" [(ngModel)]="form.redeem_type" >
              {{vt.name}}
            </div>
          </div>
        </div>
      </div>  -->
      <!-- Begining Of Multiple Image Upload -->
      
      <div class="form-group" *ngIf="currentPermission=='admin' && form.merchant_username && form.type !='evoucher'">
        <label>Choose Merchant</label>
        <select class="form-control" [(ngModel)]="form.merchant_username">
          <option *ngFor="let mt of listOfMerchant" [ngValue]='mt.name'>{{mt.name}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="currentPermission=='admin' && form.merchant_username">
        <!-- <label for="exampleInputEmail1">Merchant Owner : <strong>{{form.merchant_username}}</strong></label> -->
      </div>
      <!-- backup for old UI -->
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input (input)="productNameInputed($event)" class="product_name form-control" [(ngModel)]="form.product_name" />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">SKU / Product Code</label>
        <span class="autoSKU"> <input type="checkbox" [(ngModel)]="autoSKU" /> auto-type SKU </span>
        <input class="product_code form-control" [(ngModel)]="form.product_code" />
      </div> -->
      <!-- <div class="form-group">
        <label for="type_product">Product Type</label>
        <input class="form-control" [(ngModel)]="form.type">
      </div> -->

      <!-- <div class="form-group">
        <label>Merchant Group</label>
        <input class="form-control" [(ngModel)]="form.merchant_group" aria-disabled="true;">
      </div> -->
      <!-- <div *ngIf="form.type == 'evoucher'">
        <div class="form-group">
          <label>Redeem Type</label>
          <input class="form-control" [(ngModel)]="form.redeem_type" aria-disabled="true">
        </div>
      </div> -->
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Hashtags</label>

        <div class="form-control hashhash">
          <span class="hashtag-item" *ngFor="let ht of form.hashtags"> {{ht}}</span>
          <div class="hashtagskey-input" contenteditable="true" [textContent]="hashtagsKey"
            (keydown)="hashtagsKeyDown($event)"></div>
        </div>
      </div> -->

      <!-- <div class="form-group" *ngIf="form.type == 'product'">
        <label for="exampleInputEmail1">Quantity</label>
        <input class="qty form-control" type="number" [(ngModel)]="form.qty" />
      </div> -->



<!-- Product Information -->
<div class="upload-container col-md-12" id="product-information">
  <div class="content-title-container">
    <h3 class="content-title">{{title}} Information</h3>
  </div>

  <div class="row">
    <!-- PRoduct Name -->
    <div class="col-md-6">
      <div class="form-group">
        <div class="label">
          <label for="exampleInputEmail1"><span  *ngIf="form.type">{{title}}</span> Name</label>
        </div>
        <div class="col-md-12">
          <input (input)="productNameInputed($event)" class="product_name form-control"
          [(ngModel)]="form.product_name" placeholder="Example : Asus ROG Zephyrus S15 GX502 " [ngClass]="productNameAlert? 'red-alert' : ''"/>
          <div *ngIf="productNameAlert" class="red-error-alert">*product  name tidak boleh kosong</div>
        </div>
      </div>
    </div>

    <!-- PRoduct Code -->
    <div class="col-md-6">
      <div class="form-group">
        <div class="label">
          <label for="exampleInputEmail1">Product Code </label>
          <!-- <i class="fas fa-info-circle" id="tooltip"> <span id="tooltiptext"> Maximum Character For {{title}} Code is
              20
              Characters</span></i> -->
          <span class="autoSKU">
            <!-- <mat-checkbox [(ngModel)]="autoSKU" value="autoSKU">
    auto-type SKU
  </mat-checkbox> -->
          </span>
        </div>
        <div class="col-md-12">
          <input class="product_code form-control" [(ngModel)]="form.product_code" [ngClass]="productCodeAlert? 'red-alert' : ''" disabled=true/>
          <div *ngIf="productCodeAlert" class="red-error-alert">*product code tidak boleh kosong</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" *ngIf="form.type=='e-voucher'">
        <div class="label">
          <label>Category Voucher</label>
        </div>
        <div class="col-md-12">
          <select class="form-control" [(ngModel)]="form.category" [ngClass]="categoryAlert? 'red-alert' : ''">
            <option *ngFor="let mt of categoryEvoucher" [ngValue]='mt.code'>{{mt.name}}</option>
          </select>
          <div *ngIf="categoryAlert" class="red-error-alert">*category tidak boleh kosong</div>
        </div>
      </div>
      <div class="form-group" *ngIf="form.type=='product'">
        <div class="label">
          <label>Categories {{title}}</label>
        </div>
        <div class="col-md-12">
          <select class="form-control" [(ngModel)]="form.category" [ngClass]="categoryAlert? 'red-alert' : ''">
            <option *ngFor="let mt of categoryProduct" [ngValue]='mt.code'>{{mt.name}}</option>
          </select>
          <div *ngIf="categoryAlert" class="red-error-alert">*category tidak boleh kosong</div>
        </div>
      </div>
      <div class="form-group" *ngIf="form.type=='voucher'">
        <div class="label">
          <label>Categories {{title}}</label>
        </div>
        <div class="col-md-12">
          <select class="form-control" [(ngModel)]="form.category" [ngClass]="categoryAlert? 'red-alert' : ''">
            <option *ngFor="let mt of categoryVoucher" [ngValue]='mt.code'>{{mt.name}}</option>
          </select>
          <div *ngIf="categoryAlert" class="red-error-alert">*category tidak boleh kosong</div>
        </div>
      </div>
      <div class="form-group" *ngIf="form.type=='gold'">
        <div class="label">
          <label>Categories {{title}}</label>
        </div>
        <div class="col-md-12">
          <select class="form-control" [(ngModel)]="form.category" [ngClass]="categoryAlert? 'red-alert' : ''">
            <option *ngFor="let mt of categoryGold" [ngValue]='mt.code'>{{mt.name}}</option>
          </select>
          <div *ngIf="categoryAlert" class="red-error-alert">*category tidak boleh kosong</div>
        </div>
      </div>
      <div class="form-group" *ngIf="form.type=='top-up'">
        <div class="label">
          <label>Categories {{title}}</label>
        </div>
        <div class="col-md-8">
          <select class="form-control" [(ngModel)]="form.category" [ngClass]="categoryAlert? 'red-alert' : ''">
            <option *ngFor="let mt of categoryEwallet" [ngValue]='mt.code'>{{mt.name}}</option>
          </select>
          <div *ngIf="categoryAlert" class="red-error-alert">*category tidak boleh kosong</div>
        </div>
      </div>
    </div>
    <!-- PRoduct Code -->
    <div class="col-md-6" *ngIf="form.type=='e-voucher'">
      <div class="form-group">
        <div class="label">
          <label for="exampleInputEmail1">SKU Code </label>
          <!-- <i class="fas fa-info-circle" id="tooltip"> <span id="tooltiptext"> Maximum Character For {{title}} Code is
              20
              Characters</span></i> -->
          <span class="autoSKU">
            <!-- <mat-checkbox [(ngModel)]="autoSKU" value="autoSKU">
    auto-type SKU
  </mat-checkbox> -->
          </span>
        </div>
        <div class="col-md-12">
          <input class="product_code form-control" [(ngModel)]="form.sku_code" [ngClass]="productCodeAlert? 'red-alert' : ''" disabled=true/>
          <!-- <div *ngIf="productCodeAlert" class="red-error-alert">*product code tidak boleh kosong</div> -->
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End Of Product Information -->






    <div class="upload-container col-md-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <!-- <textarea class="form-control" style="min-height: 200px;" [(ngModel)]="form.description"></textarea> -->
        <ckeditor [config]="config" class="description " [editor]="Editor" [(ngModel)]="form.description" [ngClass]="descriptionAlert? 'red-alert' : ''" id="description"></ckeditor>
        <!-- <input class="description form-control" [(ngModel)]="form.description" /> -->
      </div>
      <div *ngIf="descriptionAlert" class="red-error-alert">*description tidak boleh kosong</div>

      <div class="form-group" *ngIf="form.type == 'e-voucher'">
        <label for="exampleInputEmail1">Terms &amp; Conditions</label>
        <!-- <textarea class="form-control" style="min-height: 200px;" [(ngModel)]="form.tnc"></textarea> -->
        <ckeditor [config]="config" class="tnc " [editor]="Editor" [(ngModel)]="form.tnc" [ngClass]="tncAlert? 'red-alert' : ''" id="tnc"></ckeditor>
      </div>
      <div *ngIf="tncAlert" class="red-error-alert">*tnc tidak boleh kosong</div>

      <div class="form-group" *ngIf="form.type == 'evoucher'"> 
        <label>Location For Redeem</label>
        <ckeditor [config]="config" class="tnc " [editor]="Editor" [(ngModel)]="form.location_for_redeem"></ckeditor>
        <!-- <textarea class="form-control" style="min-height: 200px;" [(ngModel)]="form.location_for_redeem"></textarea> -->
      </div>
      <!-- <div class="form-group">
        <label>Condition</label>
        <select class="form-control" [(ngModel)]="form.condition">
          <option [ngValue]="'new'">new</option>
          <option [ngValue]="'second'">second</option>
        </select>
      </div> -->
      </div>



      <!-- Varian -->
    <div class="upload-container col-md-12" *ngIf="multiVarian.length > 0" id="varian" [ngClass]="varianAlert? 'red-alert' : ''">
      <div class="content-title-container">
        <h3 class="content-title">Varian</h3>
      </div>

      <div class="label">
        <label for="exampleInputEmail1">Tipe Varian</label>
      </div>

      <!-- <div class="col-md-12 form-varian" style="display:flex" *ngFor="let _dataVarian of dataVarian; index as x">
        <div class="col-md-6">
          <div class="col-md-12" class="varian-parent">
            <form-input  [type]="'text'" [placeholder]="'Masukkan nama variasi, contoh : warna, dll'" autofocus required (keyup)="changeText()" [(ngModel)] = varianHeader[x] class="varian-type-input"></form-input>
            <i class="fas fa-trash" id="tooltip" (click) = deleteVariationType(x)></i>
          </div>
        </div>
        
      
        <div class="col-md-6">
          <div class="col-md-12" *ngFor="let _valueVariation of _dataVarian; index as i" class="varian-parent">
            <form-input [type]="'text'" [placeholder]="'Masukkan pilihan variasi, contoh : merah, dll'" autofocus required [(ngModel)]="dataVarianModel[x][i]" (keyup)="changeText()" class="varian-value-input"></form-input>
            <i *ngIf="_dataVarian.length > 1" class="fas fa-trash" id="tooltip" (click) = deleteVariationValue(x,i)></i>
          </div>


          <button type="button" (click)="addVariationValue(x)" class="add-value btn">Add Value</button>
        </div>
      </div>

      <div class="col-md-12 form-varian" *ngIf="dataVarian.length < 2">
        <button type="button" (click)="addVariationType()" class="btn">Add Varian</button>
      </div>

      <div class="col-md-12 varian-table form-varian">
        <div class="form-group">
          <table class="table table-striped">
            <thead>
              <tr>
                <th *ngFor="let _varianHeader of varianHeader">{{_varianHeader}}</th>
                <th *ngFor="let _headerValue of headerValue">{{_headerValue}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let _productSku of productSku; index as i">
                <td *ngFor="let _varianHeader of varianHeader">
                  {{_productSku.variant[_varianHeader]}}
                </td>
                <td>
                  <input class="price form-control" [(ngModel)]="_productSku.sku_code" />
                </td>
                <td>
                  <input class="price form-control" [(ngModel)]="_productSku.sku_price" />
                </td>
                <td>
                  <input class="price form-control" [(ngModel)]="_productSku.sku_value" />
                </td>
                <td>
                  <input class="price form-control" [(ngModel)]="_productSku.qty" />
                </td>
                <td *ngIf="_productSku.image_gallery.length == 0 && !isLoading[i]">
                  <input #inputFileVarian type="file" style="display:none" (change)="onFileVariant($event, _productSku.image_gallery, i)" accept="image/x-png,image/gif,image/jpeg">
                  <a class="common-button blue-upload fileupload" (click)="inputFileVarian.click()">+ Add Image</a>
                </td>
                <td *ngIf="isLoading[i]">
                  <div class="form-group uploaded">
                    <div class="loading">
                      <div class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="_productSku.image_gallery.length > 0 && !isLoading[i]" class="varian-image-parent">
                  <img src="{{_productSku.image_gallery[0].base_url + _productSku.image_gallery[0].pic_file_name}}" style="width: 200px" />
                  <i class="fas fa-times-circle delete-varian-image" (click) = "deleteVarianImage(_productSku.image_gallery)"></i>
                </td>
                <td>
                  <select class="form-control status-form" [(ngModel)]="_productSku.status">
                    <option value="ACTIVE">Active</option>
                    <option value="INACTIVE">Inactive</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->


      <div class="col-md-12" style="display:flex" *ngIf="varianX.active">
        <div class="col-md-6">
          <div class="col-md-12" class="varian-parent">
            <form-input  type="text" placeholder="Masukkan nama variasi, contoh : warna, dll" [(ngModel)]="varianX.name" [alert]="fieldVarianX" [onKeyup]="eventValidation"></form-input>
            <i class="fas fa-trash" id="tooltip" (click) = deleteAllTypeX()></i>
          </div>
        </div>
        
        <!-- Using ng-option and for loop-->
        <div class="col-md-6">
          <div class="col-md-12" *ngFor="let item of [].constructor(varianTypeX.length); index as iox" class="varian-parent">
            <form-input type="text" placeholder="Masukkan pilihan variasi, contoh : merah, dll" [(ngModel)]="varianTypeX[iox]" [alert]="fieldVarianTypeX[iox]" [onKeyup]="eventValidation"></form-input>
            <i *ngIf="varianTypeX.length > 1" class="fas fa-trash" id="tooltip" (click) = deleteVarianTypeX(iox)></i>
          </div>


          <button type="button" (click)="addVarianTypeX()" class="btn add-value">Add Value</button>
        </div>
      </div>

      <ng-container>
        <div class="col-md-12" *ngIf="!varianY.active">
          <button type="button" (click)="activatedVarianY()" class="btn">Add Varian</button>
        </div>
      </ng-container>

      <div class="col-md-12" style="display:flex" *ngIf="varianY.active">
        <div class="col-md-6">
          <div class="col-md-12" class="varian-parent">
            <form-input  type="text" placeholder="Masukkan nama variasi, contoh : warna, dll" [(ngModel)]="varianY.name" [alert]="fieldVarianY" [onKeyup]="eventValidation"></form-input>
            <i class="fas fa-trash" id="tooltip" (click) = deleteAllTypeY()></i>
          </div>
        </div>
        
        <!-- Using ng-option and for loop-->
        <div class="col-md-6">
          <div class="col-md-12" *ngFor="let item of [].constructor(varianTypeY.length); index as ioy" class="varian-parent">
            <form-input type="text" placeholder="Masukkan pilihan variasi, contoh : merah, dll" [(ngModel)]="varianTypeY[ioy]" [alert]="fieldVarianTypeY[ioy]" [onKeyup]="eventValidation"></form-input>
            <i *ngIf="varianTypeY.length > 1" class="fas fa-trash" id="tooltip" (click) = deleteVarianTypeY(ioy)></i>
          </div>


          <button type="button" (click)="addVarianTypeY()" class="btn add-value">Add Value</button>
        </div>
      </div>

      <div class="col-md-12 varian-table">
        <div class="form-group">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  {{varianY.name}}
                </th>
                <th>
                  {{varianX.name}}
                </th>
                <th *ngFor="let _headerValue of headerValue">{{_headerValue}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let varianY of multiVarian; index as ioy">
              <tr *ngFor="let varianYX of varianY; index as iox">
                <td>
                  {{varianTypeY[ioy]}}
                </td>
                <td>
                  {{varianTypeX[iox]}}
                </td>
                <td>
                  <input class="price form-control" [(ngModel)]="multiVarian[ioy][iox].sku_code" />
                </td>
                <td>
                  <input type="number" class="price form-control" [(ngModel)]="multiVarian[ioy][iox].sku_price" />
                </td>
                <td>
                  <input type="number" class="price form-control" [(ngModel)]="multiVarian[ioy][iox].sku_value" />
                </td>
                <td>
                  <input type="number" class="price form-control" [(ngModel)]="multiVarian[ioy][iox].qty" />
                </td>
                <td *ngIf="multiVarian[ioy][iox].image_gallery.length == 0 && !multiVarian[ioy][iox].isloading">
                  <input #inputFileVarian type="file" style="display:none" (change)="onFileVariant($event, multiVarian[ioy][iox].image_gallery, [ioy,iox])" accept="image/x-png,image/gif,image/jpeg">
                  <a class="common-button blue-upload fileupload" (click)="inputFileVarian.click()">+ Add Image</a>
                </td>
                <td *ngIf="multiVarian[ioy][iox].isloading">
                  <div class="form-group uploaded">
                    <div class="loading">
                      <div class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                      </div>
                    </div>
                  </div>
                </td>
                
                <td *ngIf="multiVarian[ioy][iox].image_gallery.length > 0 && !multiVarian[ioy][iox].isloading" class="varian-image-parent">
                  <img src="{{multiVarian[ioy][iox].image_gallery[0].base_url + multiVarian[ioy][iox].image_gallery[0].pic_file_name}}" style="width: 200px" />
                  <i class="fas fa-times-circle delete-varian-image" (click) = "deleteVarianImage(multiVarian[ioy][iox].image_gallery)"></i>
                </td>
                <td>
                  <select class="form-control status-form" [(ngModel)]="multiVarian[ioy][iox].status">
                    <option value="ACTIVE">Active</option>
                    <option value="INACTIVE">Inactive</option>
                  </select>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>      

    <div *ngIf="varianAlert" class="red-error-alert">{{varianAlertMessage}}</div>


    <div class="upload-container col-md-12 varian-button" *ngIf="form.type=='product' && multiVarian.length == 0" (click)="clickVarian()">
      <i class="fas fa-plus-circle"></i> Aktifkan Varian
    </div>

    <div class="form-group upload-container" *ngIf="multiVarian.length == 0" id="price">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">{{title}} Price</label>
            <div>
              <input class="price form-control" (keyup)="formPriceReplacer($event, 'product_price')" [(ngModel)]="form.product_price" [ngClass]="productPriceAlert? 'red-alert' : ''"/>
              <div *ngIf="productPriceAlert" class="red-error-alert">*product price tidak boleh nol</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="fixed_price">{{title}} Value</label>
          <div>
            <input class="fixed_price form-control" name="fixed_price"
            (keyup)="formPriceReplacer($event, 'product_value')" [(ngModel)]="form.product_value" [ngClass]="productValueAlert? 'red-alert' : ''" />
            <div *ngIf="productValueAlert" class="red-error-alert">*product value tidak boleh nol</div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="form.type=='product'|| form.type=='voucher' || form.type == 'gold' || form.type == 'top-up'">
          <label for="fixed_price">Qty</label>
          <input class="fixed_price form-control" name="qty" [(ngModel)]="form.qty" />
        </div>
      </div>
    </div>
    





      <div class="form-group upload-container" *ngIf="form.type == 'product' || form.type=='voucher' || form.type == 'gold'" id="weight" [ngClass]="widthAlert || lengthAlert || heightAlert? 'red-alert' : ''">
        <label for="exampleInputEmail1">Dimensions: (<em>Width x Length x Height</em>)</label>
        <div class="input-group mb-3">
          <!-- Width -->
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Width</span>
          </div>
          <div class="form-control des">
            <input type="text" type="number" [(ngModel)]="form.dimensions.width" aria-label="Username"
              aria-describedby="basic-addon1">
            cm
          </div>
          <!-- Length -->
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Length</span>
          </div>
          <div class="form-control des">
            <input type="text" class="" type="number" [(ngModel)]="form.dimensions.length" aria-label="Username"
              aria-describedby="basic-addon1">
            cm
          </div>
          <!-- Height -->
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Height</span>
          </div>
          <div class="form-control des">
            <input type="text" class="" type="number" [(ngModel)]="form.dimensions.height" aria-label="Username"
              aria-describedby="basic-addon1">
            cm
          </div>
        </div>
      </div>
      <div *ngIf="widthAlert" class="red-error-alert">*width value tidak boleh nol</div> 
      <div *ngIf="lengthAlert" class="red-error-alert">*length value tidak boleh nol</div> 
      <div *ngIf="heightAlert" class="red-error-alert">*height value tidak boleh nol</div> 
      <div class="form-group upload-container" *ngIf="form.type == 'product' || form.type=='voucher' || form.type=='gold'" id="weight">
        <label for="exampleInputEmail1">Weight</label>
        <div class="input-group mb-3">
          <!-- Width -->
          <!-- <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Width</span>
              </div> -->
          <div class="form-control des">
            <input type="text" type="text" (keyup)="formPriceReplacer($event, 'weight')"
              [(ngModel)]="form.weight" aria-label="weight" aria-describedby="basic-addon1" [ngClass]="weightAlert? 'red-alert' : ''">
            gram
          </div>

        </div>
        <div *ngIf="weightAlert" class="red-error-alert">*weight tidak boleh nol</div> 
      </div>
      <div class="form-group upload-container">
        <label>Status</label>
        <form-select [(ngModel)]="form.status" [data]="productStatus"></form-select>
        <!-- <select class="form-control" [(ngModel)]="form.status" [data]="productStatus"> -->
          <!-- <option [ngValue]="INACTIVE">Inactive</option>
          <option [ngValue]="ACTIVE">Active</option> -->
        <!-- </select> -->
      </div>
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Minimum Order</label>
        <input class="min_order form-control" type="number" [(ngModel)]="form.min_order" />
      </div> -->
      <!-- <div class="image-upload new-upload" *ngIf="!form.base_url">
        <button class="fileupload" (click)="uploadFile()">file upload</button>
        <div [ngClass]="'uploading-file '+isFileUploaded">
          <img *ngIf="selFile" [src]="selFile" height="200" />
          <span *ngIf="isFileUploaded"> UPLOADED </span>
        </div>
        <br />
        <div class="pb-framer">
          <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">

          </div>
          <span *ngIf="progressBar<58&&progressBar>0">
            {{cancel?'terminated':progressBar+'%'}} </span>
          <span class="clr-white" *ngIf="progressBar>58">
            {{cancel?'terminated':progressBar+'%'}} </span>

        </div>

        <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>


      </div> -->


    </div>
    <div class="col-md-4">
      <div class="card" *ngIf="form.type=='evoucher'">
        <div class="card-header">
          <label class="uploading">Upload New Image</label>
        </div>
        <div class="form-group" *ngIf="!form.base_url">
          <div class="image-upload">
            <i><img src="assets/images/upload.svg" class="logo-upload"></i>
            <p class="upload-desc">Upload your image here <br> or</p>
            <button class="btn btn-primary fileupload" (click)="fileinput.click()">Browse File</button>
            <div [ngClass]="'uploading-file '+isFileUploaded">
              <img *ngIf="selFile" [src]="selFile" height="200" />
              <span *ngIf="isFileUploaded"> UPLOADED </span>
            </div>
            <div class="pb-framer">
              <div class="progressbar {{cancel?'terminated':''}}" [ngStyle]="{'width.%': progressBar}">

              </div>
              <span *ngIf="progressBar<58&&progressBar>0">
                {{cancel?'terminated':progressBar+'%'}} </span>
              <span class="clr-white" *ngIf="progressBar>58">
                {{cancel?'terminated':progressBar+'%'}} </span>

            </div>

            <div class="error" *ngIf="errorLabel">{{errorLabel}}</div>

          </div>
        </div>
        <div class="form-group uploaded" *ngIf="form.base_url">
          <!-- <label> Your Product Image</label> -->
          <div class="uploaded-image">
            <div class="img" [ngStyle]="{'background-image':'url('+(form.base_url+form.pic_medium_path)+')'}">
              <div class="editor-tool">
                <!-- <button >TEST</button> -->
                <i class="fa fa-pen"></i>
              </div>
            </div>
            <a class="text-fileupload" (click)="fileinput.click()">re-upload it</a>

          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-header">
          <label>Categories</label>
        </div>
        <div class="navbar-menu">
          <div class="list-group category-list">
            <div class="list-group-item" *ngFor="let n of multipleCategories; let i = index;"
              (click)="toggleCategories(i)">
              <span class="checked-icon {{n.value}}">&#10003; </span> {{n.name}}
            </div>
          </div>
        </div>
      </div> -->

      <div class="condition-wrapper" *ngIf="form.type == 'evoucher'">
        <div class="form-group">
          <button class="btn btn-default" style="width: 100%;" *ngIf="generateVoucherToggler == 0"
            (click)="genVoucherToggler(1)">Generate voucher</button>
          <div class="row">
            <div class="col-md-12" *ngIf="generateVoucherToggler == 1">
              <label>How do you want to generate voucher?</label>
              <button class="atc btn btn-default" (click)="genVoucherToggler(3)">upload it</button>
              <button class="atc btn btn-default" (click)="genVoucherToggler(2)">automatic</button>
            </div>
            <div class="col-md-12" *ngIf="generateVoucherToggler == 2">
              <label>Please set expired Date</label>

              <div class="date-picker-overlay">
                <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker" (focus)="d.open()"
                  [(ngModel)]="genVoucher.expiry_date" />
              </div>
              <label>How many?</label>
              <input class="form-control" type="number" placeholder="quantity" [(ngModel)]="genVoucher.qty" />
              <br /><br />
              <button class="btn btn-default" style="width: 100%" (click)="generateVoucher()"> Generate now</button>
              <!-- <div class="dpicker">
                  <ngb-datepicker #d (select)="datePickerOnDateSelection($event, generateExpirationDate)" [displayMonths]="1"
                    [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>
                </div> -->
              <!-- <ng-template #t let-date="date" let-focused="focused">
                <span class="custom-day" [class.focused]="focused">
                  {{ date.day }}
                </span>
              </ng-template> -->
            </div>
            <div class="col-md-12" *ngIf="generateVoucherToggler == 3">
              <!-- <label>Choose File</label> -->
              <input class="custom-content" type="file" style="color:black" title="Choose File"
                (change)="onFileSelected($event)" accept=".csv, .xlsx, .xls" />
              <button class="btn btn-default" (click)="uploadFile()">Upload</button>

            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default" style="width: 100%;" (click)="generatedVoucher()">Generated Vouchers
            List</button>
        </div>
        <div class="col-md-12">
          <div class="form-group" *ngIf="form.type=='evoucher'">
            <label>Need Outlet Code?</label>
            <div>
              <select class="form-control status-form" [(ngModel)]="form.need_outlet_code">
                <option [ngValue]="0" class="false">No</option>
                <option [ngValue]="1">Yes</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group" *ngIf="form.type=='evoucher'">
            <label>Applicable For IOS?</label>
            <div>
              <select class="form-control status-form" [(ngModel)]="form.need_outlet_code">
                <option [ngValue]="false" class="false">No</option>
                <option [ngValue]="true">Yes</option>
              </select>
            </div>
          </div>
        </div>
       
      </div>
    </div>

    <br>
  </div>
  <div class="row end-footer">
    <div class="col-md-12">
      <div class="form-group">
        <button class="btn save btn-primary" (click)="saveThis()"><i class="fa fa-save"></i> Save this</button>
        <button *ngIf="!toggleDelete" class="btn delete btn-primary" (click)="toggleDeleteConfirm(true)">
          <i class="fa fa-trash"></i> Delete
        </button>
        <div *ngIf="toggleDelete" class="delete-modal">
          Are you sure to delete this? &nbsp;&nbsp;
          <div class="btn-group">
            <button class="btn no btn-sm btn-default" (click)="toggleDeleteConfirm(false)"><i class="fa fa-save"></i>
              No</button>
            <button class="btn yes btn-sm btn-primary" (click)="deleteThis()"><i class="fa fa-save"></i> Yes</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message">
  <div class="text-message">
      <i class="fas fa-ban"></i>
      {{errorMessage}}
  </div>
</div>

<!-- <button class="btn button-edit" (click)="setEdit()">
  <i class="fa fa-fw fa-pencil-alt"></i> Edit your product
</button> -->
