<app-page-header [heading]="'Category Detail'" [icon]="'fa-table'"></app-page-header>
<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1></h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button>
    </div> 
    <div class="card-content">
        <div class="category-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Category Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <label>Category ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Name</label>
                             <div name="name" >{{detail.name}}</div>
                             <label>Type</label>
                             <div name="type" >{{detail.type}}</div>
                             <label>Code</label>
                             <div name="code" >{{detail.code}}</div>
                             <label>Key</label>
                             <div name="key" >{{detail.key}}</div>
                             
                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
            <div class="row">
                <!-- <div class="col-md-12 bg-delete"><button class="btn delete-button float-right btn-danger" (click)="deleteThis()">delete this</button></div> -->

                <div class="col-md-12 bg-delete">
                    <button *ngIf="!toggleDelete" class="btn delete btn-primary float-right btn-danger" (click)="toggleDeleteConfirm(true)">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <div *ngIf="toggleDelete" class="delete-modal">
                        Are you sure to delete this? &nbsp;&nbsp;
                        <div class="btn-group">
                            <button class="btn no btn-sm btn-default" (click)="toggleDeleteConfirm(false)"><i class="fa fa-save"></i>
                                No
                            </button>
                            <button class="btn yes btn-sm btn-primary" (click)="deleteThis()"><i class="fa fa-save"></i> Yes</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-category-edit [back]="[this, 'editThis']" [detail]="detail"></app-category-edit>
</div>