<input #inputFile4 type="file" style="display:none" (change)="onFileSelected($event, 'npwp_image')" accept="image/x-png,image/gif,image/jpeg">
<input #inputFile3 type="file" style="display:none" (change)="onFileSelected($event, 'id_image')" accept="image/x-png,image/gif,image/jpeg">
<input #inputFile1 type="file" style="display:none" (change)="onFileSelected($event, 'siup_image')" accept="image/x-png,image/gif,image/jpeg">
<input #inputFile2 type="file" style="display:none" (change)="onFileSelected($event, 'sampul_image')" accept="image/x-png,image/gif,image/jpeg">
<input #inputFile5 type="file" style="display:none" (change)="onFileSelected($event, 'tdp_image')" accept="image/x-png,image/gif,image/jpeg">
<input #inputFile6 type="file" style="display:none" (change)="onFileSelected($event, 'nib_image')" accept="image/x-png,image/gif,image/jpeg">
<input #inputFile7 type="file" style="display:none" (change)="onFileSelected($event, 'domisili_image')" accept="image/x-png,image/gif,image/jpeg">


<!-- PAGE REGISTER MERCHANT UPGRADE -->
<div *ngIf="!complete && !selectGenuine && !selectOfficial" class="container-all">
    <div class="container-upgrade">
        <div class="upgrade-page-bg">
            <img src="/assets/images/upgrade-bg.png">
        </div>
        <div class="upgrade-page-form">
            <div class="form-title">
                Do You Want To Upgrade Merchant?
            </div>
            <div class="upload-form">
                <div>
                    <label style="text-align: center;color:darkblue;width: 100%;">It's Super Easy! Just Click Upgrade in
                        the below</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card cl-list">
                            <div class="card-header genuine">
                                Genuine Merchant
                            </div>
                            <div class="card-body body-area">
                                <div class="card-body-image">
                                    <img src="/assets/images/best-seller.png" height="53px">
                                </div>
                                <div class="center-text"> Required Document</div>

                                <ul>
                                    <li>Fotocopy Kitas / KTP Pengurus</li>
                                    <li>NPWP (Nomor Pokok Wajib Pajak)</li>
                                </ul>
                                <div class="button-container">
                                    <button class="btn btn-1 genuine" (click)="genuineClick()">
                                        Upgrade
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card cl-list">
                            <div class="card-header official">
                                Official Merchant
                            </div>
                            <div class="card-body body-area">
                                <div class="card-body-image">
                                    <img src="/assets/images/official_merchant.png" height="53px">
                                </div>
                                <div class="center-text"> Required Document</div>
                                <ul>
                                    <li>Fotokopy Kitas / KTP pengurus</li>
                                    <li>SIUP (Surat Izin Usaha Perdagangan)</li>
                                    <li>TDP (Tanda Daftar Perusahaan)</li>
                                    <li>NIB (Nomor Induk Berusaha)</li>
                                    <li>NPWP (Nomor Pokok Wajib Pajak)</li>
                                    <li>Surat Keterangan Domisili Perusahaan</li>
                                    <li>Sampul Buku Rekening Tabungan</li>
                                </ul>
                                <div class="button-container">
                                    <button class="btn btn-1 official" (click)="officialClick()">
                                        Upgrade
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- END OF PAGE REGISTER UPGRADE MERCHANT-->



<!-- PAGE REGISTER FOR GENUINE MERCHANT -->
<div *ngIf="!complete && selectGenuine && !selectOfficial" class="container-all">
    <div class="col-md-12">
        <div class="title">
            <img src="assets/images/best-seller.png">
            <span class="text"> Genuine Merchant</span>
        </div>
        <div class="section">

            <div class="section-header">
                <span class="section-title">Please upload your Legal Documents</span>
            </div>
            <div class="section-upload row">
                <div class="col-md-4">
                    Fotocopy Kitas / KTP Pengurus

                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.id_image && !showLoading">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>
                                        <img *ngIf="!form.id_image" class="logo-upload" src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br>or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>

                                        </div>

                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile3.click()">Browse File</button>

                                    </div>

                                </div>

                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.id_image && !showLoading">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.id_image}}">

                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile3.click()"> Re-Upload</a>
                        </div>



                    </div>

                </div>
                <div class="col-md-4">
                    NPWP ( Nomor Pokok Wajib Pajak)
                    <div class="card cl-list">

                        <div class="card-content" *ngIf="!form.npwp_image && !showLoading2">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>

                                        <img *ngIf="!form.npwp_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>

                                        </div>

                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile4.click()">Browse File</button>


                                    </div>

                                </div>

                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading2">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.npwp_image && !showLoading2">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.npwp_image}}">
                                 
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile4.click()">Re-Upload</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="save-container">
        <button class="common-button save" (click)="saveProfile()">Upgrade Now</button>
    </div>
</div>
<!-- END OF PAGE REGISTER FOR GENUINE MERCHANT -->

<!-- PAGE REGISTER FOR Official MERCHANT -->
<div *ngIf="!complete && !selectGenuine && selectOfficial" class="container-all">
    <div class="col-md-12">
        <div class="title">
            <img src="assets/images/official_merchant.png">
            <span class="text"> Official Merchant</span>
        </div>
        <div class="section">

            <div class="section-header">
                <span class="section-title">Please upload your Legal Documents</span>
            </div>
            <div class="section-upload row left-section-upload">
                <div class="col-md-3">
                    Fotocopy Kitas / KTP Pengurus

                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.id_image && !showLoading">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>

                                        <img *ngIf="!form.id_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>

                                        </div>

                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile3.click()">Browse File</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.id_image && !showLoading">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.id_image}}">
                                    
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile3.click()">Re-Upload</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    NPWP ( Nomor Pokok Wajib Pajak)
                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.npwp_image && !showLoading2">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>

                                        <img *ngIf="!form.npwp_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>

                                        </div>

                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile4.click()">Browse File</button>


                                    </div>

                                </div>

                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading2">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.npwp_image && !showLoading2">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.npwp_image}}">
                                   
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile4.click()">Re-Upload</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    SIUP ( Surat Izin Usaha Perdagangan)
                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.siup_image && !showLoading3">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>
                                        <img *ngIf="!form.siup_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                        </div>
                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile1.click()">Browse File</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading3">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.siup_image && !showLoading3">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.siup_image}}">
                                   
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile1.click()">Re-Upload</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    Sampul Buku Rekening Tabungan
                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.sampul_image && !showLoading4">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>
                                        <img *ngIf="!form.sampul_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                        </div>
                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile2.click()">Browse File</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading4">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.sampul_image && !showLoading4">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.sampul_image}}">
                                   
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile2.click()">Re-Upload</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    TDP ( Tanda Daftar Perusahaan)
                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.tdp_image && !showLoading5">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>
                                        <img *ngIf="!form.tdp_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                        </div>
                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile5.click()">Browse File</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading5">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.tdp_image && !showLoading5">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.tdp_image}}">
                                   
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile5.click()">Re-Upload</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    NIB (Nomor Induk Berusaha)
                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.nib_image && !showLoading6">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>
                                        <img *ngIf="!form.nib_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                        </div>
                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile6.click()">Browse File</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading6">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.nib_image && !showLoading6">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.nib_image}}">
                                   
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile6.click()">Re-Upload</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    Surat Keterangan Domisili Perusahaan
                    <div class="card cl-list">
                        <div class="card-content" *ngIf="!form.domisili_image && !showLoading7">
                            <div class="image">
                                <div class="card-content custom">
                                    <div>
                                        <img *ngIf="!form.domisili_image" class="logo-upload"
                                            src="/assets/images/upload.svg">
                                    </div>
                                    <p class="upload-desc">Upload your image here <br> or</p>
                                    <div class="browse-files">
                                        <div class="pb-framer">
                                            <div class="progressbar {{cancel?'terminated':''}}"
                                                [ngStyle]="{'width.%': progressBar}">

                                            </div>
                                            <span *ngIf="progressBar<58&&progressBar>0">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                            <span class="clr-white" *ngIf="progressBar>58">
                                                {{cancel?'terminated':progressBar+'%'}} </span>
                                        </div>
                                        <button class="common-button blue-fill fileupload"
                                            (click)="inputFile7.click()">Browse File</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="errorLabel!==false">
                                {{errorLabel}}
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="showLoading7">
                            <div class="loading">
                                <div class="sk-fading-circle">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uploaded" *ngIf="form.domisili_image && !showLoading7">
                            <div class="uploaded-image">
                                <div class="img">
                                    <img class="resize" src="{{form.domisili_image}}">
                                   
                                </div>

                            </div>
                            <a class="common-button blue-fill fileupload" (click)="inputFile7.click()">Re-Upload</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="save-container">
        <button class="common-button save" (click)="saveProfile()">Upgrade Now</button>
    </div>
</div>
<!-- END OF PAGE REGISTER FOR Official MERCHANT -->

<!-- PAGE SUCCESS AFTER REGISTERING -->
<div *ngIf="complete" class="container-all">
    <div class="container-upgrade">
        <div class="upgrade-page-bg">
            <img src="/assets/images/upgrade_success.png">
        </div>
        <div class="upgrade-page-success">
            <img *ngIf="selectGenuine" class="image-success" src="/assets/images/doneupgrade.png">
            <img *ngIf="selectOfficial" class="image-success" src="/assets/images/official_merchant.png">
            <div class="header-message">
                <strong>Thank You For Registering !</strong>
            </div>
            <div class="body-message">
                Before you can officially become a <span *ngIf="selectGenuine">genuine</span> <span
                    *ngIf="selectOfficial">official</span> merchant,
                we must review your account first. After that, we will inform you again by email
            </div>


        </div>
    </div>


</div>
<!-- END OF PAGE SUCCESS AFTER REGISTERING -->


<div *ngIf="complete" class="container-all">

    <div class="">

    </div>
</div>