// @media print{
//   @page {
//     size: A4 landscape;
//   }

//   #header{
//     display: none;
//   }

//   h5{
//     display: none;
//   }

//   app-page-header{
//     display: none;
//   }

//   button{
//     display: none;
//   }

//   div._container{
//     page-break-after: always;
//   }
// }

// label{
//   font-size: 10px;
// }

// ._container{
//   border: solid black 1px;
//   text-align: -webkit-center;
//   .table-label{
//     width: 14cm;
//     height: 9cm;
//     .shipping-info{
//       display: flex;
//       padding: 5px;
//       .logo{
//         .logo-avatar{
//           width: 100%;
//         }
//       }
//       .awb{
//         padding-top: 15px;
//       }
//       .order-id{
//         padding-top: 15px;
//       }
//     }
//     .shipping-detail{
//       display: flex;
//       padding: 5px;
//       .detail{
//         display: flex;
//         text-align: left;
//         .sender-receiver{
//         display: flex;
//           .sender{
//             label{
//               width: 100%;
//             }
//         }
//           .receiver{
//             label{
//               width: 100%;
//             }
//           }
//         }
//         .daftar-barang{

//         }
//       }
//       .destination{
//         .destination-detail{
//           text-align: left;
//           .tanggal{

//           }
//           .kota-asal{

//           }
//           .kota-tujuan{

//           }
//           .jumlah{

//           }
//           .berat-total{

//           }
//         }
//       }
//     }
//     .shipping-notes{
//       display: flex;
//       padding: 5px;
//       .thankyou-note{

//       }
//       .catatan{

//       }
//       .delivery-service{

//       }
//     }
//   }
// }

// #awb{
//   margin-bottom: 0px;
// }
// #order-id{
//   margin-bottom: 0px;
// }
@media print {
  @page {
    size: A4 landscape;
    margin: 0.4mm 0.4mm 1.65mm 0.4mm;
    display: block;
  }

  #header {
    display: none;
  }

  h5 {
    display: none;
  }

  app-page-header {
    display: none;
  }

  button {
    display: none;
  }

  * {
    font-size: 13px;
  }

  div.table-order {
    transform: scale(0.7);
    padding-bottom: 80px;
    width: 20cm;
    height: 9cm;
  }

  div._container {
    padding-top: 0px;
    page-break-after: always;
  }

  .page-number {
    display: none;
  }
}

body {
  background-color: #333;
  font-family: "Poppins";
  color: #333;
  text-align: left;
  font-size: 11px;
  margin: 0;
}
.mat-raised-button.mat-primary {
  background-color: #2481fb;
  float: right;
  padding: 5px 20px;
  font-family: "Poppins";
  margin: 10px 40px;
  border-radius: 5px;

  .fa {
    margin-left: 8px;
  }
}

._container {
  background-color: #fff;
  margin: 0px 0px 30px 0px;
  border-radius: 5px;
  text-align: -webkit-center;
  page-break-after: always;
  padding-top: 8.7%;

  .content {
    .layanan {
      text-align: center;
      margin-bottom: 30px;
    }

    .page-number {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 18px;
    }

    .table-order {
      height: 100%;
      width: 14cmcm;
      font-size: 11px;

      .order-id-header {
        width: 70%;
        table-layout: fixed;
        border-top: 0;
        width: 80%;
      }

      .header {
        table-layout: auto;
        border-bottom: 0;
        width: 20cm;
      }

      .detail-barang-pengiriman {
        text-align: left;
        width: 20cm;

        .row-eq-height {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        }

        .row {
          margin-left: 0px;
          height: 100%;
        }

        .detail-barang {
          border-right: solid black 1px;
          width: 50%;
          .daftar-barang {
            padding-left: 20px;
            // border-right: solid black 1px;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          .catatan {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        .detail-pengiriman {
          width: 50%;
          .jenis-pengiriman {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-weight: bold;
            text-align: left;
          }

          .total-harga {
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            font-weight: bold;
            padding-left: 0px;
          }
        }
      }

      .detail-header {
        width: 20cm;
        text-align: left;
        border-top: 0;
        border-bottom: 0;

        .detail-person {
          border-right: solid black 1px;
          padding: 20px;
          width: 60%;
          .receiver {
            border-bottom: black solid 1px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            margin-top: 15px;
          }
        }

        .detail-order {
          padding: 20px;
          .tlc {
            font-size: 20px;
          }
        }

        .row {
          margin-left: 0px;
        }
      }

      .locard-logo {
        width: 100px;
        text-align: center;
        .logo-avatar {
          -webkit-border-radius: 50%;
          border-radius: 0%;
          width: 60px;
        }
      }

      .courier-logo {
        text-align: center;
      }

      #courier-logo {
        text-align: center;

        .logo-avatar {
          width: 120px;
        }
      }

      .awb {
        text-align: center;
      }

      .order-id {
        text-align: center;
        p {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

.btn-print {
  text-align: center;
  margin: 15px 0px;
}

div._container:last-child {
  page-break-after: always;
}
table {
  border: 2px solid #333;
  border-collapse: collapse;
}
td,
tr,
th {
  padding: 12px;
  border: 1px solid #333;
  width: 185px;
}
th {
  background-color: #f0f0f0;
}
h4,
p {
  margin: 0px;
}

#garis {
  height: 200px;
  color: black;
}

#thanks {
  font-size: 15px;
  text-align: center;
  color: #0ea8db;
  font-weight: bold;
}

#header {
  text-align: center;
  margin-top: 10px;
}

#non {
  border: 1px solid black;
  font-size: 20px;
  padding: 4px;
}

#shipping {
  font-size: 20px;
}

#order {
  position: relative;
  bottom: 10px;
}

.send {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #card-transaction {
  padding-top: 50px;
}
