<div [@routerTransition]>
       
  <app-page-header [heading]="'Notification Setting'" [icon]="'fa-table'"></app-page-header>
  
  <div *ngIf="Notificationsetting&&notificationSettingDetail==false">
        <app-form-builder-table
        [table_data]  = "Notificationsetting" 
        [searchCallback]= "[service, 'searchNotificationsettingLint',this]"
        [tableFormat]="tableFormat"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="notificationSettingDetail">
    <app-notification-setting-detail [back]="[this,backToHere]" [detail]="notificationSettingDetail"></app-notification-setting-detail>
</div>
 
</div>

