
  $topnav-background-color: #2b3240;
  //$topnav-background-color: #252C39;
  .new-line {
    display: block;
    white-space: normal;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: bold;
    
  }
  ::ng-deep .btn {
    border-radius: 0px;
   
    
}
  ::ng-deep a {
    color:white;
}

  .sidebar {
    font-size: small;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.01), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 64px;
    left: 235px;
    width: 100px;
    height: 95%;
    margin-left: -235px;
    margin-bottom: 48px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    //bottom: 0;
    // overflow-x: hidden;
    padding-bottom: 40px;
    // padding-top: 70px;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    //buat devmode
    // margin-top: 23px;
  
    // border-top: 1px solid rgba(255,255,255,0.3);
    .item {
      
      
        
      a.list-group-item {
        background: $topnav-background-color;
        border: 0;
        border-radius: 0;
        color: #627190;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
        padding-left: 5px;
  
        > i {
          display: block;
          font-family: "fontello";
          font-style: normal;
        }
  
        //padding-left: 4px;
        .fa {
          margin-right: 10px;
          
        }
  
        text-align: center;
        vertical-align: 10px;
      }
    
      a.list-group-item > p {
        margin-top: 5px;
      }
  
      a.list-group-item > p:active {
        color: #56a4ff;
      }
  
      a:hover {
        background: #bfd9e4;
        color: #56a4ff;
        width: 100%;
        border-left: 2px #56a4ff solid;
      }
  
      a.router-link-active {
        background: #bfd9e4;
        color: #56a4ff;
        width: 100%;
        border-left: 4px #56a4ff solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  
      .header-fields {
        padding-top: 10px;
  
        > .list-group-item:first-child {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
  
      img {
        width: 35px;
      }
    }
  
    p {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  
    .sidebar-dropdown {
      *:focus {
        border-radius: none;
        border: none;
      }
  
      .panel-title {
        font-size: 1rem;
        height: 50px;
        margin-bottom: 0;
  
        a {
          color: #999;
          text-decoration: none;
          font-weight: 400;
          background: $topnav-background-color;
  
          span {
            position: relative;
            display: block;
            padding: 0.75rem 1.5rem;
            padding-top: 1rem;
          }
        }
  
        a:hover,
        a:focus {
          color: #fff;
          outline: none;
          outline-offset: -2px;
        }
      }
  
      .panel-title:hover {
        background: white;
      }
  
      .panel-collapse {
        border-radius: 0;
        border: none;
  
        .panel-body {
          .list-group-item {
            border-radius: 0;
            background-color: $topnav-background-color;
            border: 0 solid transparent;
  
            a {
              color: #999;
            }
  
            a:hover {
              color: #fff;
            }
          }
  
          .list-group-item:hover {
            background: white;
          }
        }
      }
    }
  
    .list-group {
      > a.list-group-item {
        .fa {
          display: block;
          clear: both;
          font-size: 36px;
          margin-right: 0px;
        }
      }
    }
  
    .nested-menu {
      .list-group-item {
        cursor: pointer;
      }
  
      i {
        img {
          width: 45px;
          margin-bottom: 5px;
        }
      }
  
      > a.list-group-item {
        .fa {
          display: block;
          clear: both;
          font-size: 36px;
          margin-right: 0px;
        }
      }
  
      .nested {
        list-style-type: none;
      }
  
      ul.submenu {
        display: none;
        height: 0;
        margin: 0;
        padding: 0;
        background: darken($topnav-background-color, 5%);
      }
  
      & .expand {
        ul.submenu {
          display: block;
          height: auto;
          background: darken($topnav-background-color, 5%);
  
          a.list-group-item {
            background: #394458;
            border-bottom: 1px solid $topnav-background-color;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            .circle-custom {
              width: 1px;
              border-radius: 50%;
              background-color: #247de5;
            }
            span {
              margin-bottom: 5px;
              color: #9ea6b7;
              padding: 0px;
              list-style: circle;
            }
          }
  
          a.list-group-item.router-link-active {
            background: #247de5;
            span {
              color: white;
            }
          }
  
          a.list-group-item:hover {
            p {
              color: white;
            }
          }
  
          li {
            p {
              color: #627190;
              padding: 10px;
              display: block;
            }
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .sidebar {
      top: 60px;
      left: 0px;
      padding-bottom: 3em;
    }
  }
  @media (max-width: 600px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .sidebar {
      margin-top: -3%;
    //   top: 8em;
      left: 0px;
      height: 97%;
      width: 20%;
      min-width: 100px;
      padding-bottom: 3em;
      position: fixed;
  
      .list-group {
        > a.list-group-item {
          .fa {
            font-size: 40px;
          }
        }
  
        img {
          width: 40px;
        }
      }
  
      .nested-menu {
        > a.list-group-item {
          .fa {
            font-size: 40px;
          }
        }
      }
    }
  }
  
  //@media (min-width: 961px) {
  //    /* tablet, landscape iPad, lo-res laptops ands desktops */
  //}
  //
  //@media (min-width: 1025px) {
  //    /* big landscape tablets, laptops, and desktops */
  //}
  //
  //@media (min-width: 1281px) {
  //    /* hi-res laptops and desktops */
  //}
  
  @media print {
    .sidebar {
      display: none !important;
    }
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
  }
  
  .toggle-button {
    position: fixed;
    width: 236px;
    cursor: pointer;
    padding: 12px;
    bottom: 0;
    color: #999;
    background: #212529;
  
    i {
      font-size: 23px;
    }
  
    &:hover {
      background: white;
      color: #56a4ff;
    }
  
    border-top: 1px solid #999;
    // -webkit-transition: all 0.2s ease-in-out;
    // -moz-transition: all 0.2s ease-in-out;
    // -ms-transition: all 0.2s ease-in-out;
    // -o-transition: all 0.2s ease-in-out;
    // transition: all 0.2s ease-in-out;
  }
  
  .collapsed {
    width: 50px;
  
    span {
      display: none;
    }
  }
  