<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" xmlns="">
  <div class="list-group">

    <div class="nested-menu">
        <p class="parent-menu">Member Management</p>
    </div>
    <div class="nested-menu child-menu">
        <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Member']">
          <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
            <span>{{ menu.label | translate }}</span>
          </a>
            <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <span>{{ menu.label | translate }}</span>
            </a> -->
        </li>
        <li *ngIf="mci_project == true" id="new-line" class="new-line">
          <a [ngClass]="router.url == '/administrator/order-bulk' ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage('/administrator/order-bulk')">
            <span>Order Bulky</span>
          </a>
          <!-- <a routerLink="/administrator/order-bulk" [routerLinkActive]="['router-link-active']"
              class="list-group-item">
              <span>Bulky Order</span>
          </a> -->
        </li>
    </div>

    <div class="nested-menu">
      <p class="parent-menu">Product Management</p>
    </div>
    <div class="nested-menu child-menu">
      <a (click)="addExpandClass('Products')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'Products'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' Products' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'Products'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Products']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{menu.label}}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>  
      </li>
      <a (click)="addExpandClass('Evoucher')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'Evoucher'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' E-Voucher' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'Evoucher'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Evoucher']">
                <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                  <span>{{ menu.label | translate }}</span>
                </a>
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{ menu.label | translate }}</span>
                  </a> -->
              </li>
          </ul>
      </li>
      <a (click)="addExpandClass('Category')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'Category'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' Category' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'Category'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Category']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{ menu.label | translate }}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>
      </li>
      <!-- Top Up E-Wallet -->
      <a *ngIf="mci_project == false" (click)="addExpandClass('E-Wallet')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'E-Wallet'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' E-Wallet' | translate }}</span>
      </a>

      <li *ngIf="mci_project == false" class="nested" [class.expand]="showMenu === 'E-Wallet'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['E-Wallet']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{menu.label}}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>
      </li>
      <!-- SHIPPING -->
      <a (click)="addExpandClass('Shipping')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'Shipping'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' Shipping' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'Shipping'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Shipping']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{ menu.label | translate }}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>
      </li>
    </div>


    <div class="nested-menu">
      <p class="parent-menu">Sales Management</p>
    </div>
    <div class="nested-menu child-menu">
      <a (click)="addExpandClass('Order History')" class="list-group-item">
          <span class="new-line"><i [ngClass]="showMenu === 'Order History'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' Invoice History' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'Order History'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Order History']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <div class="circle-custom">
                      </div>
                      <span>{{ menu.label | translate }}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>
      </li>

      <a *ngIf="mci_project == true" (click)="addExpandClass('PO Number')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'PO Number'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' PO Number' | translate }}</span>
      </a>
      <li *ngIf="mci_project == true" class="nested" [class.expand]="showMenu === 'PO Number'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['PO Number']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <div class="circle-custom">
                      </div>
                      <span>{{ menu.label | translate }}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>
      </li>

      <!-- <a routerLink="/administrator/salesorderreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <span class="new-line">{{ 'Sales Order' | translate }}</span>
      </a> -->
      <a *ngIf="mci_project == false" (click)="addExpandClass('Sales Redemption')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'Sales Redemption'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' Sales Redemption' | translate }}</span>
      </a>

      <li *ngIf="mci_project == false" class="nested" [class.expand]="showMenu === 'Sales Redemption'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Sales Redemption']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{menu.label}}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>
      </li>

      <a *ngIf="mci_project == true" (click)="addExpandClass('Sales Redemption MCI')" class="list-group-item">
        <span class="new-line"><i [ngClass]="showMenu === 'Sales Redemption MCI'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' Sales Redemption' | translate }}</span>
      </a>

      <li *ngIf="mci_project == true" class="nested" [class.expand]="showMenu === 'Sales Redemption MCI'">
          <ul class="submenu">
              <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Sales Redemption MCI']">
                  <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{menu.label}}</span>
                  </a> -->
                  <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
                    <span>{{ menu.label | translate }}</span>
                  </a>
              </li>
          </ul>
      </li>
    </div>

    <div class="nested-menu">
      <p class="parent-menu">Point Management</p>
    </div>
    <div class="nested-menu child-menu">
      <!-- <a routerLink="/administrator/pointstransactionreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <span class="new-line">{{ 'Points Approval' | translate }}</span>
      </a> -->
      <a [ngClass]="router.url == '/administrator/pointstransactionreport' ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage('/administrator/pointstransactionreport')">
        <span>{{ 'Points Approval' | translate }}</span>
      </a>
      <!-- <a routerLink="/administrator/pointstransactionapproval" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <span class="new-line">{{ 'Points Transaction Report' | translate }}</span>
      </a> -->
      <!-- <a routerLink="/administrator/pointsmodels" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <span class="new-line">{{ 'Transaction Summary' | translate }}</span>
      </a> -->
      <a [ngClass]="router.url == '/administrator/pointsmodels' ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage('/administrator/pointsmodels')">
        <span>{{ 'Transaction Summary' | translate }}</span>
      </a>
      <!-- Point Movement -->
      <!-- <a (click)="addExpandClass('Point Movement')" class="list-group-item">
          <span class="new-line"><i [ngClass]="showMenu === 'Point Movement'? 'fas fa-caret-down' : 'fas fa-caret-right'" ></i>{{ ' Point Movement' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'Point Movement'">
          <ul class="submenu">
              <li class="new-line" *ngFor="let menu of sideBarMenu['Point Movement']">
                  <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                      class="list-group-item">
                      <span>{{ menu.label | translate }}</span>
                  </a>
              </li>

          </ul>
      </li> -->
    </div>

    <!-- <div class="nested-menu">
      <p class="parent-menu">Finance</p>
    </div>
    <div class="nested-menu child-menu">
      <li class="new-line">
        <a routerLink="/administrator/paymentreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <span class="new-line">{{ 'Payment' | translate }}</span>
        </a>
    
        <a routerLink="/administrator/escrowreport" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <span class="new-line">{{ 'Escrow Report' | translate }}</span>
        </a>
      </li>
    </div> -->

    <div class="nested-menu">
      <p class="parent-menu">Report Management</p>
    </div>
    <div class="nested-menu child-menu">
        <li id="new-line" class="new-line" *ngFor="let menu of sideBarMenu['Reportnew']">
            <!-- <a routerLink="{{menu.routerLink}}" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <span>{{ menu.label | translate }}</span>
            </a> -->
            <a [ngClass]="router.url == menu.routerLink ? 'list-group-item router-link-active' : 'list-group-item'" (click) = "handleChangePage(menu.routerLink)">
              <span>{{ menu.label | translate }}</span>
            </a>
        </li>
    </div>

  </div>