<div [@routerTransition]>
       
  <app-page-header [heading]="'Add New Notification Setting'" [icon]="'fa-table'"></app-page-header>
  
 <div>
    <form #form="ngForm" (ngSubmit)="formSubmitAddNotificationSetting(form.value)">
      <div class="col-md-6">
          <label>Organization ID</label>
          <form-input name="org_id" [placeholder]="'Organization Id'"  [type]="'text'" [(ngModel)]="org_id" required></form-input>
          <label>Notification_id</label>
          <form-input name="id" [type]="'text'" [placeholder]="'Notification Id'"  [(ngModel)]="id" autofocus required></form-input>
          <label>Name</label>
          <form-input name="name" [placeholder]="'Color'"  [type]="'text'" [(ngModel)]="name" required></form-input>
          <label>Description</label>
          <form-input name="description" [placeholder]="'Description'"  [type]="'text'" [(ngModel)]="description" required></form-input>  
          <label>Access Key</label>
          <form-input name="api_access_key" [placeholder]="'Access Key'"  [type]="'text'" [(ngModel)]="api_access_key" required></form-input>   
          
          <!-- <label>Status</label>
          <div name="status"> {{status}}
            <form-select name="status" [(ngModel)]="detail.status" [data]="notificationStatus" required></form-select> 
          </div>  -->

          <label>Web Url</label>
          <form-input name="web_url" [placeholder]="'Web Url'"  [type]="'text'" [(ngModel)]="web_url" required></form-input>  
        
        </div>
          <button class="btn" type="submit" [disabled]="form.pristine">Submit</button> 
      </form>
 </div>
 
</div>

 