<div [@routerTransition]>
       
  <app-page-header [heading]="'Membership'" [icon]="'fa-table'"></app-page-header>
  
  <!-- <button (click)="getDownloadFileLint()"><i class="fa fa-file-pdf-o"></i>Download</button> -->
  <iframe [src]="srcDownload"></iframe>
  <div *ngIf="Memberships&&membershipDetail==false">
        <app-form-builder-table
        [table_data]  = "Memberships" 
        [searchCallback]= "[service, 'searchMembershipLint',this]"
        [tableFormat]="tableFormat"
        >
            
        </app-form-builder-table>
  </div>
  <div *ngIf="membershipDetail">
    <app-membership-detail [back]="[this,backToHere]" [detail]="membershipDetail"></app-membership-detail>
</div>
 
</div>

