<div [@routerTransition]>

    <app-page-header [heading]="'Add New Merchant'" [icon]="'fa-table'"></app-page-header>



    <div>
        <div class="card card-detail">

            <div class="card-header">
                <button class="btn save_button " (click)="formSubmitAddMerchant()" type="submit"
                    [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa-save"></i>Submit</button>
                <button class="btn secondary_button" (click)="backTo()"><i
                        class="fa fa-fw fa-angle-left"></i>Back</button>
            </div>

            <div class="card-content">
                <div class="product-detail">
                    <div class="row">
                        <div class=" col-md-8">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h2> Add New Merchant </h2>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">

                                        <label>Member Full Name </label>
                                        <form-input name="full_name" [disabled]="false" [type]="'text'"
                                            [placeholder]="'Full Name'" [(ngModel)]="MEMBER.full_name" autofocus
                                            required>
                                        </form-input>

                                        <label>Email</label>
                                        <form-input name="email" [disabled]="false" [type]="'text'"
                                            [placeholder]="'email'" [(ngModel)]="MEMBER.email" autofocus required>
                                        </form-input>

                                        <label>Password</label>
                                        <form-input name="password" [disabled]="false" [type]="'text'"
                                            [placeholder]="'Password'" [(ngModel)]="MEMBER.password" autofocus required>
                                        </form-input>

                                        <div class="form-group">
                                            <label for="dob">Date Of Birth</label>
                                            <input type="text" name="dob" [(ngModel)]="MEMBER.dob" type="date"
                                                class="form-control">
                                        </div>

                                        <label>Cell Phone</label>
                                        <form-input name="cell_phone" [disabled]="false" [type]="'number'"
                                            [placeholder]="'Cell Phone'" [(ngModel)]="MEMBER.cell_phone" autofocus
                                            required>
                                        </form-input>

                                        <label>Gender</label>
                                        <form-select name="gender" [disabled]="false" [(ngModel)]="MEMBER.gender"
                                            [data]="gender" autofocus required>
                                        </form-select>

                                        <label>Merchant Name</label>
                                        <form-input name="merchant_name" [disabled]="false" [type]="'text'"
                                            [placeholder]="'Merchant Name'" [(ngModel)]="FORM.merchant_name" autofocus
                                            required>
                                        </form-input>

                                        <label>Merchant Username</label>
                                        <form-input name="merchant_group" [disabled]="false" [type]="'text'"
                                            [placeholder]="'Merchant Username'" [(ngModel)]="FORM.merchant_username"
                                            autofocus required>
                                        </form-input>

                                        <!-- <label>Merchant Group</label>
                                        <form-select name="merchant_group" [disabled]="false"
                                            [(ngModel)]="FORM.merchant_group" [data]="merchant_group" autofocus
                                            required>
                                        </form-select> -->

                                        <label>Address</label>
                                        <form-input name="address" [type]="'text'" [placeholder]="'Address'"
                                            [(ngModel)]="FORM.maddress" autofocus required></form-input>

                                        <label>Fax Number</label>
                                        <form-input name="fax number" [type]="'number'" [placeholder]="'Fax Number'"
                                            [(ngModel)]="FORM.fax_number" autofocus required></form-input>

                                        <div class="col-md-12" id="region">



                                            <label for="dynmicProvinceList">Province</label>
                                            <form-input name="city" [type]="'text'" [placeholder]="'Province'"
                                                [(ngModel)]="FORM.mprovince"
                                                list="dynmicProvinceList" autofocus required>
                                                <select id="dynmicProvinceList" name="province_code" ngDefaultControl>
                                                    <option *ngFor="let item of provinceList" [ngValue]="item.province">
                                                        {{item.province}}
                                                    </option>
                                                </select>
                                            </form-input>



                                            <label>City</label>
                                            <form-input name="city" [type]="'text'" [placeholder]="'city'"
                                                [(ngModel)]="FORM.mcity" autofocus required></form-input>

                                            <label>Sub District</label>
                                            <form-input name="contact_person" [type]="'text'" [placeholder]="'District'"
                                                [(ngModel)]="FORM.msubdistrict" autofocus required></form-input>

                                            <label>Contact Person</label>
                                            <form-input name="contact_person" [type]="'number'"
                                                [placeholder]="'Contact Person'" [(ngModel)]="FORM.contact_person"
                                                autofocus required></form-input>

                                            <label>Description</label>
                                            <ckeditor [config]="config" [editor]="Editor" [(ngModel)]="FORM.description"></ckeditor>

                                            <br>

                                            <label>Postal Code</label>
                                            <form-input name="postal_code" [type]="'number'"
                                                [placeholder]="'Postal Code'" [(ngModel)]="FORM.mpostal_code" autofocus
                                                required></form-input>

                                            <label>Work Phone <span>(Optional)</span></label>
                                            <form-input name="work_phone" [type]="'number'"
                                                [placeholder]="'Work Pyhone'" [(ngModel)]="FORM.work_phone" autofocus
                                                required></form-input>

                                            <label>Handphone <span>(Optional)</span></label>
                                            <form-input name="work_phone" [type]="'number'" [placeholder]="'Handphone'"
                                                [(ngModel)]="FORM.handphone" autofocus required></form-input>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h2>Merchant &amp; Data</h2>
                                    </div>
                                    <div class="card-content">
                                        <div class="col-md-12">
                                            <label>Status</label> {{FORM.status}}
                                            <select name="status" [(ngModel)]="FORM.status">
                                                <option *ngFor="let f of editStatus" [ngValue]="f.value">{{f.label}}
                                                </option>
                                            </select><br /><br />

                                            <label>Contact Email</label>
                                            <form-input name="email" [type]="'text'" [placeholder]="'Contact Email'"
                                                [(ngModel)]="FORM.email_address" autofocus required></form-input>

                                            <!-- {{form.value | json}}  -->
                                        </div>
                                        <div *ngIf="errorLabel!==false">
                                            {{errorLabel}}
                                        </div>

                                    </div>
                                </div>

                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h2>Available Courier</h2>
                                    </div>
                                    <div class="card-content">
                                        <div class="col-md-12">
                                            <label>Select Your Courier</label>
                                            <div *ngFor="let cr of courierServices; let i = index">
                                                <mat-checkbox [(ngModel)]="cr.value">
                                                    {{cr.courier}}
                                                </mat-checkbox>
                                            </div>
                                            <br /><br />

                                            <!-- {{form.value | json}}  -->
                                        </div>
                                        <div *ngIf="errorLabel!==false">
                                            {{errorLabel}}
                                        </div>

                                    </div>
                                </div>




                                <!-- MERCHANT LOGO -->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h2>Merchant Logo</h2>
                                    </div>
                                    <div class="card-content">
                                        <div class="image">
                                            <div class="">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3> Image </h3>
                                                    </div>
                                                    <div class="card-content">
                                                        <img class="resize" src="{{FORM.image_owner_url}}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div>
                                                <img style="display: none;" [src]="url" height="200" width="200"> <br />
                                                <div class="pb-framer">
                                                    <div class="progressbar {{cancel?'terminated':''}}"
                                                        [ngStyle]="{'width.%': progressBar}">

                                                    </div>
                                                    <span *ngIf="progressBar<58&&progressBar>0">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>
                                                    <span class="clr-white" *ngIf="progressBar>58">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>

                                                </div>
                                                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                                                <br>
                                                <button class="btn rounded-btn" (click)="onUploadLogo()">Upload</button>
                                                <button class="btn rounded-btn-danger"
                                                    (click)="cancelThis()">Cancel</button>
                                            </div>

                                            <!-- {{form.value | json}}  -->

                                        </div>
                                        <div *ngIf="errorLabel!==false">
                                            {{errorLabel}}
                                        </div>


                                    </div>
                                </div>
                                <!-- END LINE LOGO -->

                                <!-- BACKGROUND IMAGE -->

                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h2>Background Image</h2>
                                    </div>
                                    <div class="card-content">
                                        <div class="image">
                                            <div class="">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3> Image </h3>
                                                    </div>
                                                    <div class="card-content">
                                                        <img class="resize" src="{{FORM.background_image}}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div>
                                                <img style="display: none;" [src]="url" height="200"> <br />
                                                <div class="pb-framer">
                                                    <div class="progressbar {{cancel?'terminated':''}}"
                                                        [ngStyle]="{'width.%': progressBar}">

                                                    </div>
                                                    <span *ngIf="progressBar&&progressBar>0">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>
                                                    <span class="clr-white" *ngIf="progressBar>58">
                                                        {{cancel?'terminated':progressBar+'%'}} </span>

                                                </div>
                                                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                                                <br>
                                                <button class="btn rounded-btn"
                                                    (click)="onUploadBackground()">Upload</button>
                                                <button class="btn rounded-btn-danger"
                                                    (click)="cancelThis()">Cancel</button>
                                            </div>

                                            <!-- {{form.value | json}}  -->

                                        </div>
                                        <div *ngIf="errorLabel!==false">
                                            {{errorLabel}}
                                        </div>


                                    </div>
                                </div>
                                <!-- END LINE BGROUND -->




                            </div>
                        </div>


                        <!-- {{form.value | json}}  -->

                        <!-- <button (click)="formSubmitAddMerchant()" class="btn rounded-btn-submit" type="submit"
            [routerLinkActive]="['router-link-active']">Submit</button> -->

                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
