<div >
    <app-page-header [heading]="'&nbsp;'" [icon]="'fa-table'"></app-page-header>
    <div *ngIf="Pointstransaction">
          <app-form-builder-table
          [searchCallback]= "[service, 'searchEscrowtransactionByMerchantLint',this]"
          [tableFormat]="tableFormat"
          [table_data]="EscrowData"
          [total_page]="totalPage"
        >
  
          </app-form-builder-table>
    </div>
        <div *ngIf="pointstransactionDetail">
              <!-- <app-pointstransaction-detail [back]="[this,backToHere]" [detail]="pointstransactionDetail"></app-pointstransaction-detail> -->
        </div>
  
    </div>
  