<!-- 
<div class="container" *ngIf="detail">
    <div class="logo">

    </div>
    <div class="awb">
    <ngx-barcode [bc-value]="detail.order_id" [bc-display-value]="true"></ngx-barcode>
    </div>

    <div class="layanan">
        <p> <strong>Jenis Layanan: {{detail.shipping.service}}</strong></p>
    </div>

    <table align="center" width="400">
        <tr>
            <th>Penerima</th>
            <th>Pengirim</th>
        </tr>
        <tr>
            <td>{{detail.buyer_detail.name}}</td>
            <td>{{detail.buyer_detail.name}}</td>
            
        </tr>
        <tr>
            <td>{{detail.buyer_detail.address}}</td>
            <td>{{detail.buyer_detail.address}}</td>
            
        </tr>
        <tr>
            <td>{{detail.buyer_detail.cell_phone}}</td>
            <td>{{detail.buyer_detail.cell_phone}}</td>
            
        </tr>

    </table>
    <br/>

    <div class="produk">
        <table>
            <tr>
                <th>Nama Produk</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let b of detail.products">
                <td *ngIf="b.type =='product'"></td>
            </tr>
        </table>
    </div>
    
</div> -->

<!-- 
<app-page-header class="custom-title" [heading]="'Shipping Label'" [icon]="'fa-table'"></app-page-header> -->
<div class="header-shipping">
    <h3 class="custom-title">Shipping Label</h3>
    <button mat-raised-button color="primary" (click)="printPage()">Print Label<i class="fa fa-print"
            aria-hidden="true"></i></button>
</div>
<div class="_container" *ngIf="detail">
    <div class="content">
        <!-- <div class="barcode">
            <h1>AWB :</h1>
            <ngx-barcode [bc-value]="detail.order_id" [bc-display-value]="true"></ngx-barcode>
        </div>
        <div class="layanan">
            <p><strong>Jenis Layanan : {{detail.shipping.service}} </strong></p>
        </div> -->
        <br />
        <div class="table-order">
            <table class="header" align="center">
                <tr>
                    <td class="locard-logo">
                        <div class="row logo-row">
                            <img src="assets/images/logo.png" class="logo-avatar" />
                        </div>
                        <div class="row logo-row">
                            <img src="assets/images/jne_logo.png" class="logo-avatar" />
                        </div>

                    </td>
                    <td class="awb">
                        <p>AWB</p>
                        <ngx-barcode [bc-value]="541820003372318" [bc-display-value]="true" [bc-width]="1"
                            [bc-font-size]="10" [bc-height]="60">
                        </ngx-barcode>
                    </td>
                    <td class="courier-logo">
                        <p>Invoice ID:</p>
                        <ngx-barcode [bc-value]="detail.order_id" [bc-display-value]="true" [bc-width]="1" [bc-font-size]="10"
                            [bc-height]="60">
                        </ngx-barcode>
                    </td>
                </tr>
            </table>
            
            <table align="center" class="detail-header">
                <div class="row">
                    <div class="col-md-9 detail-person">
                        <div class="row sender">
                            <div class="col-md-6">
                                <p><strong>Pengirim: </strong><br>
                                    {{detail.products[0].merchant_username}}<br>
                                    Jl. Mangga RT.007 RW.006 <br>
                                    Kel. Lurahan entah dimana <br>
                                    Bandung Selatan <br>
                                    081282091022<br>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Penerima : </strong><br>
                                    {{detail.buyer_detail.name}}<br>
                                    {{detail.buyer_detail.address}}<br>
                                    {{detail.buyer_detail.cell_phone}}<br>
                                </p>
                            </div>

                        </div>
                        <div class="receiver"></div>
                        <!-- <div class="row">
                            <p><strong>Penerima : </strong><br>
                                {{detail.buyer_detail.name}}<br>
                                {{detail.buyer_detail.address}}<br>
                                {{detail.buyer_detail.cell_phone}}<br>
                            </p>
                        </div> -->
                        <div class="col-md-12">
                            <strong>Daftar Barang: </strong><br>
                            <p>
                                <span *ngFor="let b of detail.products">
                                    {{b.product_name}}({{b.quantity}}) ,
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 detail-order">
                        <p>
                            <strong>Tanggal: </strong><br>
                            {{detail.shipping_info[0].created_date}}<br><br>
                            <strong>Kota Asal: </strong><br>
                            Bandung<br><br>
                            <strong>Kota Tujuan: </strong><br>
                            {{detail.buyer_detail.region_name}}<br><br>
                            <strong>Jumlah: </strong><br>
                            {{detail.total_quantity}}<br><br>
                            <strong>Berat Total: </strong><br>
                            <span *ngFor="let bt of detail.products">{{bt.weight}} Kg</span> <br>
                        </p>
                    </div>
                </div>
            </table>
            <table align="center" class="detail-barang-pengiriman">
                <div class="row row-eq-height">
                    <div class="col-md-8 detail-barang">
                        <div class="row">
                            <div class="col-md-6 daftar-barang">
                                <p id="thanks">Terima kasih sudah berbelanja di LOCARD!</p>
                            </div>
                            <div class="col-md-6 catatan">
                                <strong>Catatan: </strong><br>
                                {{detail.products[0].note_to_merchant}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 detail-pengiriman">
                        <div class="col-md-6 jenis-pengiriman">
                            <p>Shipping Service: </p> <br>
                            <p>{{detail.shipping.service}}</p>
                        </div>
                        <!-- <div class="col-md-6 total-harga">
                                <p>Total Price: </p> <br>
                                <p>{{rupiah}}</p>
                            </div> -->
                            </div>  
                    </div>
                    </table>
            
        </div>
        <p class="page-number">
            Page 1 of 1
        </p>
        </div>
    </div>












<!-- <div class="container" *ngIf="detail">
        <table>
            <div class="image-header">
            <tr>
                <td><img src="../../../../../../img/logo-main.png"></td>
                <td><img src="../../../../../../img/LO+@3x-8.png"></td>
            </tr>
        </div>
        <tr>
            <div class="barcode">
                <tr>
                   <td colspan="2"> <ngx-barcode [bc-value]="detail.order_id" [bc-display-value]="true"> </ngx-barcode></td>
                </tr>
            </div>
        </tr>
        <table>
            <tr>
                <td><b><span style="text-align: center;">Jenis Layanan : {{detail.shipping.service}}</span></b></td>
            </tr>
        </table>
        <table>
            <tr>
                <div class="barcode-2">
                <td rowspan="3" style="text-align: center;"><ngx-barcode [bc-value]="detail.order_id" [bc-display-value]="true" [bc-width]="1" [bc-font-size]="12"></ngx-barcode></td>
            </div>
            </tr>
    
            <tr>
                <td style="text-align: center;">Quantity : {{detail.total_quantity}} Pcs.</td>
            </tr>
            
        </table>
        <div class="table-penerima">
        <table>
            <thead>
                <th style="text-align: left;">Penerima</th>
                <th style="text-align: left;">Pengirim</th>
            </thead>
            <tr>
                <td style="text-align:left;">{{detail.buyer_detail.name}}</td>
                <td  style="text-align:left;">E-Corp Shop</td>
            </tr>
            <tr>
                <td  style="text-align:left;">{{detail.buyer_detail.address}}</td>
                <td  style="text-align:left;">Jl. Rempoa</td>
            </tr>
            <tr>
                <td  style="text-align:left;">{{detail.buyer_detail.cell_phone}}</td>
                <td  style="text-align:left;">0813291398</td>
            </tr>
        </table>
    </div>
        <table>
            <thead>
                <th>Jenis Barang: </th>
            </thead>
            <tr *ngFor="let b of detail.products">
                <td *ngIf="b.type == 'product'"><b> - {{b.product_name}}</b></td>
            </tr>
        </table>
        <table>
            <thead>
                <th>Note To Merchant : </th>
            </thead>
            <tr *ngFor="let n of detail.products">
                <td><b>{{n.note_to_merchant}}</b></td>
            </tr>
        </table>
    </table>
    </div>
    
    
 -->