<div class="card card-detail">
    <input #ktpPemilik type="file" style="display:none" (change)="onFileSelected2($event, 'ktpPemilik')"
    accept="image/x-png,image/gif,image/jpeg"/>
    <input #npwpPemilik type="file" style="display:none" (change)="onFileSelected2($event, 'npwpPemilik')"
    accept="image/x-png,image/gif,image/jpeg"/>
    <input #ktpPenerima type="file" style="display:none" (change)="onFileSelected2($event, 'ktpPenerima')"
    accept="image/x-png,image/gif,image/jpeg"/>
    <input #npwpPenerima type="file" style="display:none" (change)="onFileSelected2($event, 'npwpPenerima')"
    accept="image/x-png,image/gif,image/jpeg"/>

    <ng-container *ngIf="allBast.length > 0">
        <ng-container *ngFor="let item of allBast; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'bast', i)" 
                accept="image/x-png,image/gif,image/jpeg" style="display:none;" [id]="'bast'+i"/>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="allSuratKuasa.length > 0">
        <ng-container *ngFor="let item of allSuratKuasa; let i = index">
            <input type="file"  (change)="onFileSelected($event, 'suratKuasa', i)" 
                accept="image/x-png,image/gif,image/jpeg" style="display:none;" [id]="'suratKuasa'+i"/>
        </ng-container>
    </ng-container>
    
    
    <div class="card-header">
        <button class="btn back_button" (click)="backToDetail()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail.member_id}}</h1>
        <button class="btn save_button {{loading}}" type="submit" (click)="saveThis()"><i class="fa fa-fw fa-save"></i> <span  *ngIf="!loading">Save</span> <span *ngIf="loading">loading</span></button>
    </div>
    <div class="card-content">
        <div class="member-detail">
    
            <div class="row">
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Pemilik</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">

                                <label>ID Pelanggan</label>
                                <form-input  name="id_pel" [disabled]="true" [type]="'text'" [placeholder]="'ID Pelanggan'"  [(ngModel)]="updateSingle.id_pel" autofocus required></form-input>
                
                                <label *ngIf="!mci_project">Nama Toko</label>
                                <form-input *ngIf="!mci_project" name="nama_toko"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.nama_toko" autofocus required></form-input>

                                <label *ngIf="!mci_project">Nama Distributor</label>
                                <form-input *ngIf="!mci_project" name="nama_distributor"  [type]="'text'" [placeholder]="'Nama Distributor'"  [(ngModel)]="updateSingle.nama_distributor" autofocus required></form-input>
                                
                                <label *ngIf="!mci_project">Alamat Toko</label>
                                <form-input *ngIf="!mci_project" name="alamat_toko"  [type]="'text'" [placeholder]="'Alamat Toko'"  [(ngModel)]="updateSingle.alamat_toko" autofocus required></form-input>
                                
                                <label *ngIf="!mci_project">Nama Pemilik</label>
                                <label *ngIf="mci_project">Nama Pelanggan</label>
                                <form-input name="nama_pemilik"  [type]="'text'" [placeholder]="'Nama Pemilik'"  [(ngModel)]="updateSingle.nama_pemilik" autofocus required></form-input>

                                <label *ngIf="!mci_project">No. Telp Pemilik</label>
                                <label *ngIf="mci_project">No. Telp Pelanggan</label>
                                <form-input name="telp_pemilik"  [type]="'text'" [placeholder]="'No. Telp Pemilik'"  [(ngModel)]="updateSingle.telp_pemilik" autofocus required></form-input>

                                <label *ngIf="!mci_project">No WA Pemilik</label>
                                <label *ngIf="mci_project">No WA Pelanggan</label>
                                <form-input name="no_wa_pemilik"  [type]="'text'" [placeholder]="'No WA Pemilik'"  [(ngModel)]="updateSingle.no_wa_pemilik" autofocus required></form-input>


                                <label *ngIf="!mci_project">No. KTP Pemilik</label>
                                <form-input *ngIf="!mci_project" name="ktp_pemilik"  [type]="'text'" [placeholder]="'No. KTP Pemilik'"  [(ngModel)]="updateSingle.ktp_pemilik" autofocus required></form-input>

                                <label *ngIf="!mci_project">Foto KTP Pemilik</label>
                                <!-- <form-input name="foto_ktp_pemilik"  [type]="'text'" [placeholder]="'KTP Pemilik'"  [(ngModel)]="updateSingle.foto_ktp_pemilik" autofocus required></form-input> -->
                                <div *ngIf="!mci_project" class="member-detail-image-container">
                                    <div *ngIf="validURL(updateSingle.foto_ktp_pemilik) && !loadingKTPPemilik" class="img-upload">
                                        <img src={{updateSingle.foto_ktp_pemilik}} class="member-detail-image" />
                                    </div>

                                    <div class="form-group uploaded" *ngIf="loadingKTPPemilik">
                                        <div class="loading">
                                          <div class="sk-fading-circle">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                    <!-- <ng-template #empty_image>
                                        <span>
                                            empty
                                        </span>
                                    </ng-template> -->

                                    <div class="img-upload"><button class="btn_upload" (click)="ktpPemilik.click()">
                                        <i class="fa fa-fw fa-upload"></i>
                                        <span *ngIf="validURL(updateSingle.foto_ktp_pemilik); else upload_image">Ubah</span>
                                            <!-- <ng-template #upload_image>
                                                <span>
                                                    upload
                                                </span>
                                            </ng-template> -->
                                    </button></div>

                                </div>

                                <label *ngIf="!mci_project">No. NPWP Pemilik</label>
                                <form-input *ngIf="!mci_project" name="npwp_pemilik"  [type]="'text'" [placeholder]="'No. NPWP Pemilik'"  [(ngModel)]="updateSingle.npwp_pemilik" autofocus required></form-input>
                                
                                <label *ngIf="!mci_project">Foto NPWP Pemilik</label>
                                <!-- <form-input name="foto_npwp_pemilik"  [type]="'text'" [placeholder]="'NPWP Pemilik'"  [(ngModel)]="updateSingle.foto_npwp_pemilik" autofocus required></form-input> -->
                                <div *ngIf="!mci_project" class="member-detail-image-container">
                                    <div *ngIf="validURL(updateSingle.foto_npwp_pemilik) && !loadingNPWPPemilik" class="img-upload">
                                        <img src={{updateSingle.foto_npwp_pemilik}} class="member-detail-image" />
                                    </div>

                                    <div class="form-group uploaded" *ngIf="loadingNPWPPemilik">
                                        <div class="loading">
                                          <div class="sk-fading-circle">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                    <!-- <ng-template #empty_image>
                                        <span>
                                            empty
                                        </span>
                                    </ng-template> -->
                                    <div class="img-upload">

                                    <button class="btn_upload" (click)="npwpPemilik.click()">
                                        <i class="fa fa-fw fa-upload"></i>
                                        <span *ngIf="validURL(updateSingle.foto_npwp_pemilik); else upload_image">Ubah</span>
                                            <!-- <ng-template #upload_image>
                                                <span>
                                                    upload
                                                </span>
                                            </ng-template> -->
                                    </button>


                                        <!-- <input [type]="'file'" [id]="'fileUpload'" ref="'file'"/> -->
                                    </div>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class=" col-md-4" >
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Penerima</h2> </div>
                        <div class="card-content">
                            <div class="col-md-12">
                                <div *ngIf="!mci_project">
                                    <label>Hadiah Dikuasakan</label>

                                    <form-select [(ngModel)]="updateSingle.hadiah_dikuasakan" [data]="optionsKuasa1" *ngIf="updateSingle.hadiah_dikuasakan == 'true' || updateSingle.hadiah_dikuasakan == 'false'"></form-select>
                                    <form-select [(ngModel)]="updateSingle.hadiah_dikuasakan" [data]="optionsKuasa2" *ngIf="updateSingle.hadiah_dikuasakan == 'KUASA' || updateSingle.hadiah_dikuasakan == 'TIDAK KUASA' || updateSingle.hadiah_dikuasakan == '-'"></form-select>
                                    <form-select [(ngModel)]="updateSingle.hadiah_dikuasakan" [data]="optionsKuasa3" *ngIf="updateSingle.hadiah_dikuasakan == 'ya' || updateSingle.hadiah_dikuasakan == 'tidak'"></form-select>
                                </div>

                                <label>Nama Penerima</label>
                                <form-input name="nama_penerima_gopay"  [type]="'text'" [placeholder]="'Nama Penerima'"  [(ngModel)]="updateSingle.nama_penerima_gopay" autofocus required></form-input>

                                <label>No. WA Penerima</label>
                                <form-input name="no_wa_penerima"  [type]="'text'" [placeholder]="'No. WA Penerima'"  [(ngModel)]="updateSingle.no_wa_penerima" autofocus required></form-input>

                                <label *ngIf="!mci_project">No. Gopay Penerima</label>
                                <form-input *ngIf="!mci_project" name="telp_penerima_gopay"  [type]="'text'" [placeholder]="'No Gopay Penerima'"  [(ngModel)]="updateSingle.telp_penerima_gopay" autofocus required></form-input>

                                <label>Alamat Pengiriman</label>
                                <form-input name="alamat_rumah"  [type]="'text'" [placeholder]="'Alamat Pengiriman'"  [(ngModel)]="updateSingle.alamat_rumah" autofocus required></form-input>

                                <label *ngIf="!mci_project">No. KTP Penerima</label>
                                <form-input *ngIf="!mci_project" name="ktp_penerima"  [type]="'text'" [placeholder]="'No. KTP Penerima'"  [(ngModel)]="updateSingle.ktp_penerima" autofocus required></form-input>

                                <label *ngIf="!mci_project">Foto KTP Penerima</label>
                                <!-- <form-input name="foto_ktp_penerima"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.foto_ktp_penerima" autofocus required></form-input> -->

                                <div *ngIf="!mci_project" class="member-detail-image-container">
                                    <div *ngIf="validURL(updateSingle.foto_ktp_penerima) && !loadingKTPPenerima" class="img-upload">
                                        <img src={{updateSingle.foto_ktp_penerima}} class="member-detail-image" />
                                    </div>

                                    <div class="form-group uploaded" *ngIf="loadingKTPPenerima">
                                        <div class="loading">
                                          <div class="sk-fading-circle">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                          </div>
                                        </div>
                                      </div>

                                    <!-- <ng-template #empty_image>
                                        <span>
                                            empty
                                        </span>
                                    </ng-template> -->
                                    <div class="img-upload">
                                        <button class="btn_upload" (click)="ktpPenerima.click()">
                                            <i class="fa fa-fw fa-upload"></i>
                                            <span *ngIf="validURL(updateSingle.foto_ktp_penerima); else upload_image">Ubah</span>
                                            <!-- <ng-template #upload_image>
                                                <span>
                                                    upload
                                                </span>
                                            </ng-template> -->
                                        </button>
                                    </div>
                                    
                                </div>

                                <label *ngIf="!mci_project">No. NPWP Penerima</label>
                                <form-input *ngIf="!mci_project" name="npwp_penerima"  [type]="'text'" [placeholder]="'No. NPWP Penerima'"  [(ngModel)]="updateSingle.npwp_penerima" autofocus required></form-input>

                                <label *ngIf="!mci_project">Foto NPWP Penerima</label>
                                <!-- <form-input name="foto_npwp_penerima"  [type]="'text'" [placeholder]="'Nama Toko'"  [(ngModel)]="updateSingle.foto_npwp_penerima" autofocus required></form-input> -->

                                <div *ngIf="!mci_project" class="member-detail-image-container">
                                    <div *ngIf="validURL(updateSingle.foto_npwp_penerima) && !loadingNPWPPenerima" class="img-upload">
                                        <img src={{updateSingle.foto_npwp_penerima}} class="member-detail-image" />
                                    </div>

                                    <div class="form-group uploaded" *ngIf="loadingNPWPPenerima">
                                        <div class="loading">
                                          <div class="sk-fading-circle">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                          </div>
                                        </div>
                                    </div>
                                    
                                    <!-- <ng-template #empty_image>
                                        <span>
                                            empty
                                        </span>
                                    </ng-template> -->
                                    <div class="img-upload">
                                        <button class="btn_upload" (click)="npwpPenerima.click()">
                                            <i class="fa fa-fw fa-upload"></i>
                                            <span *ngIf="validURL(updateSingle.foto_npwp_penerima); else upload_image">Ubah</span>
                                            <!-- <ng-template #upload_image>
                                                <span>
                                                    upload
                                                </span>
                                            </ng-template> -->
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header"><h2>Data Foto</h2></div>
                        <div class="card-content">
                            <div class="col-md-12">             
                                
                                <label class="label-bold">Foto BAST</label>
                                <ng-container *ngIf="updateSingle.foto_bast && isArray(updateSingle.foto_bast) && updateSingle.foto_bast.length > 0">
                                        <div class="member-detail-image-container" *ngFor="let itemImage of updateSingle.foto_bast; let i = index">
                                            <div *ngIf="validURL(itemImage.url) && !loadingBAST[i]" class="img-upload">
                                                <img src={{itemImage.url}} class="member-detail-image" />
                                            </div>
        
                                            <div class="form-group uploaded" *ngIf="loadingBAST[i]">
                                                <div class="loading">
                                                  <div class="sk-fading-circle">
                                                    <div class="sk-circle1 sk-circle"></div>
                                                    <div class="sk-circle2 sk-circle"></div>
                                                    <div class="sk-circle3 sk-circle"></div>
                                                    <div class="sk-circle4 sk-circle"></div>
                                                    <div class="sk-circle5 sk-circle"></div>
                                                    <div class="sk-circle6 sk-circle"></div>
                                                    <div class="sk-circle7 sk-circle"></div>
                                                    <div class="sk-circle8 sk-circle"></div>
                                                    <div class="sk-circle9 sk-circle"></div>
                                                    <div class="sk-circle10 sk-circle"></div>
                                                    <div class="sk-circle11 sk-circle"></div>
                                                    <div class="sk-circle12 sk-circle"></div>
                                                  </div>
                                                </div>
                                            </div>
        
                                            <div class="img-upload">
                                                <button class="btn_upload" (click)="openUpload('bast', i)">
                                                    <i class="fa fa-fw fa-upload"></i>
                                                    <span *ngIf="validURL(itemImage.url); else upload_image">Ubah</span>
                                                </button>
                                                <button  *ngIf="validURL(itemImage.url)" class="btn_delete" (click)="deleteImage('bast', i, itemImage.url)">
                                                    <i class="fa fa-fw fa-trash-alt"></i>
                                                    <span>Hapus</span>
                                                </button>
                                            </div>
                                            <div *ngIf="validURL(itemImage.url)" style="text-align: center;">
                                                <span>
                                                    <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                                </span>
                                            </div>

                                            <div >
                                                <label>Description</label>
                                                <form-input  name="'descBast'+i" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="updateSingle.foto_bast[i].desc"></form-input>
                                            </div>
                                            
                                        </div>
                                </ng-container>

                                <div class="add-more-container">
                                    <button (click)="addMoreUpload('bast')" class="add-more-image"><i class="fa fa-fw fa-plus-square"></i> Tambah foto BAST</button>
                                </div>
                                
                                <hr/>

                                <label  class="label-bold">Foto Surat Kuasa</label>
                                <ng-container *ngIf="updateSingle.foto_surat_kuasa && isArray(updateSingle.foto_surat_kuasa) && updateSingle.foto_surat_kuasa.length > 0">
                                    <div class="member-detail-image-container"  *ngFor="let itemImage of updateSingle.foto_surat_kuasa; let i = index">
                                        <div *ngIf="validURL(itemImage.url) && !loadingSuratKuasa[i]" class="img-upload">
                                            <img src={{itemImage.url}} class="member-detail-image" />
                                        </div>
    
                                        <div class="form-group uploaded" *ngIf="loadingSuratKuasa[i]">
                                            <div class="loading">
                                              <div class="sk-fading-circle">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                              </div>
                                            </div>
                                          </div>
    
                                        <div class="img-upload">
                                            <button class="btn_upload" (click)="openUpload('suratKuasa', i)">
                                                <i class="fa fa-fw fa-upload"></i>
                                                <span *ngIf="validURL(itemImage.url); else upload_image">Ubah</span>
                                            </button>
                                            <button  *ngIf="validURL(itemImage.url)" class="btn_delete" (click)="deleteImage('suratKuasa', i, itemImage.url)">
                                                <i class="fa fa-fw fa-trash-alt"></i>
                                                <span>Hapus</span>
                                            </button>
                                        </div>

                                        <div *ngIf="validURL(itemImage.url)" style="text-align: center;">
                                            <span>
                                                <b>Last updated : {{convertDate(itemImage.updated_date)}}</b>
                                            </span>
                                        </div>

                                        <div >
                                            <label>Description</label>
                                            <form-input  name="'descSuratKuasa'+i" [type]="'text'" [placeholder]="'Description'"  [(ngModel)]="updateSingle.foto_surat_kuasa[i].desc"></form-input>
                                        </div>

                                    </div>
                                </ng-container>

                                <div class="add-more-container">
                                    <button (click)="addMoreUpload('suratKuasa')" class="add-more-image"><i class="fa fa-fw fa-plus-square"></i> Tambah foto Surat Kuasa</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
     
         </div>
    </div>
    <ng-template #upload_image>
        <span>
            upload
        </span>
    </ng-template>
</div>