<div *ngIf="!edit" class="card card-detail">
    <div class="card-header">
        <button class="btn back_button" (click)="backToTable()"><i class="fa fa-fw fa-angle-left"></i> back</button><h1>{{detail._id}}</h1>
        <button class="btn edit_button" (click)="editThis()"><i class="fa fa-fw fa-pencil-alt"></i> edit</button> 
    </div> 
    <div class="card-content">
        <div class="courierservicepage-detail">
    
            <div class="row">
             <div class=" col-md-8" >
                 <div class="card mb-3">
                     <div class="card-header"><h2> Courier Service Page Details </h2></div>
                     <div class="card-content">
                         <div class="col-md-12">
                             <!-- <label>Order History ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Shopping Cart ID</label>
                             <div name="shoppingcart_id" >{{detail.shoppingcart_id}}</div>
                             <label>Name</label>
                             <div name="name" >{{detail.name}}</div>
                             <label>Color</label>
                             <div name="color" >{{detail.color}}</div>
                             <label>User ID</label>
                             <div name="user_id" >{{detail.user_id}}</div>
                             <label>Status</label>
                             <div name="status" >{{detail.status}}</div>
                             <label>Total Price</label>
                             <div name="total_price" >{{detail.total_price}}</div>
                             <label>Total Quantity</label>
                             <div name="total_quantity" >{{detail.total_quantity}}</div>
                             <label>Transaction Status</label>
                             <div name="transaction_status">{{detail.transaction_status}}</div> -->

                             <label>Courier ID</label>
                             <div name="_id" >{{detail._id}}</div>
                             <label>Courier Name</label>
                             <div name="courier" >{{detail.courier}}</div>
                             <label>Exp date</label>
                             <div name="exp_date" >{{detail.exp_date}}</div>
                             <label>Created date</label>
                             <div name="created_date" >{{detail.created_date}}</div>
                             <label>Updated date</label>
                             <div name="updated_date" >{{detail.updated_date}}</div>
                             <label>Courier code</label>
                             <div name="courier_code" >{{detail.courier_code}}</div>
                             <label>Api key</label>
                             <div name="api_key" >{{detail.api_key}}</div>
                             <label>Created by</label>
                             <div name="created_by" >{{detail.created_by}}</div>
                             <label>Created at</label>
                             <div name="created_at" >{{detail.created_at}}</div>
                             <label>Updated by</label>
                             <div name="updated_by" >{{detail.updated_by}}</div>
                             <label>Updated at</label>
                             <div name="updated_at" >{{detail.updated_at}}</div>
                         </div>
                       
                      </div>
                 </div>
                </div>
                <!-- <div class=" col-md-4" >
                 <div class="card mb-3">
                     <div class="card-header"><h2>Member &amp; Status Member</h2> </div>
                     <div class="card-content">
                         <div class="col-md-12">
                             
                           
                             
                         </div>
                       
                      </div> 
                 </div>
                 
                </div> -->
            </div>
     
         </div>
    </div>
</div>
<div *ngIf="edit">
    <app-courierservicepage-edit [back]="[this, 'editThis']" [detail]="detail"></app-courierservicepage-edit>
</div>